<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        //<![CDATA[
        try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: "cf", bag2: 1, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/dokv=88e434a982/" }, atok: "dd9c6b9d970c21043597a4fadd80e4dd", petok: "522fd99e7c7ba64b5097694a33e1b12f448f8fe0-1408352612-1800", zone: "adbee.technology", rocket: "0", apps: { "ga_key": { "ua": "UA-49262924-2", "ga_bs": "2" } } }]; !function (a, b) { a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/dokv=97fb4d042e/cloudflare.min.js", b.parentNode.insertBefore(a, b) }() } } catch (e) { };
        //]]>
    </script>

    <link href="~/Content/themes/Centaurus/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/Centaurus/css/libs/font-awesome.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/nanoscroller.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/datepicker.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/libs/dropzone.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/libs/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/fullcalendar.print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/compiled/calendar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/morris.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/daterangepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/jquery-jvectormap-1.2.2.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/compiled/wizard.css">
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/libs/bootstrap-wizard.css">
    <link rel="stylesheet" href="~/Content/themes/Centaurus/css/libs/select2.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/Centaurus/css/libs/dropzone.css">
    <link type="text/css" href="~/Content/themes/Centaurus/css/libs/jquery.nouislider.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/less/MainSite.css">
    @Styles.Render("~/Bundles/BaseCss")
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/CSS/custom.css" rel="stylesheet" />
    <link type="image/x-icon" href="favicon.png" rel="shortcut icon" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-49262924-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function (b) { (function (a) { "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a) })(function () { "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) { _gaq.push(["_trackSocial", "facebook", "like", a]) }), FB.Event.subscribe("edge.remove", function (a) { _gaq.push(["_trackSocial", "facebook", "unlike", a]) }), FB.Event.subscribe("message.send", function (a) { _gaq.push(["_trackSocial", "facebook", "send", a]) })); "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) { if (a) { var b; if (a.target && a.target.nodeName == "IFRAME") a: { if (a = a.target.src) { a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g); b = 0; for (var c; c = a[b]; ++b) if (c.indexOf("url") === 0) { b = unescape(c.split("=")[1]); break a } } b = void 0 } _gaq.push(["_trackSocial", "twitter", "tweet", b]) } }) }) })(window);
        /* ]]> */
    </script>



    <style>
        .trial-description {
            top: 0;
            position: fixed;
            left: 45%;
            z-index: 10000;
            background-color: white;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 8px 2px gray;
            -moz-box-shadow: 0px 0px 8px 2px gray;
            box-shadow: 0px 0px 8px 2px gray;
        }

        .myprintcloud-help {
            position: fixed;
            text-align: center;
            background-color: white;
            width: 400px;
            height: 235px;
            border: 1px solid #dedede;
            border-radius: 7px;
            font-family: Arial;
            padding-top: 20px;
            z-index: 129000;
        }

        .Submenu-Dashborad {
            position: absolute;
            z-index: 129000;
        }

        .disabled-div {
            width: 100%;
            height: 100%;
            position: fixed;
            display: block;
            background-color: black;
            top: 0;
            left: 0;
            z-index: 119000;
            opacity: 0.8;
        }

        .myprintcloud-help-arrow:after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            right: 100%;
            top: 20px;
            border: 20px solid transparent;
            border-right: 20px solid white;
        }

        body {
            /*position:fixed;*/
            overflow: hidden;
        }
    </style>




</head>
<body class="theme-red">

    <div class="myprintcloud-help" id="myprintcloud-help">

        <h1 class="help-header">MyPRINTCloud</h1>
        <hr />
        <span>this is your MyPRINTCloud Help platform</span>
        <br />
        <span>Get Help by Clicking Next Button</span>
        <hr />
        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="btnCloseHelp">Close</button>
        </div>
        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="btnNextHelp">Next</button>
        </div>
        <div class="input-group" style="width:100%;display:inline;">
            <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="btnPreviousHelp">Previous</button>
        </div>


    </div>

    <header class="navbar" id="header-navbar">


        <div class="container">

            <a href="~/Dashboard/Index" id="header" class="my-navigator navbar-brand">

                <img src="~/Content/themes/Centaurus/img/logo.png" id="header-logo" alt="" class="normal-logo logo-white" height="25" width="170" style="margin-top:5px;" />

            </a>

            <div class="clearfix">

                <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <div class="nav-no-collapse navbar-left pull-left hidden-sm hidden-xs">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a class="btn" id="make-small-nav">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="config-tool" class="closed">
                    <a id="config-tool-cog">
                        <i class="fa fa-cog"></i>
                    </a>
                    <div id="config-tool-options">
                        <h4>Layout Options</h4>
                        <ul>
                            <li>
                                <div class="checkbox-nice">
                                    <input type="checkbox" id="config-fixed-header" />
                                    <label for="config-fixed-header">
                                        Fixed Header
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox-nice">
                                    <input type="checkbox" id="config-fixed-sidebar" />
                                    <label for="config-fixed-sidebar">
                                        Fixed Left Menu
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox-nice">
                                    <input type="checkbox" id="config-fixed-footer" />
                                    <label for="config-fixed-footer">
                                        Fixed Footer
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <br />
                        <h4>Skin Color</h4>
                        <ul id="skin-colors" class="clearfix">
                            <li>
                                <a class="skin-changer" data-skin="" data-toggle="tooltip" title="Default" style="background-color: #34495e;"></a>
                            </li>
                            <li>
                                <a class="skin-changer" data-skin="theme-white" data-toggle="tooltip" title="White/Green" style="background-color: #2ecc71;"></a>
                            </li>
                            <li>
                                <a class="skin-changer blue-gradient" data-skin="theme-blue-gradient" data-toggle="tooltip" title="Gradient"></a>
                            </li>
                            <li>
                                <a class="skin-changer" data-skin="theme-amethyst" data-toggle="tooltip" title="Amethyst" style="background-color: #9b59b6;"></a>
                            </li>
                            <li>
                                <a class="skin-changer" data-skin="theme-blue" data-toggle="tooltip" title="Blue" style="background-color: #2980b9;"></a>
                            </li>
                            <li>
                                <a class="skin-changer" data-skin="theme-red" data-toggle="tooltip" title="Red" style="background-color: #e74c3c;"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="nav-no-collapse pull-right" id="header-nav">
                    <ul class="nav navbar-nav pull-right">
                        @*<li class="mobile-search">
                                <a class="btn">
                                    <i class="fa fa-search"></i>
                                </a>
                                <div class="drowdown-search">
                                    <form role="search">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search...">
                                            <i class="fa fa-search nav-search-icon"></i>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-warning"></i>
                                    <span class="count">8</span>
                                </a>
                                <ul class="dropdown-menu notifications-list">
                                    <li class="pointer">
                                        <div class="pointer-inner">
                                            <div class="arrow"></div>
                                        </div>
                                    </li>
                                    <li class="item-header">You have 6 new notifications</li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-comment"></i>
                                            <span class="content">New comment on ‘Awesome P...</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-plus"></i>
                                            <span class="content">New user registration</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-envelope"></i>
                                            <span class="content">New Message from George</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span class="content">New purchase</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <i class="fa fa-eye"></i>
                                            <span class="content">New order</span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item-footer">
                                        <a href="#">
                                            View all notifications
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown hidden-xs">
                                <a class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="count">16</span>
                                </a>
                                <ul class="dropdown-menu notifications-list messages-list">
                                    <li class="pointer">
                                        <div class="pointer-inner">
                                            <div class="arrow"></div>
                                        </div>
                                    </li>
                                    <li class="item first-item">
                                        <a href="#">
                                            <img src="~/Content/themes/Centaurus/img/samples/messages-photo-1.png" alt="" />
                                            <span class="content">
                                                <span class="content-headline">
                                                    George Clooney
                                                </span>
                                                <span class="content-text">
                                                    Look, just because I don't be givin' no man a foot massage don't make it
                                                    right for Marsellus to throw...
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <img src="~/Content/themes/Centaurus/img/samples/messages-photo-2.png" alt="" />
                                            <span class="content">
                                                <span class="content-headline">
                                                    Emma Watson
                                                </span>
                                                <span class="content-text">
                                                    Look, just because I don't be givin' no man a foot massage don't make it
                                                    right for Marsellus to throw...
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="#">
                                            <img src="~/Content/themes/Centaurus/img/samples/messages-photo-3.png" alt="" />
                                            <span class="content">
                                                <span class="content-headline">
                                                    Robert Downey Jr.
                                                </span>
                                                <span class="content-text">
                                                    Look, just because I don't be givin' no man a foot massage don't make it
                                                    right for Marsellus to throw...
                                                </span>
                                            </span>
                                            <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                                        </a>
                                    </li>
                                    <li class="item-footer">
                                        <a href="#">
                                            View all messages
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="hidden-xs">
                                <a class="btn">
                                    <i class="fa fa-cog"></i>
                                </a>
                            </li>*@
                        <li class="dropdown profile-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    @if (User != null && User.Identity != null)
                                    {
                                        @User.Identity.Name
                                    }
                                </span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
                                <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>Messages</a></li>
                                <li><a href="~/Home/Logout"><i class="fa fa-power-off"></i>Logout</a></li>
                            </ul>
                        </li>
                        <li class="hidden-xxs">
                            <a class="btn" href="~/Home/Logout">
                                <i class="fa fa-power-off"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div id="page-wrapper" class="container">
        <div class="row">
            <div id="nav-col">


                <a id="menu-logo" href="~/Dashboard/Index">
                    <img src="~/Content/themes/Centaurus/img/logo.png" alt="" class="normal-logo logo-white" height="30" width="180" style="margin-left:17px;margin-top:50px;margin-bottom:50px;" />
                </a>
                <section id="col-left" class="col-left-nano">
                    <div id="col-left-inner" class="col-left-nano-content">

                        @RenderSection("leftmenue", required: false)
                        @* Test left menue starts here*@
                        <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
                            <ul class="nav nav-pills nav-stacked" id="Navigation-bar">
                                <li id="lidashboard">
                                    <a href="~/Dashboard/Index" class="my-navigator" id="anchor-dashboard">
                                        <i class="fa fa-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                    <div class="Submenu-Dashborad" id="myprintcloud-dashborad">

                                        @*<h1>Dashbard</h1>
                                            <hr />
                                            <span>this is your Dashborad Help platform</span>
                                            <br />
                                            <span>Get Help by Clicking Next Button</span>
                                            <hr />
                                            <div class="input-group" style="width:100%;display:inline;">
                                                <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn">Close</button>
                                            </div>
                                            <div class="input-group" style="width:100%;display:inline;">
                                                <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn">Next</button>
                                            </div>
                                            <div class="input-group" style="width:100%;display:inline;">
                                                <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" id="saveBtn">Previous</button>
                                            </div>*@

                                    </div>
                                </li>
                                <li id="listores">
                                    <a href="~/Stores/Stores/Index" class="my-navigator">
                                        <i class="fa fa-th-large"></i>
                                        <span>Stores</span>
                                    </a>
                                </li>
                                <li id="licrm">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>CRM</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li>
                                            <a href="~/CRM/Home/Index" class="my-navigator">
                                                Prospects / Customers
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/CRM/Home/Calendar" class="my-navigator">
                                                My Calendar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Home/PageUnAvailable">
                                                Contacts
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/CRM/Home/SuppliersList" class="my-navigator">
                                                Suppliers
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="liProducts">
                                    <a href="~/Products/Home/Index" class="my-navigator">
                                        <i class="fa fa-th-large"></i>
                                        <span>Products</span>
                                    </a>
                                </li>
                                <li id="liestimating">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>Estimating</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="left15pxback">
                                            <a href="~/Estimate/EstimatesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Estimates - All</span>
                                                <span class="label label-primary label-circle pull-right">44</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Estimate/EstimatesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Unconfirmed Orders</span>
                                                <span class="label label-primary label-circle pull-right">30</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Estimate/EstimatesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Progressed to Orders</span>
                                                <span class="label label-primary label-circle pull-right">10</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Estimate/EstimatesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>In Production</span>
                                                <span class="label label-primary label-circle pull-right">12</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Estimate/EstimatesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Invoiced</span>
                                                <span class="label label-primary label-circle pull-right">14</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="liorderprocessing">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>Orders Processing</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Orders - All</span>
                                                <span class="label label-primary label-circle pull-right">86</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Pending (New) Orders</span>
                                                <span class="label label-primary label-circle pull-right">50</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Confirmed Starts</span>
                                                <span class="label label-primary label-circle pull-right">10</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>In Production</span>
                                                <span class="label label-primary label-circle pull-right">08</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Ready for shipping</span>
                                                <span class="label label-primary label-circle pull-right">07</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Invoiced</span>
                                                <span class="label label-primary label-circle pull-right">05</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Order/OrderList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Cancelled Orders</span>
                                                <span class="label label-primary label-circle pull-right">06</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="liproduction">
                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                        <i class="fa fa-th-large"></i>
                                        <span>Production & Scheduling</span>
                                    </a>
                                </li>
                                <li id="libilling">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>Billing & Invoicing</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="left15pxback">
                                            <a href="~/Billing/InvoicesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>All</span>
                                                <span class="label label-primary label-circle pull-right">20</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Billing/InvoicesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Awaiting</span>
                                                <span class="label label-primary label-circle pull-right">09</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Billing/InvoicesList" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Posted</span>
                                                <span class="label label-primary label-circle pull-right">05</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="#" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Cancelled</span>
                                                <span class="label label-primary label-circle pull-right">02</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="#" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Archived</span>
                                                <span class="label label-primary label-circle pull-right">03</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="#" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Pro-Forma</span>
                                                <span class="label label-primary label-circle pull-right">01</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="lishipping">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>Shipping & Delivery</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="left15pxback">
                                            <a href="~/DeliveryNotes/Home/DeliveryNote" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Awaiting</span>
                                                <span class="label label-primary label-circle pull-right">11</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/DeliveryNotes/Home/DeliveryNote" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>Delivered</span>
                                                <span class="label label-primary label-circle pull-right">09</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="lipurchases">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>Purchase Orders</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li class="left15pxback">
                                            <a href="~/Orders/Home/PurchaseOrders" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>GRN</span>
                                                <span class="label label-primary label-circle pull-right">11</span>
                                            </a>
                                        </li>
                                        <li class="left15pxback">
                                            <a href="~/Orders/Home/PurchaseOrdersPO" class="my-navigator">
                                                <i class="fa fa-table"></i>
                                                <span>PO</span>
                                                <span class="label label-primary label-circle pull-right">09</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                                <li id="liemails">
                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                        <i class="fa fa-calendar"></i>
                                        <span>Email Campaigns</span>
                                    </a>
                                </li>
                                <li id="liinventory">
                                    <a href="~/Settings/MIS/Inventory" class="my-navigator">
                                        <i class="fa fa-calendar"></i>
                                        <span>Inventory</span>
                                    </a>
                                </li>
                                <li id="lisettings">
                                    <a href="#" class="dropdown-toggle">
                                        <i class="fa fa-users"></i>
                                        <span>Settings</span>
                                        <i class="fa fa-chevron-circle-right drop-icon"></i>
                                    </a>
                                    <ul class="submenu">
                                        <li id="listOrganization">
                                            <a href="~/Settings/Home/MyOrganization" class="my-navigator">
                                                <span>My Organization</span>
                                            </a>
                                        </li>
                                        <li id="limissettings">
                                            <a href="#" class="dropdown-toggle">
                                                <i class="fa fa-users"></i>
                                                <span>MIS</span>
                                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="~/Settings/MIS/PaperSheet" class="my-navigator">
                                                        Paper Sheet
                                                    </a>
                                                </li>
                                                <li id="liCostCenters">
                                                    <a href="~/Settings/MIS/CostCenters" class="my-navigator">
                                                        Cost Centers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Settings/MIS/InventoryCategory" class="my-navigator">
                                                        Inventory Categories
                                                    </a>
                                                </li>
                                                <li id="liDeliveryCostCenters">
                                                    <a href="~/Settings/Home/DeliveryCostCentres" class="my-navigator">
                                                        Delivery Cost Centers
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Settings/Home/DeliveryCarrier" class="my-navigator">
                                                        Delivery Carrier
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Charts
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Settings/MIS/SalesPipeLine">
                                                        Sales and Pipeline
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Settings/MIS/SectionFlags">
                                                        Section Flags
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        My Reports
                                                    </a>
                                                </li>
                                                <li id="liprefixes">
                                                    <a href="~/Settings/MIS/Prefixes" class="my-navigator">
                                                        Start Numbers
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="liplansettings">
                                            <a href="#" class="dropdown-toggle">
                                                <i class="fa fa-users"></i>
                                                <span>Plant</span>
                                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li id="liMachineList">
                                                    <a href="~/Settings/Home/MachinesList" class="my-navigator">
                                                        Machines
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Settings/Home/LookupMethods">
                                                        Lookup Methods
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>
                                        <li id="lisystemsettings">
                                            <a href="#" class="dropdown-toggle">
                                                <i class="fa fa-users"></i>
                                                <span>System Utilities</span>
                                                <i class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                            <ul class="submenu">
                                                <li>
                                                    <a href="~/Settings/Home/PhraseLibrary" class="my-navigator">
                                                        Phrase Library
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Section Flags
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Import Export
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Archived
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Posted Invoices
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Purchase Orders
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="~/Home/PageUnAvailable" class="my-navigator">
                                                        Campaign Studio
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        @* Test Left menue ends here*@
                    </div>
                    <div class="disabled-div">
                    </div>
                </section>
            </div>
            @*content wrapper goes here*@
            <div id="content-wrapper">
                @RenderBody()
                <div id="spinner">
                </div>
                <div id="siteUrl">
                </div>
                <footer id="footer-bar" class="row">
                    <p id="footer-copyright" class="col-xs-12">
                        &copy; @DateTime.Now.Year Powered by <a href="http://www.myprintcloud.com/" target="_blank">MyPRINTCloud</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <script>
        (function ($) {
            $("#siteUrl").val("@(Request.ApplicationPath == " / " ? " / " : Request.ApplicationPath)");
        })($);

    </script>
    
    @Scripts.Render("~/Bundle/BaseLibs")
    @*@Scripts.Render("~/bundles/dropzonescripts")*@
    <script src="~/Content/themes/Centaurus/js/demo-skin-changer.js"></script>
    <script src="~/Content/themes/Centaurus/js/bootstrap.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery.nanoscroller.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/demo.js"></script>
    <script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery.slimscroll.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/raphael-min.js"></script>
    <script src="~/Content/themes/Centaurus/js/morris.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/daterangepicker.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery-jvectormap-world-merc-en.js"></script>
    <script src="~/Content/themes/Centaurus/js/gdp-data.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.stack.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.time.min.js"></script>
    <script src="~/Content/themes/Centaurus/js/flot/jquery.flot.threshold.js"></script>
    <script src="~/Content/themes/Centaurus/js/scripts.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery.nestable.js"></script>
    <script src="~/Content/themes/Centaurus/js/jquery.nouislider.js"></script>

    <script>
        $(document).ready(function () {

            $("#header-logo").hide();
            $("#make-small-nav").click(function () {
                $("#header-logo").toggle();
                $("#menu-logo").toggle();
            });

        });
    </script>
    <script>
        $(document).ready(function () {
            var width = $(window).width();
            var totalwidth = width - 400;
            var divisonwidth = totalwidth / 2;

            $("#myprintcloud-help").popover(
            {

                placement: 'right'

            });


            document.getElementById("myprintcloud-help").style.left = divisonwidth + "px";
            $("#myprintcloud-help").animate({ "top": "-=250" }, 200).delay(500);
            $("#myprintcloud-help").animate({ "top": "+=370" }, 200);



        });
    </script>
    <script>
        $(document).ready(function () {

            $(window).resize(function () {

                var width = $(window).width();
                var total = width - 400;
                var divison = total / 2;

                document.getElementById("myprintcloud-help").style.left = divison + "px";

            });

        });
    </script>
    <script>
        $(document).ready(function () {
            $("#btnCloseHelp").click(function () {

                $("#myprintcloud-help").hide();
                $(".disabled-div").css("display", "none");

                $('body').css('overflow', 'visible');

            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var i = 0;
            var proceeding = ["MyPRINTCloud", "Dashboard", "Stores", "CRM", "Products", "Estimating", "OrderPurchasing"];
            $("#btnPreviousHelp").hide();
            $("#btnCloseHelp").hide();

            $("#btnNextHelp").click(function () {

                i = i + 1;


                var dashp = $("#myprintcloud-dashborad");
                var positiontop = dashp.position().top;
                var positionleft = dashp.position().left;

                var dashh = $("#myprintcloud-help");
                var positiontophelp = dashh.position().top;
                var positionlefthelp = dashh.position().left;

                var top = parseInt(positiontop) - parseInt(236);
                var left = parseInt(positionleft) - parseInt(positionlefthelp);


                if (i == 1) {
                    left = left + 240;

                    $("#myprintcloud-help").animate({ "top": "-=-40", "left": "+=" + left }, 100);
                    $(".help-header").text(proceeding[1]);
                    $("#myprintcloud-help").addClass("myprintcloud-help-arrow");

                    $("#btnPreviousHelp").show();

                }

                if (i != 1) {

                    left = left + 240;
                    $("#myprintcloud-help").animate({ "top": "-=-40", "left": "+=" + left }, 100);
                    $(".help-header").text(proceeding[i]);
                    $("#btnPreviousHelp").show();
                }

                if (i == 6) {

                    $("#btnNextHelp").hide();
                    $("#btnCloseHelp").show();

                }



            });

            $("#btnPreviousHelp").click(function () {

                i = i - 1;


                var dashp = $("#myprintcloud-dashborad");
                var positiontop = dashp.position().top;
                var positionleft = dashp.position().left;

                var dashh = $("#myprintcloud-help");
                var positiontophelp = dashh.position().top;
                var positionlefthelp = dashh.position().left;

                var top = parseInt(positiontop) - parseInt(236);
                var left = parseInt(positionleft) - parseInt(positionlefthelp);

                if (i == 0) {

                    var width = $(window).width();

                    var total = width - 400;
                    var divison = total / 2;

                    document.getElementById("myprintcloud-help").style.left = divison + "px";
                    document.getElementById("myprintcloud-help").style.top = "120px";

                    $(".help-header").text(proceeding[0]);

                    $("#btnPreviousHelp").hide();
                    $("#btnNextHelp").show();
                    $("#myprintcloud-help").removeClass("myprintcloud-help-arrow");
                    $("#btnCloseHelp").hide();


                }
                if ((i != 0) && (i != 6)) {
                    left = left + 240;
                    $("#myprintcloud-help").animate({ "top": "-=40", "left": "+=" + left }, 100);
                    $(".help-header").text(proceeding[i]);
                    $("#btnCloseHelp").hide();
                    $("#btnNextHelp").show();
                }



            });

        });
    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
