@{
    ViewBag.Title = "MIS 2015 Calender";
}
@section leftmenue {
}
<div class="row" id="fullCalendarBinding">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active"><span>Calendar</span></li>
                </ol>
                <h1>Calendar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box-body main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Calendar) { <text>active</text> }">
                                @*@Html.ActionLink("Calendar", "Calendar", "Home",)*@
                                <a href="#tab-Calendar" data-toggle="tab">Calendar</a>
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Contacts) { <text>active</text> }">
                                @Html.ActionLink("Contacts", "Contacts", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Companies) { <text>active</text> }">
                                @Html.ActionLink("Companies", "Index", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Supplier) { <text>active</text> }">
                                @Html.ActionLink("Supplier", "SuppliersList", "Home")
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-Calendar">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="main-box">
                                            <div class="main-box-body clearfix">
                                                @*<div id="calendar"></div>*@
                                                <div id="calendar" data-bind="fullCalendar: $root.mycCalender, itemsList: $root.items" data-eventclass="label-primary"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("~/Areas/CRM/Views/Home/_AddEditCalendarActivity.cshtml")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_CompanySelector.cshtml")

<!-- /ko -->
@section Scripts {
    @*<script src="~/Content/themes/Centaurus/js/fullcalendar.min.js"></script>*@
    <script>
        require(["calendar/calendar.view", "common/companySelector.view"]);

    </script>
}
