@{
    ViewBag.Title = "Company Contacts";
}
@section leftmenue {
}
<div class="row" id="contactsBindingRoot">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">&nbsp;</a></li>

                </ol>
                <h1 style="padding-left:0px;">Public Store Registered Users</h1>
                <div class="clearfix pull-left" style="padding-bottom: 1%">
                    <h5>Create Contacts, Customers and Suppliers. Add to-do items and update shared calendars.</h5>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="main-box-body main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Contacts) { <text>active</text> }">
                                @*@Html.ActionLink("All Contacts", "Contacts", "Home")*@
                                <a href="#tab-Contacts" data-toggle="tab">Public Store Registered Users</a>
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Companies) { <text>active</text> }">
                                @Html.ActionLink("Companies", "Index", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Supplier) { <text>active</text> }">
                                @Html.ActionLink("Supplier", "SuppliersList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.ToDoList) { <text>active</text> }">
                                @Html.ActionLink("Calender Events", "ToDoList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Calendar) { <text>active</text> }">
                                @Html.ActionLink("Calendar", "Calendar", "Home")
                                @*<a href="#tab-Calendar" data-toggle="tab">Calendar</a>*@
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-Contacts">
                                <div class="row">
                                    <!-- ko template: { name: 'filterTemplate' } -->
                                    <!-- /ko -->
                                    <div class="col-lg-12" style="margin-top:20px">
                                        <div style="margin-bottom:15px;">
                                            <span>dumy text here Public Store Registered Users</span> 
                                        </div>
                                        <div>
                                            <div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-1"></th>
                                                                <th class="col-lg-3"><span>Name</span></th>
                                                                <th class="col-lg-3"><span>Email</span></th>
                                                                <th class="col-lg-3"><span>Store</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko  foreach: $root.companyContactsForListView  -->
                                                            <tr data-bind=" click: $root.editContactbuttonHandler" style="cursor: pointer">
                                                                <td>
                                                                    <!-- ko if: image()==='' -->
                                                                    @*<img style="margin-bottom: -12px; margin-top: -12px; margin-left: -18%; -o-object-fit: contain; object-fit: contain; " data-bind="attr: { src: image()==='' ? '/mis/Content/Images/Company_Default.png':'' }" alt="">*@
                                                                    <img style="-o-object-fit: contain; object-fit: contain;" data-bind="attr: { src: image()==='' ? '/mis/Content/Images/company_contact.jpg':image() }" alt="" />
                                                                    <!--/ko-->
                                                                    <!-- ko if: image()!=='' -->
                                                                    <img style="width:50px; -o-object-fit: contain; object-fit: contain;" data-bind="attr: { src: image()==='' ? '/mis/Content/Images/company_contact.jpg':image() }" alt="" />
                                                                    <!--/ko-->

                                                                </td>
                                                                <td>
                                                                    <a class="user-link" href="#" data-bind="text: firstName()+' '+lastName() "></a>
                                                                    @*<span data-bind="text: email"></span>*@
                                                                </td>
                                                                <td>
                                                                    <span data-bind="text:email"></span> <br /> <span data-bind="text:quickPhone"></span>
                                                                </td>
                                                               
                                                                <td>
                                                                    <span data-bind="text:StoreName"></span>
                                                                </td>
                                                            </tr>
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="pagerDiv" class="pull-right">
                                            <!-- ko with: pager -->
                                            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                                @Html.Partial("~/Areas/CRM/Views/Home/_UserProfileDetailsForContact.cshtml")
                            </div>
                            <div class="tab-pane fade" id="tab-E-Marketing">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">

                                        <img src="~/Content/Images/coming.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script id="filterTemplate" type="text/html">
    <div class="filter-body" id="filter" style=" margin-left: 6px;   margin-right: 8px; margin-bottom: 4px;">
        <form data-bind="submit: $root.searchButtonHandler">
            <div class="filter-block pull-right">
                <div class="form-group pull-left" style="margin-right: 2px;">
                    <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchFilter">
                    <i class="fa fa-search search-icon" data-bind="click: searchButtonHandler"></i>
                </div>
            </div>
        </form>
        <div class="clearfix">
        </div>
    </div>
</script>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
<!-- /ko -->
@section Scripts{
    <script>
        require(["crm/contacts.view", "common/confirmation.view"]);
        $(function () {
            $('#licrm').addClass('active');
        });
    </script>
}