@{
    ViewBag.Title = "E Marketing";
}
@section leftmenue {
}
<div class="row" id="EmarketingbindingRoot">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="#">&nbsp;</a></li>

                </ol>
                <h1 style="padding-left:0;">E-Marketing</h1>
                <div class="clearfix pull-left" style="padding-bottom: 1%">
                    <h5>Create Contacts, Customers and Suppliers. View system users calendars.  Create marketing emails.</h5>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="main-box-body main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Contacts) { <text>active</text> }">
                               
                               @Html.ActionLink("Public Store Registered Users", "Contacts", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Companies) { <text>active</text> }">
                                @Html.ActionLink("Companies", "Index", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Supplier) { <text>active</text> }">
                                @Html.ActionLink("Supplier", "SuppliersList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.ToDoList) { <text>active</text> }">
                                @Html.ActionLink("Calender Events", "ToDoList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Calendar) { <text>active</text> }">
                                @Html.ActionLink("Calendar", "Calendar", "Home")
                               
                            </li>

                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.EMarketing) { <text>active</text> }">
                                <a href="#tab-E-Marketing" data-toggle="tab">E-Marketing</a>
                            </li>


                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-E-Marketing">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;">

                                        <img src="~/Content/Images/coming.jpg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<script>
    $(document).ready(function () {
        setTimeout(function () {
            var spinner = $("div#spinner");
            spinner.stop();
            spinner.fadeOut("fast");
            $.unblockUI(spinner);
        }, 1000);

    });
</script>