@{
    ViewBag.Title = "Companies";
}
@section leftmenue {
}
<div class="row" id="crmBindingRoot">
    <div class="col-lg-12" >
        <div class="row">
            <div class="col-lg-12" data-bind="visible: !$root.isEditorVisible()" style="margin-bottom:20px;">
                <input type="hidden" name="CallingMethod" id="CallingMethod" value="@ViewBag.CallingMethod" />
                <input type="hidden" name="CompanyId" id="CompanyId" value="@ViewBag.CompanyId" />
                <ol class="breadcrumb" style="padding-left:8px;">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                </ol>
                <h1 style="padding-left:0px;">Companies</h1>
                <div class="clearfix pull-left">
                    <span style="color: #696969">Create Contacts, Customers and Suppliers. Add to-do items and update shared calendars.</span>
                </div>
                <div style="clear: both;max-height: 14px;">
                    &nbsp;
                </div>
            </div>
            <div class="col-lg-12" data-bind="visible: $root.isEditorVisible" style="display: none;">
                <ol class="breadcrumb" style="padding-left:0px;">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="~/CRM/Home/Index">Companies</a></li>
                    <!--ko if:$root.selectedStore() != undefined && $root.selectedStore().type() == 2-->
                    <li class="active"><span>Supplier</span></li>
                    <!-- /ko -->
                    <!--ko if:$root.selectedStore() != undefined && $root.selectedStore().type() != 2-->
                    <li class="active"><span>Customers</span></li>
                    <!-- /ko -->

                </ol>
                <!--ko if: $root.selectedStore() != undefined -->
                <h1 data-bind="text: $root.selectedStore().name()==undefined ? 'Store Name':$root.selectedStore().name()" style="padding-left:0px;"></h1>
                <!-- /ko -->


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box-body main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Contacts) { <text>active</text> }">
                                @Html.ActionLink("Public Store Registered Users", "Contacts", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Companies) { <text>active</text> }">
                                <a href="#tab-Customers" data-toggle="tab">Companies</a>
                                @*@Html.ActionLink("Companies", "Index", "Home")*@
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Supplier) { <text>active</text> }">
                                @Html.ActionLink("Supplier", "SuppliersList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.ToDoList) { <text>active</text> }">
                                @Html.ActionLink("Calender Events", "ToDoList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Calendar) { <text>active</text> }">
                                @Html.ActionLink("Calendar", "Calendar", "Home")
                                @*<a href="#tab-Calendar" data-toggle="tab">Calendar</a>*@
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-Customers">
                                <div class="row" data-bind="visible: !$root.isEditorVisible()">
                                    
                                    <!-- ko template: { name: 'filterTemplate' } -->
                                    <!-- /ko -->
                                    <div class="col-lg-12" style="margin-top:20px;">
                                        <div class="tabsdescriptions">
                                            <span style="color: #696969">View, Find and Edit Business and Corporate Customer Information and Contacts.</span>
                                        </div>
                                        <div style="margin-left:7px;margin-right:7px;">
                                            <div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-1"></th>
                                                                <th class="col-lg-3"><span>Company</span></th>
                                                                <th class="col-lg-2"><span>Store</span></th>
                                                                <th class="col-lg-2"><span>Created</span></th>
                                                                <th class="col-lg-2"><span>Email</span></th>
                                                                <th class="col-lg-2"><span>Type</span></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko foreach: $root.customersForListView -->
                                                            <tr data-bind=" click: $root.onEditItem" style="cursor: pointer">
                                                                <td>
                                                                    <!-- ko if: storeImageFileBinary()==='' -->
                                                                    <img style="margin-bottom: -12px; margin-top: -12px; margin-left: -18%; -o-object-fit: contain; object-fit: contain; " data-bind="attr: { src: storeImageFileBinary()==='' ? '/mis/Content/Images/Company_Default.png':'' }" alt="">
                                                                    <!--/ko-->
                                                                    <!-- ko if: storeImageFileBinary()!=='' -->
                                                                    <img style="width:50px; -o-object-fit: contain; object-fit: contain;" data-bind="attr: { src: '@Url.Content("~/")' + storeImageFileBinary() }" alt="" />
                                                                    <!--/ko-->
                                                                </td>
                                                                <td>
                                                                    <a href="#" class="store-user-link" data-bind="text:name"></a>
                                                                    <span class="user-subhead" data-bind="text:defaultContact"></span>
                                                                </td>
                                                                <td>
                                                                   
                                                                    <span class="user-subhead" data-bind="text:storeName"></span>
                                                                </td>
                                                                <td>
                                                                    <p data-bind="dateString: creationdate, datePattern: 'DD/MM/YYYY'"></p>
                                                                </td>
                                                                
                                                                <td>
                                                                    <a>
                                                                        <p data-bind="text:defaultContactEmail"></p>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <p data-bind="text:customerTYpe()==0 ? 'Prospect':'Customer'"></p>
                                                                </td>
                                                            </tr>
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                @{
                                    Html.RenderPartial("~/Areas/CRM/Views/Home/CompaniesDetail.cshtml");
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pagerDiv" style="margin-right:0px" class="pull-right">
                    <!-- ko with: prospectPager -->
                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                    <!-- /ko -->
                </div>
            </div>
            <script id="filterTemplate" type="text/html">
                <div class="filter-body" id="filter" style=" margin-left:13px;   margin-right:15px; margin-bottom: 4px;">

                    <form data-bind="submit:$root.filterHandler">
                        <div class="filter-block pull-right">
                            <div class="pull-left" style="margin-right: 16px; ">
                                <select style="margin-right: 70px; height: 36px;" class="form-control" data-bind="options:['All','Prospects', 'Customer'], value:$root.companyDdSelector, event:{ change: $root.onChangeCompany}"></select>
                            </div>
                            <div class="form-group pull-left">
                                <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchFilter">
                                <i class="fa fa-search search-icon" data-bind="click: $root.filterHandler"></i>
                            </div>
                            <div class="pull-left">
                                <a class="btn btn-primary" data-bind="click: $root.openReport" style=" margin-left: 0px">
                                    Reports
                                </a>
                                <a class="btn btn-primary" data-bind="click: $root.onCreateNewStore">
                                    Add New Company
                                </a>
                            </div>
                        </div>

                    </form>
                   
                    <div class="clearfix">
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>
    @Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@section Scripts{
    <script>
        require(["crm/crm.view", "common/confirmation.view", "common/reportManager.view"]);
        $(function () {
            $('#licrm').addClass('active');
        });
    </script>
}
