@{
    ViewBag.Title = "Companies";
}
@section leftmenue {
}
<div class="row" id="crmBindingRoot">
    <div class="col-lg-12" >
        <div class="row">
            <div class="col-lg-12" data-bind="visible: !$root.isEditorVisible()">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left" style="padding-left:0px;">Companies</h1>
                </div>
            </div>
            <div class="col-lg-12" data-bind="visible: $root.isEditorVisible" style="display: none">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="~/CRM/Home/Index">Companies</a></li>
                    <!--ko if:$root.selectedStore() != undefined && $root.selectedStore().type() == 2-->
                    <li class="active"><span>Supplier</span></li>
                    <!-- /ko -->
                    <!--ko if:$root.selectedStore() != undefined && $root.selectedStore().type() != 2-->
                    <li class="active"><span>Customers</span></li>
                    <!-- /ko -->

                </ol>
                <!--ko if: $root.selectedStore() != undefined -->
                <h1 data-bind="text: $root.selectedStore().name()==undefined ? 'Store Name':$root.selectedStore().name()"></h1>
                <!-- /ko -->


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box-body main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Contacts) { <text>active</text> }">
                                @Html.ActionLink("All Contacts", "Contacts", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Companies) { <text>active</text> }">
                                <a href="#tab-Customers" data-toggle="tab">Companies</a>
                                @*@Html.ActionLink("Companies", "Index", "Home")*@
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Supplier) { <text>active</text> }">
                                @Html.ActionLink("Supplier", "SuppliersList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.ToDoList) { <text>active</text> }">
                                @Html.ActionLink("To Do Lists", "ToDoList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Calendar) { <text>active</text> }">
                                @Html.ActionLink("Calendar", "Calendar", "Home")
                                @*<a href="#tab-Calendar" data-toggle="tab">Calendar</a>*@
                            </li>

                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.EMarketing) { <text>active</text> }">
                                @Html.ActionLink("E-Marketing", "EMarketing", "Home")
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-Customers">
                                <div class="row" data-bind="visible: !$root.isEditorVisible()">
                                    
                                    <!-- ko template: { name: 'filterTemplate' } -->
                                    <!-- /ko -->
                                    <div class="col-lg-12">
                                        <div>
                                            <div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-lg-1"></th>
                                                                <th class="col-lg-3"><span>Company</span></th>
                                                                <th class="col-lg-1"><span>Created</span></th>
                                                                <th class="col-lg-2"><span>Email</span></th>
                                                                <th class="col-lg-1"><span>Type</span></th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko foreach: $root.customersForListView -->
                                                            <tr data-bind=" click: $root.onEditItem" style="cursor: pointer">
                                                                <td>
                                                                    <img style="width: 70%; max-width: 70%;" data-bind="attr: { src: '@Url.Content("~/")' + storeImageFileBinary() }" alt="" />

                                                                </td>
                                                                <td>
                                                                    <a href="#" class="store-user-link" data-bind="text:name"></a>
                                                                    <span class="user-subhead" data-bind="text:defaultContact"></span>
                                                                </td>
                                                                <td>
                                                                    <p data-bind="dateString: creationdate, datePattern: 'DD/MM/YYYY'"></p>
                                                                </td>
                                                                @*<td>
                        <span data-bind="text:status, css:statusClass"></span>
                    </td>*@
                                                                <td>
                                                                    <a>
                                                                        <p data-bind="text:defaultContactEmail"></p>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <p data-bind="text:customerTYpe()==0 ? 'Prospect':'Customer'"></p>
                                                                </td>
                                                            </tr>
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="pagerDiv" style="margin-right:0px" class="pull-right">
                                                <!-- ko with: prospectPager -->
                                                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    Html.RenderPartial("~/Areas/CRM/Views/Home/CompaniesDetail.cshtml");
                                }
                        </div>
                    </div>


                </div>
            </div>

        </div>
            <script id="filterTemplate" type="text/html">
                <div class="filter-body" id="filter" style=" margin-left: 6px;   margin-right: 8px; margin-bottom: 4px;">

                    <form data-bind="submit:$root.filterHandler">
                        <div class="filter-block pull-right">
                            <div class="pull-left" style="margin-right:16px">
                                <select style="margin-right:70px" class="form-control" data-bind="options:['All','Prospects', 'Customer'], value:$root.companyDdSelector, event:{ change: $root.onChangeCompany}"></select>
                            </div>
                            <div class="form-group pull-left">
                                <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchFilter">
                                <i class="fa fa-search search-icon" data-bind="click: $root.filterHandler"></i>
                            </div>
                            <div class="pull-left">
                                <a class="btn btn-primary" data-bind="click: $root.onCreateNewStore">
                                    Add Customer
                                </a>
                            </div>
                        </div>

                    </form>

                    <div class="clearfix">
                    </div>
                </div>
        </script>
    </div>
</div>
@section Scripts{
    <script>
        require(["crm/crm.view", "common/confirmation.view"]);
        $(function () {
            $('#licrm').addClass('active');
        });
    </script>
}
