@{
    ViewBag.Title = "Supplier";
}
@section leftmenue {
}
<div class="row" id="crmSuppliers">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12" data-bind="visible: !$root.isEditorVisible()">
                <ol class="breadcrumb">
                    <li><a href="#">&nbsp;</a></li>
                </ol>
                <h1 style="padding-left:0px;">Supplier</h1>
                <div class="clearfix pull-left" style="padding-bottom: 1%">
                    <h5>Create Contacts, Customers and Suppliers. View system users calendars.  Create marketing emails.</h5>
                </div>
            </div>
            <div class="col-lg-12" data-bind="visible: $root.isEditorVisible" style="display: none">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">Home</a></li>
                    <li><a href="~/CRM/Home/SuppliersList">Supplier</a></li>
                    <!--ko if:$root.selectedStore() != undefined && $root.selectedStore().type() == 2-->
                    <li class="active"><span>Supplier Detail</span></li>
                    <!-- /ko -->
                    <!--ko if:$root.selectedStore() != undefined && $root.selectedStore().type() != 2-->
                    <li class="active"><span>Customers</span></li>
                    <!-- /ko -->

                </ol>
                <!--ko if: $root.selectedStore() != undefined -->
                <h1 data-bind="text: $root.selectedStore().name() == undefined ? 'Supplier Name' :  $root.selectedStore().name()"></h1>
                <!-- /ko -->


            </div>

        </div>
        <div class="row">

            <div class="col-lg-12">
                <div class="main-box-body main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Contacts) { <text>active</text> }">
                                @Html.ActionLink("All Contacts", "Contacts", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Companies) { <text>active</text> }">
                                @Html.ActionLink("Companies", "Index", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Supplier) { <text>active</text> }">
                                @*@Html.ActionLink("Supplier", "SuppliersList", "Home")*@
                                <a href="#tab-Supplier" data-toggle="tab">Supplier</a>
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.ToDoList) { <text>active</text> }">
                                @Html.ActionLink("To Do Lists", "ToDoList", "Home")
                            </li>
                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.Calendar) { <text>active</text> }">
                                @Html.ActionLink("Calendar", "Calendar", "Home")
                                @*<a href="#tab-Calendar" data-toggle="tab">Calendar</a>*@
                            </li>

                            <li class="@if (ViewBag.ActiveTab == MPC.Models.Common.ActiveModuleMenuItem.EMarketing) { <text>active</text> }">
                                @Html.ActionLink("E-Marketing", "EMarketing", "Home")
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab-Supplier">
                                <div class="row" data-bind="visible: !$root.isEditorVisible()">
                                    <!-- ko template: { name: 'filterTemplate' } -->
                                    <!-- /ko -->
                                    <div class="col-lg-12">
                                        <div>
                                            <div>
                                                <div class="table-responsive">
                                                    <table class="table table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                @*<th><span>Company</span></th>
                    <th><span>Created</span></th>
                    <th class="text-center"><span>Status</span></th>
                    <th><span>Email</span></th>
                    <th>&nbsp;</th>*@

                                                                <th class="col-lg-1"></th>
                                                                <th class="col-lg-3"><span>Company</span></th>
                                                                <th class="col-lg-2"><span>Created</span></th>
                                                                @*<th class="col-lg-2"><span>Status</span></th>*@
                                                                <th class="col-lg-2"><span>Email</span></th>
                                                                @*<th class="col-lg-2">&nbsp;</th>*@
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- ko template: { name: $root.templateToUseSupplier , foreach: $root.suppliers } -->
                                                            <!-- /ko -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="pagerDiv" class="pull-right">
                                            <!-- ko with: supplierpager -->
                                            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @{
                                        Html.RenderPartial("~/Areas/CRM/Views/Home/CompaniesDetail.cshtml");
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="actionsTemplate" type="text/html">
    <a class="table-link" data-bind="click : $root.onEditItem" style="float: right">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="itemSupplierTemplate" type="text/html">
    <tr data-bind=" click: $root.onEditItem, css: { selectedRow: $data === $root.selectedSupplier}" style="cursor: pointer">
        <td>
            <img style="width: 70%; max-width: 70%;" data-bind="attr: { src: '@Url.Content("~/")' + storeImageFileBinary() }" alt="" />
        </td>
        <td>
            <a href="#" class="store-user-link" data-bind="text: name"></a>
            <span class="user-subhead" data-bind="text:defaultContact"></span>
        </td>
        <td data-bind="dateString: createdDate, datePattern: 'DD/MM/YYYY'"></td>
        @*<td>
                <!-- ko if: status() == 1 -->
                <span class="label label-success">Active</span>
                <!-- /ko -->
                <!-- ko if: status() != 1 -->
                <span class="label label-danger">In-Active</span>
                <!-- /ko -->
            </td>*@
        <td>
            <a href="#">
                <p data-bind="text:defaultContactEmail"></p>
            </a>
        </td>
        @*<td style="width: 20%;">
                <a class="table-link" data-bind="click: $root.onEditItem">
                    <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </td>*@
    </tr>
</script>
@* Filter Template *@
<script id="filterTemplate" type="text/html">
    <div class="filter-body" id="filter" style=" margin-left: 6px;   margin-right: 8px; margin-bottom: 4px;">
        <form data-bind="submit:$root.searchSuppliersByFilters">
            <div class="filter-block pull-right">
                <div class="form-group pull-left">
                    <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchSupplierFilter">
                    <i class="fa fa-search search-icon" data-bind="click:$root.searchSuppliersByFilters"></i>
                </div>
               
                <div class="pull-left">
                    <a class="btn btn-primary" data-bind="click: $root.openReport" style=" margin-left: 0px">
                        Reports
                    </a>
                    <a class="btn btn-primary" data-bind="click: $root.onCreateNewStore">
                        Add Supplier
                    </a>
                </div>
            </div>
        </form>
        <div class="clearfix">
        </div>
    </div>
</script>
@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@section Scripts{

    <script>
        require(["crm/crm.supplier.view", "common/confirmation.view", "common/reportManager.view"]);
        $(function () {
            $('#licrm').addClass('active');
        });
    </script>
}
