@{
    ViewBag.Title = "Cost Centers";
}
@section leftmenue {

}
<style>
    .MatrixHeader td:first-child,.MatrixHeader td:first-child > input,.MatrixHeader tr:first-child td, .MatrixHeader tr:first-child td > input  { background-color: rgb(223, 217, 217) !important; }
    .MatrixHeader tr:first-child td:first-child > input { border: 0px solid #ccc!important;}
   
</style>
<div class="row" id="CostCentersBinding">
    <div class="col-lg-12" data-bind="visible: !isEditorVisible()">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="~/Dashboard/Index">&nbsp;</a></li>

                </ol>
                <div class="clearfix">
                    <h1 id="idcostcentertypename" class="pull-left" style="padding-left:0px;">Cost Centers</h1>
                </div>
            </div>
            <div class="col-lg-12" style="margin-bottom:10px;">
                <div class="pull-right top-page-ui">
                    <a href="~/Settings" class="btn  btn-default" style="float:right;margin-bottom:10px;margin-left:5px;">Close</a>
                    <a class="btn btn-primary" id="createNewCostCenterId" data-bind="click:createCostCenter">
                        Add New Cost Center
                    </a>
                </div>
            </div>
            
            <div class="row">
                
                <div class="col-lg-12"style="margin-left:7px;padding-right:23px;margin-top:10px;">
                    <!-- ko template: { name: 'filterTemplate' } -->
                    <!-- /ko -->
                    <div class="main-box no-header clearfix" style="padding-top:0px;">
                        <div class="main-box-body clearfix">
                            <div class="table-responsive">
                                <div class="tabsdescriptions" style="margin-left:0px;">
                                    <p class="group-header-description"> Create Press and Refining Options using run time quantities, prompting questions used when estimating.</p>
                                </div>
                                
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr id="ccList" class="span12">
                                            <th class="col-lg-1"></th>
                                            <th class="col-lg-3"><span>Name</span></th>
                                            <th class="col-lg-4"><span>Description</span></th>
                                            <th class="col-lg-2"><span>Enabled</span></th>
                                            <th class="col-lg-2"><span>Calculation</span></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ko template: { name: 'itemCostCenterTemplate' , foreach: $root.costCentersList } -->
                                        <!-- /ko -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="pagerDiv" style="float:right">
                        <!-- ko with: pager -->
                        @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
        <script id="actionsTemplate" type="text/html">
            <a href="#" class="table-link danger" data-bind="click : $root.onDeleteCostCenter" style="float: right">
                <span class="fa-stack ">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a class="table-link" data-bind="click : $root.onEditItem" style="float: right">
                <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x "></i>
                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </script>
        <script id="itemCostCenterTemplate" type="text/html">
            <tr style="cursor: pointer" data-bind="click: $root.onEditItem, css: { selectedRow: $data === $root.selectedCostCenter}">
                <td></td>
                <td>
                    <a href="#" data-bind="text: name,click : $root.onEditItem"></a>
                </td>
                <td data-bind="text: description"></td>

                <td>
                    <!-- ko if: isDisabled() -->
                    <span class="label label-danger">No</span>

                    <!-- /ko -->
                    <!-- ko if: isDisabled() == false -->
                    <span class="label label-success">Yes</span>
                    <!-- /ko -->

                </td>
                <td>
                    <!-- ko if: calculationMethodType() == 1 -->
                    <span class="label label-success">Fixed</span>
                    <!-- /ko -->
                    <!-- ko if: calculationMethodType() == 2 -->
                    <span class="label label-default">Per Hour</span>
                    <!-- /ko -->
                    <!-- ko if: calculationMethodType() == 3 -->
                    <span class="label label-default">Quantity Base</span>
                    <!-- /ko -->
                    <!-- ko if: calculationMethodType() == 4 -->
                    <span class="label label-danger">Formula Base</span>
                    <!-- /ko -->
                </td>

                
            </tr>
        </script>
        @* Filter Template *@

        <script id="filterTemplate" type="text/html">
            <div class="filter-body" id="filter" style="height:62px;">
                <div class="pull-left">
                    <div class="row">
                        <div style="height:20px;">
                            &nbsp;
                        </div>
                    </div>
                   
                </div>
                <form data-bind="submit: $root.getCostCenterByFilter" > 
                    <div class="filter-block pull-right" style="margin-right: -10px; margin-top: -3px;">
                        <div class="form-group pull-left" style="margin-top:6px;">
                            <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchFilter">
                            <i class="fa fa-search search-icon" data-bind="click:$root.getCostCenterByFilter"></i>
                        </div>
                    </div>
                </form>
            </div>
        </script>
     </div>
    @Html.Partial("~/Areas/Settings/Views/MIS/CostCenterDetail.cshtml")
    @Html.Partial("~/Areas/Settings/Views/MIS/_AddEditCostCentreQuestion.cshtml")
    @Html.Partial("~/Areas/Settings/Views/MIS/_AddEditCostCentreMatrix.cshtml")
    @Html.Partial("~/Areas/Settings/Views/MIS/_CostCentreStockVariable.cshtml")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_StockDialog.cshtml")
<!-- /ko -->
@section Scripts{
    <script src="~/Scripts/jquery.form.js"></script>
    <script>
           require(["costcenter/costcenter.view", "common/confirmation.view", "common/stockItem.view"]);
           var CostCenterType = 0;
           var costcennterTypeId = 0;
        $(function () {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');
            $('#liCostCenters').addClass('active');
        });
       
  
    </script>


}
<script src="~/Content/themes/Centaurus/js/CSJSRequestObject.js"></script>
<script>
    $(document).ready(function () {
        CostCenterType = Request.QueryString("Type").toString();
       
    });
</script>
