@{
    ViewBag.Title = "MPC Inventory";
}
@section leftmenue {

}
<div class="row" id="inventoryBinding">
    <div class="col-lg-12" data-bind="visible: !isInventoryEditorVisible()">
        <div class="row">
            <div class="col-lg-12" id="topArea">
                
                <div class="clearfix">
                    <h1 class="pull-left" style="padding-left:0px;margin-top:35px;">Paper, Boards, Inks...</h1>

                </div>
                <div class="pull-right top-page-ui">
                    <button class="btn btn-primary" data-bind="click: $root.openReport" style="margin-right:2px">
                        Reports
                    </button>
                    <button class="btn btn-primary" data-bind="click:createInventory">
                        Add New Inventory
                    </button>
                    <a href="/mis/Settings" class="btn btn-default" style="float: right;margin-left:5px;">Close</a> 

                </div>
                <div id="addInventory" style="height:34px;">
                    &nbsp;
                </div>
                <!-- ko template: { name: 'filterTemplate' } -->
                <!-- /ko -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table id="inventoryTablle" class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1">&nbsp;</th>
                                        <th class="col-lg-3"><span>Name</span></th>
                                        <th class="col-lg-2"><span>Category</span></th>
                                        <th class="col-lg-2"><span>Flag</span></th>
                                        <th class="col-lg-2" style="text-align:right;">Selling Pack Price</th>
                                        <th class="col-lg-2">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko template: { name: 'itemInventoryTemplate' , foreach: $root.inventories } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div id="pagerDiv" class="pull-right">
                    <!-- ko with: pager -->
                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                    <!-- /ko -->
                </div>
            </div>
        </div>
        @* Filter Template *@
        <script id="filterTemplate" type="text/html">
            <div class="filter-body" id="filter" style="margin-bottom:10px;">
                <form data-bind="submit: $root.filterInventories">
                    <div class="filter-block pull-right" style="margin-top:3px;">

                        <div class="form-group pull-left">
                            <select id="category" class="form-control" data-bind="options: $root.categories,optionsCaption:'Select Category', optionsText: 'Name', optionsValue: 'CategoryId',value:categoryFilter"></select>
                        </div>
                        <div class="form-group pull-left">
                            <select id="subCategory" class="form-control" data-bind="options: $root.filteredSubCategories,optionsCaption:'Select Sub Category', optionsText: 'Name', optionsValue: 'SubCategoryId',value:subCategoryFilter"></select>
                        </div>

                        <div class="form-group pull-left" style="margin-right:0px;">
                            <input type="text" class="form-control" placeholder="Search..." data-bind="value: $root.searchFilter">
                            <i data-bind="click:$root.filterInventories" class="fa fa-search search-icon"></i>
                        </div>

                        @*<div class="pull-right">
                                <button type="submit" class="btn btn-primary" data-bind="click:$root.filterInventories">Search</button>
                                <button type="reset" class="btn btn-default closeSaveButtonMarginRemove" data-bind="click:$root.resetFilter">Reset</button>
                            </div>*@
                    </div>
                </form>
                <div class="clearfix">
                </div>
            </div>
        </script>
    </div>
    @Html.Partial("_InventoryEditor")
    @Html.Partial("~/Areas/Settings/Views/Shared/_AddStockQty.cshtml")
</div>
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_SupplierDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")

<!-- /ko -->
@section Scripts{
    <script>
        require(["inventory/inventory.view", "common/confirmation.view", "common/supplier.view", "common/reportManager.view"]);
        $(function () {
            $('#liinventory').addClass('active');
        });
    </script>
}


<script id="actionsTemplate" type="text/html">
    <a href="#" class="table-link danger" data-bind="click : $root.onDeleteInventory" style="float: right">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a class="table-link" data-bind="click : $root.onEditInventory" style="float: right">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</script>
<script id="itemInventoryTemplate" type="text/html">
    <tr data-bind=" click: $root.onEditInventory" style="cursor: pointer">
        <td>&nbsp;</td>

        <td>
            <a href="#" class="store-user-link" data-bind="text: name, click : $root.onEditInventory"></a>
            <label style="font-size: 0.875em; color: black;" data-bind="text: supplierCompanyName"><i class="fa fa-external-link-square"></i></label>
        </td>
        <td data-bind="text: fullCategoryName"></td>
        <td>
            <span class="label label-success" data-bind="style: { background: colour }"><i class="fa fa-flag"></i></span>
        </td>
        <td style="text-align:right;">
            <span data-bind="text: packCostPrice()!=='' && packCostPrice()!==null  ? $root.currencySymbol:''"></span>
            <span data-bind="numberInput: packCostPrice()!=='' && packCostPrice()!==0 ? packCostPrice() :' '"></span>
        </td>
        <td>&nbsp;</td>
    </tr>
</script>
