@model MPC.Models.DomainModels.Company
@using MPC.Webstore.Common;
<div class="Container">
    <div class="page">
        <div class="header-container header-regular" id="top">
            <div class="header-container2">
                <div class="header-container3">

                    <div class="header-top-container">
                        <div class="header-top header container clearer  show-bg">
                            <div class="inner-container">

                                <!--<div class="item item-left hide-below-960">
                                    <p class="welcome-msg"> </p>
                                </div>-->

                                <div id="currency-switcher-wrapper-regular" class="item item-right"></div>
                                <div id="lang-switcher-wrapper-regular" class="item item-right"></div>

                            </div> <!-- end: inner-container -->
                        </div> <!-- end: header-top -->
                    </div> <!-- end: header-top-container -->

                    <div class="header-primary-container">
                        <div class="header-primary header container">
                            <div class="inner-container">

                                <div class="hp-blocks-holder skip-links--4">


                                    <!-- Mobile logo -->
                                    <div class="logo-wrapper--mobile">
                                        <a class="logo logo--mobile" href="@ViewBag.DefaultUrl" title="Liquid Bubble Print">
                                            <img id="logoImageee" src="/@Model.Image" alt="Liquid Bubble Print">
                                        </a>
                                    </div>
                                    <div class="clearer after-mobile-logo"></div>



                                    <!-- Mobile cart wrapper
                                    <div id="mini-cart-wrapper-mobile"></div>-->
                                    <!-- Left column -->
                                    <div class="hp-block h-left regular-logo">

                                        <div class="logo-wrapper logo-wrapper--regular">
                                            <h1 class="logo logo--regular"><strong>@ViewBag.CompanyName</strong><a href="@ViewBag.DefaultUrl" title="Liquid Bubble Print"><img id="logoImageee" src="/@Model.Image" alt="Liquid Bubble Print"></a></h1>
                                        </div>

                                    </div>


                                    <!-- Right column Custom -->

                                    <div class="hp-block h-right">
                                        <!-- Central column -->
                                        <div class="header-top-right">
                                            <div class="top-links top-account">
                                                <ul>
                                                    @if (ViewBag.IsLogin == 0)
                                                    {
                                                        <li>
                                                            <a href="/Login" title="Sign In">Sign In </a>

                                                        </li>
                                                        <li class="last">
                                                            <a title="Register" href="/SignUp">Register</a>
                                                        </li>
                                                    }
                                                    else
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("LogOut", "LoginBar")" title="Sign Out">Sign Out </a>

                                                        </li>
                                                    }

                                                </ul>



                                            </div>
                                            <ul class="links custom">
                                                <li class="first">
                                                    <a href="http://www.liquidbubble.com/" title="Liquid Bubble" target="_blank">Main Site</a>
                                                </li>
                                                <li class="phn-num">
                                                    <span>
                                                        <i class="fa phn-num"></i><label>Order Hotline</label><a class="phone-call" title="0208 900 1191" href="tel:0208 900 1191">@ViewBag.Phone</a>
                                                    </span>
                                                </li>
                                                <li class="e-mail">
                                                    <span>
                                                        <i class="fa e-mail"></i>
                                                        <label>Email</label><a href="mailto:@ViewBag.email" title="@ViewBag.email">@ViewBag.email</a>
                                                    </span>
                                                </li>
                                                <li class="track-order">
                                                    <span>
                                                        <i class="fa track-order"></i>
                                                        <label>Track</label><a title="Your Order" href="">Your Order</a>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="h-rigt-btm">
                                            <!-- Skip Links -->

                                            <div class="hp-block high-quality-moblie">
                                                <div class="high-quality">
                                                    <p>High Quality Digital<br>&amp; Litho Printers</p>
                                                </div>
                                            </div>
                                            <a href="#header-nav" class="skip-link skip-nav">
                                                <span class="icon ic ic-menu"></span>
                                                <span class="label">Menu</span>
                                            </a>

                                            <a href="#header-search" class="skip-link skip-search">
                                                <span class="icon ic ic-search"></span>
                                                <span class="label">Search</span>
                                            </a>

                                            <a href="#header-account" class="skip-link skip-account">
                                                <span class="icon ic ic-user"></span>
                                                <span class="label">My Account</span>
                                            </a>



                                            <div class="hp-block high-quality-desktop">
                                                <div class="high-quality">
                                                    <p>High Quality Digital<br>&amp; Litho Printers</p>
                                                </div>
                                            </div>
                                            <div id="header-account" class="top-links links-wrapper-separators-left skip-content skip-content--style btm-account">
                                                <ul class="links">
                                                    @if (ViewBag.IsLogin == 0)
                                                    {
                                                        <li class="first"><a href="/Login" title="Sign in">Sign in</a></li>
                                                        <li class=" last" id="link-sign-up"><a href="/SignUp" title="Register">Register</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li class="first"><a href="@Url.Action("LogOut", "LoginBar")" title="Sign Out">Sign Out</a></li>
                                                    }
                                                   
                                                </ul>

                                            </div>

                                            <div id="header-search" class="hp-block search-wrapper-centered clearer grid12-4  search-wrapper skip-content skip-content--style">

                                            </div>

                                            <!-- Right column -->
                                            <div class="hp-block user-menu clearer grid12-4">


                                                <div id="mini-cart-wrapper-regular">

                                                    <div id="mini-cart" class="mini-cart dropdown is-empty">

                                                        <a href="/ShopCart"  class=" cursor-pointer mini-cart-heading dropdown-heading cover skip-link skip-cart">
                                                            <span style="cursor:pointer;">

                                                                <span class="icon ic ic-cart-bg" style="cursor:pointer;"></span>
                                                                <span style="cursor:pointer;" class="count">Cart [@ViewBag.CartCount] Items</span>

                                                            </span>
                                                        </a> <!-- end: heading -->


                                                        <div id="header-cart" class="mini-cart-content dropdown-content left-hand block block block-cart skip-content skip-content--style" style="display:none;">
                                                            <div class="block-content-inner">

                                                                <div class="empty">You have [@ViewBag.CartCount] items in your shopping cart.</div>

                                                            </div> <!-- end: inner block -->
                                                        </div> <!-- end: dropdown-content -->

                                                    </div> <!-- end: mini-cart -->

                                                </div>








                                                <div id="header-account" class="top-links links-wrapper-separators-left skip-content skip-content--style">

                                                    <ul class="links">
                                                        @if (ViewBag.IsLogin == 0)
                                                        {
                                                            <li class="first"><a href="/Login" title="Sign in">Sign in</a></li>
                                                            <li class=" last" id="link-sign-up"><a href="/SignUp" title="Register">Register</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li class="first"><a href="@Url.Action("LogOut", "LoginBar")" title="Sign Out">Sign Out</a></li>
                                                        }
                                                        
                                                    </ul>

                                                </div> <!-- end: top-links -->



                                            </div>
                                            <!-- end: user-menu -->
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div> <!-- end: v-grid-container -->

                        </div> <!-- end: inner-container -->
                    </div> <!-- end: header-primary -->
                </div> <!-- end: header-primary-container -->




            </div> <!-- end: header-container3 -->
        </div> <!-- end: header-container2 -->
    </div>
</div>
