@model List<MPC.Models.DomainModels.CompanyBanner>
@using MPC.Webstore.Common;
@{
    Layout = null;
}
@{
    int index = 1;
    int TotalCOunt = Model.Count();
}
<div class="container">
    <div class="preface">
        <div class="banner-outer">
            <div class="nested-container">
                <div class="banner-left grid12-8">
                    @if (Model != null)
                    {
                        <div class="bannerContainer">
                            <div id="top-banner" class="carousel slide hidden-xs " data-interval="6000" data-ride="carousel">
                                @if (Model.Count() > 1)
                                {
                                    <ol class="carousel-indicators">
                                        @for (int i = 0; i <= Model.Count(); i++)
                                        {
                                            if (i == 0)
                                            {
                                                <li data-target="#top-banner" data-slide-to="@i" class="active"></li>
                                            }
                                            else
                                            {
                                                <li data-target="#top-banner" data-slide-to="@i"></li>
                                            }
                                        }
                                    </ol>
                                }
                                <div class="carousel-inner">
                                    @foreach (var banner in Model)
                                    {
                                        if (index == 1)
                                        {
                                            <div class="item text-center active">
                                                <a href="@banner.ButtonURL"> <img id="banner1Img" src="@banner.ImageURL" alt="Banner 1" title="Banner 1" /></a><div class="carousel-caption" style=""></div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item text-center">
                                                <a href="@banner.ButtonURL"> <img id="banner1Img" src="@banner.ImageURL" alt="Banner 1" title="Banner 1" /></a><div class="carousel-caption" style=""></div>
                                            </div>
                                        }
                                        index++;
                                    }
                                </div>
                                @if (TotalCOunt == 1)
                                {
                                }
                                else
                                {
                                    <a class="left carousel-control" href="#top-banner" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control" href="#top-banner" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="banner-right grid12-4">
                    <div class="banner-custom">
                        <div class="custom-item1">
                            <div class="item-inner">
                               
                                <img src="/Content/BubbleImages/banner-right-custom-image-1.jpg" alt="Don't want to order online" />
                            </div>
                        </div>
                        <div class="custom-item2 last">
                            <div class="item-inner">

                                <img src="/Content/BubbleImages/banner-right-custom-image-2.jpg" alt="Today's Offer" />
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.1.min.js"></script>
<script src="/Scripts/SlidingBanner.js"></script>



