@model MPC.Models.DomainModels.ProductCategory
@using System.Text.RegularExpressions;
@using System.Web.Configuration;
@using MPC.Models.Common;
@using MPC.Webstore.Common;

@section metatags
{
    @if (ViewBag.MetaTitle != null)
    {
        <meta name="title" content="@ViewBag.MetaTitle" />


    }
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />

    }

    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
}
<div id="divShd" class="opaqueLayer">
</div>
@if (!string.IsNullOrEmpty(Model.ImagePath))
{
    <div id="divbg" style="background:url(@Model.ImagePath)  no-repeat center center" class="categorydivBG">&nbsp;</div>
}

<div class="container content_area">

    <div class="left_right_padding row">
      
        <div class="signin_heading_div Categorytitle col-md-12 col-lg-12 col-xs-12">
            <h1>
                <label ID="lblTitle" class="sign_in_catheading">@Model.CategoryName</label>
            </h1>

        </div>
        <div id="productCategoryContainer" class="col-md-12 col-lg-12 col-xs-12">
            @if (ViewData["ProductCategory"] != null)
            {

                <label ID="lblCategoryHeader" class="product_detail_sub_heading custom_color floatleft clearBoth MarginBottom30px"
                         >Select a product category below</label>
            }
        </div>
        <div class="cntParentCategDesc col-md-12 col-lg-12 col-xs-12">
            <label ID="lblParentCategoryDesc">@Model.Description1.Replace("\r\n", "</br>").Replace("\n", "</br>").Replace("\r", "</br>");</label>
        </div>
        <div id="CategoryDisplay responsivePad15">
           
            <div class="rounded_corners clearBoth">
                @if (ViewData["ProductCategory"] != null)
                { 
                    
                     <div id="pnlCatList" class="padd_bottom_30 ">
                    @foreach (var cat in ViewData["ProductCategory"] as List<MPC.Models.DomainModels.ProductCategory>)
                    {
                        <div id="Maincontainer" class="CAT_Body rounded_corners" >
                            <div class="LCLB">
                                @{
                                    Regex reg = new Regex("[\\s;\\/:*?\"<>|&']", RegexOptions.IgnoreCase);
                                    string categoryName = reg.Replace(cat.CategoryName, "-");

                                    <a id="hlCategory" href="/Category/@categoryName/@cat.ProductCategoryId">
                                        <div class="PDTC_CAT FI_CAT">
                                            @{
                                                string AppBasePath = WebConfigurationManager.AppSettings["AppBasePath"];
                                                if (string.IsNullOrEmpty(AppBasePath))
                                                {
                                                    AppBasePath = string.Empty;
                                                }
                                                string ThumbPath = AppBasePath + @cat.ThumbnailPath;
                                                <img id="imgThumbnail" class="CAT_ThumbnailPath" src='@ThumbPath' />
                                            }
                                           
                                        </div>
                                    </a>
                                 }
                            </div>
                            <div class="product_detail_image_heading_CAT">
                                <label id="lblProductName">@cat.CategoryName</label>
                            </div>
                            <div class="topcat_desc_CAT">
                                <label ID="lblDescription1" >@cat.Description1</label>
                            </div>
                        </div>
                    }
                   
                    <div class="clearBoth">

                    </div>
                </div>
                }
                
                @*code for product*@
                  @if (ViewData["Products"] != null)
                  { 
                    <div id="pnlAllProductTopLevel" class="padd_bottom_30 floatleft clear">
                        <div class="col-md-12 col-lg-12 col-xs-12">
                            <label ID="lblProductHeader"  class="product_detail_sub_heading custom_color floatleft clear marginBtm10"
                                       >Select a product below</label>
                        </div>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                        <div id="cntProductList">
                            @foreach (var item in ViewData["Products"] as List<MPC.Models.DomainModels.GetCategoryProduct>)
                            {
                                bool isUploadImage = true;
                                string RedirectURL = string.Empty;
                                <div class="BD_CatProducts rounded_corners">
                                    <div class="pad5">
                                        <div class="LCLB">
                                          
                                           @* condition for marketing brief*@

                                            @if (item.ProductType == (int)ProductType.TemplateProductWithBanner || item.ProductType == (int)ProductType.TemplateProductWithImage)
                                            {
                                                if (item.isUploadImage == true)
                                                {
                                                    isUploadImage = true;
                                                  RedirectURL = "/ProductOptions/" + Model.ProductCategoryId + "/" + item.ItemId + "/UploadDesign";
                                                }
                                                else
                                                {
                                                    isUploadImage = false;
                                                   // RedirectURL = "@Url.Action("'CloneItem'", "'Category'", new { id = "item.ItemId" })";
                                                   //clone
                                                 //   RedirectURL = "@Url.Action('CloneItem', 'Category', new { id = "+item.ItemId+" })";
                                                    RedirectURL = "/Category/CloneItem/" + item.ItemId;
                                                }
                                                
                                            }
                                            else if (item.ProductType == (int)ProductType.FinishedGoodWithBanner || item.ProductType == (int)ProductType.FinishedGoodWithImageRotator) // for non print product
                                            {
                                                RedirectURL = "/ProductOptions/" + Model.ProductCategoryId + "/" + item.ItemId + "/UploadDesign";
                                            }
                                            @if (isUploadImage == false)
                                            {
                                                <a id="hlProductDetail" href="@Url.Action("CloneItem", "Category", new { id = item.ItemId })">
                                                    <div class="PDTC_CatProd FI_CatProd">
                                                        @{

                                                string AppBasePath = WebConfigurationManager.AppSettings["AppBasePath"];
                                                if (string.IsNullOrEmpty(AppBasePath))
                                                {
                                                    AppBasePath = string.Empty;
                                                }
                                                string ThumbPath = AppBasePath + @item.ThumbnailPath;
                                                <img id="imgProduct" src="@ThumbPath" class="full_img_ThumbnailPath_CatPro" />


                                                            @*<asp:ImageButton ID="imgThumbnail" CssClass="full_img_ThumbnailPath_CatPro" runat="server" AlternateText="" OnClientClick=""
                                                                CommandName="DesignOnline" CommandArgument='' />*@
                                                        }
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                    <a id="hlProductDetail" href="@RedirectURL">
                                                        <div class="PDTC_CatProd FI_CatProd">
                                                            @{

                                                string AppBasePath = WebConfigurationManager.AppSettings["AppBasePath"];
                                                        if (string.IsNullOrEmpty(AppBasePath))
                                                        {
                                                            AppBasePath = string.Empty;
                                                        }
                                                        string ThumbPath = AppBasePath + @item.ThumbnailPath;
                                                        <img id="imgProduct" src="@ThumbPath" class="full_img_ThumbnailPath_CatPro" />


                                                                @*<asp:ImageButton ID="imgThumbnail" CssClass="full_img_ThumbnailPath_CatPro" runat="server" AlternateText="" OnClientClick=""
                                                                    CommandName="DesignOnline" CommandArgument='' />*@
                                                            }
                                                        </div>
                                                    </a>
                                            }
</div>
                                        <div class="product_detail_image_heading_IRI">
                                            <label ID="lblProductName">@item.ProductName</label>
                                        </div>
                                        <div class="product_detail_image_Pricing">
                                            <label ID="lblPrice">@item.MinPrice</label>
                                        </div>
                                        @{
                                            string stockLabel = string.Empty; 
                                            string quantity = string.Empty;
                                          
                                            
                                            List<MPC.Webstore.ViewModels.ItemStockOptionList> sqn = ViewData["StockOptions"] as List<MPC.Webstore.ViewModels.ItemStockOptionList>;
                                            stockLabel = sqn.Where(s => s.ItemID == item.ItemId).Select(c => c.StockLabel).FirstOrDefault();


                                            List<MPC.Webstore.ViewModels.ProductPriceMatrixViewModel> matrix = ViewData["PriceMatrix"] as List<MPC.Webstore.ViewModels.ProductPriceMatrixViewModel>;
                                            matrix = matrix.Where(m => m.ItemID == item.ItemId).ToList();
                                            
                                        }


                                        <table id="productPricetbl" class="productPricetbl"  width="80%" cellpadding="5" cellspacing="0" style="">
                                            <tr>
                                                <td class="Metroprod_table_cell prod_table_cell procu_detail_grid_cell wdthWrp"
                                                    style="text-align: left;">
                                                    Quantity
                                                </td>
                                                <td id="tdStockOpt1" class="prod_table_cell Metroprod_table_cell procu_detail_grid_cell wdthWrp"
                                                    style="text-align: right;">
                                                    <label ID="lblStockOpt1">@stockLabel</label>
                                                </td>
                                            </tr>
                                 @if (matrix != null)
                                 { 
                                        foreach (var Objmatrix in matrix)
                                        {
                                            <tr>
                                                <td id="tdQty1" class="product_detail_item_cell procu_detail_grid_cell" style="text-align: left;">

                                                    <label  ID="spanQuantity">@Objmatrix.Quantity</label>
                                                </td>
                                                <td id="tdPrice1" class="product_detail_item_cell procu_detail_grid_cell"
                                                    style="text-align: right;">
                                                    <div id="matrixItemColumn1">

                                                        <label ID="lblPrice1" >@Objmatrix.Price</label>
                                                        @if (Objmatrix.isDiscounted == true)
                                                        {
                                                             <script>
                                                                 $("#lblPrice1").attr('class', 'strikeThrough');
                                                             </script>
                                                           
                                                          <label ID="lblDiscountedPrice1" class="custom_colorTS" >@Objmatrix.DiscountPrice</label>
                                                        }

                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                        <tr class="trMoreDetailOfProductLnk">
                                            <td style="text-align: left;">
                                                <p style="font-weight: bolder; font-style: italic; margin-top: 0px;">
                                                    <a id="lnkPRoductdetail">more...</a>
                                                </p>
                                            </td>
                                        </tr>
                                 }
                                        </table>
                                    </div>
                                    <div id="PriceCircle" class="blue_cicle_container DisplayNoneCSS6" >
                                        <div class="BC_CatProd">
                                            <div class="all_padding3">
                                                <div class="paddingTop2px">
                                                    &nbsp;
                                                </div>
                                                FROM
                                                <br />
                                                <label ID="lblFromMinPrice"  style="font-size:16px;" >@item.MinPrice</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" ID="hfIds" />


                            }
                        
                        </div>

                      

                        <div id="PopupProofScreen" hidden="hidden" class="FileUploaderPopup_Mesgbox  rounded_corners">
                            <label ID="Label2"  class="left_align FileUploadHeaderText_PopUp float_left_simple MesgBoxClass lblPopupCorpHeading">Proof</label>
                            <div id="Div1" onclick="hidePopup2()" class="MesgBoxBtnsDisplay rounded_corners5">
                                Close
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="SolidBorderCS">
                                &nbsp;
                            </div>
                            <div>
                                <iframe class="iframeProofContainer"></iframe>
                            </div>
                            <div id="previewProofing">
                                <div class="divTxtProofing">
                                    <div class="ConfirmPopupProof">
                                        <label>
                                            Confirm spelling and details
                                        </label>
                                        <input id="chkCheckSpelling" name="chkCheckSpelling" class="simpleText regular-checkbox"
                                               type="checkbox" />
                                        <label for="chkCheckSpelling" style="display: inline;">
                                        </label>
                                    </div>

                                </div>
                                <div class="SolidBorderCS">

                                </div>
                                <button ID="Button2" value="Next" class="cursor_pointer designNowCS_Corp rounded_corners5 btnMakeThisDesign btnOrderNow" @*OnClick="Button2_Click"*@ onclick="  return verifySpellings();" />
                            </div>
                        </div>
                    </div>
                  }
            </div>
        </div>
    </div>
    <div class="clear marginBtm10">
    </div>
    <br />
    <br />
    <input type="hidden"  id="hfContactID" />
    <input type="hidden"  id="hfCompanyID" />
    <input type="hidden"  id="hfCorpType" />
    <input type="hidden"  id="hfTemplateProduct" />
    <input type="hidden"  id="hfCurItem" />
    <input type="hidden" id="hfProductCatID" />
    <input type="hidden"  id="hfSPType" value="default" />
    <input type="hidden"  id="hfPrintCropMarks" />
    <input type="hidden"  id="hfSvcRespone" />
</div>
