
@using MPC.Webstore.Common;
@{
    Layout = null;
}
<div class="container content_area" style="clear:right;" id="all-contactus-pg">
    <div class="left_right_padding">
     
        <div class="white-container-lightgrey-border textAlignLeft rounded_corners">
            <div class="get_in_touch_heading">
                <label id="lbl_GetInTouch">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlgetintouch", UserCookieManager.WBStoreId, "Get in touch..."))</label>
            </div>
            <div class="postformmesg" id="formRtrnMesg">
              
            </div>
            
            <div class="get_in_touch_sub_padding">
                
                    <table width="100%" cellpadding="5" cellspacing="5">
                        <tr>
                            <td>
                                <label>@Html.Raw(Html.GetKeyValueFromResourceFile("lblContactFormFullName", UserCookieManager.WBStoreId, "Full Name"))</label>
                            </td>
                            <td>
                              
                                <label>@Html.Raw(Html.GetKeyValueFromResourceFile("lblContactFormEmail", UserCookieManager.WBStoreId, "Email"))</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                               
                                <input type="text" id="txtContactFormFullName" class="text_box400 rounded_corners5" placeholder="Full Name" />

                            </td>
                            <td  valign="top">
                                <input type="text" id="txtContactFormEmail" class="text_box400 rounded_corners5" placeholder="Email" />

                              
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>@Html.Raw(Html.GetKeyValueFromResourceFile("lblContactFormMobile", UserCookieManager.WBStoreId, "Mobile"))</label>
                            </td>
                            <td>

                                <label>@Html.Raw(Html.GetKeyValueFromResourceFile("lblContactFormQuantity", UserCookieManager.WBStoreId, "Quantity"))</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="txtContactFormMobile" class="text_box400 rounded_corners5" placeholder="Mobile" />

                                

                            </td>
                            <td valign="top">
                                <input type="text" id="txtContactFormQuantity" class="text_box400 rounded_corners5" placeholder="Quantity" />

                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label>@Html.Raw(Html.GetKeyValueFromResourceFile("lblContactFormMessage", UserCookieManager.WBStoreId, "Message"))</label>


                            </td>
                          
                        </tr>
                        <tr>
                            
                            <td colspan="2">
                                <input type="text" id="txtContactFormMessage" class="text_box400 rounded_corners5" placeholder="Message" />

                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td align="right">
                                <input type="button" class="start_creating_btn rounded_corners5" value="Submit" onclick="PostFromData();"/>
                            </td>
                        </tr>
                    </table>
               
            </div>
        </div>
    </div>
</div>
<script>
    function PostFromData() {
        debugger
            
        var data = { FullName: $("#txtContactFormFullName").val(), Email: $("#txtContactFormEmail").val(), Mobile: $("#txtContactFormMobile").val(), Quantity: $("#txtContactFormQuantity").val(), Message: $("#txtContactFormMessage").val() }
        $.ajax({
            type: "POST",
            url: "/WebstoreApi/RFQ/SubmitRFQForm",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(data),
            success: function (response) {
                $("#formRtrnMesg").html(response);
            },
            error: function (error) {
                $("#formRtrnMesg").html(error);

            }
        });
    }
</script>