@model MPC.Models.DomainModels.CompanyContact
@using MPC.Webstore.Common;
@using MPC.Models.Common;
<div align="center" id="divUserProfile" >
    <div class="white-container-lightgrey-border rounded_corners">
        <div class="pad20">
            <div class="headingsAvenior float_left_simple">

            </div>
            <div class="cntdashBoardRetrunLink">

            </div>
            <br />
            <div class="cntHalfRightProfile">
                <div class="smallContctUsAvenior float_left_simple" id="divfname">
                    First Name
                </div>
                <div class="TTL widthAvenior">
                    <span class="error-message EFirstName" style="display: none;">can't be blank</span>
                    @*<input id="txtFirstName" type="text" class="newTxtBox" maxlength="50" tabindex="1" value="@Model.FirstName" />*@

                    @Html.TextBoxFor(model => model.FirstName, new { id = "txtFirstName", @class = "newTxtBox", placeholder = "FirstName", maxlength = 500, })
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="divlname">
                    Last Name
                </div>
                <div class="TTL widthAvenior">
                    @*<input id="txtLastName" class="newTxtBox" maxlength="50"
                           tabindex="1" value="@Model.LastName"/>*@

                    @Html.TextBoxFor(model => model.LastName, new { id = "txtLastName", @class = "newTxtBox", placeholder = "LastName", maxlength = 500, })
                </div>

                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="divemail">
                    Email
                </div>
                <div class="TTL widthAvenior">
                    @*<input ID="txtUserEmail"  Enabled="false" class="newTxtBox" MaxLength="100"
                           TabIndex="3" value="@Model.Email"/>*@
                    @Html.TextBoxFor(model => model.Email, new { id = "txtUserEmail", @class = "newTxtBox", placeholder = "Email", maxlength = 500, })
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="divjobtitle">
                    Job Title
                </div>
                <div class="TTL widthAvenior">
                    @*<input ID="txtJobTitle" class="newTxtBox" MaxLength="50"
                           TabIndex="4" value="@Model.JobTitle"/>*@
                    @Html.TextBoxFor(model => model.JobTitle, new { id = "txtJobTitle", @class = "newTxtBox", placeholder = "JobTitle", maxlength = 500, })
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="divphonenumber" >
                    Phone Number
                </div>
                <div class="TTL widthAvenior">
                    @*<input ID="txtUserPhone1" class="newTxtBox" MaxLength="30"
                           TabIndex="5" value="@Model.HomeTel1"/>*@
                    @Html.TextBoxFor(model => model.HomeTel1, new { id = "txtUserPhone1", @class = "newTxtBox", placeholder = "Phone1", maxlength = 500, })
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="divcellnumber">
                    Cell Number
                </div>
                <div class="TTL widthAvenior">
                    @*<input ID="txtUserCellNo" class="newTxtBox" MaxLength="30"
                               TabIndex="6" value="@Model.Mobile"/>*@
                    @Html.TextBoxFor(model => model.Mobile, new { id = "txtUserCellNo", @class = "newTxtBox", placeholder = "CellNo", maxlength = 500, })
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="divfax">
                    Fax
                </div>
                <div class="TTL widthAvenior">
                    @*<input id="txtUserFax" class="newTxtBox" maxlength="30"
                           tabindex="7" value="@Model.FAX" />*@
                    @Html.TextBoxFor(model => model.FAX, new { id = "txtUserFax", @class = "newTxtBox", placeholder = "Fax", maxlength = 500, })
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div id="CompanyNameOfBroker" >
                    <div class="smallContctUsAvenior float_left_simple" id="divcompanyname">
                        Company Name
                    </div>
                    <div class="TTL widthAvenior">
                        <span class="error-message ECompanyName" style="display: none;">can't be blank</span><br>
                        <input id="txtCompanyName" class="newTxtBox" maxlength="100"
                                   tabindex="8" value="@ViewBag.CompanyName"/>
                       
                    </div>
                    <div class="clearBoth">
                    </div>
                    <br />
                </div>
                <div id="WebsiteUrlOfBroker">
                    <div class="smallContctUsAvenior float_left_simple" id="divwebsite" >
                        Website
                    </div>
                    <div class="TTL widthAvenior">
                        @*<input id="txtWebSite" class="newTxtBox" maxlength="150"
                                   tabindex="9" value="@Model.quickWebsite"/>*@

                       @Html.TextBoxFor(model => model.quickWebsite, new { id = "txtWebSite", @class = "newTxtBox", placeholder = "WebSite", maxlength = 500, })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <br />
                </div>
                @if(UserCookieManager.StoreMode==(int)StoreMode.Corp)
                { 
                <div id="coorporateUserFields" >
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtPOBox" >
                            PO Box Address
                        </div>
                        <div class="TTL widthAvenior">
                            <input id="txtPOBox" cssclass="newTxtBox" maxlength="500"
                                   tabindex="9" value="@Model.POBoxAddress"/>
                            @Html.TextBoxFor(model => model.POBoxAddress, new { id = "txtPOBox", @class = "newTxtBox", placeholder = "PoBox",maxlength=500, })
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtCunit">
                            Business/Corporate Unit
                        </div>
                        <div class="TTL widthAvenior">
                            @*<input id ="txtCunit" cssclass="newTxtBox" maxlength="500"
                                     tabindex="9" value="@Model.CorporateUnit"/></div>*@
                        @Html.TextBoxFor(model => model.CorporateUnit, new { id = "txtCunit", @class = "newTxtBox", placeholder = "CorporateUnit", maxlength = 500, })
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtOfcTrading">
                            Office Trading Name
                        </div>
                        <div class="TTL widthAvenior">
                            @*<asp:TextBox ID="txtOfcTrading" class="newTxtBox" MaxLength="500"
                                         TabIndex="9" value="@Model.OfficeTradingName"></asp:TextBox>*@
                            @Html.TextBoxFor(model => model.OfficeTradingName, new { id = "txtOfcTrading", @class = "newTxtBox", placeholder = "Office Trading Name", maxlength = 500, })
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtContractorName" >
                            Contractor Name
                        </div>
                        <div class="TTL widthAvenior">
                            @*<input id="txtContractorName" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.ContractorName"/>*@
                            @Html.TextBoxFor(model => model.ContractorName, new { id = "txtContractorName", @class = "newTxtBox", placeholder = "Contractor Name", maxlength = 500, })
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtBpay">
                            Bpay CRN
                        </div>
                        <div class="TTL widthAvenior">
                            @*<input id="txtBpay" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.BPayCRN"/>*@
                            @Html.TextBoxFor(model => model.BPayCRN, new { id = "txtBpay", @class = "newTxtBox", placeholder = "BPayCRN ", maxlength = 500, })
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtABN">
                            ABN
                        </div>
                        <div class="TTL widthAvenior">
                            @*<input id="txtABN" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.ABN"/>*@

                            @Html.TextBoxFor(model => model.ABN, new { id = "txtABN", @class = "newTxtBox", placeholder = "ABN", maxlength = 500, })
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtACN">
                            ACN
                        </div>
                        <div class="TTL widthAvenior">
                            <input id="txtACN" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.ACN"/>
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtAf1">
                            Additional Field 1
                        </div>
                        <div class="TTL widthAvenior">
                            <input id="txtAf1" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.AdditionalField1"/>
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtAf2">
                            Additional Field 2
                        </div>
                        <div class="TTL widthAvenior">
                            <input ID="txtAf2"  class="newTxtBox" MaxLength="500"
                                         TabIndex="9" value="@Model.AdditionalField2"/>
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtAf3" >
                            Additional Field 3
                        </div>
                        <div class="TTL widthAvenior">
                            <input id="txtAf3" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.AdditionalField3"/>
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtAf4">
                            Additional Field 4
                        </div>
                        <div class="TTL widthAvenior">
                            <input id="txtAf4" class="newTxtBox" maxlength="500"
                                         tabindex="9" value="@Model.AdditionalField4"/>
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>
                    <div>
                        <div class="smallContctUsAvenior float_left_simple" id="divtxtAf5" >
                            Additional Field 5
                        </div>
                        <div class="TTL widthAvenior">
                            <input ID="txtAf5" class="newTxtBox" MaxLength="500"
                                         TabIndex="9" value="@Model.AdditionalField5"/>
                        </div>
                        <div class="clearBoth">
                        </div>
                        <br />
                    </div>


                </div>
                }
                <div class="smallContctUsAvenior float_left_simple" id="div2">
                    Profile Picture
                </div>
                <div class="TTL widthAvenior">
                  
                    <input type="file" id="fuImageUpload" class="newTxtBox" tabindex="12" />
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple" id="div3">
                </div>
                <div class="TTL widthAvenior">
                   
                    @if (@Model.image != null)
                    {
                        <img src="@Html.GetAppBasePath()@Model.image" id="imgContactPicture" alt="" class="user_image_container float_left_simple" />
                    }
                    else
                    {
                        <img src="@Html.GetAppBasePath()@Model.image" id="imgContactPicture" alt="" class="user_image_container float_left_simple" />
                    }
                    <input id="btnUploadFile" type="button" value="Upload Image" class="btnUploadImage_UP float_left_simple rounded_corners5" />

                    <div class="clearBoth">
                    </div>
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple">
                    &nbsp;
                </div>
                <div class="TTL widthAvenior">
                    
                    <input id="chkEmailMeOffers" text="Notify me of marketing and promotions" type="checkbox" tabindex="10" checked="@Model.IsEmailSubscription" />
                            
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <div class="smallContctUsAvenior float_left_simple">
                    &nbsp;
                </div>
                <div class="TTL widthAvenior">
                   
                    <input id="chkSendMeNewsLetters" text="Subscribe to Newsletters" type="checkbox" tabindex="11" checked="@Model.IsNewsLetterSubscription" />
                </div>
                <div class="clearBoth">
                </div>
                <br />
                <br />
                <div class="smallContctUsAvenior float_left_simple">
                    &nbsp;
                </div>
                <div class="TTL widthAvenior">
                    <input id="btnSave" type="button" value="Save" class="start_creating_btn rounded_corners5" tabindex="13" onclientclick="return ValidateUSer();" />

                    &nbsp;&nbsp;
                    
                    <input id="btnCancel" type="button" value="Cancel" class="start_creating_btn rounded_corners5"  tabindex="15" />
                </div>
            </div>
            <div class="clearBoth">
            </div>
            <br />
        </div>
    </div>
</div>
