@using MPC.Webstore.Common;
@{
    Layout = null;
}
<div class="container content_area" id="all-dashboard-pg">
    <div class="row left_right_padding">
        <div class="center_align col-md-12 col-lg-12 col-xs-12">
            <label class="dashboard-main-heading">@Html.Raw(Html.GetKeyValueFromResourceFile("lblORderManagment", UserCookieManager.WBStoreId, "My Account"))</label>
        </div>
        <div class="clearboth">
        </div>
        <div id="dashboard-item-container" class=" rounded_corners">
            <div class="padding50">
                @foreach (var item in ViewData["rptBrokerCorpDasHBItems"] as List<MPC.Webstore.Models.DashboardViewModel>)
                {
                    if (item.IsChangePassword ?? false)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-12" onclick="ChangePassPopupShow();">
                            <a onclick="ChangePassPopupShow();">
                                <div id="dashIcons" class="dashboard_logo_div dashboardIcons contact_log MarginBottom30px">
                                    @Html.Raw(item.ImageURL)
                                </div>

                                <div id="NavigationDiv" class="dashboard_logo_des_div MarginBottom30px">
                                    <div class="dashboard_item_main_heading">
                                        <label id="lblBCName">@item.Name</label>
                                    </div>
                                    <div class="dashboard_item_detail">
                                        <label id="lblBCDescription">@item.Description</label>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <a href="@item.PageNavigateURl" onclick="ShowLoader();">
                                <div id="dashIcons" class="dashboard_logo_div dashboardIcons contact_log MarginBottom30px">
                                    @Html.Raw(item.ImageURL)
                                </div>

                                <div id="NavigationDiv" class="dashboard_logo_des_div MarginBottom30px">
                                    <div class="dashboard_item_main_heading">
                                        <label id="lblBCName">@item.Name</label>
                                    </div>
                                    <div class="dashboard_item_detail">
                                        <label id="lblBCDescription">@item.Description</label>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }

                }
                <div class="clearBoth">
                    &nbsp;
                </div>
            </div>

        </div>
        <div class="spacer10pxtop">
            &nbsp;
        </div>


    </div>
</div>
@using (Html.BeginForm())
{
   
}
<div id="UpdateModelPopUp" >
    <div id="ResetPassword">
        <div id="resetErrorMessageContainer" style="display:none;">
            <div class="float_left_simple smallfonAvenior">
                &nbsp;
            </div>
            <div class="textAlignLeft">
                <label id="errorMesg" style="display:none;font-size: 13px;color: red;"></label>
                <label id="candNewError" style="display:none;font-size: 13px;color: red;"></label>
            </div>
            <div class="clearBoth">
                &nbsp;
            </div>
        </div>


        <div class="reset-box-container">

            <input type="password" id="txtCurPass" name="txtCurPass" maxlength="50" class="newTxtBox" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("cpassword", UserCookieManager.WBStoreId, "Current password"))" />
        </div>

        <div class="reset-box-container">

            <input type="password" id="txtNewPassword" name="txtNewPassword" maxlength="50" class=" newTxtBox" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("npassword", UserCookieManager.WBStoreId, "New Password"))" />
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>

        <div class="reset-box-container">

            <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" maxlength="50" class="newTxtBox" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlconfirmpass", UserCookieManager.WBStoreId, "Confirm Password"))" />
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>

        <div class="reset-box-container Mtop15P">
            <input type="submit" onclick="PasswordValidation();" class="start_creating_btn rounded_corners5 background-green" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnSave", UserCookieManager.WBStoreId, "Save"))" />
            <input type="submit" onclick="HideMessagePopUpCustom();" class="start_creating_btn rounded_corners5" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnCancel", UserCookieManager.WBStoreId, "Cancel"))" />
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
    </div>
    <input type="hidden" id="hfErrorMes" value="@ViewBag.ErrorMes" />



    <script src="~/Scripts/PopUp.js"></script>
    <script src="/Scripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            buidPopup();
            $("#popupBody").append($("#UpdateModelPopUp"));


            $("#txtCurPass").focus();

            if ($("#hfErrorMes").val() == "1") {

            }
            else if ($("#hfErrorMes").val() == "3") {
                Passwordvalidator();
                $("#hfErrorMes").val(1);

            } else {
                $("#resetErrorMessageContainer").css("display", "block");
                $("#errorMesg").text("Your current password is not valid.");
                $("#errorMesg").css("display", "block");
                $("#txtCurPass").css("border", "2px solid red");//.parent().addClass("field-with-errors");
                $("#hfErrorMes").val(1);
               // ChangePassPopupShow();
            }
        });



        function ChangePassPopupShow() {

            //var panelHtml = $("#ResetPassword").html();
            document.getElementById("layer").style.display = "block";
            document.getElementById("innerLayer").style.display = "block";
            //ShowResetPassword('Reset Password', panelHtml)

        }

        function HideMessagePopUpCustom() {
            document.getElementById("layer").style.display = "none";
            document.getElementById("innerLayer").style.display = "none";
        }
        function Passwordvalidator() {
            var isValid = true;
            var isDataFilles = 1;
            var CurrentPass = $("#txtCurPass").val();
            var passwordnew = $('#txtNewPassword').val();

            var Confirmpassword = $('#txtConfirmPassword').val();

            if (CurrentPass.length == 0) {
                isValid = false; isDataFilles = 0;
                //$('.EMCurentPass').css("display", "block");
                $("#txtCurPass").css("border", "2px solid red");//.parent().addClass("field-with-errors");
            } else {
                //$('.EMCurentPass').css("display", "none");
                $("#txtCurPass").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
            }
            if (passwordnew.length == 0) {
                isValid = false; isDataFilles = 0;
                //  var passwordxreq = "<%= Resources.MyResource.popupPasswordxreq %>";
                //$('.EMPass').css("display", "block");
                $("#txtNewPassword").css("border", "2px solid red");//.parent().addClass("field-with-errors");

            } else {
                //$('.EMPass').css("display", "none");
                $("#txtNewPassword").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
            }
            if (Confirmpassword.length == 0) {
                //var Cpasswordxreq = "<%= Resources.MyResource.Cpasswordxreq %>";
                //$('.EMCPass').css("display", "block");
                $("#txtConfirmPassword").css("border", "2px solid red");//.parent().addClass("field-with-errors");

                isValid = false; isDataFilles = 0;
            } else {
                //$('.EMCPass').css("display", "none");
                $("#txtConfirmPassword").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");

            }

            if (passwordnew === Confirmpassword) {

            } else {

                $("#errorMesg").css("display", "block");
                $("#errorMesg").text("Password not match.");
                $("#txtNewPassword").css("border", "2px solid red");//.parent().addClass("field-with-errors");
                $("#resetErrorMessageContainer").css("display", "block");
                $("#txtConfirmPassword").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
                isValid = false;
                isDataFilles = 0;
            }

            if (isDataFilles == 0) {
                $("#hfErrorMes").val(3);
            } else {
                $("#hfErrorMes").val(1);
                return true;
            }
            return false;
        }

        function PasswordValidation() {
            var CurrentPass = $("#txtCurPass").val();
            var data = { CurrentPassword: CurrentPass }
            $.ajax({
                type: "POST",
                url: "/Dashboard/GetPassWord",
                contentType: "application/json",
                data: JSON.stringify(data),
                async: true,
                success: function (response) {

                    if (PasswordValidationSummary(response) == true) {

                        ResetPassword();
                    }
                }
            });
        }
        function PasswordValidationSummary(Result) {
            var IsValid = true;
            $("#errorMesg").css("display", "none");
            var CurrentPass = $("#txtCurPass").val();
            var passwordnew = $('#txtNewPassword').val();
            var Confirmpassword = $('#txtConfirmPassword').val();
            if (CurrentPass.length == 0) {
                IsValid = false;
                $("#txtCurPass").css("border", "2px solid red");
            } else {

                $("#txtCurPass").css("border", "1px solid #c1c6cc");
            }
            if (passwordnew.length == 0) {
                IsValid = false;

                $("#txtNewPassword").css("border", "2px solid red");

            } else {

                $("#txtNewPassword").css("border", "1px solid #c1c6cc");
            }
            if (Confirmpassword.length == 0) {

                $("#txtConfirmPassword").css("border", "2px solid red");

                IsValid = false;
            } else {

                $("#txtConfirmPassword").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
            }
            if (CurrentPass != "") {

                if (Result == false) {
                    $("#errorMesg").css("display", "block");
                    $("#errorMesg").text("Please enter valid current password.");
                    IsValid = false;
                    $("#resetErrorMessageContainer").css("display", "block");
                    $("#txtCurPass").css("border", "2px solid red");
                }
                else {
                    // $("#txtCurPass").css("border", "1px solid #b33c12");
                    if (passwordnew != null && Confirmpassword != null) {

                        if (passwordnew != Confirmpassword) {
                            $("#errorMesg").css("display", "block");
                            $("#errorMesg").text('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlnoroldpass", UserCookieManager.WBStoreId, "New and confirm password does not match"))');
                            IsValid = false;
                            $("#resetErrorMessageContainer").css("display", "block");
                            $("#txtNewPassword").css("border", "2px solid red");
                            $("#txtConfirmPassword").css("border", "2px solid red");
                        }
                    }
                }
            }
            return IsValid;
        }

        function ResetPassword() {
            //  PasswordValidation();
            var CurrentPass = $("#txtCurPass").val();
            var passwordnew = $('#txtNewPassword').val();
            window.location.href = "/Dashboard/ResetPassword/" + CurrentPass + "/" + passwordnew;
        }

        function buidPopup(){
            var container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header"><button class="md-close close" onclick="HideMessagePopUpCustom();">×</button><h4 class="modal-title" id="Modeltitle">Change Password</h4></div><div class="modal-body" id="popupBody"></div></div>';
            var bws = getBrowserHeight();
            var shadow = document.getElementById("innerLayer");

            if (bws.width < 640) {

                document.getElementById("innerLayer").innerHTML = container;
                document.getElementById("innerLayer").style.top = "0px";
                document.getElementById("innerLayer").style.width = (bws.width) + "px";
                var r = -3;
                document.getElementById("innerLayer").style.left = r + "px";
                document.getElementById("innerLayer").style.position = "fixed";
                document.getElementById("innerLayer").style.zIndex = "9999";
                document.getElementById("layer").style.display = "block";
                document.getElementById("innerLayer").style.display = "block";
            } else {

                document.getElementById("innerLayer").style.width = "645px";
                //document.getElementById("layer").style.width = bws.width + "px";
                document.getElementById("layer").style.height = bws.height + "px";

                var left = parseInt((bws.width - 645) / 2);
                document.getElementById("innerLayer").innerHTML = container;
                document.getElementById("innerLayer").style.left = left + "px";
                document.getElementById("innerLayer").style.top = "0px";
                // document.getElementById("innerLayer").style.width = "645px";
                document.getElementById("innerLayer").style.position = "fixed";
                document.getElementById("innerLayer").style.zIndex = "9999";
                document.getElementById("layer").style.display = "none";
                document.getElementById("innerLayer").style.display = "none";
            }
        }
    </script>
</div>