@model  MPC.Webstore.Models.ForgotPasswordViewModel
@using MPC.Webstore.Common;

<div class="content_area container">
    <div class="left_right_padding row">
        <div class="signin_heading_div">
            <label ID="lblMainHeading"   class="sign_in_heading">Password Request / Reset</label>
        </div>
        <div class="page_border_div rounded_corners">
            @using (Html.BeginForm())
            {
                    <div class="custom_color_heading14" id="lbl_Forgot_Password">
                       @Html.Raw(Html.GetKeyValueFromResourceFile("spnforgotPassord", UserCookieManager.StoreId))
                    </div>
                            <div class="smallContctUsAvenior float_left_simple" id="lbl_Email">
                                @Html.Raw(Html.GetKeyValueFromResourceFile("lblEmail", UserCookieManager.StoreId))
                            </div>
                    <div class="TTL widthAvenior">
                        @Html.ValidationMessageFor(u => u.Email)
                        @*<input type="text" ID="txtEmail" class="newTxtBox"
                                     TabIndex="1" />*@
                        @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "newTxtBox" })
                        <label ID="lblEmail" ></label>
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                    <div class="smallContctUsAvenior float_left_simple" id="Div1">

                    </div>
                    <div class="TTL widthAvenior">
                        <label ID="lblMessage"  class="errorMessage">@ViewBag.Message</label>
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">
                    </div>
                    <div class="TTL widthAvenior" style="margin-top:20px;">
            
                        <input type="button" id="cmdNext" value="SEND PASSWORD" 
                               class="start_creating_btn rounded_corners5"  />
           
               
                        <a href="/" class="forgetPassLink" ID="lnk_ReturnHome">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkReturnHome", UserCookieManager.StoreId))</a>
            
                    </div>
            }
            <div class="clearBoth">
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
