@model  MPC.Webstore.Models.ForgotPasswordViewModel
@using MPC.Webstore.Common;

<div class="content_area container">
    <div class="left_right_padding">
        <div class="signin_heading_div col-md-12 col-lg-12 col-xs-12">
            <label id="lblMainHeading" class="sign_in_heading">Password Request / Reset</label>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div id="forgot-password-container" class="page_border_div rounded_corners">
                @using (Html.BeginForm())
                {
                    <div class="errorMessage">
                        @ViewBag.Message
                        @Html.ValidationMessageFor(u => u.Email)
                    </div>
                    <div class="custom_color_heading14" id="lbl_Forgot_Password">
                        @Html.Raw(Html.GetKeyValueFromResourceFile("spnforgotPassord", UserCookieManager.WBStoreId))
                    </div>

                    <div class="TTL widthAvenior">


                        @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "newTxtBox", placeholder = "Enter your email address" })

                    </div>
                    <div class="clearBoth">

                    </div>

                    <div class="TTL widthAvenior" style="margin-top:20px;">

                        <input type="submit" id="cmdNext" value="SEND PASSWORD"
                               class="start_creating_btn rounded_corners5" style="width:160px;" />


                        <a href="/" class="forgetPassLink" id="lnk_ReturnHome">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkReturnLogin", UserCookieManager.WBStoreId))</a>

                    </div>
                }
                <div class="clearBoth">
                </div>
            </div>
        </div>
       
    </div>
    <br />
    <br />
    <br />
</div>
