@model MPC.Models.DomainModels.Company
@using MPC.Models.DomainModels;
@using MPC.Webstore.Common;
@{
    List<ProductCategory> subCategories =  ViewData["SubCats"] as List<ProductCategory>;
   
}
<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper">
    <div class="cbp-hsinner">
        <ul class="cbp-hsmenu">
            <div class="menuLogo">
                <a href='@ViewBag.DefaultUrl'>
                    <img src="/@Model.Image" />
                </a>
            </div>

            <li>
                <a href="/">Home</a>
            </li>
            <li data-open="" class="">
                <a href="#">Products</a>
                <ul class="cbp-hssubmenu cbp-hssub-rows">
                    <div class="dropdownPadding">
                        @foreach (var topCat in ViewData["ParentCats"] as List<MPC.Models.DomainModels.ProductCategory>)
                        {
                            <div class="linkCol">
                                <li class="dropdownHeading">@topCat.CategoryName</li>

                                @{var subCat = subCategories.Where(i => i.ParentCategoryId == topCat.ProductCategoryId).ToList();}
                                @foreach (ProductCategory subCats in subCat)
                                {

                                    <li><a href="/Category/@Utils.specialCharactersEncoder(subCats.CategoryName)/@subCats.ProductCategoryId">&gt; @subCats.CategoryName</a></li>

                                }

                                @if(subCat.Count == 0)
                                {
                                    <li><a href="/Category/@Utils.specialCharactersEncoder(topCat.CategoryName)/@topCat.ProductCategoryId">&gt; View @topCat.CategoryName</a></li>
                                }
                            </div>

                        }
                        <div class="clearfix"></div>
                    </div>
                    @if (ViewBag.SeeMore == 1)
                    {
                        <div class="seeMoreProducts">
                            <a href="/AllProducts" onclick="ShowLoader();">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkMoreProducts", UserCookieManager.WBStoreId, "More Products"))</a>

                        </div>
                    }
                </ul>
            </li>
            @if (Model.IsAllowRequestaQuote == true)
            {
                <li>
                    <a href="/RequestQuote" >@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleRequestQuote", UserCookieManager.WBStoreId, "Request A Quote"))</a>
                    
                </li>
            }

            @if (ViewBag.AboutUs != null)
            {
                <li>
                    <a href="/pages/@Utils.specialCharactersEncoder(ViewBag.AboutUs.PageTitle)/@ViewBag.AboutUs.PageId">About Us</a>
                </li>
            }

            <li>
                <a id="lnkContactUs" href="/ContactUs" >@Html.Raw(Html.GetKeyValueFromResourceFile("lblPageTitle", UserCookieManager.WBStoreId, "Contact Us"))</a>
            </li>
        </ul>
    </div>
    <div class="cbp-hsmenubg" style="height: 0px;"></div>
</nav>

<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/cbpHorizontalSlideOutMenu.min.js"></script>

<script>
    var menu = new cbpHorizontalSlideOutMenu(document.getElementById('cbp-hsmenu-wrapper'));
</script>