@model MPC.Models.DomainModels.Company
@using MPC.Webstore.Common;
@{
    Layout = null;
}
<div class="top_header">
    <div class="container content_area" id="all-topHEader-pg">
        <div class="left_right_padding">
            <div class="padding_top_bottom_topheader">
                <div class="company_logo col-md-4 col-lg-4 col-xs-3 col-sm-4 col-xs-12">
                    <a href='@ViewBag.DefaultUrl'>
                        <img src="/@Model.Image" class="pink_company_top_logo LOgo_ImgeP" />
                    </a>
                    @*<a id="lbl_PoweredBy" class="MLF" target="_blank" href="http://www.myprintcloud.com/"></a>*@

                </div>
                <div style="float: right; padding-left: 0px; padding-right: 0px;" class="col-md-8 col-lg-8 col-xs-3 col-sm-8 col-xs-12 cntrightMenu">

                    <div id="divTopHeaderMenu" class="TopHeaderMenu float_left_simple">
                        @if (Model.IsCustomer != 3)
                        {

                            <a id="lnkAllProducts" href="/AllProducts" class="iconHover" onclick="ShowLoader();">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkProducts", UserCookieManager.WBStoreId, "All Products"))</a><a id="A1" class="piplineClr">&nbsp;|&nbsp;</a>
                          
                           
                        }
                        @if (Model.IsAllowRequestaQuote == true)
                        {
                            if (Model.IsCustomer != 3)
                            {
                                <a id="lnkRequestQuote" href="/RequestQuote" style="cursor: pointer;" class="iconHover">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleRequestQuote", UserCookieManager.WBStoreId, "Request A Quote"))</a><a id="rfqPipeline" class="piplineClr">&nbsp;|&nbsp;</a>
                            }
                            else if (ViewBag.DefaultUrl != "/Login")
                            {
                                <a id="lnkRequestQuote" href="/RequestQuote" style="cursor: pointer;" class="iconHover">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleRequestQuote", UserCookieManager.WBStoreId, "Request A Quote"))</a><a id="rfqPipeline" class="piplineClr">&nbsp;|&nbsp;</a>
                            }

                        }
                        @if (Model.IsCustomer != 3)
                        {

                           
                            <a id="lnkContactUs"  href="/ContactUs" class="iconHover" onclick="ShowLoader();">@Html.Raw(Html.GetKeyValueFromResourceFile("lblPageTitle", UserCookieManager.WBStoreId, "Contact Us"))</a>
                        }
                       


                    </div>
                    <div class="phone_number_sec ">
                        <div class="TeleImg" id="telephoneIcon">
                        </div>
                        <div id="lblPoneNumber" class="lblPhoneNo">
                            @Model.PhoneNo
                        </div>
                    </div>
                    @if (Model.IsCustomer != 3)
                    {  <div id="cntresponsiveMenu">
                        <div id="CollapseBtn" class="float_right" onclick="ToggleMenu();">
                            <a class="icon-align-justify">

                            </a>
                        </div>
                        <div class="clearBoth">
                        </div>
                    </div>

                    }

                </div>
                <div class="clearBoth">
                </div>
                @if (Model.IsCustomer != 3)
                {
                    <div id="collapsedMenu" style="display: none;" class="containerCollapsedMenu col-md-12 col-lg-12 col-xs-12 col-sm-12">
                        <ul id="ulCollapseMenu" style="">
                            <li>
                                <a id="lnk_AllProducts" href="/AllProducts">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkProducts", UserCookieManager.WBStoreId, "All Products"))</a>
                            </li>
                            <li>
                                <a id="lnk_RequestQuote" href="/RequestQuote" style="cursor: pointer;">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleRequestQuote", UserCookieManager.WBStoreId, "Request A Quote"))</a>
                            </li>
                            <li>
                                <a id="lnk_ContactUs" href="/ContactUs">@Html.Raw(Html.GetKeyValueFromResourceFile("lblPageTitle", UserCookieManager.WBStoreId, "Contact Us"))</a>

                            </li>
                        </ul>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<script src="/Scripts/jquery-1.10.1.min.js"></script>
