@using MPC.Webstore.Common;
@using MPC.Models.Common;

<div class="LoginBarContainer">
    <div class="container content_area">
        <div class="left_right_padding">
            @if ((UserCookieManager.WEBStoreMode == 3 && ViewBag.isUserLoggedIn == true) || UserCookieManager.WEBStoreMode == (int)StoreMode.Retail)
            {
                <div class="float_left_simple cnttemporary col-md-6  col-sm-6 col-lg-6">
                    
                </div>
                if (!ViewBag.isUserLoggedIn)
                {
                    <div id="loginbarCon" class="login_bar float_right col-sm-6 col-md-6 col-lg-6 col-xs-12" style="padding-right: 0px !important;">
                        <ul id="menu-my-account" class="navM">
                            <li style="margin-right: 0px !important;" class="classicthemeLoginMenu">
                                <a onclick="ShowLoader();" href="/Login" class="usercolorSize"><i class="fa fa-user"></i>@Html.Raw(Html.GetKeyValueFromResourceFile("SignInlbl", UserCookieManager.WBStoreId))</a>
                                <a onclick="ShowLoader();" href="/Signup" class="usercolorSize">@Html.Raw(Html.GetKeyValueFromResourceFile("SignUplbl", UserCookieManager.WBStoreId))</a>
                            </li>
                            <li id="liSignInRegister" class="sub PinkBtnMyAccS6">
                                <a id="lnkLogin" href="/Login" class="lnkSignInCs" onclick="ShowLoader();">@Html.Raw(Html.GetKeyValueFromResourceFile("SignInRegisterlbl", UserCookieManager.WBStoreId))</a>
                            </li>
                            <li class="ZeroRightMargin BlackBtnCS">
                                <a href="/ShopCart" onclick="ShowLoader();" class="top_sub_section_links hyperlinkCart ">
                                   
                                    <span id="lbl_ShoppingCart" class="carttxtcolorSize classicthemeLoginMenu retrothemeDisplay">@Html.Raw(Html.GetKeyValueFromResourceFile("ShoppingCartlbl", UserCookieManager.WBStoreId))</span>
                                    <div class="lblCartCounter" id="lblCartCount">
                                        @ViewBag.CartCount
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                }
                else
                {
                    <div id="USerInfoContainer" class="float_right">
                        <ul class="LogBar visible-md hidden-xs hidden-sm visible-lg">

                            <li class="liUserInfo">
                                
                                <span id="lblUserName" class="LoginBarColor liUserInfo">@Html.Raw(Html.GetKeyValueFromResourceFile("Hilbl", UserCookieManager.WBStoreId))@ViewBag.LoginUserName</span>
                            </li>

                            <li class="liMarginRight">
                                <a onclick="ShowLoader();" href="/Dashboard" class="usercolorSize"><i class="fa fa-user"></i>@Html.Raw(Html.GetKeyValueFromResourceFile("MenuProfilelbl", UserCookieManager.WBStoreId))</a>

                            </li>
                            <li class="liMarginRight">
                                <a onclick="ShowLoader();" href="/SavedDesigns" class="usercolorSize"><i class="fa fa-floppy-o"></i>@Html.Raw(Html.GetKeyValueFromResourceFile("MenuSavedlbl", UserCookieManager.WBStoreId))</a>

                            </li>
                            <li class="liMarginRight cartli">
                                <a onclick="ShowLoader();" href="/ShopCart" class="usercolorSize"><i class="fa fa-shopping-cart"></i>@Html.Raw(Html.GetKeyValueFromResourceFile("ShoppingCartlbl", UserCookieManager.WBStoreId))</a>

                            </li>
                            <li>
                                <a href="@Url.Action("LogOut", "LoginBar")" onclick="ShowLoader();" class="usercolorSize">@Html.Raw(Html.GetKeyValueFromResourceFile("SignOutlbl", UserCookieManager.WBStoreId))</a>

                            </li>
                            <li class="ZeroRightMargin classicLoginCart">
                                <a href="/ShopCart" onclick="ShowLoader();" class="top_sub_section_links usercolorSize hyperlinkCart ">
                                  
                                    <span id="lbl_ShoppingCart" class="carttxtcolorSize classicthemeLoginMenu retrothemeDisplay">@Html.Raw(Html.GetKeyValueFromResourceFile("ShoppingCartlbl", UserCookieManager.WBStoreId))</span>
                                    <div class="lblCartCounter" id="lblCartCount">
                                        @ViewBag.CartCount
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul id="header-navbar" class="LogBar hidden-md visible-xs visible-sm hidden-lg">


                            <li class="profile-dropdown">
                                <a onclick="ToggleProfile();" class="dropdown-toggle">
                                    <span class="">
                                        Hi, @ViewBag.LoginUserName
                                    </span> <b class="caret"></b>
                                    <div class="user-positioner" style="position:fixed;">

                                    </div>
                                </a>

                                <ul id="profileMenu" style="display:none;" class="profile-menu">
                                    <li><a href="/Dashboard">@Html.Raw(Html.GetKeyValueFromResourceFile("MenuProfilelbl", UserCookieManager.WBStoreId))</a></li>
                                    <li><a href=/SavedDesigns>@Html.Raw(Html.GetKeyValueFromResourceFile("MenuSavedlbl", UserCookieManager.WBStoreId))</a></li>
                                    <li><a href="/ShopCart">@Html.Raw(Html.GetKeyValueFromResourceFile("ShoppingCartlbl", UserCookieManager.WBStoreId))</a></li>
                                    <li><a href="@Url.Action("LogOut", "LoginBar")" onclick="ShowLoader();">@Html.Raw(Html.GetKeyValueFromResourceFile("SignOutlbl", UserCookieManager.WBStoreId))</a></li>
                                </ul>

                            </li>

                        </ul>
                    </div>
                }
                <div class="clearBoth">
                    &nbsp;
                </div>
            }
        </div>
    </div>
</div>
