@model  MPC.Webstore.Models.AccountViewModel

@{ Layout = null;}

<div id="loginpage" class="white-container-lightgrey-border  rounded_corners">
    <div class="sign_up_page_box NoPadding">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div id="lblSignWithSM" class="mainHeadingAveniorCheckout">Sign in using</div>
            <div class="clearBoth">&nbsp;</div>
            <div id="cntSocialLink" class="cntSignInWithSocialinks">
                <em id="emfacebook" class="emfb"></em>

 
        <input id="facebookbtn" type="button" value="Sign in with Facebook" class="connectWithfb" onclick="OpenNewWindow(1)" /><br />
    
                
                <script>
                    function OpenNewWindow(isFacebook) {
                        var w = 820;
                        var h = 560;
                        var left = (screen.width / 2) - (w / 2);
                        var top = (screen.height / 2) - (h / 2);
                        if (isFacebook == 1)
                            window.open("/Home/oAuth?id=1&isRegWithSM=0", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);
                        else
                            window.open("/Home/oAuth?id=0&isRegWithSM=0", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);
                        return false;
                    }
                </script>
                <em id="emtwtter" class="emTw"></em>
                <input id="twitterBtn" type="button" value="Sign in with Twitter" onclick="OpenNewWindow(0)" class="connectWithtwitter " />
                <br />
                <br />
                <div id="cntOrBottom">
                    -OR-
                </div>
            </div>
            <div id="cntOrRight" class="visible-lg visible-md hidden-sm hidden-xs">
                -OR-
            </div>
            <div class="clear">
                &nbsp;
            </div>
            <div class="mainHeadingAveniorCheckout">
                Sign in to CompanyName
            </div>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {

                <div id="MessageBox"></div>
                <div class="errorMesgLoginPage">
                    @ViewBag.Message<br/>
                    @Html.ValidationMessageFor(u => u.Email)<br/>
                    @Html.ValidationMessageFor(u => u.Password)
                </div>

                @Html.TextBoxFor(model => model.Email, new { id = "Email", @class = "txtBoxLoginPage txtEmailBox", @placeholder = "Email" })

                @Html.PasswordFor(model => model.Password, new { id = "Password", @class = "txtBoxLoginPage txtPassBox", @placeholder = "Password" }) <br />

                <br />
                <div id="cntStaySignedin">
                    @Html.CheckBoxFor(model => model.KeepMeLoggedIn, new { id = "rememberMe" })
                    <label for="rememberMe">Keep me logged in</label>
                </div>
            
                <div id="divBtnContainer" style="margin-top: 20px;">
                    <div class="divwidth">
                        <a class="forgetPassLink" id="lnkForgotPassword" href="/ForgotPassword">Forgot your Password?</a>
                    </div>
                    <div class="divwidthset">
                        <input id="cmdLogin" type="submit" class="start_creating_btn_Login rounded_corners5" value="Login" /><br />
                    </div>
                    <div class="clear">
                        &nbsp;
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <div class="containerRegisternow">
            <input type="button" class="SignUpButton rounded_corners5" onclick="location.href='/SignUp'" />
        </div>
        <div class="divDontHaveAccont rounded_corners5">
            <p id="lblRegistering" class="mainHeadingAveniorCheckout" style="font-size: 19px !important; margin-bottom: 0px !important;">By registering you are able to:</p>
            <div class="registering_item">
                <div class="tickImge">
                    &nbsp;
                </div>
                <p id="ltrlsaveurdesign" class="smallAveniorLogin">Save your designs</p>
            </div>
            <div class="registering_item">
                <div class="tickImge">
                    &nbsp;
                </div>
                <p id="ltrlviewtoh" class="smallAveniorLogin">View and track order history</p>
            </div>
            <div class="registering_item">
                <div class="tickImge">
                    &nbsp;
                </div>
                <p id="ltrlroq" class="smallAveniorLogin">Re-order quickly</p>
            </div>
            <div class="registering_item">
                <div class="tickImge">
                    &nbsp;
                </div>
                <p id="ltrlsubscribe2Nwzl" class="smallAveniorLogin">Subscribe to our Newsletters on new marketing products and services</p>
            </div>
            <div class="registering_item">
                <div class="tickImge">
                    &nbsp;
                </div>
                <p id="lblTitleRequestQuote" class="smallAveniorLogin">Request a quote</p>
            </div>
            <div class="registering_item">
                <div class="tickImge">
                    &nbsp;
                </div>
                <p id="ltrlNewVoucherPromo" class="smallAveniorLogin">Get latest Voucher promotions</p>
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
    <div class="clearBoth">
        &nbsp;
    </div>
</div>

<script>
    function updateSuccess(data) {
        if (data == "Success") {
            window.location.href = "/Home/Index";
        }
    }
    function showProgress(data) {
        alert();
    }
</script>