@model  MPC.Webstore.Models.AccountViewModel
@using MPC.Webstore.Common;
@using MPC.Models.Common;
@{
    Layout = null;
}

<div class="container content_area" id="Login_Page" >

    <div id="loginpage" class="white-container-lightgrey-border  rounded_corners">
        <div class="sign_up_page_box NoPadding">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                @if (ViewBag.ShowFacebookSignInLink == 1 || ViewBag.ShowTwitterSignInLink == 1)
                {
                   <div id="lblSignWithSM" class="custom_color_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsigninwithaccount", UserCookieManager.WBStoreId, "Sign in to ")) @ViewBag.CompanyName</div>
                    <br />
                

                    <div id="cntSocialLink" class="cntSignInWithSocialinks">
                        @if (ViewBag.ShowFacebookSignInLink == 1)
                        {
                            <em id="emfacebook" class="emfb"></em>


                        <input id="facebookbtn" type="button" value="@Html.Raw(Html.GetKeyValueFromResourceFile("signfb", UserCookieManager.WBStoreId, "Sign in with Facebook"))" class="connectWithfb" onclick="ShowSocialMediaPopUp(1)" /><br />
  
                        }
                        @if (ViewBag.ShowTwitterSignInLink == 1)
                        {
                            <em id="emtwtter" class="emTw"></em>
    <input id="twitterBtn" type="button" value="@Html.Raw(Html.GetKeyValueFromResourceFile("signtwitter", UserCookieManager.WBStoreId, "Sign in with Twitter"))" onclick=" ShowSocialMediaPopUp(0)" class="connectWithtwitter " />
                            <br />
                        }
                       
                        <br />
                        <div id="cntOrBottom">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("orrr", UserCookieManager.WBStoreId, "-OR-"))
                        </div>
                    </div>
    <div class="clear">
        &nbsp;
    </div>
                }
                
               
                <div id="login-heading-container" class="custom_color_heading">
                    @Html.Raw(Html.GetKeyValueFromResourceFile("lblSignIntoComapny", UserCookieManager.WBStoreId,"Sign In to")) @ViewBag.CompanyName
                </div>
                @using (Html.BeginForm())
                {         <br />
                    <div class="errorMesgLoginPage">
                        <div>@ViewBag.Message</div>
                        <div>@Html.ValidationMessageFor(u => u.Email)</div>
                        <div>@Html.ValidationMessageFor(u => u.Password)</div>
                    </div>
             
                    @Html.TextBoxFor(model => model.Email, new { id = "txtEmailId", @class = "txtBoxLoginPage txtEmailBox",  @value = "Email"})

                    @Html.PasswordFor(model => model.Password, new { id = "txtPasswordbox", @class = "txtBoxLoginPage txtPassBox", @placeholder = "Password", @onfocus = "ChangeType();", @onblur = "ChangeType();" }) <br />

                    if (UserCookieManager.WEBStoreMode == (int)StoreMode.Retail)
                    {
                        <div id="cntStaySignedin">
                            @Html.CheckBoxFor(model => model.KeepMeLoggedIn, new { id = "rememberMe" })
                            <label for="rememberMe">@Html.Raw(Html.GetKeyValueFromResourceFile("keepMe", UserCookieManager.WBStoreId, "Keep me signed in"))</label>
                        </div>
                    }


                    <div id="divBtnContainer" style="margin-top: 10px;">
                        <div class="divwidth">
                           &nbsp;
                        </div>
                        <div class="divwidthset">
                            <input id="cmdLogin" type="submit" class="start_creating_btn_Login rounded_corners5" value="@Html.Raw(Html.GetKeyValueFromResourceFile("loginnnnn", UserCookieManager.WBStoreId, "Login"))" onclick="ValidateUserCredentials(); " /><br />
                        </div>
                        <br />
                        <div class="clear divwidthset">
                            <a class="forgetPassLink" id="lnkForgotPassword" href="/ForgotPassword">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkForgotPassword", UserCookieManager.WBStoreId, "Forgot Password?"))</a>
                        </div>
@if (UserCookieManager.WEBStoreMode == (int)StoreMode.Retail)
{
    <div class="clear divwidthset">
        <a class="forgetPassLink link-sign-up" id="lnkForgotPassword" href="/SignUp">@Html.Raw(Html.GetKeyValueFromResourceFile("SignUplbl", UserCookieManager.WBStoreId, "Sign Up"))?</a>
    </div>
}
                      
                     
                    </div>
                    <input type="hidden" name="hfReturnURL" id="hfReturnURL" value="@ViewBag.ReturnURL" />
    <div class="clear">
        &nbsp;
    </div>
                }
           @if (UserCookieManager.WEBStoreMode == (int)StoreMode.Corp)
           {
            if (ViewBag.AllowRegisteration == 1)
            {
                <div class="hypNotRegistered">
                    <label id="lblNotStoreUser" style="font-size: 12px;">Not a @ViewBag.CompanyName user?</label>
                    <a class="forgetPassLink" id="lnkregistration" href="/SignUp">Sign up here</a>
                </div>
            }

           }
            </div>
        </div>
        @if (UserCookieManager.WEBStoreMode == (int)StoreMode.Retail)
        {
            <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
                
                   
                <div class="divDontHaveAccont rounded_corners5">
                    @*<p id="lblRegistering" class="custom_color_heading" style="font-size: 19px !important; margin-bottom: 0px !important;">Sign in to:</p>*@
                    <div class="registering_item">
                        <div class="tickImge">
                            &nbsp;
                        </div>
                        <p id="ltrlsaveurdesign" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsaveurdesign", UserCookieManager.WBStoreId, "Save your designs"))</p>
                    </div>
                    <div class="registering_item">
                        <div class="tickImge">
                            &nbsp;
                        </div>
                        <p id="ltrlviewtoh" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlviewtoh", UserCookieManager.WBStoreId, "View and track order history"))</p>
                    </div>
                    <div class="registering_item">
                        <div class="tickImge">
                            &nbsp;
                        </div>
                        <p id="ltrlroq" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("divreorderq", UserCookieManager.WBStoreId, "Re-order quickly"))</p>
                    </div>
                    <div class="registering_item">
                        <div class="tickImge">
                            &nbsp;
                        </div>
                        <p id="ltrlsubscribe2Nwzl" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("divsubs2newsl", UserCookieManager.WBStoreId, "Subscribe to our Newsletters "))</p>
                    </div>
                    <div class="registering_item">
                        <div class="tickImge">
                            &nbsp;
                        </div>
                        <p id="lblTitleRequestQuote" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("hlRequestQuote", UserCookieManager.WBStoreId, "Request a Quote"))</p>
                    </div>
                    <div class="registering_item">
                        <div class="tickImge">
                            &nbsp;
                        </div>
                        <p id="ltrlNewVoucherPromo" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlNewVoucherPromo", UserCookieManager.WBStoreId, "Get latest Voucher promotions"))</p>
                    </div>
                    <div class="clearBoth"></div>
                </div>
            </div>
        }
        
        <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
        <div id="welcome"></div>
        <div class="clearBoth">
            &nbsp;
        </div>
      
    </div>
</div>
   <script src="/Scripts/jquery-1.10.1.min.js"></script>
   
@Html.Raw(ViewBag.OauthErrorMessage)
  

    <script>
       
        $(document).ready(function () {
            $('#txtEmailId').val("Email");
            $('#Password').val('Password');
        });

        function ChangeType(){
            if ($('#txtPasswordbox').val() === 'Password') {
                $('#txtPasswordbox').attr("type", "password");
               
            }

            if ($('#txtPasswordbox').val() === '') {
                $('#txtPasswordbox').removeAttr("type");
                $('#txtPasswordbox').val('Password');
            } else {
                $('#txtPasswordbox').attr("type", "password");
            }
        }
        function updateSuccess(data) {
            if (data == "Success") {
                window.location.href = "/";
            }
        }

            $('#txtEmailId').focus(function() {
                if ($('#txtEmailId').val() === 'Email') {
                    $('#txtEmailId').val('');
                }
            });
            $('#txtEmailId').blur(function() {

                if ($('#txtEmailId').val() === '') {

                    $('#txtEmailId').val("Email");
                }
            });

            $('#txtPasswordbox').focus(function () {
                if ($('#txtPasswordbox').val() === 'Password') {
                    $('#txtPasswordbox').attr("type", "password");
                    $('#txtPasswordbox').val('');
                }
            });

            $('#txtPasswordbox').blur(function () {
                if ($('#txtPasswordbox').val() === '') {
                    $('#txtPasswordbox').removeAttr("type");
                    $('#txtPasswordbox').val('Password');
                } else {
                    $('#txtPasswordbox').attr("type", "password");
                }
            });

            function ShowSocialMediaPopUp(provider) {

                var w = 820;
                var h = 560;
                var left = (screen.width / 2) - (w / 2);
                var top = (screen.height / 2) - (h / 2);

                window.open("/oAuth/" + provider + "/0/@UserCookieManager.WBStoreId/@ViewBag.ReturnURL", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);
         
                return false;
            }
       
            function afterFacebookConnect() {
                FB.getLoginStatus(function (response) {
                    if (response.session) {
                        window.location = "/FacebookLogin/" +
                               response.session.access_token;
                    } else {
                        // user clicked Cancel
                    }
                });
            };
            $(document).ready(function () {
                if (document.getElementById('fb-root') != undefined) {
                    var e = document.createElement('script');
                    e.type = 'text/javascript';
                    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
                    e.async = true;
                    document.getElementById('fb-root').appendChild(e);
                }
            });

            function ValidateUserCredentials() {
                if ($('#txtEmailId').val() === 'Email' && $('#Password').val() === 'Password') {

                    return false;
                } else {
                    ShowLoader();
                    return true;
                }
            }
    </script>
