@using MPC.Webstore.Common
@{
   
}
<div id="btnSubscribeNewsletter" class="content_area_NewsLetter " >
    <div class="PnlSubscribeNewsletter container row">
        <div class="rounded_corners subscribe_sec" style="border: 2px solid #f3f3f3;
            ">
            <label id="lblOurNews" class="NewsLtrHeadingCS"></label>
            <div class="descriptionLetterCs ">
                <label id="Nwsdesc">@Html.Raw(Html.GetKeyValueFromResourceFile("NewsLetterDescription", UserCookieManager.WBStoreId, "Sign up to our newsletters, and you’ll get a wealth of business tips, inspirational ideas, exclusive special offers and discounts."))</label>
            </div>
            @using (Html.BeginForm())
                  {
                      <div class="NewsLtrTxtBxContCS ">
                          <input id="txtEmailbox" value="Enter email address..."
                                 class="txtSubscribe-Subscribe SubscribeTxtBoxCS" />

                          <input id="btnSendNews" onclick=" return ValidateSubscriberEmail(); " type="submit"
                                 class="btnSubscribe rounded_corners" value="Send" /><br />
                      </div>
                      <div class="NewsLtrErrDesCS">
                          <div class="NewsErrMesgCS">@ViewBag.Message</div>
                          <label id="errorMsg" class="NewsErrMesgCS"></label>
                      </div>
                  }
            <div class="clearBoth">
                &nbsp;
            </div>
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
    </div>

</div>
<script src="/Scripts/jquery-1.10.1.min.js"></script>
    <script type="text/javascript">


    $(document).ready(function () {
        $("#txtEmailbox").attr("placeholder", '@Html.Raw(Html.GetKeyValueFromResourceFile("EemailAdd", UserCookieManager.WBStoreId, "Enter email address..."))');

        var addEvent = function (elem, type, fn) {
            if (elem.addEventListener) elem.addEventListener(type, fn, false);
            else if (elem.attachEvent) elem.attachEvent('on' + type, fn);
        },
        textField = document.getElementById('txtEmailbox'),
        placeholder = '@Html.Raw(Html.GetKeyValueFromResourceFile("EemailAdd", UserCookieManager.WBStoreId, "Enter email address..."))';
            addEvent(textField, 'focus', function () {
                if (this.value === placeholder) this.value = '';
            });
            addEvent(textField, 'blur', function () {
                if (this.value === '') this.value = placeholder;
            });
        });


        $('#txtEmailbox').keydown(function (event) {
            if (event.keyCode == 13) {
                $('#btnSendNews').click();
                return false;
            }
        });



        function ValidateSubscriberEmail() {

            var email = $('#txtEmailbox').val().trim();
            if (ValidateEmail(email)) {
                $('#errorMsg').html('');
                return true;
            }
            else {
                return false;
            }
        }
        function ValidateEmail(email) {
            var isValid = true;
            if (email == '') {

                $('#errorMsg').css("display", "block");
                $('#errorMsg').html('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailreq", UserCookieManager.WBStoreId, "Email Id is required"))');
                isValid = false;
            }
            else {
                var re = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|edu|gov|mil|biz|info|mobi|name|aero|asia|jobs|museum)");
                if (!re.test(email)) {
                    $('#errorMsg').html('@Html.Raw(Html.GetKeyValueFromResourceFile("EemailAdd", UserCookieManager.WBStoreId, "Enter email address..."))');
                isValid = false;
            }
        }
        return isValid;
    }
    </script>

