

@using MPC.Webstore.WebGridExtension;
@using MPC.Webstore.Common;
@using MPC.Models.Common;
@{

    var grid = new WebGrid(source: ViewBag.OrderList, canSort: false, rowsPerPage: 13);

    grid.Pager(WebGridPagerModes.NextPrevious);
}
@{
    Layout = null;
}
<div class="content_area container" id="all-pendingOrder-pg">
    <div class="left_right_padding">
        <div class="col-md-12 col-lg-12 col-xs-12 ">
            <div class="signin_heading_div float_left_simple ">
                <label class="sign_in_heading" id="HistryBtn">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitlePendingOrder",UserCookieManager.WBStoreId,"Pending Orders For Approval"))</label>
            </div>
            <div class="dashBoardRetrunLink dashboard_heading_signin">
                <div class=" left_align">
                    <h1>
                        <a href="/Dashboard" class="left_align" title="Back to my dashboard" onclick="ShowLoader();">
                           @Html.Raw(Html.GetKeyValueFromResourceFile("BackToDashboardlbl", UserCookieManager.WBStoreId,"Back to my dashboard"))
                        </a>
                    </h1>
                    <div class="clearBoth"></div>
                </div>
            </div>
            <div class="clearBoth">
            </div>
        </div>

        <div class="col-md-12 col-lg-12 col-xs-12 ">
            <div class="Width100Percent">
                @*<div class="divSearchBar paddingBottom10px normalTextStyle rounded_corners">
                        <div class="heading_h8 cntFilteringCritariaLeft">

                        </div>
                    </div>*@
            </div>
            <div class="white_back_div rounded_corners PddingForGridContent">
                <div class="PadingTop textAlignLeft">

                    @*<label id="lblTxtOfRest" class="matchingTxtclass">@ViewBag.TotalOrders records found.</label>*@
                </div>
                <div class="Pad1020">
                    <div class="Width100Percent">
                        <div class="paddingBottom10px normalTextStyle">
                            <label id="lblMessage" class="matchingTxtclass">@TempData["Status"]</label>
                        </div>
                    </div>

                    <div class="ProductOrderContainer paddingForGridContainer">


                        @grid.Table(displayHeader: Convert.ToBoolean(TempData["HeaderStatus"]),
    htmlAttributes: new { id = "PendingOrderGrid" },
    tableStyle: "WebGridTableStyle",
    fillEmptyRows: false,
    headerStyle: "WebGridheader",
             rowStyle: "gridViewRowStyleForWebGrid",
             alternatingRowStyle: "gridViewRowStyleForWebGrid",
    columns: new[] {

    grid.Column("OrderCode",@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlOrderCode", UserCookieManager.WBStoreId, "Order Code")).ToString()),
    grid.Column("YourRef",@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlYourPoReference", UserCookieManager.WBStoreId, "Your PO reference")).ToString(),style:"hidden-xs"),
    grid.Column("SOrderDate",@Html.Raw(Html.GetKeyValueFromResourceFile("lblOrderDateHeadingTxt", UserCookieManager.WBStoreId, "Order Date")).ToString(),style:"hidden-xs "),
    grid.Column("SOrderDeliveryDate",@Html.Raw(Html.GetKeyValueFromResourceFile("lblDelivDateHeadingTxt", UserCookieManager.WBStoreId, "Estimated Delivery")).ToString(),style:"hidden-xs "),
    grid.Column("StatusName",@Html.Raw(Html.GetKeyValueFromResourceFile("gvlblstatusname", UserCookieManager.WBStoreId, "Status")).ToString(),style:"GridStatusColumnColor hidden-xs"),
    grid.Column("CustomerName",@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlOrderCreatedBy", UserCookieManager.WBStoreId, "Order Created By")).ToString()),
    grid.Column("Action(s)",format:@<text><input type="image" id="view" title="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlclicktoviewOrderDetails", UserCookieManager.WBStoreId, "Click to View Order Details")).ToString()" style="height: 28px; width: 28px;" src="Content/Images/view-order.png" class="rounded_corners" onclick="ViewOrder(@item.OrderID)" /><input type="image" id="view" title="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlclickToApproveOrder", UserCookieManager.WBStoreId, "Click to Approve Order")).ToString()" style="height: 28px; width: 28px;" src="Content/Images/accept.png" class="rounded_corners" onclick="ConfirmApprove(@item.OrderID)" /><input id="view" type="image" src="Content/Images/reject.png" title="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlClickToReject", UserCookieManager.WBStoreId, "click to Reject Order")).ToString()" style="height: 28px; width: 28px;" class="rounded_corners" onclick="ConfirmReject(@item.OrderID)" />
    </text>),

   }

            )


                        @if (Convert.ToInt32(ViewBag.TotalOrders) > 13)
                        {
                            <div id="footerr" class="pagination pagination-small pagination-right">
                                @WebGridExt.PagerList(grid, mode: WebGridPagerModes.All)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>

<div id="Vorder" class="popupInnerContainer rounded_corners" style="height: 530px; overflow-y:scroll; z-index:0; margin-top:10px; display:none;">
    <table border="0" width="100%" cellpadding="4" cellspacing="0" id="Mytable" style="background-color:#F6F6F7;">
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="3" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td class="textAlignRight" style="width: 90px">
                                    <span class="simpleTextBold" id="spnordernum">@Html.Raw(Html.GetKeyValueFromResourceFile("lblOrderNumHeadingTxt", UserCookieManager.WBStoreId,"Order Number")):</span>
                                </td>
                                <td class="textAlignLeft simpleText">
                                    @*<label id="lblOrderNumber" class="txtBold" />*@
                                    <span id="OrderCode" class="txtBold"></span>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="spnorderstatus">@Html.Raw(Html.GetKeyValueFromResourceFile("lblStatusHeadingTxt", UserCookieManager.WBStoreId,"Status")):</span>
                                </td>
                                <td class="textAlignLeft simpleText" style="width: 200px">
                                    @*<label id="lblOrderStatus" class="txtBold clrOrderDetail" />*@

                                    <span id="OrderStatus" class="txtBold clrOrderDetail"></span>

                                </td>
                            </tr>
                            <tr>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="spnorderdate">@Html.Raw(Html.GetKeyValueFromResourceFile("lblOrderDateHeadingTxt", UserCookieManager.WBStoreId, "Order Date")):</span>
                                </td>
                                <td class="textAlignLeft simpleText">
                                    @*<asp:label id="lblOrderDate" class="txtBold" />*@
                                    <span id="OrderDate" class="txtBold"></span>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                @*<td class="textAlignRight">
                                        <span class="simpleTextBold" id="spnClientStatus" >Status:</span>
                                    </td>*@

                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="spndileverydate">@Html.Raw(Html.GetKeyValueFromResourceFile("spndileverydate", UserCookieManager.WBStoreId, "Delivery Date:"))</span>
                                </td>
                                <td class="textAlignLeft simpleText">
                                    <label id="lblOrderDeliveryStartDate" class="txtBold marginTopforDate" />
                                    <span id="OrderDeliveryDate" class="txtBold"></span>
                                </td>

                                @*</td>*@
                            
                            <tr>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="Span1">@Html.Raw(Html.GetKeyValueFromResourceFile("spnplacedby", UserCookieManager.WBStoreId, "Placed by:"))</span>
                                </td>
                                <td class="textAlignLeft simpleText">
                                    @*<Label ID="lblPlacedBy"  Class="txtBold" />*@
                                    <span id="OrderPlaceBy" class="txtBold"></span>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                @*<td class="textAlignRight">
                                        <span class="simpleTextBold" id="spndileverydate">Delivery Date:</span>
                                    </td>
                                    <td class="textAlignLeft simpleText">
                                        @*<label id="lblOrderDeliveryStartDate" class="txtBold" />*@
                                @*<span id="OrderDeliveryDate" class="txtBold"></span>*@
                                @*</td>*@
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="cntPLOrderDetails">

                        <div id="GridTable"></div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table width="99%">
        <tbody>
            <tr id="PnalTotalBox">
                <td align="right">
                    <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText  height-140 margnLft">
                        <div class="product_detail_sup_padding" style="width:50%;float:left;">
                            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="2" style="height: 25px; text-align: left;">

                                            <label id="lblMainControlHeading" class="heading_small" style="margin-left:12px;">@Html.Raw(Html.GetKeyValueFromResourceFile("baddresss", UserCookieManager.WBStoreId, "Billing Address"))</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 33%">
                                            @*<span id="spnbillingname">Billing Name:</span>*@
                                        </td>
                                        <td style="width: 67%">

                                            <span id="BillingAddressName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrladdressline1">Address line 1:</span>*@
                                        </td>
                                        <td>

                                            <span id="BillingAddressline1"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrladdressline2">Address line 2:</span>*@
                                        </td>
                                        <td>
                                            <span id="BillingAddressline2"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlcity">City:</span>*@
                                        </td>
                                        <td>
                                            @*<label id="lblCity" class="txtBold">*@<span id="BillingAddressCity"></span>&nbsp;<span id="BillingAddressState"></span>&nbsp;<span id="BillingAddressCountryName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlstate">State:</span>*@
                                        </td>
                                        <td>
                                            <span id="BillingAddressState"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlzipcodeP">Zip Code / Post Code:</span>*@
                                        </td>
                                        <td>
                                            <span id="BillingAddressPostCode"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlcountry">Country:</span>*@
                                        </td>
                                        <td>
                                            <span id="BillingAddressCountryName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlcontactnum">Contact Number:</span>*@
                                        </td>
                                        <td>
                                            <label id="lblContactNumber" class="txtBold"><span id="BillingAddressContactNumber"></span></label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="product_detail_sup_padding" style="width:50%;float:left;">

                            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="2" style="height: 25px; text-align: left;">
                                            <label id="Label1" class="heading_small" style="margin-left:12px;">@Html.Raw(Html.GetKeyValueFromResourceFile("shippinadresss", UserCookieManager.WBStoreId,"Shipping Address"))</label>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 33%">
                                            @*<span id="spnshppingname">Shipping Name:</span>*@
                                        </td>
                                        <td style="width: 67%">
                                            @*@ViewBag.DeliveryAddress.AddressName*@<span id="DeliveryAddressName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnaddressline2nd">Address line 1:</span>*@
                                        </td>
                                        <td>
                                            @*@ViewBag.DeliveryAddress.Address1*@<span id="DeliveryAddressline1"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnaddressline2nd2">Address line 2:</span>*@
                                        </td>
                                        <td>
                                            @*@ViewBag.DeliveryAddress.Address2*@<span id="DeliveryAddressline2"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spncity2">City:</span>*@
                                        </td>
                                        <td>
                                            @*@ViewBag.DeliveryAddress.City*@<span id="DeliveryAddressCity"></span>&nbsp;<span id="DeliveryAddressState"></span>&nbsp;<span id="DeliveryAddressCountryName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnstate2">State:</span>*@
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnzipcoeP2">Zip Code / Post Code:</span>*@
                                        </td>
                                        <td>
                                            @*@ViewBag.DeliveryAddress.PostCode*@<span id="DeliveryAddressPost"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            @*@ViewBag.DeliveryAddress.Country.CountryName*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spncontactnum2">Contact Number:</span>*@
                                        </td>
                                        <td>
                                            @*@ViewBag.DeliveryAddress.ContactMobile*@<span id="DeliveryAddressContactNo"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="clearBoth">
                        </div>
                    </div>
                    <div class="clearBoth">
                    </div>
                </td>
                <td>
                    &nbsp;
                </td>
               @if (ViewBag.IsShowPrices == true)
               {
                <td align="right" valign="top">

                    <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText">
                        <div class="padding10">
                            <table border="0" cellpadding="3" cellspacing="0" width="200px">
                                <tr>
                                    <td align="left">
                                        <span id="spnsubtotal">
                                            @Html.Raw(Html.GetKeyValueFromResourceFile("spnsubtotal", UserCookieManager.WBStoreId, "Sub Total:"))
                                    </span>
                                </td>
                                <td>
                                    <label id="lblSubTotal"><span id="subtotal"></span></label>

                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 80%">
                                    <span id="spnDeliveryoptn">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrldelcost", UserCookieManager.WBStoreId, "Delivery Cost")):</span>
                                </td>
                                <td>
                                    <label id="lblDeliveryCost"><span id="DelCharge"></span></label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" style="width: 80%">
                                    <span id="spnvattotal">@Html.Raw(Html.GetKeyValueFromResourceFile("lblVatHeadingText", UserCookieManager.WBStoreId, "VAT")):</span>
                                </td>
                                <td>
                                    <label id="lblVatTotal"><span id="Vat"></span></label>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <span class="CartFonts" id="spngrndtotal">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlgrandtotal", UserCookieManager.WBStoreId, "Grand Total")):</span>
                                </td>
                                <td>

                                    <label class="CartFonts txtBold" id="lblGrandTotal"><span id="Grandtotal"></span></label>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </td>
               }
                

            </tr>
        </tbody>
    </table>
</div>


 
<script src="/Scripts/jquery-1.10.1.min.js"></script>
<link href="/Content/NewBootstrapClass.css" rel="stylesheet" />
<link href="/LightBox/Css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="Screen" />
<script src="/LightBox/Js/jquery.fancybox.pack.js"></script>
<script src="/LightBox/Js/jquery.fancybox.js"></script>
<script type="text/javascript">

        $(".fancybox").fancybox();
        $(document).ready(function () {

            $("#txtFromDate").datepicker();
            $("#txtToDate").datepicker();

        });

        var NewOrderID;
        var SaveFlag = false;

        function ViewOrder(orderId) {
            ShowLoader();
            $.ajax({
                type: "GET",
                url: "/webstoreapi/Order/GetData",
                contentType: "application/json",
                data: { orderID: orderId },
                async: true,
                success: function (response) {

                    $("#Grandtotal").text(response.GrossTotal);
                    $("#subtotal").text(response.SubTotal);
                    $("#Vat").text(response.VAT);

                    $("#OrderCode").text(response.OrderCode);
                    $("#OrderStatus").text(response.StatusName);
                    $("#OrderDate").text(response.OrderDateValue);
                    $("#OrderPlaceBy").text(response.PlacedBy + "" + '(' + response.CompanyName + ')');
                    $("#OrderDeliveryDate").text(response.DeliveryDateValue);
                    $("#DelCharge").text(response.DeliveryCostCharges);
                    $("#BillingAddressName").text(response.billingAddress.AddressName);
                    if (response.billingAddress.Address1 != null || response.billingAddress.Address1 != '') {
                        $("#BillingAddressline1").text(response.billingAddress.Address1);
                    }
                    if (response.billingAddress.Address2 == null) {

                        $("#BillingAddressline2").text('');
                    }
                    else { $("#BillingAddressline2").text(response.billingAddress.Address2); }
                    //if (response.billingAddress.Address2 != 'null') {
                    //    alert(response.billingAddress.Address2);
                    //    $("#BillingAddressline2").text(response.billingAddress.Address2);
                    //}
                    $("#BillingAddressCity").text(response.billingAddress.City);
                    // if ((response.billingAddress.State) != null) {

                    if (response.BillingState != '')
                    { $("#BillingAddressState").text(response.BillingState);}
                    //}
                    // if (response.billingAddress.Country!= null)
                    //{
                    if (response.BillingCountry!= '')
                    {
                        $("#BillingAddressCountryName").text(response.BillingCountry);
                    }

                    //}
                    $("#BillingAddressPostCode").text(response.billingAddress.PostCode);

                    $("#BillingAddressContactNumber").text(response.billingAddress.ContactMobile);

                    $("#DeliveryAddressName").text(response.shippingAddress.AddressName);

                    if (response.shippingAddress.Address1 == null)
                    {
                        $("#DeliveryAddressline1").text('');
                    }
                    else
                    {
                        $("#DeliveryAddressline1").text(response.shippingAddress.Address1);
                    }

                    if (response.shippingAddress.Address2 == null)
                    {
                        $("#DeliveryAddressline2").text('');
                    }
                    else
                    {
                        $("#DeliveryAddressline2").text(response.shippingAddress.Address2);
                    }

                    $("#DeliveryAddressCity").text(response.shippingAddress.City);
                    //  if (response.shippingAddress.State != null) {
                    if (response.ShippingState != '') {
                        $("#DeliveryAddressState").text(response.ShippingState);
                    }


                    $("#DeliveryAddressPost").text(response.shippingAddress.PostCode)
                    if (response.ShippingCountry != '') {
                        $("#DeliveryAddressCountryName").text(response.ShippingCountry);
                    }

                    $("#DeliveryAddressContactNo").text(response.shippingAddress.ContactMobile)
                    var GridItems = response.CartItemsList;
                    var InnerHtml = ""; //"<table cellspacing='10' cellpadding='7' style='width:100%;'><thead><tr class='gridViewRowStyleForViewOrderHeader'><th></th><th>Product Description</th><th>Quantity</th><th>Price</th><th>VAT</th><th>Total</th></tr></thead>";
                    if ('@ViewBag.IsShowPrices' == "True") {
                        InnerHtml = "<table cellspacing='10' cellpadding='7' style='width:100%;'><thead><tr class='gridViewRowStyleForViewOrderHeader'><th></th><th>Product Description</th><th>Quantity</th><th>Price</th><th>VAT</th><th>Total</th></tr></thead>";
                       
                    }
                    else {
                        InnerHtml = "<table cellspacing='10' cellpadding='7' style='width:100%;'><thead><tr class='gridViewRowStyleForViewOrderHeader'><th></th><th>Product Description</th><th>Quantity</th><th></th><th></th><th></th></tr></thead>";
                       
                    }
                    var otherAttachmentLink = "";
                    $.each(GridItems, function (i, IT) {
                        {
                            if (IT.OtherItemAttatchments != null) {

                                if (IT.OtherItemAttatchments.length > 1) {

                                    $(IT.OtherItemAttatchments).each(function (i, otherAttachVal) {

                                        if (otherAttachVal.FileName == IT.Attatchment._fileName) {
                                        } else {
                                            var OtherAttachFileName = otherAttachVal.FileName;
                                            while (OtherAttachFileName.indexOf(" ") > 0) {
                                                OtherAttachFileName = OtherAttachFileName.replace(" ", "%20");
                                            }

                                            var OtherfilePathOfAttachment = "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                            otherAttachmentLink = otherAttachmentLink.concat('<div class="gallery" style="display:none;"><a class="fancybox" rel="chimps" href=' + OtherfilePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"/></a></div>');
                                        }

                                    });
                                }
                            }




                            var AttachFileName = IT.Attatchment._fileName;

                            if (AttachFileName != "" && AttachFileName != null) {
                                while (AttachFileName.indexOf(" ") > 0) {
                                    AttachFileName = AttachFileName.replace(" ", "%20");
                                }
                            }

                            //InnerHtml += '<tr>';
                            var filePathOfAttachment = "/" + IT.Attatchment._folderPath + "/" + AttachFileName + "Thumb.png";

                            var proFriendlyName = "";
                            if (IT.ProductFriendlyName != "") {
                                proFriendlyName = IT.ProductFriendlyName;
                            } else {
                                proFriendlyName = IT.ProductName;
                            }

                            if ('@ViewBag.IsShowPrices' == "True")
                            {
                                
                                InnerHtml = InnerHtml.concat('<tr class="gridViewRowStyle"><td><div class="gallery"><a class="fancybox" rel="chimps" href=' + filePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"/></a></div></td> <td><label id="Productname">', proFriendlyName, '</label></td> <td><label id="Qty">', IT.Qty1, '</label></td> <td><label id="Price">', response.CurrencySymbol + "" + parseFloat(IT.Qty1BaseCharge1).toFixed(2), '</label></td> <td><label id="VAT">', response.CurrencySymbol + "" + parseFloat(IT.Qty1Tax1Value).toFixed(2), '</label></td><td><label id="Total">', response.CurrencySymbol + "" + parseFloat(IT.Qty1GrossTotal).toFixed(2), '</label></td></tr>');
                               
                            }
                            else
                            {
                                
                                InnerHtml = InnerHtml.concat('<tr class="gridViewRowStyle"><td><div class="gallery"><a class="fancybox" rel="chimps" href=' + filePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"/></a></div></td> <td><label id="Productname">', proFriendlyName, '</label></td> <td><label id="Qty">', IT.Qty1, '</label></td> <td><label id="Price">', '', '</label></td> <td><label id="VAT">', "", '</label></td><td><label id="Total">', "", '</label></td></tr>');
                              
                            }
                            
                        }
                    });
                    InnerHtml += '</table>' + otherAttachmentLink;
                    $("#GridTable").html(InnerHtml);
                    var panelHtml = $("#Vorder").html();
                    console.log(panelHtml);
                    ViewOrderPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlvieworder", UserCookieManager.WBStoreId, "View Order"))', panelHtml);
                }

            });

        }
        function ShowImage(ImagePath)
        {
            alert(ImagePath);
        }
        function ConfirmApprove(OrderID)
        {
            ConfirmPopUpForApprove();
            NewOrderID = OrderID;
           
        }
        function ConfirmReject(OrderID)
        {
            ConfirmPopUpForReject();
            NewOrderID = OrderID;
        }
        function OrderApprove(OrderID,Po)
        {
            var data={ OrderID: OrderID, PO: Po}
            $.ajax({
                type: "POST",
                url: "/ProductPendingOrders/Save",
                contentType: "application/json",
                data: JSON.stringify(data),
                async: true,
                success: function (response) {
                    window.location.href = "/ProductPendingOrders";
                }
            });
            HideLoader();
        }

        //$("#ApproveOk").on('Click',function(){

        //    SaveFlag=true;

        //    ShowPopUpForConfirmApprove();
        //});

        function Show()
        {
            OrderApprove(NewOrderID, "");
            //ShowPopUpForConfirmApprove();
        }
        function oKApproveOrder()
        {
            var Po = $("#MyPoNo").val();

            OrderApprove(NewOrderID, Po);
        }
        function RejectOrder()
        {
            var data = {OrderID: NewOrderID }
            $.ajax({
                type: "POST",
                url: "/ProductPendingOrders/ApporRejectOrder",
                contentType: "application/json",
                data: JSON.stringify(data),
                async: true,
                success: function (response) {
                    window.location.href = "/ProductPendingOrders";
                }
            });
            HideLoader();
        }
    </script>

