@model MPC.Models.DomainModels.Item
@using MPC.Models.Common;
@using MPC.Models.DomainModels;
@using System.Linq;
@using MPC.Webstore.ViewModels;
@using MPC.Webstore.Common;
@{
    string templateCountLabel = string.Empty;
    string replaceWith = "</br>";
    List<ItemStockOption> stockOptions = new List<ItemStockOption>();

    string htmlVal = string.Empty;
    string lblTaxLabel = string.Empty;
    stockOptions = ViewData["Stocks"] as List<ItemStockOption>;

}
@{
    Layout = null;
}
@Styles.Render("~/Content/js-image-slider-detail")

@section metatags
		{
    @if (ViewBag.MetaTitle != null)
    {
        <meta name="title" content="@ViewBag.MetaTitle" />


    }
    @if (ViewBag.MetaDescription != null)
    {
        <meta name="description" content="@ViewBag.MetaDescription" />

    }

    @if (ViewBag.MetaKeywords != null)
    {
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
    }
}
<link href="~/Content/jquery.rating.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="container content_area" id="all-productDetail-pg">


        <div class="left_right_padding">
            @*Bread crumb menu will be here*@
            <div class="BreadCrumbMenu left_align col-xs-12">


                <h1>

                    <a id="aLinkItem" href="@ViewBag.CategoryHRef" class="crumb_notActive left_align">
                        @ViewBag.CategoryName
                    </a>
                    <label id="lblVerticalLine" class="crumb_notActive">&nbsp;&nbsp;&raquo;&nbsp;&nbsp;</label>
                    <a id="aLinkItem" href="#" class="crumb_Active left_align">
                        @Model.ProductName
                    </a>


                </h1>
                <div class="clearBoth"></div>
            </div>
            <div class=" rounded_corners PDContainer">

                <div id="SliderContainer" class="row productdetailSliderContainer rounded_corners bkWhite">

                    <div class=" col-md-3 col-lg-3 col-xs-12 col-sm-4 productdetailBannerleftPanel">
                        <div class="productDetailPageHeading">
                            <label id="lblProducName">@Model.ProductName</label>
                        </div>
                        @if (Model.ProductType == (int)ProductType.PrintProduct)
                        {
                            <div class="divBottomBtns">

                                @if (ViewBag.TemplateID > 0)
                                {
                                    <div id="divFaourites" class="">
                                       
                                                <input id="btnEditThisDesign" value="Design Now" type="button"
                                                       class="start_creating_btn_prodDetail_orng  rounded_corners5 padding0imp" onclick="return OpenDesigner(0);" />
                                        @if (Model.IsUploadImage == true)
                                        {

                                        <a href="@ViewBag.btnUploadDesignPath">
                                            <input id="btnUploadDesign" value="@Html.Raw(Html.GetKeyValueFromResourceFile("lnkUploadfilesprices", UserCookieManager.WBStoreId, "Upload your design"))" type="button"
                                                   class="btn_upload_design_Prod_details background-green rounded_corners5 padding0imp" />
                                        </a>

                                        }
                                       
                                        <div class="clear">
                                        </div>
                                    </div>

                                    
                                }
                                else
                                {
                                    @*<a href="@Url.Action("CloneItem", "Category", new { id = Model.ItemId })" onclick="ShowLoader();">*@
                                    <input id="btnEditThisDesign" value="Design Now" type="button"
                                           class="start_creating_btn_prodDetail_orng  rounded_corners5 padding0imp" onclick="return OpenDesigner(-1);" />
                                    @*</a>*@
                                    if (Model.IsUploadImage == true)
                                    {

                                        <a href="@ViewBag.btnUploadDesignPath">
                                            <input id="btnUploadDesign" value="@Html.Raw(Html.GetKeyValueFromResourceFile("lnkUploadfilesprices", UserCookieManager.WBStoreId, "Upload your design"))" type="button"
                                                   class="btn_upload_design_Prod_details background-green rounded_corners5 padding0imp" />
                                        </a>

                                    }
                                }


                            </div>
                        }
                        else
                        {
                            <div id="finishedGoodSpecs" class="box_specFinisedGood">
                                <div class="mrginBtm">
                                    <label id="lbl_Specifications" class="marginall5 ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlOpt1", UserCookieManager.WBStoreId, "Specification"))</label>
                                </div>
                                <label id="lblCategoryCode2" class="marginall5">@ViewBag.lblCategoryCode2</label>
                                <br />
                                <p class="marginall5">
                                    <label id="ltrlCatDesc2">@Html.Raw(ViewBag.ltrlCatDesc2)</label>
                                </p>
                                <br />
                                @if (ViewData["CostCentersList"] != null)
                                {
                                    <label id="lbl_RefiningOptions" class="marginall5 ProductDetailH2">
                                        @Html.Raw(Html.GetKeyValueFromResourceFile("lblRefinngOpt", UserCookieManager.WBStoreId, "Refining Options"))
                                    </label>
                                }
                                <div class="marginall5 ProductDetailRefOptions">
                                    @*<asp:BulletedList ID="BulletedListExtras2" runat="server" CssClass="ProductDetailRefOptionsUL">
                                        </asp:BulletedList>*@
                                    @if (ViewData["CostCentersList"] != null)
                                    {
                                        <ul class="ProductDetailRefOptionsUL">
                                            @foreach (var cost in ViewData["CostCentersList"] as List<string>)
                                            {
                                                <li>
                                                    @cost
                                                </li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.ProductType == (int)ProductType.NonPrintProduct)
                        {
                            if (Model.IsUploadImage == true)
                            {
                                
                                    <a href="@ViewBag.btnUploadDesignPath">
                                        <input id="btnUploadDesign" value="@Html.Raw(Html.GetKeyValueFromResourceFile("lnkUploadfilesprices", UserCookieManager.WBStoreId, "Upload your design"))" type="button"
                                               class="btn_upload_design_Prod_details background-green rounded_corners5 padding0imp" />
                                    </a>

                            }
                            else
                            {
                                <a href="@ViewBag.btnUploadDesignPath">
                                    <input id="btnUploadDesign" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrladdtocart", UserCookieManager.WBStoreId, "Add to Cart"))" type="button"
                                           class="btn_upload_design_Prod_details background-green rounded_corners5 padding0imp" />
                                </a>
                            }
                        }
                        else if (Model.ProductType == (int)ProductType.MarketingBrief)
                        {
                            if (ViewBag.IsUserLogin == 1) // check if user login or not ??
                            {
                                <a href="/MarketingBrief/@Model.ProductName/@Model.ItemId/@ViewBag.hfCategoryId" onclick="ShowLoader();">
                                    <input id="btnBrief" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnMarketingbrief", UserCookieManager.WBStoreId, "Submit Inquiry"))" type="button"
                                           class="MB_SendINqBtn rounded_corners5 padding0imp" />
                                </a>
                            }
                            else
                            {
                                <a onclick="ShowPopUpMarketingBrief('Message', 'To submit a marketing brief please login or register.','@Model.ProductName','@Model.ItemId','@ViewBag.hfCategoryId');">

                                    <input id="btnBrief" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnMarketingbrief", UserCookieManager.WBStoreId, "Submit Inquiry"))" type="button"
                                           class="MB_SendINqBtn rounded_corners5 padding0imp" />
                                </a>
                            }

                        }


                        @{
    if (Model.IsStockControl == true)
    {
        ItemStockControl ObjStockControl = new ItemStockControl();
        ObjStockControl = ViewData["StockControl"] as ItemStockControl;
        string InStockValue = string.Empty;
        if (ObjStockControl != null)
        {
            if (ObjStockControl.InStock == 0 || ObjStockControl.InStock < 0)
            {
                <div id="ContainerInStock" style="color:white;background-color:red;" class="InStockContainer">
                    @{
                if (ObjStockControl.isAllowBackOrder ?? false) // back ordering allowed
                {

                    // InStockValue = Resources.MyResource.lblBackOrder;
                    InStockValue = "Out of Stock Back Ordering Allowed";
                }
                else
                {// no stock
                    //  InStockValue = Resources.MyResource.lblItemOutOfStock;

                    InStockValue = "Out of Stock";
                }
                    }
                    <label id="InStockValue">@InStockValue</label>
                </div>
            }
            else
            {
                <div id="ContainerInStock" style="color:black;background-color:#f3f3f3;" class="InStockContainer">
                    @{
                //InStockValue = Resources.MyResource.lblitemInStock + ObjStockControl.InStock;
                InStockValue = "Items in Stock : " + ObjStockControl.InStock;                                                }
                    <label id="InStockValue">@InStockValue</label>
                </div>
            }
        }
    }


                        }

                    </div>
                    @if (ViewBag.IsTemplateProductWithBanner == true)
                    {
                        <div id="bannnerContainer">
                            <img id="templBannerImg" class="product-detail-banner-slider" src="/@ViewBag.TempBannerImgURL" style="" />
                        </div>
                    }
                    else
                    {
                        <div class=" col-md-9 col-lg-9 col-xs-12 col-sm-4 product_detail_Img_div">

                            <div id="divImgTabs" class="height490">

                                @Html.Raw(ViewBag.Html)
                            </div>
                            <div class="clearBoth">
                            </div>
                        </div>
                    }

                    @if (ViewBag.IsTemplateProductWithBanner == false)
                    {
                        if (Model.ProductType == (int)ProductType.PrintProduct)
                        {

                            <div id="ProductrightContainter" class="col-md-2 col-lg-3 col-xs-12 col-sm-4 deatilTemplateInfocnt">
                                <label id="lbl_TemplateName">@Html.Raw(Html.GetKeyValueFromResourceFile("templateName", UserCookieManager.WBStoreId))</label><br />
                                <label id="lblTemplateName">@ViewBag.TemplateName</label><br />
                                <br />

                                <div title="" class="ui-rating">
                                    <a class="ui-rating-star ui-rating-empty 4 3 2 1 0" title="Template Rating "></a>
                                    <a class="ui-rating-star ui-rating-empty 4 3 2 1" title="Template Rating "></a>
                                    <a class="ui-rating-star ui-rating-empty 4 3 2" title="Template Rating"></a>
                                    <a class="ui-rating-star ui-rating-empty 4 3" title="Template Rating"></a>
                                    <a class="ui-rating-star ui-rating-empty 4" title="Template Rating"></a>
                                </div>
                                @if (ViewBag.IsFavoriteDesign == true)
                                {
                                    <div id="divFavoriteInd" class="active_star margin0-sm" title="Click to Remove Favorite">
                                        &nbsp;
                                    </div>
                                    <p class="spanMarkCount spanFavouriteItem margin0-sm" id="lbl_UnMark_Favourite">
                                        @Html.Raw(Html.GetKeyValueFromResourceFile("lblUnMarkFavourite", UserCookieManager.WBStoreId))
                                    </p>
                                }
                                else
                                {
                                    <div id="divFavoriteInd" class="passive_star margin0-sm" title="Click to Add as Favorite">
                                        &nbsp;
                                    </div>

                                    <p class="spanMarkCount spanFavouriteItem margin0-sm" id="lbl_Mark_Favourite">
                                        @Html.Raw(Html.GetKeyValueFromResourceFile("lblMarkFavourite", UserCookieManager.WBStoreId))
                                    </p>

                                }

                                @if (ViewBag.TemplateID > 0)
                                {
                                    if (Model.ProductType == (int)ProductType.PrintProduct)
                                    {
                                        <div class="font11px" id="divLetUsDes" style="margin-top: 30px;">
                                            <br />
                                            <label id="lbl_LetsDesign" class="product_detail_sub_heading colorBlack">@Html.Raw(Html.GetKeyValueFromResourceFile("lblpopIn", UserCookieManager.WBStoreId))</label><br />
                                            <label id="lbl_LetsDesign_Message">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlSeendesignn", UserCookieManager.WBStoreId))</label>
                                            <br />
                                            <br />
                                        </div>
                                    }
                                }

                            </div>
                        }
                    }

                    <div class="clearBoth">
                    </div>

                </div>
            </div>
            <div class="clearBoth" style="margin-bottom: 10px;">
                &nbsp;
            </div>
            <div class="row">
                <div class="product_detail_main_heading paddingBottom10">
                    <label id="lblCategoryMainHeading">@ViewBag.blCategoryMainHeading</label>
                </div>
                <div class=" rounded_corners Background-sm  col-md-4 col-lg-4 col-xs-12 ProductDetailGrayBoxLeft">
                    @if (Model.ProductType == (int)ProductType.PrintProduct)
                    {
                        <div id="templateGoodSpecs" class="Background-lg">

                            <div class="box_catCode">
                                <div class="mrginBtm">
                                    <label id="lbl_Specifications" class="marginall5 ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlOpt1", UserCookieManager.WBStoreId))</label>
                                </div>
                                <label id="lblCategoryCode" class="marginall5">@ViewBag.lblCategoryCode</label>
                                <br />
                                <p class="marginall5" style="width: 285px;">
                                    <label id="lblCatDes">@Html.Raw(ViewBag.lblCatDes)</label>
                                </p>
                                <br />
                                @if (ViewData["CostCentersList"] != null)
                                {
                                    <label id="lbl_RefiningOptions" class="marginall5 ProductDetailH2">
                                        @Html.Raw(Html.GetKeyValueFromResourceFile("lblRefinngOpt", UserCookieManager.WBStoreId))
                                    </label>
                                }
                                <div class="marginall5 ProductDetailRefOptions">
                                    @*<asp:BulletedList ID="BulletedListExtras" runat="server" CssClass="ProductDetailRefOptionsUL">
                                        </asp:BulletedList>*@
                                    @if (ViewData["CostCentersList"] != null)
                                    {
                                        <ul class="ProductDetailRefOptionsUL">
                                            @foreach (var cost in ViewData["CostCentersList"] as List<string>)
                                            {
                                                <li>
                                                    @cost
                                                </li>
                                            }
                                        </ul>

                                    }

                                </div>
                            </div>
                            <div class="box_prodPrice">
                                @if (ViewBag.IsShowPrices == true)
                                {
                                    <div id="PriceCircle" class="blue_cicle_container" runat="server">
                                        <div class="productNewClasscircle">
                                            <div class="all_padding3">
                                                <div class="paddingTop2px">
                                                    &nbsp;
                                                </div>
                                                <label id="lbl_From">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlfrom", UserCookieManager.WBStoreId))</label>
                                                <br />
                                                <label id="lblFromMinPrice" style="font-weight:bold;font-size:16px;">@ViewBag.lblFromMinPrice</label>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class=" clear">
                            </div>
                        </div>
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.TipsAndHints))
                        {
                            <div id="handyInfoFinisedGood" class="white_background rounded_corners" style="padding: 10px;">
                                <label id="lbl_HandyInformation" class="ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("btnIdeas", UserCookieManager.WBStoreId, "Additional Information"))</label>
                                <div class="rounded_corners paddingLeft10px paddingBottom10px handyInfocnt">
                                    <br />
                                    <label id="lblHintsandTips2" class="show_as_it_is">@Model.TipsAndHints</label>
                                </div>
                            </div>
                        }
                    }
                </div>
                <input type="hidden" id="txtIsQuantityRanged" value="@ViewBag.txtIsQuantityRanged" />
                <div class="col-md-7 col-lg-7 col-xs-12 ProductDetailGrayBoxRight" style="padding: 0px !important;">

                    <div style="margin-bottom: 10px;"
                         class="float_left_simple rounded_corners cntwidthProductDetailOnlinePrice cntBackgorndPD cntProductDetailWidth">

                        <div class="prodWhiteBack">
                            @if (ViewBag.IsShowPrices == true && Model.ProductType != (int)ProductType.MarketingBrief)
                            {
                                <div id="PricingTblDiv">
                                    <table width="100%">
                                        <tr>
                                            <td valign="top" class="width45p">
                                                <div class="mrginBtm" style="text-align:left;">
                                                    <label id="lbl_Product_SelectOption" class="ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("lblProdSelectOption", UserCookieManager.WBStoreId))</label>
                                                </div>

                                                <table class="cntwidthProductDetailOnlinePrice" cellpadding="5" cellspacing="0">




                                                    @if (stockOptions != null && stockOptions.Count > 0)
                                                    {
                                                        <tr>
                                                            <td class="product_detail_HeaderCell procu_detail_grid_cell wdthWrp" id="lbl_Quantity">
                                                                @Html.Raw(Html.GetKeyValueFromResourceFile("lblQuantity", UserCookieManager.WBStoreId, "Quantity"))
                                                            </td>

                                                            @foreach (var stock in stockOptions)
                                                            {

                                                                <td class="product_detail_HeaderCell procu_detail_grid_cell wdthWrp"
                                                                    style="text-align: right;">
                                                                    <span id="lblHeaderText1">@stock.StockLabel</span>
                                                                </td>
                                                            }


                                                        </tr>


                                                    }



                                                    @foreach (var ObjPriceMatrix in ViewData["PriceMatrix"] as List<ItemPriceMatrix>)
                                                    {

                                                        <tr>
                                                            <td class="product_detail_item_cell procu_detail_grid_cell">
                                                                <input type="hidden" id="txtHiddenPriceMatrixID" value='@ObjPriceMatrix.PriceMatrixId' />

                                                                @if (ViewBag.txtIsQuantityRanged == "false")
                                                                {
                                                                    <span id="spanFixedQuantity">
                                                                        @ObjPriceMatrix.Quantity
                                                                    </span>
                                                                }
                                                                else
                                                                {
                                                                    <span id="spanRangedQuantity">
                                                                        @ObjPriceMatrix.QtyRangeFrom
                                                                        -
                                                                        @ObjPriceMatrix.QtyRangeTo
                                                                    </span>
                                                                }

                                                            </td>

                                                            @if (stockOptions.Count > 0)
                                                            {
                                                                <td id="td1" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn1">
                                                                        <span id='Matt_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PricePaperType1'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PricePaperType1.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }

                                                            @if (stockOptions.Count > 1)
                                                            {
                                                                <td id="td2" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn2">
                                                                        <span id='Glossy_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PricePaperType2'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PricePaperType2.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }

                                                            @if (stockOptions.Count > 2)
                                                            {
                                                                <td id="td3" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn3">
                                                                        <span id='PremiumMatt_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PricePaperType3'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PricePaperType3.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }
                                                            @if (stockOptions.Count > 3)
                                                            {
                                                                <td id="td4" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn4" class="Stock4PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='4_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType4'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType4.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }
                                                            @if (stockOptions.Count > 4)
                                                            {
                                                                <td id="td5" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn5" class="Stock5PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='5_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType5'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType5.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>

                                                            }

                                                            @if (stockOptions.Count > 5)
                                                            {
                                                                <td id="td6" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn6" class="Stock6PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='6_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType6'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType6.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }

                                                            @if (stockOptions.Count > 6)
                                                            {
                                                                <td id="td7" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn7" class="Stock7PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='7_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType7'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType7.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }

                                                            @if (stockOptions.Count > 7)
                                                            {
                                                                <td id="td8" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn8" class="Stock8PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='8_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType8'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType8.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }
                                                            @if (stockOptions.Count > 8)
                                                            {
                                                                <td id="td9" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn9" class="Stock9PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='9_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType9'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType9.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }
                                                            @if (stockOptions.Count > 9)
                                                            {
                                                                <td id="td10" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn10" class="Stock10PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='10_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType10'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType10.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }
                                                            @if (stockOptions.Count > 10)
                                                            {
                                                                <td id="td11" class="product_detail_item_cell procu_detail_grid_cell"
                                                                    style="text-align: right;">
                                                                    <div id="matrixItemColumn11" class="Stock11PriceMatrixColumn tblBorderTdWidth extra_pricing divtxtflt">
                                                                        <span id='11_PriceMatrixID_@ObjPriceMatrix.PriceMatrixId' title='@ObjPriceMatrix.PriceStockType11'>
                                                                            @ViewBag.Currency@MPC.Webstore.Common.Utils.FormatValueToTwoDecimal(ObjPriceMatrix.PriceStockType11.ToString())
                                                                        </span>
                                                                    </div>
                                                                </td>
                                                            }
                                                        </tr>
                                                    }

                                                </table>
                                                <div class="product_detail_note">

                                                    <label id="lblTaxLabel" class="lblTxtProdDet">@ViewBag.VATLabel</label>
                                                </div>
                                                <div class="clearBoth">
                                                    &nbsp;
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }

                        </div>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.ProductSpecification))
                    {

                        <div id="SpecCont" style="margin-bottom: 10px;"
                             class="cntProductDetailWidth cntwidthProductDetailDesc float_left_simple rounded_corners cntBackgorndPD">

                            <div class="whitebackground">

                                <label id="lbl_Product_Description" class="ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("lblProdDescHeadingText", UserCookieManager.WBStoreId, "Product Description"))</label>
                                <div class="displayBlock rounded_corners paddingLeft10px paddingBottom10px productHandyDesc">

                                    <label id="lblProductSpecifications" class="show_as_it_is">@Model.ProductSpecification</label>
                                    <br />
                                </div>
                            </div>
                        </div>

                    }
                    @if (!string.IsNullOrEmpty(Model.TipsAndHints))
                    {

                        <div id="HintTipsCont" style="margin-bottom: 10px;"
                             class="cntProductDetailWidth float_left_simple rounded_corners cntwidthProductDetailDesc cntBackgorndPD">

                            <div class="whitebackground">

                                <label id="lbl_HandyInformation" class="ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("btnIdeas", UserCookieManager.WBStoreId, "Additional Information"))</label>
                                <div class="rounded_corners paddingLeft10px paddingBottom10px productHandyDesc">

                                    <label id="lblHintsandTips" class="show_as_it_is">@Model.TipsAndHints</label>
                                </div>
                            </div>
                        </div>

                    }


                    @if (!string.IsNullOrEmpty(Model.GridImage) || !string.IsNullOrEmpty(Model.File1) || !string.IsNullOrEmpty(Model.File2) || !string.IsNullOrEmpty(Model.File3) || !string.IsNullOrEmpty(Model.File4))
                    {
                        <div id="LyoutGridCont"
                             class="cntProductDetailWidth handyInfocnt float_left_simple cntwidthProductDetailDesc rounded_corners">

                            <div class="whitebackground">

                                <label id="lbl_KeyFeatures" class="ProductDetailH2">@Html.Raw(Html.GetKeyValueFromResourceFile("btnLayoutGrid", UserCookieManager.WBStoreId, "Key Features"))</label>
                                <div class="rounded_corners paddingLeft10px paddingBottom10px productHandyDesc">
                                    @*<br />
                                        <label id="lblDescriptionOfLayout" class="show_as_it_is">@Model.LayoutGridContent.Replace("\r\n", "</br>").Replace("\n", "</br>").Replace("\r", "</br>");</label>
                                        <br />
                                        <br />*@
                                    <div class="float_left_simple">
                                        @if (!string.IsNullOrEmpty(Model.GridImage))
                                        {
                                            <img id="GridImg" class="ImageHW" src="/@Model.GridImage" />
                                        }

                                    </div>
                                    <div class="float_left_simple MLftTop">
                                        @if (!string.IsNullOrEmpty(Model.File1))
                                        {


                                            <a id="IcoPhotoshop" href="/@Model.File1" target="_blank" class="DownloadImages">
                                                <img src="@ViewBag.File1Url" />
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.File2))
                                        {


                                            <a id="IcoIllustrator" href="/@Model.File2" target="_blank" class="DownloadImages">
                                                <img src="@ViewBag.File2Url" />
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.File3))
                                        {




                                            <a id="Icoindesign" href="/@Model.File3" target="_blank" class="DownloadImages">
                                                <img src="@ViewBag.File3Url" />
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.File4))
                                        {


                                            <a id="IcoPdf" href="/@Model.File4" target="_blank" class="DownloadImages">
                                                <img src="@ViewBag.File4Url" />
                                            </a>
                                        }
                                        @if (!string.IsNullOrEmpty(Model.File5))
                                        {

                                            <a id="IcoPdf" href="/@Model.File5" target="_blank" class="DownloadImages">
                                                <img src="@ViewBag.File4Url" />
                                            </a>
                                        }


                                    </div>
                                    <div class="clearBoth">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewData["ItemVideo"] != null)
                    {
                        <div id="LyoutGridCont"
                             class="cntProductDetailWidth handyInfocnt float_left_simple cntwidthProductDetailDesc rounded_corners">

                            <div class="whitebackground">

                                <label id="lbl_KeyFeatures" class="ProductDetailH2">Video(s)</label>
                                @foreach (var videoLink in ViewData["ItemVideo"] as List<MPC.Models.DomainModels.ItemVideo>)
                                {
                                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 paddingLeft10px paddingBottom10px ">

                                        @*<iframe width="100%"
                                                height="315"
                                                src="@videoLink.VideoLink"
                                                frameborder="0"
                                                allowfullscreen></iframe>*@
                                        @Html.Raw(videoLink.VideoLink)
                                    </div>
                                }

                            </div>
                        </div>
                    }

                </div>
                <div class="clearBoth">

                </div>

                @if (UserCookieManager.WEBStoreMode != (int)StoreMode.Corp)
                {

                    // call matching set partial view to show matching sets
                    MatchingSetViewModel MSViewModel = new MatchingSetViewModel();

                    MSViewModel = ViewData["MSViewModel"] as MatchingSetViewModel;
                    if (MSViewModel != null)
                    {
                        @Html.Partial("PartialViews/MatchingSet", MSViewModel);
                    }



                    // call related items to show lists of related items
                    RelatedItemViewModel RIViewModel = new RelatedItemViewModel();
                    RIViewModel = ViewData["RIViewModel"] as RelatedItemViewModel;
                    if (RIViewModel != null)
                    {
                        @Html.Partial("PartialViews/RelatedItems", RIViewModel);
                    }
                    else
                    {
                        <label id="lbl_RelatedItems" class="errorMsgClss">@Html.Raw(Html.GetKeyValueFromResourceFile("lblRelatedItems", UserCookieManager.WBStoreId))</label>
                    }
                }
            </div>
        </div>
        <div class="clearBoth">

        </div>
        <div class="rounded_corners">
            <div class="product_detail_sup_padding">
                <div id="tabs" class="float_left_simple width93per" style="text-align: left !important;">
                    <ul class="MLeft40 MBtm marginbtm5Imp" style="display: none;">
                        <li id="lbl_HowToVideo" clientidmode="Predictable" class="width84per ui-state-default ui-corner-top PaddingtopCentreAlign" onclick="tabify('tabs4','MainContent_btnHowToVideo')">@Html.Raw(Html.GetKeyValueFromResourceFile("lblHowToVideo", UserCookieManager.WBStoreId, "How To Video"))</li>
                        <li id="lbl_MatchingSets" clientidmode="Predictable" class="width84per ui-state-default ui-corner-top " onclick="tabify('tabs5','MainContent_btnMatchingSets')">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlmatchingset", UserCookieManager.WBStoreId, "Matching Sets"))</li>
                    </ul>

                </div>
            </div>
            <div class="clearBoth">

            </div>
        </div>
        <div class="clearBoth">

        </div>
        <input type="hidden" id="hfTemplateName" value="@ViewBag.hfTemplateName" />
        <input type="hidden" id="txtNoOfPages" value='@ViewBag.txtNoOfPages' />
        <input type="hidden" id="txtTemplateID" value='@ViewBag.txtTemplateID' />
        <input type="hidden" id="hfEditTempType" name="hfEditTempType" value="@ViewBag.hfEditTempType" />
        <input type="hidden" id="hfContactId" value="@ViewBag.hfContactI" />
        <input type="hidden" id="hfCategoryId" value="@ViewBag.hfCategoryId" />
        <input type="hidden" id="hfItemId" value="@Model.ItemId" />
        <input type="hidden" id="txtHiddenItemDiscountRate" value="@Model.PriceDiscountPercentage" />
        <input type="hidden" id="txtHiddenProductCategoryID" value="@ViewBag.hfCategoryId" />
        <input type="hidden" id="txtHiddenProductItemID" value="@Model.ItemId" />
        <input type="hidden" id="txtHiddenProductName" value='@Model.ProductName' />
        <input type="hidden" id="txtHiddenCorpItemTemplateID" value='@Model.TemplateId' />
        <input type="hidden" id="hfFbShareLink" value="@ViewBag.hfFbShareLink" />

    </div>
}
    <script src="/Scripts/jquery-1.10.1.min.js"></script>
   <script src="/Scripts/js-image-slider-detail.js"></script>
    <script src="~/Scripts/PopUp.js"></script>
    <script src="~/Scripts/jquery.rating.js"></script>
    <script type="text/javascript">


        function ShowMessage() {
            var type = $('#hfEditTempType').val();
            // alert(type);
            if (type == "NoTemplate") {
                showProgress();
                return true;
            } else if (type == "SameTemplate") {
                //alert("2");
                ShowPopup2("Alert!", "You already have the same template in designer mode Would you like to resume your design or start from scratch ?");
                return false;
            } else if (type == "SameItem") {
                // alert();
                ShowPopup2("Alert!", "you already have another template in designer mode. Would you like to continue modifiing the design or create new ");
                return false;
            }
            return false;
            //
        }


        function LoginPopUp() {
            return true;
        }



        function FileUploaderShow() {

            $find('mpeUploadYourDesignPopup').show();
        }

        function FileUploaderHide() {

            $find('mpeUploadYourDesignPopup').hide();
            $('input:file').MultiFile('reset');

        }




    </script>

    <script>


    function UploadDesign(path) {

        window.location.href = path;
        return true;
    }

    function OpenDesigner(CheckTemplateOptions) {
        if (CheckTemplateOptions != -1) {
            var EditType = "@ViewBag.hfEditTempType";
            var ItemID = "@Model.ItemId";
            var TempID = "@ViewBag.TemplateID";

                if (EditType == "NoTemplate") {
                    window.location.href = "/EditDesign/''/" + EditType + "/" + ItemID + "/" + TempID;

                } else if (EditType == "SameTemplate") {
                    //alert("2");
                    ShowPopUpDesignNow('Alert!', 'You already have the same template in designer mode Would you like to resume your design or start from scratch ?','SameTemplate',ItemID,TempID)


                } else if (EditType == "SameItem") {
                    // alert();
                    ShowPopUpDesignNow('Alert!', 'you already have another template in designer mode. Would you like to continue modifying the design or create new','SameItem',ItemID,TempID)

                }
                return false;
            }
        }
        function GoToDesigner(Header, Message) {
            var ItemID = "@Model.ItemId";
            var Path = "/Category/CloneItem/" + ItemID;
            Header = "Alert!";
            Message = "Are you sure you want to remove this item from your cart?"
            var container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header"><button class="md-close close" onclick=HideMessagePopUp(); >&times;</button><h4 class="modal-title">' + Header + '</h4></div><div class="modal-body">' + Message + '<div class="modal-footer" style="margin-left: -20px;margin-right: -20px;"><input type="submit" class="btn btn-primary" onclick=ConfirmRemove(' + ItemID + ',' + OrderID + '); value="Yes" /><button type="button" onclick=HideMessagePopUp(); class="btn btn-primary">No</button></div></div></div>';

            var bws = getBrowserHeight();
            var shadow = document.getElementById("innerLayer");
            document.getElementById("layer").style.width = bws.width + "px";
            document.getElementById("layer").style.height = bws.height + "px";

            var left = 0;
            var top = parseInt((bws.height - 170) / 2);

            if (bws.width < 640) {
                document.getElementById("innerLayer").style.width = (bws.width) + "px";

            } else {
                left = parseInt((bws.width - 500) / 2);
                document.getElementById("innerLayer").style.width = "500px";
            }
            document.getElementById("innerLayer").innerHTML = container;

            document.getElementById("innerLayer").style.top = top + "px";
            document.getElementById("innerLayer").style.left = left + "px";

            document.getElementById("innerLayer").style.width = "500px";
            document.getElementById("innerLayer").style.height = "170px";
            document.getElementById("innerLayer").style.position = "fixed";
            document.getElementById("innerLayer").style.zIndex = "9999";

            document.getElementById("layer").style.display = "block";
            document.getElementById("innerLayer").style.display = "block";

            return false;
        }
    </script>

