@model MPC.Webstore.ViewModels.SearchOrderViewModel
@using MPC.Webstore.WebGridExtension;
@using MPC.Webstore.Common;
@using MPC.Models.Common;
@{
    Layout = null;
}

@{
    var grid = new WebGrid(source: ViewBag.OrderList, canSort: false, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.NextPrevious);
    string Result = ViewBag.res;
    string s = string.Empty;
}

<div class="content_area container" id="all-orderHistory-pg">
    <div class="left_right_padding">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="signin_heading_div float_left_simple ">
                <label class="sign_in_heading" id="HistryBtn">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlorderhistory", UserCookieManager.WBStoreId, "Order history"))</label>
            </div>
            <div class="dashBoardRetrunLink dashboard_heading_signin">
                <div class=" left_align">
                    <h1>
                        <a href="/Dashboard" class="left_align" title="Back to my dashboard" onclick="ShowLoader();">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("BackToDashboardlbl", UserCookieManager.WBStoreId, "Back to my dashboard"))
                        </a>
                    </h1>
                    <div class="clearBoth"></div>
                </div>
            </div>
            <div class="clearBoth">
            </div>
        </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="Width100Percent">
                <div class="divSearchBar paddingBottom10px normalTextStyle rounded_corners hidden-xs">

                    <div>
                        @using (Html.BeginForm())
                        {
                            <div class="cntFilteringCritariaRight ">
                                <div class="col-lg-1 col-md-1 col-xs-1">

                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    <span id="spntdfromdate" class="heading_h8">@Html.Raw(Html.GetKeyValueFromResourceFile("tdfromdate", UserCookieManager.WBStoreId, "From Date"))</span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    <span id="spntodate" class="heading_h8">@Html.Raw(Html.GetKeyValueFromResourceFile("todate", UserCookieManager.WBStoreId, "To Date"))</span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    <span id="spntdorderref" class="heading_h8">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlorderref", UserCookieManager.WBStoreId, "Order Ref"))</span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    <span id="spntdorderstatus" class="heading_h8">@Html.Raw(Html.GetKeyValueFromResourceFile("gvlblstatusname", UserCookieManager.WBStoreId, "Status"))</span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    <span id="spcClientStatus" class="heading_h8" style="visibility:hidden;">Client Status</span>
                                </div>
                                <div class="col-lg-2 col-xs-2">
                                    &nbsp;
                                </div>
                                <div class="clearBoth">

                                </div>
                                <div class="col-lg-1 col-md-1 col-xs-1">
                                    <span id="HistryBtn" class="ltrlSearchOrder">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsearchhhorder", UserCookieManager.WBStoreId, "Search Orders"))</span>
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    @Html.TextBoxFor(model => model.FromData, new { id = "txtFromDate", @class = "text_box150 rounded_corners5", placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("tdfromdate", UserCookieManager.WBStoreId, "From Date")), maxlength = 500, @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    @Html.TextBoxFor(model => model.ToDate, new { id = "txtToDate", @class = "text_box150 rounded_corners5", placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("todate", UserCookieManager.WBStoreId, "To Date")), maxlength = 500, @readonly = "readonly" })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    @Html.TextBoxFor(model => model.poSearch, new { id = "txtOrderRefrence", @class = "text_box150 rounded_corners5", placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlposeach", UserCookieManager.WBStoreId, "PO Search")), maxlength = 500 })
                                </div>
                                <div class="col-lg-2 col-md-2 col-xs-2">
                                    @Html.DropDownListFor(model => model.SelectedOrder, (IEnumerable<SelectListItem>)@Model.DDOderStatus, @Html.Raw(Html.GetKeyValueFromResourceFile("lblAll", UserCookieManager.WBStoreId, "All")).ToString(), new { @class = "dropdown rounded_corners5", @id = "DDOderStatus" })
                                </div>
                                <div class="search-order-Go" style="">
                                    <input type="submit" value="@Html.Raw(Html.GetKeyValueFromResourceFile("lrlGo", UserCookieManager.WBStoreId, "Go"))" id="btnSearchOrders" class="order_history_btn rounded_corners5" />
                                </div>
                                <div class="search-order-clear" style="">
                                    <input type="button" id="btnClear" class="order_history_btn rounded_corners5" onclick="GoBack();" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnClear",UserCookieManager.WBStoreId,"Clear"))" />
                                </div>
                                @if (ViewBag.LoginContactRoleID == 1 || ViewBag.LoginContactRoleID == 2)
                                {
                                    <div class="search-order-clear" style="">
                                        <input type="button" id="btnDwn_Report" style="width:130px;" class="order_history_btn rounded_corners5" onclick="DownloadReport(@ViewBag.ReporTID,@ViewBag.StoreID);" value="Download Report" />
                                    </div>
                                }
                                <div class="clearBoth">

                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <div class="white_back_div rounded_corners">

                <div class="Pad1020">
                    <div class="Width100Percent">
                        <div class="paddingBottom10px normalTextStyle">
                            <label id="lblMessage" class="matchingTxtclass">@TempData["Status"]</label>
                        </div>
                    </div>

                    <div class="ProductOrderContainer">


                        @grid.Table(displayHeader: Convert.ToBoolean(TempData["HeaderStatus"]),
    htmlAttributes: new { id = "OrderGrid" },
    tableStyle: "WebGridTableStyle",
    fillEmptyRows: false,
    headerStyle: "WebGridheader",
    rowStyle: "gridViewRowStyleForWebGrid",
    alternatingRowStyle: "gridViewRowStyleForWebGrid",
    columns: new[] {

    grid.Column("OrderCode",@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlOrderCode", UserCookieManager.WBStoreId, "Order Code")).ToString()),
    grid.Column("YourRef",@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlYourPoReference", UserCookieManager.WBStoreId, "Your PO reference")).ToString(),style:"hidden-xs visible-lg"),
    grid.Column("TerritoryName","Territory",style:"hidden-xs  visible-lg", format:@<text><span style="width: 100px; display:block;">@item.TerritoryName</span></text>),

    grid.Column("SOrderDate",@Html.Raw(Html.GetKeyValueFromResourceFile("lblOrderDateHeadingTxt", UserCookieManager.WBStoreId, "Order Date")).ToString(),style:"hidden-xs  visible-lg"),

    grid.Column("SOrderDeliveryDate",@Html.Raw(Html.GetKeyValueFromResourceFile("lblDelivDateHeadingTxt", UserCookieManager.WBStoreId, "Estimated Delivery")).ToString(),style:"hidden-xs  visible-lg", format:@<text><span>@item.DeliveryDate</span></text>),

        grid.Column("StatusName",@Html.Raw(Html.GetKeyValueFromResourceFile("gvlblstatusname", UserCookieManager.WBStoreId, "Status")).ToString(),style:"hidden-xs  visible-lg", format:@<text><span>@item.StatusName</span></text>),


        grid.Column("View Reason", format:@<text>@if (item.StatusID == 35)
        {
            string reason = item.RejectionReason;
            if (!string.IsNullOrEmpty(reason))
            {
                reason = reason.Replace("'", " ").Trim();
                //  reason.Replace("&#39;", " ");

            }


            <span style="width: 90px; display:block;">@reason</span>
            <button id="view" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ViewBtn", UserCookieManager.WBStoreId, "View"))" style="height: 23px; width: 23px;border:none; background: url('/Content/Images/eye_preview.png'); background-size:100%;" class="rounded_corners" onclick="ShowRejectionPopUpOrderHistory('Rejected Reason',' @reason')" />

        }
        </text>),

      grid.Column("Download",@Html.Raw(Html.GetKeyValueFromResourceFile("btnDownloadOrderInExcell", UserCookieManager.WBStoreId, "Download")).ToString(), format:@<text>@if (UserCookieManager.WEBStoreMode == (int)StoreMode.Corp)
      {
        <button value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnDownloadOrderInExcell", UserCookieManager.WBStoreId, "Download"))" style="height: 30px; width: 30px; background-image: url('Content/Images/download-icon.png');  border: none;
          background-color: transparent;" class="rounded_corners" onclick="DownLoadArtworkFile(@item.OrderID)" />
      }</text>),
     grid.Column("View", format:@<text><button id="view" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ViewBtn", UserCookieManager.WBStoreId, "View"))" style="height: 23px; width: 23px;border:none; background: url('Content/Images/view-order.png');" class="rounded_corners" onclick="ViewOrder(@item.OrderID)" />
    </text>),



    grid.Column("Reorder", format:@<text>@if (item.ContactUserID == ViewBag.LoginContactId)
    {
        <button id="view" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ReOrderBtn", UserCookieManager.WBStoreId, "ReOrder"))" style="height: 23px; width: 24px; border:none; background: url('Content/Images/re-order.png');" class="rounded_corners" onclick="ReOrder(@item.OrderID)" />
    }
    </text>),

        grid.Column("Total", header:null, format:@<text>@if (ViewBag.IsShowPrices == true)
        {
            <span>@item.OrderTotal</span>
        }</text>)

          }
                       )

                        @if (Convert.ToInt32(ViewBag.TotalOrder) > 15)
                        {
                            <div id="footerr" class="pagination pagination-small pagination-right">
                                @WebGridExt.PagerList(grid, mode: WebGridPagerModes.All)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
</div>

<div id="Vorder" class="popupInnerContainer rounded_corners" style="height: 530px; overflow-y:scroll; z-index:0; margin-top:10px;display:none;">
    <table border="0" width="100%" cellpadding="4" cellspacing="0" id="Mytable" style="background-color:#F6F6F7;">
        <tbody>
            <tr>
                <td>
                    <table border="0" cellpadding="3" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td class="textAlignRight" style="width: 149px">
                                    <span class="simpleTextBold" id="spnordernum">@Html.Raw(Html.GetKeyValueFromResourceFile("lblOrderNumHeadingTxt", UserCookieManager.WBStoreId, "Order Number")):</span>
                                </td>
                                <td class="textAlignLeft simpleText">

                                    <span id="OrderCode" class="txtBold"></span>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="spnorderstatus">@Html.Raw(Html.GetKeyValueFromResourceFile("lblStatusHeadingTxt", UserCookieManager.WBStoreId, "Status")):</span>
                                </td>
                                <td class="textAlignLeft simpleText" style="width: 200px">

                                    <span id="OrderStatus" class="txtBold clrOrderDetail"></span>

                                </td>
                            </tr>
                            <tr>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="spnorderdate">@Html.Raw(Html.GetKeyValueFromResourceFile("lblOrderDateHeadingTxt", UserCookieManager.WBStoreId, "Order Date")):</span>
                                </td>
                                <td class="textAlignLeft simpleText">

                                    <span id="OrderDate" class="txtBold"></span>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="spndileverydate">@Html.Raw(Html.GetKeyValueFromResourceFile("spndileverydate", UserCookieManager.WBStoreId, "Delivery Date:"))</span>
                                </td>
                                <td class="textAlignLeft simpleText">
                                    @*<label id="lblOrderDeliveryStartDate" class="txtBold marginTopforDate" />*@
                                    <span id="OrderDeliveryDate" class="txtBold"></span>
                                </td>


                            </tr>
                            <tr>
                                <td class="textAlignRight">
                                    <span class="simpleTextBold" id="Span1">@Html.Raw(Html.GetKeyValueFromResourceFile("spnplacedby", UserCookieManager.WBStoreId, "Placed by:"))</span>
                                </td>
                                <td class="textAlignLeft simpleText">

                                    <span id="OrderPlaceBy" class="txtBold"></span>
                                </td>
                                <td>
                                    &nbsp;
                                </td>

                            </tr>
                            <tr>
                                <td class="textAlignRight">
                                    &nbsp;
                                </td>
                                <td class="textAlignLeft simpleText">
                                    <input type="hidden" id="hdOrderId" />
                                    &nbsp;
                                </td>
                                <td class="textAlignRight">
                                    @if (ViewBag.LoginContactRoleID == 1 || ViewBag.LoginContactRoleID == 2)
                                    {
                                        <input type="button" id="btnDwn_Proof" style="width:130px;" class="order_history_btn rounded_corners5" onclick="downloadProof();" value="Download Proof">
                                    }

                                </td>

                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="cntPLOrderDetails">

                        <div id="GridTable"></div>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
    <br />
    <br />

    <table width="99%">
        <tbody>
            <tr id="PnalTotalBox">
                <td align="left" valign="top">
                    <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText height-140 margnLft">
                        <div class="product_detail_sup_padding whitebackground" style="width:50%;float:left;">
                            <table border="0" cellpadding="2" cellspacing="0" width="100%" style="margin-right:5px;">
                                <thead>
                                    <tr>

                                        <th>
                                            <label id="lblMainControlHeading" class="heading_small">
                                                @Html.Raw(Html.GetKeyValueFromResourceFile("baddresss", UserCookieManager.WBStoreId, "Billing Address"))
                                                :
                                            </label>
                                        </th>
                                        <th style="height: 25px; text-align: left;">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 33%">
                                            <span id="BillingAddressName"></span>
                                        </td>
                                        <td style="width: 67%"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="BillingAddressline1"></span>
                                        </td>
                                        <td>
                                            @*<label id="lblAddressLine1" class="txtBold">*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrladdressline2">Address line 2:</span>*@
                                            <span id="BillingAddressline2"></span>
                                        </td>
                                        <td>

                                            @*<label id="lblAddressLine2" class="txtBold">*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlcity">City:</span>*@
                                            <span id="BillingAddressCity"></span>&nbsp;

                                        </td>
                                        <td>
                                            @*<label id="lblCity" class="txtBold">*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="BillingAddressState"></span>&nbsp;
                                            <span id="BillingAddressCountryName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlzipcodeP">Zip Code / Post Code:</span>*@
                                            <span id="BillingAddressPostCode"></span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlcountry">Country:</span>*@
                                            <span id="BillingAddressCountryName"></span>
                                        </td>
                                        <td>
                                            @*<label id="lblCountry" class="txtBold">*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="ltrlcontactnum">Contact Number:</span>*@

                                        </td>
                                        <td>
                                            @*<label id="lblContactNumber" class="txtBold">*@@*</label>*@
                                            <span id="BillingAddressContactNumber"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="product_detail_sup_padding whitebackground" style="width:50%;float:left;">

                            <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th style="height: 25px; text-align: left;">
                                            <label id="Label1" class="heading_small">@Html.Raw(Html.GetKeyValueFromResourceFile("shippinadresss", UserCookieManager.WBStoreId, "Shipping Address")):</label>
                                        </th>
                                        <th>

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 33%">
                                            @*<span id="spnshppingname">Shipping Name:</span>*@
                                            <span id="DeliveryAddressName"></span>
                                        </td>
                                        <td style="width: 67%">
                                            @*<label id="lblShipAddressName" >*@@*@ViewBag.DeliveryAddress.AddressName*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnaddressline2nd">Address line 1:</span>*@
                                            <span id="DeliveryAddressline1"></span>
                                        </td>
                                        <td>
                                            @*<Label ID="lblShipAddLine1" >*@@*@ViewBag.DeliveryAddress.Address1*@@*</Label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnaddressline2nd2">Address line 2:</span>*@
                                            <span id="DeliveryAddressline2"></span>
                                        </td>
                                        <td>
                                            @*<label id="lblShipAddressLine2" >*@@*@ViewBag.DeliveryAddress.Address2*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spncity2">City:</span>*@
                                            <span id="DeliveryAddressCity"></span>&nbsp;
                                        </td>
                                        <td>
                                            @*<Label ID="lblShipAddCity" >*@@*@ViewBag.DeliveryAddress.City*@@*</Label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span id="DeliveryAddressState"></span>&nbsp;<span id="DeliveryAddressCountryName"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spnzipcoeP2">Zip Code / Post Code:</span>*@
                                            <span id="DeliveryAddressPost"></span>
                                        </td>
                                        <td>
                                            @*<label id="lblShipPostCode" >*@@*@ViewBag.DeliveryAddress.PostCode*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spncountry2">Country:</span>*@
                                            <span id="DeliveryAddressCountryName"></span>
                                        </td>
                                        <td>
                                            @*<label id="lblShipCountry" >*@@*@ViewBag.DeliveryAddress.Country.CountryName*@@*</label>*@
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*<span id="spncontactnum2">Contact Number:</span>*@
                                            <span id="DeliveryAddressContactNo"></span>
                                        </td>
                                        <td>
                                            @*<label id="lblShipContact" >*@@*@ViewBag.DeliveryAddress.ContactMobile*@@*</label>*@
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="clearBoth">

                        </div>
                    </div>

                    <div class="clearBoth">

                    </div>
                </td>
                <td>
                    &nbsp;
                </td>
                @if (ViewBag.IsShowPrices == true)
                {
                    <td align="right" valign="top" class="whitebackground">
                        <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText height-140">
                            <div class="padding10">
                                <table border="0" cellpadding="3" cellspacing="0" width="200px" style="margin-right:5px;">
                                    <tr>
                                        <td align="left">
                                            <span id="spnsubtotal">@Html.Raw(Html.GetKeyValueFromResourceFile("spnsubtotal", UserCookieManager.WBStoreId, "Sub Total:"))</span>
                                        </td>
                                        <td>
                                            <label id="lblSubTotal"><span id="subtotal"></span></label>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="width: 80%">
                                            <span id="spnDeliveryoptn">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrldelcost", UserCookieManager.WBStoreId, "Delivery Cost")):</span>
                                        </td>
                                        <td>
                                            <label id="lblDeliveryCost"><span id="DelCharge"></span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="width: 80%">
                                            <span id="spnvattotal">@Html.Raw(Html.GetKeyValueFromResourceFile("lblVatHeadingText", UserCookieManager.WBStoreId, "VAT")):</span>
                                        </td>
                                        <td>
                                            <label id="lblVatTotal"><span id="Vat"></span></label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <span class="CartFonts" id="spngrndtotal">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlgrandtotal", UserCookieManager.WBStoreId, "Grand Total")):</span>
                                        </td>
                                        <td>

                                            <label class="CartFonts txtBold" id="lblGrandTotal"><span id="Grandtotal"></span></label>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                }

            </tr>
        </tbody>
    </table>
</div>
<script src="/Scripts/jquery-1.10.1.min.js"></script>
<link href="/Content/NewBootstrapClass.css" rel="stylesheet" />
<link href="/LightBox/Css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="Screen" />
<script src="/LightBox/Js/jquery.fancybox.pack.js"></script>
<script src="/LightBox/Js/jquery.fancybox.js"></script>

<script type="text/javascript">
    var GlobalItemResponse = null;
    //var $=jQuery.noConflict();
    $(".fancybox").fancybox();
    $(document).ready(function () {

        $("#txtFromDate").datepicker();
        $("#txtToDate").datepicker();



    });

    function ClearTextBoxes() {
        $("#txtFromDate").val("");
        $("#txtToDate").val("");
        $("#txtOrderRefrence").val("");
    }


    function ReOrder(orderId) {
        ShowLoader();
        var d = { OrderId: orderId, OrderType: "ReOrder" }
        $.ajax({
            type: "POST",
            url: "/ProductOrderHistory/OrderResult",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(d),
            success: function (response) {

                createCookie("WEBOrderId", response);
                window.location.href = "/ShopCart?Orderid="+response+"";
            }
        });
    }
    function Cancel()
    {
        document.getElementById("layer").style.display = "none";
        document.getElementById("innerLayer").style.display = "none";

    }
    function DownLoadArtworkFile(orderId) {
        ShowLoader();
        $.get("/mis/api/DownloadArtwork?OrderId=" + orderId + "&OrganisationId=" + @UserCookieManager.WEBOrganisationID, function (DT) {

            DT = DT.replace("\"","");
            DT = DT.replace("\"","");

            window.location.href = DT;
            HideLoader();
        });

    }

    function DownloadReport(ReportId,StoreId)
    {

        var fromDate=$("#txtFromDate").val();
        var Todate=$("#txtToDate").val();
        var Status=$("#DDOderStatus").val();

        var Po=$("#txtOrderRefrence").val();
        window.open(window.location.protocol + "//" + window.location.host + "/mis/api/DownloadExternalReport?ReportId=" + ReportId + "&StoreId=" + @UserCookieManager.WBStoreId +"&Datefrom="+fromDate+"&DateTo="+Todate+"&CustomerPO="+Po+"&OrderStatus="+Status);

        //window.location.href = "http://staging.myprintcloud.com/mis/api/DownloadExternalReport?ReportId=" + ReportId + "&StoreId=" + @UserCookieManager.WBStoreId +"&Datefrom="+fromDate+"&DateTo="+Todate+"&CustomerPO="+Po+"&OrderStatus="+Status;
        @*$.get("mis/api/DownloadExternalReport?ReportId=" + ReportId + "&StoreId=" + @UserCookieManager.WBStoreId +"&Datefrom="+fromDate+"&DateTo="+Todate+"&CustomerPO="+Po+"&OrderStatus="+Status, function (DT) {

            DT = DT.replace("\"","");
            DT = DT.replace("\"","");

            window.location.href = DT;
            HideLoader();
        });*@
        //var data = { name: Name, email: Email, comment: Comment };
        //$.ajax({
        //    type:"GET",
        //    url: "mis/api/DownloadExternalReport?ReportId="+ReportId+"&StoreId="+StoreId+"&Datefrom="+fromDate+"&DateTo="+Todate+"&CustomerPO="+Po+"&OrderStatus="+Status+"",
        //    contentType: "application/json",
        //   // data: JSON.stringify(data),
        //    async: true,
        //    success: function (response) {

        //    },
        //    error: function (error) {

        //    }
        //});
    }
    function downloadProof() {
        debugger;
        var oId = $("#hdOrderId").val();
        window.open(window.location.protocol + "//" + window.location.host + "/webstoreapi/DownloadArtwork?itemId=" + oId + "&isWaterMark=1");
        //  ShowLoader();
        //$.ajax({
        //    type: "GET",
        //    url: "/webstoreapi/DownloadArtwork",
        //    contentType: "application/json",
        //    data: { itemId: oId },
        //    async: true,
        //    success: function(response) {
        //        var resp = JSON.parse(response);
        //        window.open(resp, "_blank download");
        //       // window.location.href = resp;
        //       // HideLoader();
        //    }
        //});
    }


    function ViewOrder(orderId) {
        ShowLoader();
        $.ajax({
            type: "GET",
            url: "/webstoreapi/Order/GetData",
            contentType: "application/json",
            data: { orderID: orderId },
            async: true,
            success: function (response) {
                $("#hdOrderId").val(orderId);
                $("#Grandtotal").text(response.GrossTotal);
                $("#subtotal").text(response.SubTotal);
                $("#Vat").text(response.VAT);

                $("#OrderCode").text(response.OrderCode);
                $("#OrderStatus").text(response.StatusName);
                $("#OrderDate").text(response.OrderDateValue);
                $("#OrderPlaceBy").text(response.PlacedBy + "" + '(' + response.CompanyName + ')');
                $("#OrderDeliveryDate").text(response.DeliveryDateValue);
                $("#DelCharge").text(response.DeliveryCostCharges);
                $("#BillingAddressName").text(response.billingAddress.AddressName);
                if (response.billingAddress.Address1 != null || response.billingAddress.Address1 != '') {
                    $("#BillingAddressline1").text(response.billingAddress.Address1);
                }
                if (response.billingAddress.Address2 == null) {

                    $("#BillingAddressline2").text('');
                }
                else { $("#BillingAddressline2").text(response.billingAddress.Address2); }

                $("#BillingAddressCity").text(response.billingAddress.City);

                if (response.BillingState != '') {
                    $("#BillingAddressState").text(response.BillingState);
                }

                if (response.BillingCountry != '') {
                    $("#BillingAddressCountryName").text(response.BillingCountry);
                }


                $("#BillingAddressPostCode").text(response.billingAddress.PostCode);

                $("#BillingAddressContactNumber").text(response.billingAddress.ContactMobile);

                $("#DeliveryAddressName").text(response.shippingAddress.AddressName);

                if (response.shippingAddress.Address1 == null) {
                    $("#DeliveryAddressline1").text('');
                }
                else {
                    $("#DeliveryAddressline1").text(response.shippingAddress.Address1);
                }

                if (response.shippingAddress.Address2 == null) {
                    $("#DeliveryAddressline2").text('');
                }
                else {
                    $("#DeliveryAddressline2").text(response.shippingAddress.Address2);
                }

                $("#DeliveryAddressCity").text(response.shippingAddress.City);

                if (response.ShippingState != '') {
                    $("#DeliveryAddressState").text(response.ShippingState);
                }



                $("#DeliveryAddressPost").text(response.shippingAddress.PostCode)
                if (response.ShippingCountry != '') {
                    $("#DeliveryAddressCountryName").text(response.ShippingCountry);
                }

                $("#DeliveryAddressContactNo").text(response.shippingAddress.ContactMobile)
                var GridItems = response.CartItemsList;

                var GSTLable =  "@Html.Raw(Html.GetKeyValueFromResourceFile("lblVatHeadingText", UserCookieManager.WBStoreId, "VAT"))";
                var InnerHtml = "";

                if("@ViewBag.IsShowPrices" == "True")
                {
                    InnerHtml = "<table cellspacing='10' cellpadding='7' style='width:100%;'><thead><tr class='gridViewRowStyleForViewOrderHeader'><th></th><th>Product Description</th><th>Quantity</th><th>Price</th><th>"+ GSTLable +"</th><th>Total</th></tr></thead>";

                }
                else
                {
                    InnerHtml = "<table cellspacing='10' cellpadding='7' style='width:100%;'><thead><tr class='gridViewRowStyleForViewOrderHeader'><th></th><th>Product Description</th><th>Quantity</th><th></th><th></th><th></th></tr></thead>";

                }
                var otherAttachmentLink = "";
                $.each(GridItems, function (i, IT) {
                    {
                        console.log(IT);
                        GlobalItemResponse = IT;
                        var ItemAttachId = 0;
                        var filePathOfAttachment = "";
                        if(IT.ProductType == 1){
                            if(IT.OtherItemTemplateAttatchments != null){

                                if(IT.OtherItemTemplateAttatchments.length > 0){
                                    for(var i=0; i < IT.OtherItemTemplateAttatchments.length; i++)
                                    {
                                        ItemAttachId = IT.TemplateID;
                                        //if(((IT.OtherItemTemplateAttatchments.length - 1) - i) == 0){

                                        //}else{
                                        filePathOfAttachment = IT.OtherItemTemplateAttatchments[(IT.OtherItemTemplateAttatchments.length - 1) - i].FilePath;

                                        var OtherfilePathOfAttachment = IT.OtherItemTemplateAttatchments[(IT.OtherItemTemplateAttatchments.length - 1) - i].FilePath;
                                        console.log("OtherfilePathOfAttachment" + OtherfilePathOfAttachment);



                                        otherAttachmentLink = otherAttachmentLink.concat('<div class="gallery" style="display:none;"><a class="" data-id='+ ItemAttachId +' rel="chimps" href=' + OtherfilePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"  /></a></div>');

                                        //}

                                    }
                                }else if(IT.OtherItemAttatchments != null){

                                    if(IT.OtherItemAttatchments.length > 0){

                                        $(IT.OtherItemAttatchments).each(function(i, otherAttachVal) {
                                            console.log("IT.Attatchment._fileName" + IT.Attatchment._fileName);
                                            var OtherAttachFileName = otherAttachVal.FileName;
                                            while (OtherAttachFileName.indexOf(" ") > 0)
                                            {
                                                OtherAttachFileName = OtherAttachFileName.replace(" ", "%20");
                                            }

                                            if(ItemAttachId == 0){
                                                ItemAttachId = IT.OtherItemAttatchments[i].ItemAttachmentId;
                                                filePathOfAttachment =   "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                            }

                                            //if(otherAttachVal.FileName == IT.Attatchment._fileName){
                                            //}else{

                                            var OtherfilePathOfAttachment = "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                            otherAttachmentLink = otherAttachmentLink.concat('<div class="gallery" style="display:none;"><a  class="" data-id='+ ItemAttachId +' rel="chimps" href=' + OtherfilePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"   /></a></div>');
                                            //}

                                        });
                                    }
                                }
                            }else if(IT.OtherItemAttatchments != null){

                                if(IT.OtherItemAttatchments.length > 0){

                                    $(IT.OtherItemAttatchments).each(function(i, otherAttachVal) {
                                        console.log("IT.Attatchment._fileName" + IT.Attatchment._fileName);
                                        var OtherAttachFileName = otherAttachVal.FileName;
                                        while (OtherAttachFileName.indexOf(" ") > 0)
                                        {
                                            OtherAttachFileName = OtherAttachFileName.replace(" ", "%20");
                                        }

                                        if(ItemAttachId == 0){
                                            ItemAttachId = IT.OtherItemAttatchments[i].ItemAttachmentId;
                                            filePathOfAttachment =   "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                        }

                                        //if(otherAttachVal.FileName == IT.Attatchment._fileName){
                                        //}else{

                                        var OtherfilePathOfAttachment = "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                        otherAttachmentLink = otherAttachmentLink.concat('<div class="gallery" style="display:none;"><a  class="" data-id='+ ItemAttachId +' rel="chimps" href=' + OtherfilePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"   /></a></div>');
                                        //}

                                    });
                                }
                            }
                            console.log("IT.OtherItemAttatchments");
                            console.log(IT.OtherItemAttatchments);

                        }else{
                            if(IT.OtherItemAttatchments != null){

                                if(IT.OtherItemAttatchments.length > 0){

                                    $(IT.OtherItemAttatchments).each(function(i, otherAttachVal) {
                                        console.log("IT.Attatchment._fileName" + IT.Attatchment._fileName);
                                        var OtherAttachFileName = otherAttachVal.FileName;
                                        while (OtherAttachFileName.indexOf(" ") > 0)
                                        {
                                            OtherAttachFileName = OtherAttachFileName.replace(" ", "%20");
                                        }
                                        if(ItemAttachId == 0){
                                            ItemAttachId = IT.OtherItemAttatchments[i].ItemAttachmentId;
                                            filePathOfAttachment =  "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                        }

                                        //if(otherAttachVal.FileName == IT.Attatchment._fileName){
                                        //}else{


                                        var OtherfilePathOfAttachment = "/" + otherAttachVal.FolderPath + "/" + OtherAttachFileName + "Thumb.png";
                                        otherAttachmentLink = otherAttachmentLink.concat('<div class="gallery" style="display:none;"><a  class="" data-id='+ ItemAttachId +' rel="chimps" href=' + OtherfilePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png"   /></a></div>');
                                        // }

                                    });
                                }
                            }

                            if(filePathOfAttachment == ""){
                                var AttachFileName = IT.ThumbnailPath;
                                console.log("AttachFileName" + AttachFileName);
                                if(AttachFileName != "" && AttachFileName != null){
                                    while (AttachFileName.indexOf(" ") > 0)
                                    {
                                        AttachFileName = AttachFileName.replace(" ", "%20");
                                    }
                                }
                                //filePathOfAttachment = "/" + IT.Attatchment._folderPath + "/" + AttachFileName + "Thumb.png";
                                filePathOfAttachment = "/"  + AttachFileName;
                            }


                        }




                        var proFriendlyName = "";

                        if(IT.ProductFriendlyName != "" && IT.ProductFriendlyName != null){
                            proFriendlyName = IT.ProductFriendlyName;
                        }else{
                            proFriendlyName = IT.ProductName;
                        }

                        var costcenterString = "";
                        $.each(response.ItemsSelectedAddonsList, function (i, CCIT) {
                            if(CCIT.ItemID == IT.ItemID){

                                while(CCIT.CostCentreDescription.indexOf("---") > 0)
                                {
                                    CCIT.CostCentreDescription = CCIT.CostCentreDescription.replace("---", "<br />")
                                }

                                costcenterString = costcenterString+ "<br />" + "<label>" + CCIT.AddOnName + "</label>" + "<br />" + CCIT.CostCentreDescription;
                            }

                        });

                        //InnerHtml += '<tr>';
                        if("@ViewBag.IsShowPrices" == "True")
                        {

                            InnerHtml = InnerHtml.concat('<tr class="gridViewRowStyle"><td><div class="gallery"><a class="fancybox" data-id='+ ItemAttachId +' rel="chimps" href=' + filePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png" onclick="DisplayProductImages('+ ItemAttachId +');"/></a></div></td> <td><label id="Productname">', proFriendlyName, '</label> '+ costcenterString +'</td> <td><label id="Qty">', IT.Qty1, '</label></td> <td><label id="Price">', response.CurrencySymbol + "" + parseFloat(IT.Qty1BaseCharge1).toFixed(2), '</label></td> <td><label id="VAT">', response.CurrencySymbol + "" + parseFloat(IT.Qty1Tax1Value).toFixed(2), '</label></td><td><label id="Total">', response.CurrencySymbol + "" + parseFloat(IT.Qty1GrossTotal).toFixed(2), '</label></td></tr>')
                        }
                        else
                        {

                            InnerHtml = InnerHtml.concat('<tr class="gridViewRowStyle"><td><div class="gallery"><a class="fancybox" data-id='+ ItemAttachId +' rel="chimps" href=' + filePathOfAttachment + '><img class="imgArtWorkIcon" src="/Content/Images/art.png" onclick="DisplayProductImages('+  ItemAttachId +');"/></a></div></td> <td><label id="Productname">', proFriendlyName, '</label> '+ costcenterString +'</td> <td><label id="Qty">', IT.Qty1, '</label></td> <td><label id="Price">',  "" , '</label></td> <td><label id="VAT">',  "" , '</label></td><td><label id="Total">',  "" , '</label></td></tr>')
                        }

                    }
                });
                InnerHtml += '</table>' + otherAttachmentLink;
                $("#GridTable").html(InnerHtml);
                var panelHtml = $("#Vorder").html();

                ViewOrderPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlvieworder", UserCookieManager.WBStoreId, "View Order"))', panelHtml);

            }

        });

    }
    function DisplayProductImages(ItemId) {

        $('.gallery').each(function(i, val) {
            var idOfEle = $(val).children().attr('data-id');
            console.log(idOfEle);
            console.log(ItemId);
            if(idOfEle == ItemId){
                $(val).children().addClass('fancybox');


            }else{

                if(idOfEle != null && idOfEle != ItemId){
                    $(val).children().removeClass('fancybox');

                }

            }
        });


    }
    function createCookie(name, value, days) {
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
    }


    function GoBack()
    {
        window.location.href = "/ProductOrderHistory";
    }
</script>
