

@model MPC.Webstore.ViewModels.SearchOrderViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(source: ViewBag.OrderList, canPage: true, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.All);
}



<div class="content_area container">
    <div class="left_right_padding row">
        <div class="signin_heading_div float_left_simple dashboard_heading_signin">
            <label class="sign_in_heading" id="HistryBtn">Order History</label>
        </div>
        <div class="dashBoardRetrunLink">
         
        </div>
        <div class="clearBoth">

        </div>
        <div>
            <div class="Width100Percent">
                <div class="divSearchBar paddingBottom10px normalTextStyle rounded_corners">
                    <div class="heading_h8 cntFilteringCritariaLeft">
                        @*<asp:Literal ID="ltrlSearchOrder" runat="server" Text=" Search Orders"></asp:Literal>*@
                        <label class="ltrlSearchOrder" id="HistryBtn">Search Orders</label>
                    </div>
                    <div>
@using (Html.BeginForm("Index", "ProductOrderHistory", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                        <table border="0" cellpadding="5" cellspacing="5" class="cntFilteringCritariaRight">
                            <tr>
                                <td>
                                    <span id="spntdfromdate" class="heading_h8">From Date</span>
                                </td>
                                <td>
                                    <span id="spntodate"class="heading_h8">To Date</span>
                                </td>
                                <td>
                                    <span id="spntdorderref" class="heading_h8">Order Ref</span>
                                </td>
                                <td>
                                    <span id="spntdorderstatus" class="heading_h8">Status</span>
                                </td>
                                <td>
                                    <span id="spcClientStatus"  class="heading_h8"  style="visibility:hidden;">Client Status</span>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    @Html.TextBoxFor(model => model.FromData, new { id = "txtFromDate", @class = "text_box150 rounded_corners5", placeholder = "From Date", maxlength = 500, @readonly = "readonly" })
                                </td>
                                <td>
                                  @Html.TextBoxFor(model=>model.ToDate, new { id = "txtToDate", @class = "text_box150 rounded_corners5", placeholder = "To Date", maxlength = 500, @readonly = "readonly" })
                                </td>
                                <td>

                                    @Html.TextBoxFor(model=>model.poSearch, new { id = "txtOrderRefrence", @class = "text_box150 rounded_corners5", placeholder = "PO Search", maxlength = 500 })
                                </td>
                                <td>

                                    @Html.DropDownListFor(model => model.SelectedOrder, (IEnumerable<SelectListItem>)@Model.DDOderStatus, "All", new { @class = "dropdown rounded_corners5", @id = "DDOderStatus" })

                                </td>
                                <td>
                                   
                                </td>
                                <td>
                                    <div class="float_left_simple">
                                        
                                        <input type="submit" value="Go" id="btnSearchOrders" class="start_creating_btn rounded_corners5" />

                                    </div>
                                    <div class="float_left_simple left_margin">
                                       
                                        <input type="button" id="btnClear" class="start_creating_btn rounded_corners5" value="Clear" />
                                    </div>
                                    <div class="clearBoth">
                                    </div>
                                </td>
                            </tr>
                        </table>
}
                    </div>
                </div>
            </div>
            <div class="white_back_div rounded_corners">
                <div class="PadingTop textAlignLeft">
                    
                    <label id="lblTxtOfRest" class="matchingTxtclass"></label>
                </div>
                <div class="Pad1020">
                    <div class="Width100Percent">
                        <div class="textAlignCenter paddingBottom10px normalTextStyle">
                            <label id="lblMessage">No Record Found!</label>
                        </div>
                    </div>
                    
                    <div class="ProductOrderContainer">
                       

    @grid.GetHtml(
    htmlAttributes: new { id = "OrderGrid" },
    tableStyle: "table",
    fillEmptyRows: false,
    headerStyle: "header",
    columns: new[] {

    grid.Column("OrderCode","OrderCode"),
    grid.Column("YourRef","YourRef"),
    grid.Column("OrderDate","OrderDate"),
    grid.Column("DeliveryDate","DeliveryDate"),
    grid.Column("StatusName","StatusName"),
    grid.Column("ClientStatusID","Client Status"),
    @*grid.Column("View", format:@<text>@Html.ActionLink("ProductOrderHistory", "ShowPartialView",
                new { OrderId = item.OrderID }, new { @class = "myclass" }) </text>),*@

     grid.Column("View", format:@<text><button id="view" value="View" style="height: 28px; width: 28px; background-image: url('Content/Images/Glass.png');" class="rounded_corners" onclick="ViewOrder(@item.OrderID)" />
                </text>),


    grid.Column("Reorder", format:@<text><button id="view" value="Reorder" style="height: 28px; width: 28px; background-image: url('Content/Images/repeat.png');" class="rounded_corners" onclick="ReOrder(@item.OrderID)" />
                 </text>),
    
    }
    )
    
    
                        @*<uc8:CustomPagerControl ID="grdViewOrdHistoryPager" runat="server" />
                        <div>
                            <%--Modal Popupextender--%>
                            <ajaxToolkit:ModalPopupExtender ID="mpeOrderDetails" BehaviorID="mpeOrderDetails"
                                                            TargetControlID="hdnTargetCtrlUpload" PopupControlID="pnlOrderDetails" BackgroundCssClass="ModalPopupBG"
                                                            runat="server" Drag="true" DropShadow="false" />
                            <input type="hidden" id="hdnTargetCtrlUpload" runat="server" />
                            <asp:Panel ID="pnlOrderDetails" runat="server" CssClass="FileUploaderPopup_Mesgbox LCLB rounded_corners"
                                       Style="display: none; width: 920px;">
                                <div class="white_background pad20">
                                    <uc9:OrderDetailsControl ID="orderDetailsControl" runat="server" />
                                </div>
                            </asp:Panel>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>

}
<div id="Vorder" class="popupInnerContainer rounded_corners" style="height: 530px; overflow: auto; z-index:0; margin-top:10px; visibility:hidden">
    <table border="0" width="100%" cellpadding="4" cellspacing="0" id="Mytable" style="background-color:#F6F6F7;">
        <tbody>
            <tr>
                <td>
                    
                        <table border="0" cellpadding="3" cellspacing="0" width="100%">
                            <tbody>
                                <tr>
                                    <td class="textAlignRight" style="width: 90px">
                                        <span class="simpleTextBold" id="spnordernum">Order Number:</span>
                                    </td>
                                    <td class="textAlignLeft simpleText">
                                        @*<label id="lblOrderNumber" class="txtBold" />*@
                                        <span id="OrderCode" class="txtBold"></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td class="textAlignRight">
                                        <span class="simpleTextBold" id="spnorderstatus">Status:</span>
                                    </td>
                                    <td class="textAlignLeft simpleText" style="width: 200px">
                                        @*<label id="lblOrderStatus" class="txtBold clrOrderDetail" />*@

                                        <span id="OrderStatus" class="txtBold clrOrderDetail"></span>

                                   </td>
                                </tr>
                                <tr>
                                    <td class="textAlignRight">
                                        <span class="simpleTextBold" id="spnorderdate">Order Date:</span>
                                    </td>
                                    <td class="textAlignLeft simpleText">
                                        @*<asp:label id="lblOrderDate" class="txtBold" />*@
                                        <span id="OrderDate" class="txtBold"></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    @*<td class="textAlignRight">
                                        <span class="simpleTextBold" id="spnClientStatus" >Status:</span>
                                    </td>*@
                                    @*<td class="textAlignLeft simpleText" style="width: 200px">*@
                                        @*<asp:DropDownList ID="AllOrderStatuses" runat="server" CssClass="dropdown rounded_corners5"
                                                              Width="107px">
                                            </asp:DropDownList>*@



                                        @*<asp:Button ID="btnClientStatusUpdate" runat="server" OnClick="btnClientStatusUpdate_Click"
                                            CssClass="start_creating_btn rounded_corners5" Width="80px" Text="Update" />*@
                                        

                                    @*</td>*@
                                </tr>
                                <tr>
                                    <td class="textAlignRight">
                                        <span class="simpleTextBold" id="Span1">Placed By:</span>
                                    </td>
                                    <td class="textAlignLeft simpleText">
                                        @*<Label ID="lblPlacedBy"  Class="txtBold" />*@
                                        <span id="OrderPlaceBy" class="txtBold"></span>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td class="textAlignRight">
                                        <span class="simpleTextBold" id="spndileverydate">Delivery Date:</span>
                                    </td>
                                    <td class="textAlignLeft simpleText">
                                        @*<label id="lblOrderDeliveryStartDate" class="txtBold" />*@
                                        <span id="OrderDeliveryDate" class="txtBold"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <div class="cntPLOrderDetails">

                        <div id="GridTable"></div>
                        @*<asp:GridView ID="grdViewShopCart" SkinID="ProductOrderHistoryGrid" DataKeyNames="ItemID"
                          runat="server" OnRowDataBound="grdViewShopCart_RowDataBound">
                <columns>
                    <asp:templatefield headerstyle-horizontalalign="Left" itemstyle-verticalalign="Top">
                        <itemtemplate>
                            <table border="0" cellpadding="2" cellspacing="0">
                                <tr>
                                    <td valign="middle">
                                        <input type="hidden" id="txtHdnFileName" runat="server" value='<%# DataBinder.Eval(Container.DataItem, "Attatchment.FileName")%>' />
                                        <div class="gallery">
                                            <a id="lnkPdfFile" runat="server" href='<%# DataBinder.Eval(Container.DataItem, "Attatchment.FolderPath")%>'>
                                                <asp:Image ID="imgPdf" SkinID="imgArtWorkIcon" runat="server" />
                                            </a>
                                        </div>
                                    </td>
                                    <td valign="middle"></td>
                                </tr>
                            </table>
                        </itemtemplate>
                    </asp:templatefield>
                    <asp:templatefield headertext="Product Description" headerstyle-horizontalalign="Left"
                                       itemstyle-horizontalalign="Left">
                        <itemtemplate>
                            <div>
                                <span>
                                    <strong>
                                        <%# DataBinder.Eval(Container.DataItem, "ProductName")%>
                                    </strong>
                                </span>
                                <asp:Label ID="lblAddonsHeading" runat="server">with following addons :</asp:Label>
                            </div>
                            <asp:BulletedList CssClass="UList" ID="bltSelectedAddonList" runat="server" DisplayMode="Text">
                            </asp:BulletedList>
                        </itemtemplate>
                    </asp:templatefield>
                    <asp:templatefield headertext="Quantity" headerstyle-horizontalalign="Left" itemstyle-horizontalalign="Left">
                        <itemtemplate>
                            <span>
                                <%# DataBinder.Eval(Container.DataItem, "Qty1") %>
                            </span>
                        </itemtemplate>
                    </asp:templatefield>
                    <asp:templatefield headertext="Price" headerstyle-horizontalalign="Left" itemstyle-horizontalalign="Left">
                        <itemtemplate>
                            <asp:Label ID="lblItemPrice" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "Qty1BaseCharge1") %>' />
                        </itemtemplate>
                    </asp:templatefield>
                    <asp:templatefield headertext="VAT" headerstyle-horizontalalign="Left" itemstyle-horizontalalign="Left">
                        <itemtemplate>
                            <asp:Label ID="lblVatStateTax" runat="server" />
                        </itemtemplate>
                    </asp:templatefield>
                    <asp:templatefield headertext="Total" headerstyle-horizontalalign="Left" itemstyle-horizontalalign="Left">
                        <itemtemplate>
                            <asp:Label ID="lblTotalItemPrice" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "Qty1GrossTotal") %>' />
                        </itemtemplate>
                    </asp:templatefield>
                </columns>
            </asp:GridView>*@
                    </div>
                </td>
            </tr>
            <tr id="PnalTotalBox">
                <td align="right">
                    <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText">
                        <div class="padding10">
                            <table border="0" cellpadding="3" cellspacing="0" width="200px">
                                <tr>
                                    <td align="left">
                                        <span id="spnsubtotal">Sub Total:</span>
                                    </td>
                                    <td>
                                     <label id="lblSubTotal"><span id="subtotal"></span></label>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 80%">
                                        <span id="spnDeliveryoptn">Deivery Cost:</span>
                                    </td>
                                    <td>
                                         <label id="lblDeliveryCost"><span id="DelCharge"></span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" style="width: 80%">
                                        <span id="spnvattotal">Vat Total:</span>
                                    </td>
                                    <td>
                                            <label id="lblVatTotal"><span id="Vat"></span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <span class="CartFonts" id="spngrndtotal">Grand Total:</span>
                                    </td>
                                    <td>
                                        
                                       
                                            <label class="CartFonts txtBold" id="lblGrandTotal"><span id="Grandtotal"></span></label>
                                       
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table id="PnlAddresses" border="0" cellpadding="0" cellspacing="0"
                               width="100%">
                            <tr>
                                <td>
                                    
                                        <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText">
                                            <div class="product_detail_sup_padding">
                                                <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" style="height: 25px; text-align: left;">

                                                                <label id="lblMainControlHeading" class="heading_small">Billing Address</label>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 33%">
                                                                <span id="spnbillingname">Billing Name:</span>
                                                            </td>
                                                            <td style="width: 67%">

                                                                <label id="lblBillingName" class="txtBold"><span id="BillingAddressName"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrladdressline1">Address line 1:</span>
                                                            </td>
                                                            <td>

                                                                <label id="lblAddressLine1" class="txtBold"><span id="BillingAddressline1"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrladdressline2">Address line 2:</span>
                                                            </td>
                                                            <td>

                                                                <label id="lblAddressLine2" class="txtBold"><span id="BillingAddressline2"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrlcity">City:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblCity" class="txtBold"><span id="BillingAddressCity"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrlstate">State:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblState" class="txtBold"><span id="BillingAddressState"></span></label>>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrlzipcodeP">Zip Code / Post Code:</span>
                                                            </td>
                                                            <td>
                                                                <span id="BillingAddressPostCode"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrlcountry">Country:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblCountry" class="txtBold"><span id="BillingAddressCountryName"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="ltrlcontactnum">Contact Number:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblContactNumber" class="txtBold"><span id="BillingAddressContactNumber"></span></label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                   
                                </td>
                                <td></td>
                                <td align="right">
                                    
                                    <div class="whitebackground textAlignLeft rounded_corners BillShipAddressesControl simpleText">
                                        <div class="product_detail_sup_padding">
                                           
                                            
                                                <table border="0" cellpadding="2" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2" style="height: 25px; text-align: left;">
                                                                <label id="Label1" class="heading_small">Shipping Address</label>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 33%">
                                                                <span id="spnshppingname">Shipping Name:</span>
                                                            </td>
                                                            <td style="width: 67%">
                                                                <label id="lblShipAddressName" class="txtBold">@*@ViewBag.DeliveryAddress.AddressName*@<span id="DeliveryAddressName"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spnaddressline2nd">Address line 1:</span>
                                                            </td>
                                                            <td>
                                                                <Label ID="lblShipAddLine1" Class="txtBold">@*@ViewBag.DeliveryAddress.Address1*@<span id="DeliveryAddressline1"></span></Label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spnaddressline2nd2">Address line 2:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblShipAddressLine2" class="txtBold">@*@ViewBag.DeliveryAddress.Address2*@<span id="DeliveryAddressline2"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spncity2">City:</span>
                                                            </td>
                                                            <td>
                                                                <Label ID="lblShipAddCity" Class="txtBold">@*@ViewBag.DeliveryAddress.City*@<span id="DeliveryAddressCity"></span></Label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spnstate2">State:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblShipState" class="txtBold"><span id="DeliveryAddressState"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spnzipcoeP2">Zip Code / Post Code:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblShipPostCode" class="txtBold">@*@ViewBag.DeliveryAddress.PostCode*@<span id="DeliveryAddressPost"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spncountry2">Country:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblShipCountry" class="txtBold">@*@ViewBag.DeliveryAddress.Country.CountryName*@<span id="DeliveryAddressCountryName"></span></label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="spncontactnum2">Contact Number:</span>
                                                            </td>
                                                            <td>
                                                                <label id="lblShipContact" class="txtBold">@*@ViewBag.DeliveryAddress.ContactMobile*@<span id="DeliveryAddressContactNo"></span></label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                           
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $("#txtFromDate").datepicker();
            $("#txtToDate").datepicker();

        });

        function ReOrder(orderId)
        {
            var d={ OrderId: orderId }
            $.ajax({
                type: "POST",
                url: "/ProductOrderHistory/OrderResult",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(d),
                success: function (response) {
                }
            });
        }

        function ViewOrder(orderId) {
            $.ajax({
                type: "GET",
                url: "/webstoreapi/CostCenter/GetData",
                contentType: "application/json",
                data: { orderID: orderId },
                async: true,
                success: function (response) {
                   
                     
                    $("#Grandtotal").text(response.CurrencySymbol + "" + response.GrossTotal);

                    
                    $("#subtotal").text(response.CurrencySymbol + "" + response.SubTotal);
                    
                    $("#Vat").text(response.CurrencySymbol + "" + response.VAT);

                    
                    $("#OrderCode").text(response.order.OrderCode);
                    $("#OrderStatus").text(response.order.StatusName);
                    $("#OrderDate").text(response.OrderDateValue);
                    alert(response.OrderDateValue);

                    $("#OrderPlaceBy").text(response.order.PlacedBy + "" + '(' + response.order.CompanyName + ')');

                    $("#OrderDeliveryDate").text(response.DeliveryDateValue);
                    
                    $("#DelCharge").text(response.CurrencySymbol+""+response.DeliveryCostCharges);
                   
                    $("#BillingAddressName").text(response.billingAddress.AddressName);

                    $("#BillingAddressline1").text(response.billingAddress.Address1);
                    $("#BillingAddressline2").text(response.billingAddress.Address2);
                    $("#BillingAddressCity").text(response.billingAddress.City);
                    if ((response.billingAddress.State) != null) {
                        ("#BillingAddressState").text(response.billingAddress.State.StateName);
                    }
                    if (response.billingAddress.Country != null)
                    {
                        $("#BillingAddressCountryName").text(response.billingAddress.Country.CountryName);
                    }
                    
                    $("#BillingAddressPostCode").text(response.billingAddress.PostCode);

                    alert(response.billingAddress.PostCode);

                    $("#BillingAddressContactNumber").text(response.billingAddress.ContactMobile);

                    $("#DeliveryAddressName").text(response.shippingAddress.AddressName)
                    $("#DeliveryAddressline1").text(response.shippingAddress.Address1)
                    $("#DeliveryAddressline2").text(response.shippingAddress.Address2)
                    $("#DeliveryAddressCity").text(response.shippingAddress.City)
                    if (response.shippingAddress.State != null) {
                        $("#DeliveryAddressState").text(response.shippingAddress.State.StateName)
                    }
                    $("#DeliveryAddressPost").text(response.shippingAddress.PostCode)
                    if (response.shippingAddress.Country != null)
                    {
                        $("#DeliveryAddressCountryName").text(response.shippingAddress.Country.CountryName);
                    }
                 
                    $("#DeliveryAddressContactNo").text(response.shippingAddress.ContactMobile)

                    var GridItems = response.order.OrderDetails.CartItemsList;
                    var InnerHtml = "<table cellspacing='10' cellpadding='7' style='width:100%;'><thead><tr style='gridViewRowStyle'><th></th><th>Product Description</th><th>Quantity</th><th>Price</th><th>VAT</th><th>Total</th></tr></thead>";
                    
                    $.each(GridItems, function (i, IT) {
                    {
                        //InnerHtml += '<tr>';

                        InnerHtml = InnerHtml.concat('<tr class="gridViewRowStyle"><td><img src=', IT.ImagePath, ' /></td> <td><label id="Productname">', IT.ProductName, '</label></td> <td><label id="Qty">', IT.Qty1, '</label></td> <td><label id="Price">', response.CurrencySymbol + "" + IT.Qty1BaseCharge1, '</label></td> <td><label id="VAT">', response.CurrencySymbol + "" + IT.Qty1Tax1Value, '</label></td><td><label id="Total">', response.CurrencySymbol +""+IT.Qty1GrossTotal, '</label></td></tr>')
                                                    //'<td><img src=' + IT.ImagePath + ' /></td>' +
                                                    //'<td><label id="Productname">' + IT.ProductName + '</label></td>' +
                                                    //'<td><label id="Qty">' + IT.Qty1 + '</label></td>' +
                                                    //  alert(IT.Qty1);
                                                    // '<td><label id="Price">'+ IT.Qty1BaseCharge1+'</label></td>' +
                                                    //  alert(IT.Qty1BaseCharge1);
                                                    // '<td><label id="VAT">' + IT.Qty1Tax1Value + '</label></td>' +
                                                    // '<td><label id="Total">' + IT.Qty1GrossTotal + '</label></td>'
                        //+'</tr>'
                    } 
                    });
                    InnerHtml += '</table>';
                    $("#GridTable").html(InnerHtml);
                    var panelHtml = $("#Vorder").html();
                    console.log(panelHtml);
                    ViewOrderPopUp("View Order", panelHtml);
                }

            });

        }
    </script>
}
