@model MPC.Webstore.Models.AddressViewModel
@using MPC.Webstore.Common;
@{
    Layout = null;
}
@if (ViewBag.Display == "1")
{
    <div id="Footer">
        <div class="spclColor">
            <div class="GreyBackS6">
                <div class="container heightauto content_area">
                    <div class="left_right_padding">
                        <div class="space5">
                            &nbsp;
                        </div>
                        <div class="footer_portion themeFontColor">
                            @foreach (var item in ViewData["PageCategory"] as List<MPC.Models.DomainModels.PageCategory>)
                            {
                                <div class="footer_left_portion_division float_left_simple">
                                    <label id="catName" class="heading_small_orange" style="font-size: 14px !important;font-weight:bolder !important;color:white;">@item.CategoryName</label>
                                @if (ViewData["CmsPage"] != null)
                                {
                                    foreach (var page in ViewData["CmsPage"] as List<MPC.Models.Common.CmsPageModel>)
                                    {
                                        if (page.CategoryId == item.CategoryId)
                                        {
                                            <ul class="uSecPageList  themeFontColor">
                                                <li>
                                                    <a href="/pages/@Utils.specialCharactersEncoder(page.PageTitle)/@page.PageId" id="secPages" class="uSecPageList" style="color:white;">@page.PageTitle</a>
                                                </li>
                                            </ul>
                                        }
                                    }
                                }
                                    
                                </div>
                            }
                        </div>
                        @if (Model != null) {
                        <div class="footer_portion themeFontColor">
                            <div class="footer_left_portion_division float_left_simple">
                                <label id="lbl_ContactInformation" class="heading_small_orange" style="font-size: 14px !important;font-weight:bolder !important;color:white;">@Html.Raw(Html.GetKeyValueFromResourceFile("lblUserProfile", UserCookieManager.WBStoreId))</label>
                               
                                <ul class="uSecPageList  themeFontColor">
                                    <li>
                                        <a href="#" id="secPages" class="uSecPageList" style="color:white;">@Model.Address1</a>
                                    </li>
                                    @if (Model.Address2 != null)
                                    {
                                        <li>
                                            <a href="#" id="secPages" class="uSecPageList" style="color:white;">@Model.Address2</a>
                                        </li>
                                    }
                                    <li>
                                        <a href="#" id="secPages" class="uSecPageList" style="color:white;">@Model.City, @Model.State</a>
                                    </li>
                                    <li>
                                        <a href="#" id="secPages" class="uSecPageList" style="color:white;">@Model.ZipCode @Model.Country</a>
                                    </li>
                                 
                                    @if (Model.Tel != null)
                                    {
                                        <li>
                                            <a href="#" id="secPages" class="uSecPageList" style="color:white;">@Model.Tel</a>
                                        </li>
                                    }
                                    @if (Model.Email != null)
                                    {
                                        <li>
                                            <a href="#" id="secPages" class="uSecPageList" style="color:white;">@Model.Email</a>
                                        </li>
                                    }
                                </ul>
                                <div class="uSecPageList CreditCardCS" style=" width:200px; margin-top:20px;">

                                </div>
                            </div>
                        </div>
                        }
                        <div class="space5">
                            &nbsp;
                        </div>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
}