@using MPC.Webstore.Common;
@using MPC.Models.Common;
@using System;
@{
    Layout = null;
}

@{
    var ParentCategories = ViewBag.rptParentCategoryNames as List<MPC.Models.DomainModels.ProductCategory>;
    var Properties = ViewBag.lstProperties as List<MPC.Models.DomainModels.Listing>;
    var ChildCategories = ViewBag.AllCategories as List<MPC.Models.DomainModels.ProductCategory>;
    var AllListingImages = ViewBag.AllListingImages as List<MPC.Models.DomainModels.ListingImage>;
    var ListingID = 0;
    var RedirectUrl = String.Empty;
    var ModifyListing = String.Empty;
}

<link href="/Content/carousel.css" rel="stylesheet" />
<link href="~/Content/RealEstate_StyleSheet.css" rel="stylesheet" />
<link href="/Content/content.css" rel="stylesheet" />
<div id="rlEbannerCnt">
    <div class="container">

        @if (Properties != null)
        {
            <div class="realEs-myProfile-rightPanel">
                <div class="carousel">
                    <!-- BEGIN CONTAINER -->
                    <div class="slides" style="width:715px!important;">
                        <!-- BEGIN CAROUSEL -->
                        @foreach (var property in Properties)
                        {
                            var FilteredLImages = AllListingImages.Where(i => i.ListingId == property.ListingId).ToList();
                            var ImagSrc = string.Empty;
                            <div class="realEs-carousal-evolution">
                                <!-- SLIDE ITEM -->
                                @{

                            var ProductUrl = "/RealEstateProducts/" + property.ListingId;

                                }
                                <a href="@ProductUrl" id=" hlproductdetail">

                                    @if (FilteredLImages.Count > 0)
                                    {
                                        if (!string.IsNullOrEmpty(FilteredLImages[0].ImageURL))
                                        {
                                            string imagePath = FilteredLImages[0].ImageURL;
                                            //string filenameWithOutEx = Path.GetFileNameWithoutExtension(FilteredLImages[0].ImageURL);
                                            //string Extensn = Path.GetExtension(FilteredLImages[0].ImageURL);
                                            //string filename = Path.GetFileName(FilteredLImages[0].ImageURL);
                                            //int indexof = imagePath.IndexOf(filename);
                                            //string serverPAth = imagePath.Substring(0, indexof);
                                            //string newfilename = filenameWithOutEx + "_thumb" + Extensn;
                                            //imagePath = serverPAth + newfilename;
                                            ImagSrc = imagePath;
                                        }
                                        else
                                        {
                                            ImagSrc = "../" + FilteredLImages[0].ImageURL;
                                        }
                                        <img id="imgThumbnail" src="@ImagSrc" style="width:auto !important; height:185px !important;" />
                                    }
                                    <br />
                                    @*<label id="lblpropertyLabel">@property.AddressDisplay</label>*@
                                    <label id="lblpropertyLabel">@property.PropertyName</label>
                                </a>
                            </div>

                        }
                    </div>
                    <!-- END SLIDES -->

                </div>

                <!-- END CAROUSEL -->



            </div>

        }


        <div class="clearBoth">
            &nbsp;
        </div>
        <div style="width:25%; float:right;">
            <div id="ListingPanelBtns">
                @{
                    RedirectUrl = "/RealEstateSmartForm/" + ListingID;
                    ModifyListing = "/RealEstateListingGrid";
                }
                <a class="SliderBtnStyles" href="@RedirectUrl">Add Listing</a>
                <a class="SliderBtnStyles" style="margin-left:4px;" href="@ModifyListing">ModifyListing</a>
                <div class="Clearboth"></div>
            </div>
        </div>
    </div>
    <div class="clearBoth">
    </div>


</div>
<!--/Left Panel-->
<!--Center Part-->


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script src="/Scripts/jquery.mousewheel.min.js"></script>
<script src="/Scripts/jquery.carousel-1.1.min.js"></script>
<script src="/Scripts/sample01.js"></script>


