

@using MPC.Webstore.Common;
@using MPC.Models.Common;
@{
    Layout = null;
}
@{
    var Listing = ViewBag as MPC.Models.DomainModels.Listing;
    var ListingAgents = ViewBag as List <MPC.Models.DomainModels.CompanyContact>;
    var CurrentItem = ViewBag as MPC.Models.DomainModels.GetCategoryProduct;
}


    @*<div class="content_area container" style="background-color: black;">
        <div  ID="pnlSmartForm">
            <div id="ValidationSummery" class="rounded_corners col-md-12 col-lg-12 col-xs-12" style="display:none; color: white; border: 1px solid red; padding: 20px;">
            </div>
            <div class="smartFormParentDiv">
                <div class="smartFormFirstChild">
                    <h4 class="propertySection">PROPERTY DETAILS</h4>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">Property address</h5>
                        <div class="controlDiv">
                            <label>Unit Number</label>
                            <input type="text" ID="txtUnitNumber" Class="generalTextBox {{UnitNum}}" PlaceHolder="Unit number" value="@Listing.UnitNumber">
                        </div>
                        <div>
                            <label>Street No.</label>
                            <input type="text" id="txtStreetNumber" class="generalTextBox {{StreetNum}}" placeholder="Street number" value="@Listing.StreetNumber">
                        </div>
                    </div>
                    <div>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Street Name</label>
                            <input type="text" id="txtStreetName" class="generalTextBox full-width-boxes {{Street}}" style="" placeholder="Street name" value="@Listing.Street">
                        </div>
                    </div>
                    <div>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Suburb</label>
                            <input type="text" id="txtSuburb" class="generalTextBox full-width-boxes {{Suburb}}" style="" placeholder="Suburb / Town" value="@Listing.Suburb">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>State</label>
                            <input type="text" id="txtState" class="generalTextBox {{State}}" placeholder="State" value="@Listing.State">
                        </div>
                        <div>
                            <label>Postcode</label>
                            <input type="text" id="txtPostcode" class="generalTextBox {{PostCode}}" placeholder="Postcode" value="@Listing.PostCode">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv" style="float: inherit;">
                            <label>Listing ID</label>
                            <input  type="text" id="txtListingId" class="generalTextBox {{ListingID}}" placeholder="Listing Id" value="@Listing.ClientListingId" >
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">Rates</h5>
                        <div class="controlDiv">
                            <label>Council</label>
                            <input type="text" id="txtCouncil" class="generalTextBox {{CouncilRates}}" placeholder="Council" value="@Listing.CounsilRates">
                        </div>
                        <div>
                            <label>Starta</label>
                            <input type="text" id="txtStarta" class="generalTextBox {{StrataSinking}}" placeholder="Starta" value="@Listing.StrataSinking">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Water</label>
                            <input type="text" id="txtWater" class="generalTextBox {{WaterRates}}" placeholder="Water" value="@Listing.WaterRates">
                        </div>
                        <div>
                            <label>Land</label>
                            <input type="text" id="txtLand" class="generalTextBox {{LandTax}}" placeholder="Land" value="@Listing.LandTax">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Starta Admin</label>
                            <input type="text" id="txtStartaAdmin" class="generalTextBox {{StrataAdmin}}" placeholder="Starta Admin" value="@Listing.StrataAdmin">
                        </div>
                        <div>
                            <label>Other</label>
                            <input type="text" id="txtOther" class="generalTextBox {{OtherOutgoings}}" placeholder="Other" value="@Listing.OtherOutgoings">
                        </div>
                    </div>
                </div>
                <div class="smartFormFirstChild">
                    <h4 class="propertySection">PROPERTY FEATURES</h4>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">Features</h5>
                        <div class="controlDiv">
                            <label>Property Type</label>
                            <input type="text" id="txtPropertyType" class="generalTextBox {{PropertyType}}" placeholder="Property Type" value="@Listing.PropertyType">
                        </div>
                        <div>
                            <label>Category</label>
                            <input type="text" id="txtCategory" class="generalTextBox {{PropertyCategory}}" placeholder="Category" value="@Listing.PropertyCategory">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Construction</label>
                            <input type="text" id="txtConstruction"class="generalTextBox {{Construction}}" placeholder="Construction" value="@Listing.Construction">
                        </div>
                        <div>
                            <label>Style</label>
                            <input type="text" id="txtStyle" class="generalTextBox {{Style}}" placeholder="Style" value="@Listing.Features">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Land Size</label>
                            <input type="text" id="txtLandSize" class="generalTextBox {{LandAreaUnit}}" placeholder="Land Size" value="@Listing.LandArea">
                        </div>
                        <div>
                            <label>Building Size</label>
                            <input type="text" id="txtBuildingSize" class="generalTextBox {{BuildingAreaSqm}}" placeholder="Building Size" value="@Listing.BuildingAreaSqm">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Condition</label>
                            <input type="text" id="txtCondition" class="generalTextBox {{PropertyCondition}}" placeholder="Condition" value="@Listing.PropertyCondition">
                        </div>
                        <div>
                            <label>View / Aspect</label>
                            <input type="text" id="txtViewAspect" class="generalTextBox {{Aspect}}" placeholder="View / Aspect" value="@Listing.Aspect">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Bedrooms</label>
                            <input type="text" id="txtBedrooms" class="generalTextBox {{BedRooms}}" placeholder="Bedrooms" value="@Listing.BedRooms">
                        </div>
                        <div>
                            <label>Bathrooms</label>
                            <input type="text" id="txtBathrooms" class="generalTextBox {{BathRooms}}" placeholder="Bathrooms" value="@Listing.BathRooms">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Lounge Rooms</label>
                            <input type="text" id="txtLoungeRooms" class="generalTextBox {{LoungeRooms}}" placeholder="Lounge Rooms" value="@Listing.LoungeRooms">
                        </div>
                        <div>
                            <label>Toilets</label>
                            <input type="text" id="txtToilets" class="generalTextBox {{Toilets}}" placeholder="Toilets" value="@Listing.Toilets">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Studies</label>
                            <input type="text" id="txtStudies" class="generalTextBox {{Studies}}" placeholder="Studies" value="@Listing.Studies">
                        </div>
                        <div>
                            <label>Pools</label>
                            <input type="text" id="txtPools" class="generalTextBox {{Pools}}" placeholder="Pools" value="@Listing.Pools">
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <div class="controlDiv">
                            <label>Garages</label>
                            <input type="text" id="txtGarages" class="generalTextBox {{Garages}}" placeholder="Garages" value="@Listing.Garages">
                        </div>
                        <div>
                            <label>Car Spaces</label>
                            <input type="text" id="txtCarSpaces" class="generalTextBox {{CarSpaces}}" placeholder="Car Spaces" value="@Listing.CarSpaces">
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="smartFormParentDiv">
                <div class="smartFormSecondChild">
                    <div class="controlParentDiv">
                        <h5 class="detailSection">Listing Details</h5>
                        <div class="controlSecondDiv">
                            <label>Listing Type</label>
                            <input type="text" id="txtListingType" class="generalTextBox {{ListingType}}" placeholder="Listing Type" value="@Listing.ListingType">
                        </div>
                        <div class="controlSecondDiv">
                            <label>Price</label>
                            <input type="text" id="txtPrice" class="generalTextBox {{DisplayPrice}}" style="margin-right: 10px;" placeholder="Price" value="@Listing.DisplayPrice">
                        </div>
                        <div class="controlSecondDiv">
                            <label>Price Guide</label>
                            <input type="text" id="txtPriceGuid" class="generalTextBox {{SearchPrice}}" placeholder="Price Guid" value="@Listing.SearchPrice">
                        </div>
                        <div class="controlSecondDiv">
                            <label style="margin-left: 0px;">Website</label>
                            <input type="text" id="txtWebsite" class="generalTextBox width-234 {{WebLink}}" style="" placeholder="Website" value="@Listing.WebLink">
                        </div>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">Inspection Dates</h5>
                        <div class="controlSecondDiv">
                            <label>Inspection Date</label>
                            @if (Listing.AvailableDate != null)
                            {
                                <input type="text" id="txtInspectionDate" class="generalTextBox {{AvailableDate}}" placeholder="Inspection Date" value="@Listing.AvailableDate">
                            }
                            else
                            {
                                <input type="text" id="txtInspectionDate" class="generalTextBox {{AvailableDate}}" placeholder="Inspection Date" value="@string.Empty">
                            }
                            @*<ajaxToolkit:CalendarExtender TargetControlID="txtInspectionDate" Format="MM/dd/yyyy" ID="txtInspectionDatePickerExtender"
                                                          BehaviorID="txtInspectionDatePickerExtender" runat="server" />*@


                            @*@Html.TextBoxFor(model => model.InquiryItemDeliveryDate1, new { id = "txtInquiryDate1", @class = "newTxtBox Jdatepicker", placeholder = Html.Raw(Html.GetKeyValueFromResourceFile("ltrldeliverydate", UserCookieManager.WBStoreId, "Desired Delivery")), maxlength = 500, @readonly = "readonly" })*@
                            <input />
                        </div>
                        <div class="controlSecondDiv">
                            <label>Start Time</label>
                            <input type="text" id="txtInspectionStartTime" class="generalTextBox {{InspectionStartTime}}" style="margin-right: 10px;" placeholder="Start Time" value="@Listing.InspectionTimeFrom1">
                        </div>
                        <div class="controlSecondDiv" style="">
                            <label>End Time</label>
                            <input type="text" id="txtInspectionEndTime" class="generalTextBox {{InspectionEndTime}}" placeholder="End Time" value="@Listing.InspectionTimeFrom2">
                        </div>
                        <div class="controlSecondDiv" style="text-align: right;">
                            <label>&nbsp;</label>
                           
                            <input type="button" id="btnInspectionDateTime" class="inspectionBtn" value="+ Inspection dates / times" style="display:none;" />
                        </div>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">Auction Details</h5>
                        <div class="controlSecondDiv">
                            <label>Auction Date</label>
                            <asp:TextBox runat="server" ID="txtAuctionDate" CssClass="generalTextBox {{AuctionDate}}" PlaceHolder="Auction Date"></asp:TextBox>
                            @*<ajaxToolkit:CalendarExtender TargetControlID="txtAuctionDate" Format="MM/dd/yyyy" ID="txtAuctionDatePickerExtender"
                                                          BehaviorID="txtAuctionDatePickerExtender" runat="server" />*@
                        </div>
                        <div class="controlSecondDiv">
                            <label>Start Time</label>
                            <input type="text" id="txtAuctionStartTime" class="generalTextBox {{AuctionStartTime}}" style="margin-right: 10px;" placeholder="Start Time" value="@Listing.InspectionTimeFrom1">
                        </div>
                        <div class="controlSecondDiv">
                            <label>End Time</label>
                            <input type="text" id="txtAuctionEndTime" class="generalTextBox {{AuctionEndTime}}" placeholder="End Time" value="@Listing.InspectionTimeFrom2">
                        </div>
                        <div class="controlSecondDiv" style="">
                            <label style="margin-left: 0px;">Location</label>
                            <input type="text" id="txtLocation" class="generalTextBox width-234 {{AuctionVenue}}" style="" placeholder="Location" value="@Listing.AutionVenue">
                        </div>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                    </div>
                    <div class="controlParentDiv">
                        <h5 class="detailSection float_left_simple clearleft">Agent Details</h5>
                        
                        <input type="button" id="addAgent" class="float_right AgentBtn" value="+ Agent"  onclick="AddAgent();"/>
                        <div class="clearBoth">
                            &nbsp;
                        </div>
                                
                                 @foreach(var Agent in ListingAgents)
                                 { 
                                     int index=1;
                                <div class="controlSecondDiv">
                                    <label>Agent +""+@index Name</label>
                                    <input type="text"  ID="txtAgent1Name" Class="rptAgentsName generalTextBox {{AgentName}} <%# Container.DataItemIndex  %>  " PlaceHolder="Agent Name" value="@Agent.FirstName">
                                </div>
                                <div class="controlSecondDiv">
                                    <label>Agent +""+@index Tel</label>
                                    <input type="text" id="txtAgent1Telephone" class="generalTextBox {{AgentPhone1}}" value="@Agent.HomeTel1" style="margin-right: 10px;" placeholder="Telephone">
                                </div>
                                <div class="controlSecondDiv" style="">
                                    <label>Agent +""+@index Mob</label>
                                    <input type="text" id="txtAgent1Mobile" class="generalTextBox {{AgentMobile}}" value="@Agent.Mobile" placeholder="Mobile">
                                </div>
                                <div class="controlSecondDiv" style="">
                                    <label style="margin-left: 0px;">Agent +""+@index Email</label>
                                    <input type="text" id="txtAgent1Email" class="generalTextBox width-234 {{AgentEmail}}" value="@Agent.Email" placeholder="Email">
                                </div>
                                <div class="clearBoth height5px">
                                    &nbsp;
                                </div>
                                     index++;
                                 }
                        
                        <div id="newAgentsContainer">

                        </div>
                    </div>
                </div>

                <div class="clearBoth">
                    &nbsp;
                </div>
            </div>
            <div class="smartFormParentDiv">
                <div class="smartFormFirstChild">
                    <h4 class="propertySection">PROPERTY MARKETING</h4>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">BROCHURES</h5>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Main Headline</label>
                            @*<input type="text" id="txtbrochuresMainHeading"class="generalTextBox full-width-boxes {{BrochureMainHeadLine}}" placeholder="Main Headline" value="@Listing.br">*@
                        </div>

                    </div>
                    <div>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>summary</label>
                            @*<textarea rows="4" cols="50"  id="txtbrochuresSummery" class="MultilineTextBox full-width-boxes {{BrochureSummary}}" style="height:auto !important;" placeholder="Property summary">@Listing.b</textarea>*@
                            </div>
                    </div>
                    <div>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Description</label>
                            @*<textarea rows="4" cols="50" id="txtbrochuresDesc" class="MultilineTextBox full-width-boxes {{BrochureDescription}}" style="" placeholder="Property Description" >@Listing.BrochureDescription</textarea>*@
                              </div>
                    </div>
                </div>
                <div class="smartFormFirstChild">
                    <h4 class="propertySection">&nbsp;</h4>
                    <div class="controlParentDiv">
                        <h5 class="detailSection">SIGNBOARD</h5>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Main Headline</label>
                            @*<input type="text"  ID="txtSignboardMainHead" Class="generalTextBox full-width-boxes {{SignBoardMainHeadLine}}" PlaceHolder="Main Headline" value="@Listing.SignBoardMainHeadLine"/>*@
                        </div>

                    </div>
                    <div class="controlDiv controlParentDiv" style="width: 100%;">

                        <label>summary</label>
                        @*<textarea rows="4" cols="50" id="txtSignboardSummery" class="MultilineTextBox full-width-boxes {{SignBoardSummary}}" placeholder="Property summary"  >@Listing.SignBoardSummary</textarea>*@
                         </div>
                    <div class="controlDiv controlParentDiv" style="width: 100%;">

                        <label>Description</label>
                        @*<textarea rows="4" cols="50" id="txtSignboardDesc" class="MultilineTextBox full-width-boxes {{SignBoardDescription}}" placeholder="Property Description" >@Listing.SignBoardDescription</textarea>*@
                           </div>
                </div>
            </div>
            <div class="smartFormParentDiv">
                <div class="smartFormFirstChild">

                    <div class="controlParentDiv">
                        <h5 class="detailSection">PRESS ADVERTS</h5>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Main Headline</label>
                            @*<input type="text" id="txtPressMainHead" class="generalTextBox full-width-boxes {{AdvertsMainHeadLine}}" placeholder="Main Headline" value="@Listing.AdvertsMainHeadLine">*@
                        </div>

                    </div>
                    <div>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>summary</label>
                            @*<textarea rows="4" cols="50" id="txtPressSummery" class="MultilineTextBox full-width-boxes {{AdvertsSummary}}" placeholder="Property summary" >@Listing.AdvertsSummary</textarea>*@
                      </div>
                    </div>
                    <div>
                        <div class="controlDiv controlParentDiv" style="width: 100%;">
                            <label>Description</label>
                            @*<textarea rows="4" cols="50" id="txtPressDescription" class="MultilineTextBox full-width-boxes {{AdvertsDescription}}" style="" placeholder="Property Description" >@Listing.AdvertsDescription</textarea>*@
                         </div>
                    </div>
                </div>
                <div class="smartFormFirstChild">
                    <div class="controlDiv controlParentDiv" style="width: 100%;">
                        <div class="InstallationInstContainer">Installation Instructions</div>
                        @*<textarea rows="4" cols="50" id="txtInstalationInst" class="MultilineTextBox full-width-boxes {{InstallInstruction}}" placeholder="Installation Instructions" >@Listing.SignBoardInstallInstruction</textarea>*@
     </div>
                    @*<div class="controlDiv controlParentDiv" style="width: 100%;">

                        <div class="float_left_simple" style="width:74px;"><label>Bullet Point</label> <button runat="server" id="btnAddBullets" class="AgentBtn" onclick="return AddPoints();" style="font-size: 9px !important;">+ Bullet Point</button></div>
                        <div class="float_right">
                            <asp:Repeater ID="rptBulletPoints" runat="server" OnItemDataBound="rptBulletPoints_ItemDataBound">
                                <itemtemplate>
                                    <asp:TextBox runat="server" ID="txtBuletPoints" CssClass="generalTextBox full-width-boxes" PlaceHolder="Bullet Point " Text='<%#bind("BulletPoint") %>' Style="margin-bottom:10px;"></asp:TextBox>
                                    <asp:Label ID="lblPointId" runat="server" Text='<%#bind("BulletPointId") %>' Style="display:none;"></asp:Label>
                                    <br />
                                </itemtemplate>
                            </asp:Repeater>

                            <div class="clearBoth height5px">&nbsp;</div>
                            <div id="newBulletsContainer">

                            </div>
                        </div>
                        <div class="clearBoth">

                        </div>
                    </div>*@

                </div>
            </div>
            <div class="smartFormSecondChild">

                @*<asp:Button ID="btnContinue" runat="server" Text="Continue" OnClick="btnContinue_Click" OnClientClick="return computeData();"
                            Style="margin-bottom: 20px; float: right;" CssClass="cursor_pointer btnSaveAndOrder btnMakeThisDesign btnEditDesign" />*@
                <input id="btnContinue" type="button" value="Continue" style="margin-bottom: 20px; float: right;" class="cursor_pointer btnSaveAndOrder btnMakeThisDesign btnEditDesign" onclick="Continue();" />

                @*<asp:Button ID="btnSaveAndDesign" runat="server" Text="Save changes" OnClick="btnSaveAndDesign_Click" OnClientClick="return computeData();"
                            Style="margin-bottom: 20px; float: right;" CssClass="cursor_pointer btnSaveAndOrder btnMakeThisDesign btnEditDesign" />*@
                <input id="btnSaveAndDesign" value="Save changes" style="margin-bottom: 20px; float: right;" class="cursor_pointer btnSaveAndOrder btnMakeThisDesign btnEditDesign"  onclick="SaveChanges();"/>
                

            </div>
            <div class="clearBoth">
                &nbsp;
            </div>
        </div>
    </div>
    <div id="PopupCorpQuickText" class="FileUploaderPopup_Mesgbox  rounded_corners">
        <Label ID="lblHeader"  Class="left_align FileUploadHeaderText_PopUp float_left_simple MesgBoxClass lblPopupCorpHeading" >Select & Edit User Profile</Label>
        <div id="CancelControl" onclick="hidePopup()" class="MesgBoxBtnsDisplay rounded_corners5">
            Close
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
        <div class="SolidBorderCS">
            &nbsp;
        </div>
        <div class="corpUFcontainer">
            <div class="c1UFContainer">

                <div class="variableItemContainer" id="dropDownContainer" >
                    <div class="radioBtnCorp">
                        <input type="radio" id="btnMyProfile" name="profile" value="My profile" checked="checked" />
                        <span>My profile</span>
                        <br />
                    </div>
                    <div class="radioBtnCorp">
                        <input type="radio" id="btnOtherProfile" name="profile" value="Other profile" /><span>Other profile</span>
                        @*<asp:DropDownList ID="dropBoxSelectUser" runat="server" OnChange="onUserProfileChange();" CssClass="dropBoxSelectUserCorp"></asp:DropDownList>
                        <%--<select id="dropBoxSelectUser"  class="InputQtxtTS">
                            <option>option1</option>
                        </select>--%>*@
                        @*@Html.DropDownListFor(model => model.SelectedDeliveryAddress, (IEnumerable<SelectListItem>)@Model.DDShippingAddresses, @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlAddnewAddr", UserCookieManager.WBStoreId, "-- Add New Shipping Address --")).ToString(), new { @class = "checkoutDropDown col-md-8 col-lg-7 col-xs-12 float-none", @id = "ddlDelivery", @onchange = "onUserProfileChange();" })*@
                        <br />
                    </div>
                    <br />
                    <a class="lblShowProfile" style="display: none;">Show Profile <i class="arrow-down"></i></a>
                </div>
                <div class="profileContainer"  id="profileContainer" style="display: block;">
                    <div class="variableItemContainer">
                        <span>First Name</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtFName"  id="txtFName" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Middle Name</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtMname"  id="txtMname" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Last Name</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtLname"  id="txtLname" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Title</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtTitle"  id="txtTitle" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Home Tel 1</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtHomeTel1"  id="txtHomeTel1" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Home Tel 2</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtHomeTel2"  id="txtHomeTel2" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Home Extension 1</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtHomeExt1"  id="txtHomeExt1" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Home Extension 2</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtHomeExt2" id="txtHomeExt2" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Mobile</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtMobile"  id="txtMobile" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Pager</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtPager"  id="txtPager" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Email</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtEmail"  id="txtEmail" disabled="disabled" />
                    </div>
                    <div class="variableItemContainer">
                        <span>FAX</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtFax"  id="txtFax" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Job Title</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtJtitle"  id="txtJtitle" />
                    </div>

                    <div class="variableItemContainer">
                        <span>Linkedin URL</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtLinkedInURL"  id="txtLinkedInURL" />
                    </div>

                    <div class="variableItemContainer">
                        <span>Skype ID</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtSkypeID"  id="txtSkypeID" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Facebook URL</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtFbID"  id="txtFbID" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Twitter URL</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtTwitterURL"  id="txtTwitterURL" />
                    </div>
                    <div class="variableItemContainer">
                        <span>URL</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtURL"  id="txtURL" />
                    </div>
                    <div class="variableItemContainer">
                        <span>PO Box Address </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtPOBox"  id="txtPOBox" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Corporate Unit </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtCunit"  id="txtCunit" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Office Trading Name </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtOfcTrading"  id="txtOfcTrading" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Contractor Name </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtContractorName"  id="txtContractorName" />
                    </div>
                    <div class="variableItemContainer">
                        <span>BPay CRN </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtBpay"  id="txtBpay" />
                    </div>
                    <div class="variableItemContainer">
                        <span>ABN </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtABN"  id="txtABN" />
                    </div>
                    <div class="variableItemContainer">
                        <span>ACN </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtACN"  id="txtACN" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Additional Field 1 </span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtAf1"  id="txtAf1" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Additional Field 2</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtAf2"  id="txtAf2" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Additional Field 3</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtAf3"  id="txtAf3" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Additional Field 4</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtAf4"  id="txtAf4" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Additional Field 5</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtAf5"  id="txtAf5" />
                    </div>
                </div>
            </div>
            <div class="c2UFContainer">
                <div class="variablesContainer c2UFVarContainer">

                    <div class="clearBoth"></div>


                    <Label ID="label1" runat="server" Text="Template Quick Text Info." CssClass=" ufContainerHeading  MesgBoxClass lblPopupCorpHeading"></Label>
                    <div class="clearBoth"></div>
                    <div class="variableItemContainer">
                        <span>Full Name</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQname"  id="txtQname" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Title</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQTitle"  id="txtQTitle" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Company Name</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQCompany"  id="txtQCompany" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Address line 1</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtAddress"  id="txtAddress" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Telephone / Other</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQtel"  id="txtQtel" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Fax / Other</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQFax"  id="txtQFax" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Email address</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQEmail"  id="txtQEmail" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Website address</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQWebsite"  id="txtQWebsite" />
                    </div>
                    <div class="variableItemContainer">
                        <span>Company Message</span>
                        <br />
                        <input type="text" maxlength="500" class="InputQtxtTS txtQMessage"  id="txtQMessage" />
                    </div>

                </div>
                <asp:Button ID="Button1" runat="server" Text="Save" CssClass="cursor_pointer designNowCS_Corp rounded_corners5 btnMakeThisDesign saveDesinCorpCat" OnClick="Button1_Click" />

            </div>

            <div class="c3UFContainer c3UFContainerHeight">
                <div class="variablesContainer">
                    <img class=" imgDetailCorp" id="imgProductCPanel" style="margin-top: 30px;" />
                </div>

                <asp:Button ID="btnEditThisDesign" runat="server" Text="Design Now" CssClass="cursor_pointer designNowCS_Corp rounded_corners5 btnMakeThisDesign btnEditDesign" OnClick="btnEditThisDesign_Click" />
                <asp:Button ID="btnOrderNow" runat="server" Text="Generate Proof" CssClass="cursor_pointer designNowCS_Corp rounded_corners5 btnMakeThisDesign btnOrderNow" OnClick="btnOrderNow_Click" OnClientClick=" GeneratePreview(); return false;" />
            </div>
            <div class="clearBoth"></div>
        </div>
    </div>
    @*<input type="hidden" runat="server" id="hfSPType" value="default" />
    <input type="hidden" runat="server" id="hfCurItem" />
    <input type="hidden" runat="server" id="hfProductCatID" />
    <input type="hidden" runat="server" id="hfContactID" />
    <input type="hidden" runat="server" id="hfPrintCropMarks" />
    <input type="hidden" runat="server" id="hfCompanyID" />
    <input type="hidden" runat="server" id="hfSvcRespone" />
    <input type="hidden" runat="server" id="hfTemplateProduct" />
    <input type="hidden" runat="server" id="hfCorpType" />
    <input type="hidden" runat="server" id="hfNewlyAddedAgents" value="0" />
    <input type="hidden" runat="server" id="hfAgentList" />
    <input type="hidden" runat="server" id="hfNewlyAddedBPoints" value="0" />
    <input type="hidden" runat="server" id="hfBPointsList" />
    <input type="hidden" runat="server" id="hfAgentsCount" />
    <input type="hidden" runat="server" id="hfisChangesSaved" />*@
<link href="Styles/RealEstate_StyleSheet.css" rel="stylesheet" />
<script src="/Scripts/jquery-1.10.1.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>
<script src="/Scripts/bootstrap-datepicker.js"></script>
    @*<script type="text/javascript">
        var mode = 2;
        var CuritemID = 0;
        var CurTemplateID = 0;
        function verifySpellings() {
            if ($("#chkCheckSpelling").is(':checked')) {
                return true;
            } else {
                alert("Please Confirm spellings and details!");
                return false;
            }
        }
        function GeneratePreview() {

            var curContactID = $('#<%= hfContactID.ClientID %>').val();
            if ($("#btnOtherProfile").is(':checked')) {
                curContactID = $('#<%= dropBoxSelectUser.ClientID %>').val();
            }
            var CurrentContact = {
                ContactID: curContactID,
                quickFullName: $(".txtQname").val(),
                quickTitle: $(".txtQTitle").val(),
                quickCompanyName: $(".txtQCompany").val(),
                quickAddress1: $(".txtAddress").val(),
                quickPhone: $(".txtQtel").val(),
                quickFax: $(".txtQFax").val(),
                quickEmail: $(".txtQEmail").val(),
                quickWebsite: $(".txtQWebsite").val(),
                quickCompMessage: $(".txtQMessage").val(),
                //contact
                FirstName: $(".txtFName").val(),
                MiddleName: $(".txtMname").val(),
                LastName: $(".txtLname").val(),
                Title: $(".txtTitle").val(),
                HomeTel1: $(".txtHomeTel1").val(),
                HomeTel2: $(".txtHomeTel2").val(),
                HomeExtension1: $(".txtHomeExt1").val(),
                HomeExtension2: $(".txtHomeExt2").val(),
                Mobile: $(".txtMobile").val(),
                Pager: $(".txtPager").val(),
                Email: $(".txtEmail").val(),
                FAX: $(".txtFax").val(),
                JobTitle: $(".txtJtitle").val(),
                LinkedinURL: $(".txtLinkedInURL").val(),
                SkypeID: $(".txtSkypeID").val(),
                FacebookURL: $(".txtFbID").val(),
                TwitterURL: $(".txtTwitterURL").val(),
                URL: $(".txtURL").val(),
                POBoxAddress: $(".txtPOBox").val(),
                CorporateUnit: $(".txtCunit").val(),
                OfficeTradingName: $(".txtOfcTrading").val(),
                ContractorName: $(".txtContractorName").val(),
                BPayCRN: $(".txtBpay").val(),
                ABN: $(".txtABN").val(),
                AdditionalField1: $(".txtAf1").val(),
                AdditionalField2: $(".txtAf2").val(),
                AdditionalField3: $(".txtAf3").val(),
                AdditionalField4: $(".txtAf4").val(),
                AdditionalField5: $(".txtAf5").val(),
                ACN: $(".txtACN").val()
            }

            StartLoader();
            var obSt = {
                ContactID: $('#<%= hfContactID.ClientID %>').val(),
                CustomerID: $('#<%= hfCompanyID.ClientID %>').val(),
                OldItemID: CuritemID,
                templateID: CurTemplateID,
                printCropMarks: $('#<%= hfPrintCropMarks.ClientID %>').val(),
                objContact: CurrentContact
            }
            var jsonObjects = JSON.stringify(obSt, null, 2);
            var to;

            to = "/services/Webstore.svc/processOrder/";
            var options = {
                type: "POST",
                url: to,
                data: jsonObjects,
                contentType: "text/plain;",
                dataType: "json",
                async: true,
                complete: function (httpresp, returnstatus) {
                    StopLoader();
                    OnPreviewSuccess(httpresp.responseText);
                }
            };
            var returnText = $.ajax(options).responseText;
            return false;
        }
        function OnPreviewSuccess(responce) {
            if (responce != "") {
                $('#UpdateProgressUserProfile').css("display", "none");
                if (responce != "error") {
                    $('#<%= hfSvcRespone.ClientID %>').val(responce);
                    var arr = responce.split('_');
                    $(".iframeProofContainer").attr("src", "../TemplatePreviewer.aspx?templateID=" + arr[1]); $('#divShd').css("display", "block");
                    $("#PopupProofScreen").css("left", ($(window).width() - $("#PopupProofScreen").width()) / 2 + "px");
                    $("#PopupProofScreen").css("top", ($(window).height() - $("#PopupProofScreen").height()) / 2 + "px");
                    $("#PopupProofScreen").css("display", "block");
                    $('#divShd').css("display", "block");
                } else {
                    alert("error while processing order");
                }
            }
        }
        function StartLoader() {
            $('#divShd').css("z-index", "15000 !important"); $('#UpdateProgressUserProfile').css("z-index", "15000");
            $('#divShd').css("display", "block");

            $('#loaderimageDiv').css("display", "block");
            $("#lodingBar").html("Loading please wait....");
            var shadow = document.getElementById("divShd");
            var bws = getBrowserHeight();
            shadow.style.width = bws.width + "px";
            shadow.style.height = bws.height + "px";
            var left = parseInt((bws.width - 350) / 2);
            var top = parseInt((bws.height - 200) / 2);
            $('#UpdateProgressUserProfile').css("display", "block");
        }
        function StopLoader() {
            if (mode != 1) {
                $('#divShd').css("display", "none");
            }
            $('#UpdateProgressUserProfile').css("display", "none");
            $('#divShd').css("z-index", "500 !important");
        }
        function FunctionPopUp(itemId, imgUrl, pCatID, designMode, templateID) {
            CuritemID = itemId;
            CurTemplateID = templateID;
            $('#<%= hfCurItem.ClientID %>').val(itemId);
            $('#<%= hfProductCatID.ClientID %>').val(pCatID);
            var shadow = document.getElementById("divShd");
            var bws = getBrowserHeight();
            shadow.style.width = bws.width + "px";
            shadow.style.height = bws.height + "px";
            var left = parseInt(($(window).width() - 809) / 2);
            var top = parseInt(($(window).height() - 610) / 2);
            $('#divShd').css("z-index", "500");
            $('#divShd').css("display", "block");
            //shadow = null;
            $("#PopupCorpQuickText").css("left", ($(window).width() - $("#PopupCorpQuickText").width()) / 2 + "px");
            $("#PopupCorpQuickText").css("top", ($(window).height() - $("#PopupCorpQuickText").height()) / 2 + "px");
            $("#PopupCorpQuickText").css("display", "block");
            $("#imgProductCPanel").attr("src", imgUrl);

            if (designMode == 1) {
                $('.btnEditDesign').css("display", "inline-block");
                $('.btnOrderNow').css("display", "none");
            } else {
                $('.btnOrderNow').css("display", "inline-block");
                $('.btnEditDesign').css("display", "none");
            }
            // alert(itemId);
        }
        $("#btnMyProfile").click(function () {
            var thisCheck = $(this);
            if (thisCheck.is(':checked')) {
                $('#<%= hfSPType.ClientID %>').val("default");
                $(".dropBoxSelectUserCorp").css("display", "none");
                var contactID = $('#<%= hfContactID.ClientID %>').val();
                StartLoader();
                $.getJSON("/services/Webstore.svc/getContact?customerID=" + contactID,
                          function (xdata) {
                              OnSuccess(xdata);
                          });
            }
            else {
                $(".dropBoxSelectUserCorp").css("display", "inline-block");
                $('#<%= hfSPType.ClientID %>').val("other");
            }
        });
        $("#btnOtherProfile").click(function () {
            var thisCheck = $(this);
            if (thisCheck.is(':checked')) {
                $(".dropBoxSelectUserCorp").css("display", "inline-block");

                $('#<%= hfSPType.ClientID %>').val("other");
            }
            else {
                $('#<%= hfSPType.ClientID %>').val("default");

                $(".dropBoxSelectUserCorp").css("display", "none");
            }
        });
        //$(".lblShowProfile").click(function () {
        //    if ($(".lblShowProfile").html() == 'Show Profile <i class="arrow-down"></i>') {
        //        $(".profileContainer").css("display", "block");
        //        $(".lblShowProfile").html('Hide Profile <i class="arrow-up"></i>');
        //    } else {
        //        $(".profileContainer").css("display", "none");
        //        $(".lblShowProfile").html('Show Profile <i class="arrow-down"></i>');
        //    }
        //});
        $(document).ready(function () {
            var mode = $('#<%= hfContactID.ClientID %>').val();
            var contactID = $('#<%= hfContactID.ClientID %>').val();
            if ($('#<%= hfTemplateProduct.ClientID %>').val() == "true") {
                StartLoader();
                $.getJSON("/services/Webstore.svc/getContact?customerID=" + contactID,
                          function (xdata) {
                              OnSuccess(xdata);
                          });
            }
        });
        function hidePopup() {
            $("#PopupCorpQuickText").css("display", "none");
            $('#divShd').css("display", "none");
        }
        function hidePopup2() {
            $("#PopupProofScreen").css("display", "none");
        }
        function onUserProfileChange() {
            var contactID = $('#<%= dropBoxSelectUser.ClientID %>').val();
            StartLoader();
            $.getJSON("/services/Webstore.svc/getContact?customerID=" + contactID,
                      function (xdata) {
                          OnSuccess(xdata);
                      });
        }
        function OnSuccess(responce) {
            if (responce != "") {
                var objCorp = responce;
                StopLoader();
                mode = 1;
                $(".txtQname").val(objCorp.quickFullName);
                $(".txtQTitle").val(objCorp.quickTitle);
                $(".txtQCompany").val(objCorp.quickCompanyName);
                $(".txtAddress").val(objCorp.quickAddress1);
                $(".txtQtel").val(objCorp.quickPhone);
                $(".txtQFax").val(objCorp.quickFax);
                $(".txtQEmail").val(objCorp.quickEmail);
                $(".txtQWebsite").val(objCorp.quickWebsite);
                $(".txtQMessage").val(objCorp.quickCompMessage);
                //contact
                $(".txtFName").val(objCorp.FirstName);
                $(".txtMname").val(objCorp.MiddleName);
                $(".txtLname").val(objCorp.LastName);
                $(".txtTitle").val(objCorp.Title);
                $(".txtHomeTel1").val(objCorp.HomeTel1);
                $(".txtHomeTel2").val(objCorp.HomeTel2);
                $(".txtHomeExt1").val(objCorp.HomeExtension1);
                $(".txtHomeExt2").val(objCorp.HomeExtension2);
                $(".txtMobile").val(objCorp.Mobile);
                $(".txtPager").val(objCorp.Pager);
                $(".txtEmail").val(objCorp.Email);
                $(".txtFax").val(objCorp.FAX);
                $(".txtJtitle").val(objCorp.JobTitle);
                $(".txtLinkedInURL").val(objCorp.LinkedinURL);
                $(".txtSkypeID").val(objCorp.SkypeID);
                $(".txtFbID").val(objCorp.FacebookURL);
                $(".txtTwitterURL").val(objCorp.TwitterURL);
                $(".txtURL").val(objCorp.URL);


                $(".txtPOBox").val(objCorp.POBoxAddress);
                $(".txtCunit").val(objCorp.CorporateUnit);
                $(".txtOfcTrading").val(objCorp.OfficeTradingName);
                $(".txtContractorName").val(objCorp.ContractorName);
                $(".txtBpay").val(objCorp.BPayCRN);
                $(".txtABN").val(objCorp.ABN);
                $(".txtAf1").val(objCorp.AdditionalField1);
                $(".txtAf2").val(objCorp.AdditionalField2);
                $(".txtAf3").val(objCorp.AdditionalField3);
                $(".txtAf4").val(objCorp.AdditionalField4);
                $(".txtAf5").val(objCorp.AdditionalField5);
                $(".txtACN").val(objCorp.ACN);
            }
        }

        function closeMS() {
            $('#divShd').css("display", "none");
            $(".closeBtn").css("display", "none");
            $('#jqwin').hide();
            $('#ifrm').attr('src', 'about:blank');
        }

        function AddAgent() {

            var agentCount = parseInt($("#<%=hfAgentsCount.ClientID%>").val()) + 1;
            $("#<%=hfAgentsCount.ClientID%>").val(agentCount);
            var agentrowNo = 0;
            if ($("#<%=hfNewlyAddedAgents.ClientID%>").val() != undefined) {
                agentrowNo = parseInt($("#<%=hfNewlyAddedAgents.ClientID%>").val()) + 1;
                $("#<%=hfNewlyAddedAgents.ClientID%>").val(agentrowNo);
            } else {
                $("#<%=hfNewlyAddedAgents.ClientID%>").val(agentrowNo);
            }
            var uniqueClassId = 'AgentContainer' + agentCount;
            var url = '<div class="float_right agentDiv' + agentCount + '"><a class="removeAgentcontrol" onclick=removeAgent("' + agentCount + '");>Remove</a></div><div class="clearBoth agentDiv' + agentCount + '"></div><div id=' + uniqueClassId + ' class="newlyAddAgentsContainer"><div class=controlSecondDiv ><label>Agent ' + agentCount + ' Name</label><input  Id=txtAgentName' + agentrowNo + ' class="generalTextBox"  style="margin-right: 10px;" placeholder="AgentName" /></div>';
            url = url + '<div class=controlSecondDiv><label>Agent ' + agentCount + ' Tel</label><input  Id=txtAgentTel' + agentrowNo + ' class="generalTextBox"  style="margin-right: 10px;" placeholder="Telephone" /></div>';
            url = url + '<div class=controlSecondDiv><label>Agent ' + agentCount + ' Mob</label><input  Id=txtAgentMobile' + agentrowNo + ' class="generalTextBox"  style="margin-right: 10px;" placeholder="Mobile" /></div>';
            url = url + '<div class=controlSecondDiv><label>Agent ' + agentCount + ' Email</label><input  Id=txtAgentEmail' + agentrowNo + ' class="generalTextBox"  style="margin-right: 10px;" placeholder="Email" /></div>';
            url = url + '<div class="clearBoth height5px">&nbsp;</div></div>';
            $("#newAgentsContainer").append(url);
            return false;
        }

        function removeAgent(agentCount) {
            var IdToRemove = 'AgentContainer' + agentCount;
            var classToRemove = 'agentDiv' + agentCount;
            $("#" + IdToRemove).remove();
            $("." + classToRemove).remove();
            //var newHtml = "";
            //$('.newlyAddAgentsContainer').each(function (i, val) {

            //    var containerId = $(val).attr('id');

            //    if (containerId == IdToRemove) {

            //    } else {
            //        newHtml = newHtml + $(val).prev().prev() + $(val).prev() + '<div id=' + $(val).attr('id') + ' class=' + $(val).attr('class') + '>' + $(val).html() + '</div>';

            //    }
            //});
            //$("#newAgentsContainer").html("");
            //$("#newAgentsContainer").append(newHtml);
        }

        var jsonData = [];
        var jsonPointsData = [];
        function computeData() {

            if ($("#<%=hfisChangesSaved.ClientID%>").val() == "1") {
                return true;
            }

            var isValidInput = true;

            $("#MainContent_ValidationSummery").html("");

            var validationSummeryhtm = "";
            if (isNaN($("#<%=txtUnitNumber.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtUnitNumber.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm +"<p>Please enter numeric value in Unit Numer.</p>";
            } else {
                $("#<%=txtUnitNumber.ClientID%>").css("background", "lightgray");
            }

            if (isNaN($("#<%=txtLandSize.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtLandSize.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm +"<p>Please enter numeric value in Land Size.</p>";
            } else {
                $("#<%=txtLandSize.ClientID%>").css("background", "lightgray");
            }

            if (isNaN($("#<%=txtBuildingSize.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtBuildingSize.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm +"<p>Please enter numeric value in Building Size.</p>";
            } else {
                $("#<%=txtBuildingSize.ClientID%>").css("background", "lightgray");
            }


            if (isNaN($("#<%=txtStreetNumber.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtStreetNumber.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm +  "<p>Please enter numeric value in Street No.</p>";
            } else {
                $("#<%=txtStreetNumber.ClientID%>").css("background", "lightgray");
            }

            if (isNaN($("#<%=txtBedrooms.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtBedrooms.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm +"<p>Please enter numeric value in Bedrooms.</p>";
            } else {
                $("#<%=txtBedrooms.ClientID%>").css("background", "lightgray");
            }

            if (isNaN($("#<%=txtBathrooms.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtBathrooms.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm +"<p>Please enter numeric value in Bathrooms.</p>";
            } else {
                $("#<%=txtBathrooms.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtLoungeRooms.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtLoungeRooms.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm =validationSummeryhtm + "<p>Please enter numeric value in Lounge Rooms.</p>";
            } else {
                $("#<%=txtLoungeRooms.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtToilets.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtToilets.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Toilets.</p>";
            } else {
                $("#<%=txtToilets.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtStudies.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtStudies.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Studies.</p>";
            } else {
                $("#<%=txtStudies.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtPools.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtPools.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Pools.</p>";
            } else {
                $("#<%=txtPools.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtGarages.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtGarages.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm =validationSummeryhtm + "<p>Please enter numeric value in Garages.</p>";
            } else {
                $("#<%=txtGarages.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtCarSpaces.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtCarSpaces.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Car Spaces.</p>";
            } else {
                $("#<%=txtCarSpaces.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtCouncil.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtCouncil.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Council.</p>";
            } else {
                $("#<%=txtCouncil.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtStarta.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtStarta.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Starta.</p>";
            } else {
                $("#<%=txtStarta.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtWater.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtWater.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Water.</p>";
            } else {
                $("#<%=txtWater.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtLand.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtLand.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Land.</p>";

            } else {
                $("#<%=txtLand.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtStartaAdmin.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtStartaAdmin.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Starta Admin.</p>";
            } else {
                $("#<%=txtStartaAdmin.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtOther.ClientID%>").val())) {
                isValidInput = false;

                $("#<%=txtOther.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Other.</p>";
            } else {
                $("#<%=txtOther.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtPrice.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtPrice.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Price.</p>";
            } else {
                $("#<%=txtPrice.ClientID%>").css("background", "lightgray");
            }
            if (isNaN($("#<%=txtPriceGuid.ClientID%>").val())) {
                isValidInput = false;
                $("#<%=txtPriceGuid.ClientID%>").css("background", "rgb(187, 140, 140)");
                validationSummeryhtm = validationSummeryhtm + "<p>Please enter numeric value in Price Guide.</p>";
            } else {
                $("#<%=txtPriceGuid.ClientID%>").css("background", "lightgray");
            }

            if (isValidInput == false) {
                $("#MainContent_ValidationSummery").html(validationSummeryhtm);
                $("#MainContent_ValidationSummery").css("display", "block");
                ShowPopup('Message', "Please enter valid data in highlighted fields to proceed.");
                return false;

            } else {
                $("#MainContent_ValidationSummery").css("display", "none");
            }

            var isrptNamesValid = true;
            $('.rptAgentsName').each(function (i, val) {

                var idOfrptAgentsName = $(val).attr('id');
                if ($("#" + idOfrptAgentsName).val() == '') {
                    isrptNamesValid = false;

                    $("#" + idOfrptAgentsName).css("background", "rgb(187, 140, 140)");
                } else {

                    $("#" + idOfrptAgentsName).css("background", "lightgray");
                }

            });

            if (isrptNamesValid == false) {
                ShowPopup('Message', "Agent Name can't be blank.");
                return false;
            }



            var agentrowNo = parseInt($("#<%=hfNewlyAddedAgents.ClientID%>").val());
            var pointrowNo = parseInt($("#<%=hfNewlyAddedBPoints.ClientID%>").val());
            var jsonObj = "";
            jsonData = [];
            var isValidAgents = true;
            if (agentrowNo > 0) {
                var idOftxtBoxEmail = "";
                var idOftxtBoxAgentName = "";
                $('.newlyAddAgentsContainer').each(function (i, val) {
                    if ($(val).children().next().next().next().children().next().val() == "" || ValidateEmail($(val).children().next().next().next().children().next().val()) == false) {
                        isValidAgents = false;
                        idOftxtBoxEmail = $(val).children().next().next().next().children().next().attr('id');
                        $("#" + idOftxtBoxEmail).css("background", "rgb(187, 140, 140)");
                    } else {
                        idOftxtBoxEmail = $(val).children().next().next().next().children().next().attr('id');
                        $("#" + idOftxtBoxEmail).css("background", "lightgray");
                    }

                    if ($(val).children().children().next().val() == '') {
                        isValidAgents = false;
                        idOftxtBoxAgentName = $(val).children().children().next().attr('id');
                        $("#" + idOftxtBoxAgentName).css("background", "rgb(187, 140, 140)");
                    } else {
                        idOftxtBoxAgentName = $(val).children().children().next().attr('id');
                        $("#" + idOftxtBoxAgentName).css("background", "lightgray");
                    }

                    var obj = {
                        agentName: $(val).children().children().next().val(),
                        agentTel: $(val).children().next().children().next().val(),
                        agentMobile: $(val).children().next().next().children().next().val(),
                        agentEmail: $(val).children().next().next().next().children().next().val()
                    }
                    jsonData.push(obj);
                });

                var objData = {
                    objList: jsonData
                }
                if (isValidAgents == false) {

                    ShowPopup('Message', "Please enter valid data in highlighted fields to proceed.");
                    return false;
                } else {

                    $("#<%=hfAgentList.ClientID%>").val(JSON.stringify(objData, null, 2));

                }
            }
            if (pointrowNo > 0) {

                for (var i = 1; i <= pointrowNo; i++) {

                    var objPoint = {
                        BulletPoint: $("#txtBulletPoint" + i).val(),
                        BulletPointId: 1
                    }
                    jsonPointsData.push(objPoint);

                }
                var objPointData = {
                    objPointList: jsonPointsData
                }
                $("#<%=hfBPointsList.ClientID%>").val(JSON.stringify(objPointData, null, 2));

            }
            return true;
        }
        function AddPoints() {

            var pointrowNo = 0;
            if ($("#<%=hfNewlyAddedBPoints.ClientID%>").val() != undefined || $("#<%=hfNewlyAddedBPoints.ClientID%>").val() != "") {
                pointrowNo = parseInt($("#<%=hfNewlyAddedBPoints.ClientID%>").val()) + 1;
                $("#<%=hfNewlyAddedBPoints.ClientID%>").val(pointrowNo);
            } else {
                $("#<%=hfNewlyAddedBPoints.ClientID%>").val(pointrowNo);
            }




            var url = '<input  Id=txtBulletPoint' + pointrowNo + ' class="generalTextBox full-width-boxes" placeholder="Bullet Point " />';

            url = url + '<div class="clearBoth height5px">&nbsp;</div>';
            $("#newBulletsContainer").append(url);
            return false;
        }
    </script>*@

