@model MPC.Models.Common.OrderDetail
@using MPC.Webstore.Common;
           @{
               var _vatTotal = 0;
               var _itemTotal = 0;
           }
<div id="page" class="container content_area" style="margin: auto; border: 0px solid orange; margin-top: 20px;">

    <div class="row left_right_padding">
        <ul  class="bonhamsOption navM cursor_pointer" style="display:none;">
            <li id="lbl_SelectReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_SelectReceipt", UserCookieManager.StoreId))
            </li>
            <li id="lbl_EditReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_EditReceipt", UserCookieManager.StoreId))
            </li>
            <li id="lbl_ConfirmOrderPaymentReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ConfirmOrderPaymentReceipt", UserCookieManager.StoreId))
            </li>
            <li id="lbl_OrderSummaryReceipt" class="bonhamSelectedOption">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_OrderSummaryReceipt", UserCookieManager.StoreId))
            </li>

        </ul>
        <div class="col-md-12 col-lg-12 col-xs-12 receiptcontainer">

            <div style="font-family: 'Open Sans Condensed', sans-serif; font-style: normal; text-align: left; font-weight: normal; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; font-size: large;">
                <div class="orderReceiptTitle">
                    <label id="lbl_Receipt">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlreceipt", UserCookieManager.StoreId))</label>
                    &nbsp;<label id="lblReceiptNumber" />
                </div>
                <div style="float: right; padding: 10px; padding-top: 14px; text-decoration: underline;">
                    <a id="lbl_PrintReceipt" href="#" onclick="PrintReceipt();">
                       @Html.Raw(Html.GetKeyValueFromResourceFile("lblPrintReceipt", UserCookieManager.StoreId))
                    </a>
                </div>
                <div class="clearBoth">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="receiptArea">
            <div style="width: 100%; display: none; text-align: center; font-size: 16px; font-weight: bold; color: #C72965;">
                <label id="lbl_ThankYou">@Html.Raw(Html.GetKeyValueFromResourceFile("lblThankYou", UserCookieManager.StoreId))</label>
            </div>
            <div style="width: 100%; display: none; text-align: center; font-size: 16px; font-weight: bold; color: #C72965;">
                <label id="lbl_DelivaryConformationMessage">@Html.Raw(Html.GetKeyValueFromResourceFile("lblDelivaryConformationMessage", UserCookieManager.StoreId))</label>
            </div>
            <div class="col-md-8 col-lg-8 col-xs-12 receiptWhitelblRightcnt">
                &nbsp;
                <img id="ImagePinkcard" style="display: none;" class="pink_company_logo floatright" />
                <label id="lbl_PoweredBy" style="color: #C72965; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-weight: bold; font-style: normal; font-weight: bold; display: none; font-size: 13px; line-height: 16px; float: right; margin-top: 25px;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlPoweredBy", UserCookieManager.StoreId))</label>
            </div>
            <div id="trWhiteLabel" class="col-md-4 col-lg-4 col-xs-12 receiptWhitelblleftcnt">
                <img id="Companyimg" class="IframeCompanyLogoCs_AddSelectCS" src="@Html.GetAppBasePath()@ViewBag.Organisation.WebsiteLogo" /><br />
                <label id="ltrlCompanyName" style="font-size: 18px; font-weight: bold;">@ViewBag.Organisation.OrganisationName</label><br />
                <label id="lblAddLine1" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.Organisation.Address1</label>
                <label id="lblAddLine2" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.Organisation.Address2</label><br />
                <label id="lblTown" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.Organisation.City</label>
                <label id="lblState" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.Organisation.State</label>
                <label id="lblZipCode" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.Organisation.ZipCode</label>
                <label id="lblCountry" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.Organisation.Country</label><br />
                <div id="ImagePhne" class="TelLogoCs float_left_simple">
                </div>
                <label id="lblTel" style="color: black; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; font-style: normal; font-weight: bold; font-size: 18px; line-height: 16px; float: left; margin-top: 6px; margin-left: 10px;">@ViewBag.Organisation.Tel</label>
            </div>
            <div class=" col-md-8 col-lg-8 col-xs-12 receiptWhitelblRightcnt">
                &nbsp;
            </div>
            <div id="trVatNumb" style="height: 30px;" class="col-md-4 col-lg-4 col-xs-12 receiptWhitelblleftcnt">
                <label id="lbl_VATRegisterationNumber" style="font-weight: bold;">@Html.Raw(Html.GetKeyValueFromResourceFile("lblVATRegisterationNumber", UserCookieManager.StoreId))</label>
                <label id="lblVatNum" class="receiptVatNum" style="font-weight: bold;" >@ViewBag.Organisation.VATRegNumber</label>
            </div>
            <div class="clearBoth" style="border-top: 2px solid #f3f3f3;">
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 receiptbillingShippingcnt">
                <div style="" class="shopReceiptOrderDetails">
                    <span id="lbl_OrderDate" class="spnOrderHeadings">@Html.Raw(Html.GetKeyValueFromResourceFile("spnorderdate", UserCookieManager.StoreId)) </span>
                </div>
                <label id="lblOrderDate" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.OrderDate</label>
                <div class="clearBoth">
                    &nbsp;
                </div>
                <div class="shopReceiptOrderDetails">
                    <span id="lbl_OrderCode" class="spnOrderHeadings">@Html.Raw(Html.GetKeyValueFromResourceFile("spnordernum", UserCookieManager.StoreId))</span>
                </div>
                <label id="lblOrderCode" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.OrderCode</label>
                <div class="clearBoth">
                    &nbsp;
                </div>
                <div class="shopReceiptOrderDetails">
                    <span id="lbl_InvoiceDate" class="spnOrderHeadings">@Html.Raw(Html.GetKeyValueFromResourceFile("spninvoicedate", UserCookieManager.StoreId))</span>
                </div>
                <label id="lblInvoiceDate" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.OrderDate</label>
                <div class="clearBoth">
                    &nbsp;
                </div>
                <div class="shopReceiptOrderDetails">
                    <span id="lbl_PlacedBy" class="spnOrderHeadings">@Html.Raw(Html.GetKeyValueFromResourceFile("spnplacedby", UserCookieManager.StoreId)) </span>
                </div>
                <label id="lblPlacedBy" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.PlacedBy</label>
                <div class="clearBoth">
                    &nbsp;
                </div>
                <div class="shopReceiptOrderDetails">
                    <span id="lbl_YourRer" class="spnOrderHeadings"> @Html.Raw(Html.GetKeyValueFromResourceFile("ltlReference", UserCookieManager.StoreId))</span>
                </div>
                <label id="lblYourRefNum" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.YourRef</label>
                <div class="clearBoth">
                    &nbsp;
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 receiptbillingShippingcnt" style="line-height: 30px;">
                <span id="lbl_ReceiptbillTo" style="" class="shopReceiptBillToHeading">@Html.Raw(Html.GetKeyValueFromResourceFile("spnbilledto", UserCookieManager.StoreId))</span><br />
                <label id="lblCustName" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.CustomerName</label><br />
                <label id="lblBAddressLine1" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.Address1</label><br />
                <label id="lblAddressLine2" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.Address2</label><br />
                <label id="lblBcity" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.City</label>
                <label id="lblBState" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.State</label>
                <label id="lblBZipCode" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.PostCode</label><br />

                <label id="lblBCountry" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.Country</label><br />
                <span>
                    <label id="lbl_Tel">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Tel", UserCookieManager.StoreId))</label>
                </span>
                <label id="lblBTel" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px;">@Model.BillingAdress.Tel1</label>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12 receiptShippingDeliverycnt" style="line-height: 30px;">
                <span id="lbl_ShippedTo" class="shopReceiptBillToHeading">@Html.Raw(Html.GetKeyValueFromResourceFile("spnshippedto", UserCookieManager.StoreId))</span><br />
                <label id="lblSCusName" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.CustomerName</label><br />
                <label id="lblSAddLine1" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Address1</label><br />
                <label id="lblSAddreLine2" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Address2</label><br />
                <label id="lblSCity" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.City</label>
                <label id="lblSState" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.State</label>
                <label id="lblSZipCode" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.PostCode</label><br />
                <label id="lblSCountry" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Country</label><br />
                <label id="lbl_Tel">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Tel", UserCookieManager.StoreId))</label>
                <label id="lblSTel" style="color: #A8A8A8; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Tel1</label>
            </div>
            <div class="clearBoth">
            </div>
            <div class="trspclInstr col-md-4 col-lg-4 col-xs-12 receiptbillingShippingcnt  spclcntHeight">
                <span id="lbl_SpecialInstructions" style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; margin-left: 22px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnspeacilinstruction", UserCookieManager.StoreId))</span><br />
                <label id="lblSpecialInstructions" style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px;">@Model.SpecialInstNotes</label>
            </div>
            <div class="trspclInstr col-md-4 col-lg-4 col-xs-12 receiptbillingShippingcnt">
                <span id="lbl_EstimatedDate" style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnestimateddispatchdate", UserCookieManager.StoreId))</span><br />
                <label id="lblEstimatedDispatchDate" style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; margin-left: 0px;">@Model.DeliveryDate</label>
            </div>
            <div class="trspclInstr col-md-4 col-lg-4 col-xs-12 receiptShippingDeliverycnt">
                <span id="lbl_DelivaryMethod" style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: bold; font-size: 12px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spndilevry", UserCookieManager.StoreId))</span><br />
                <label id="lblEstimatedDeliveryMethod" style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px;">@Model.DeliveryMethod</label>
            </div>
            <div class="clearBoth">
            </div>
            <div style="height: 35px; padding: 3px; margin-top: 5px; font-size: 15px; font-weight: bold" class="col-md-12 col-lg-12 col-xs-12">
                <span id="lbl_itemsOrdered">@Html.Raw(Html.GetKeyValueFromResourceFile("lblitemsOrdered", UserCookieManager.StoreId))</span>
            </div>
            <div style="padding-bottom: 20px;" class="col-md-12 col-lg-12 col-xs-12">
                <table cellspacing="0" cellpadding="5" id="MainContent_grdViewShopCart" style="width:100%;border-collapse:collapse;">
                    <tbody>
                        <tr class="gridViewWithoutHeaderStyle">
                            <th align="right" scope="col">&nbsp;</th>
                            <th align="left" scope="col">&nbsp;</th>
                            <th align="left" scope="col">&nbsp;</th>
                        </tr>
                        @foreach (var item in Model.ItemDetail as List<MPC.Models.Common.ShoppingCart>)
                        {
                            _vatTotal = _vatTotal + item.Qty1Tax1Value;
                            _itemTotal = _itemTotal + item.Qty1BaseCharge1;
                            <tr class="gridViewWithoutHeaderRowStyle" valign="top">
                                <td align="center" style="width:32%;">
                                    <img src="" style="width: 40%;">
                                </td>
                                <td style="width:43%;">
                                    <div>
                                        <span style="font-weight: bold;">
                                            Quantity :
                                            @item.Qty1
                                        </span>
                                        <br>
                                        <br>
                                        <span  style="font-size:12px;font-weight:bold;">@item.ProductName  </span><br>
                                        <div class="">
                                            <span style="font-size:12px;">Stock: @item.PaperType</span>
                                        </div>
                                        <div class=" spacer5pxbottom">
                                            <span style="font-size:12px;">@item.ProductWebDescription</span>
                                        </div>
                                        <br>

                                    </div>

                                </td>
                                <td align="left">
                                    <span id="MainContent_grdViewShopCart_lblItemPrice_0">@item.Qty1BaseCharge1</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
            <div class="clearBoth">
            </div>
            <div id="PnalTotalBox" class="col-md-12 col-lg-12 col-xs-12" style="color: #333333; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; padding: 10px; background-color: #f3f3f3; border: 1px solid #f4f4f4;">
                <table border="0" cellpadding="3" cellspacing="0" width="100%">
                    <tr>
                        <td class="srFirstTd"></td>
                        <td class="srScdTd"></td>
                        <td class="srThirdTd" align="left" style="font-weight: normal; font-size: 14px; color: #A8A8A8; line-height: 2; font-family: Trebuchet MS, Arial, Helvetica, sans-serif;">
                            <span id="lbl_SubTotal">Sub Total:@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsubtotal", UserCookieManager.StoreId))</span>
                        </td>
                        <td class="srForthtd">
                            <label id="lblSubTotal" style="font-size: 17px; color: Black;" >@_itemTotal</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="left"></td>
                        <td align="left" style="font-weight: normal; font-size: 14px; color: #A8A8A8; line-height: 2; font-family: Trebuchet MS, Arial, Helvetica, sans-serif;">
                            <span id="lbl_Delivery">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlDeliveryMethod", UserCookieManager.StoreId))</span>
                        </td>
                        <td>
                            <label id="lblDeliveryCostCenter" >@Model.DeliveryCost</label>
                        </td>
                    </tr>
                    <tr id="rowVat">
                        <td></td>
                        <td align="left"></td>
                        <td align="left" style="font-weight: normal; font-size: 14px; color: #A8A8A8; line-height: 2; font-family: Trebuchet MS, Arial, Helvetica, sans-serif;">
                            <label id="lblTaxLabelTotal"></label>
                        </td>
                        <td width="20%">
                            <label id="lblVatTotal" >@_vatTotal + @item.DeliveryTaxValue</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td align="left">
                            <span id="lbl_Total" style="font-weight: bold; color: Black; font-size: 17px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spngrandtotal", UserCookieManager.StoreId))</span>
                        </td>
                        <td>
                            <label style="font-weight:bold; font-size:17px; color:Black;" id="lblGrandTotal"></label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="clearBoth">
            </div>
        </div>
        <br />
    </div>
    <br />
    <br />
    <br />
</div>