    @using MPC.Webstore.Common;
@using MPC.Models.Common;
@model MPC.Models.DomainModels.RequestQuote

@using (Html.BeginForm())
{

<div class="content_area container">
    <div class="left_right_padding row">
        <div class="signin_heading_div">
            
        <label id="lblTitle" class="sign_in_heading">Request A Quote</label>

        </div>

      @if (ViewBag.LoginStatus == true)
      {
           
        <div  class="get_in_touch_box_RFQ rounded_corners" id="divUserInfo" style="display:none">
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlYourName">First Name :</label>*@
                <div id="divYourNameRq" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.FirstName, new { id = "txtBoxUserName", @class = "newTxtBox", placeholder = "FirstName", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlLastName">Last Name :</label>*@

                <div id="ltrlLastNameRQ" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.LastName, new { id = "txtBoxLastName", @class = "newTxtBox", placeholder = "LastName", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                @*<label id="ltrlLastName">Email :</label>*@

                <div id="divEmailRq" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.Email, new { id = "txtBoxUserEmail", @class = "newTxtBox", placeholder = "Email", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlLastName">Phone :</label>*@
                <div id="div1" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.Mobile, new { id = "txtPhone", @class = "newTxtBox", placeholder = "Phone", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <br />
            <br />
            <div class="clearBoth">
            </div>
        </div>

      }
      else
      { 
       <div  class="get_in_touch_box_RFQ rounded_corners" id="divUserInfo" >
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlYourName">First Name :</label>*@
                <div id="divYourNameRq" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.FirstName, new { id = "txtBoxUserName", @class = "newTxtBox", placeholder = "FirstName", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlLastName">Last Name :</label>*@

                <div id="ltrlLastNameRQ" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.LastName, new { id = "LastName", @class = "newTxtBox", placeholder = "LastName", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                @*<label id="ltrlLastName">Email :</label>*@

                <div id="divEmailRq" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.Email, new { id = "UserEmail", @class = "newTxtBox", placeholder = "Email", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlLastName">Phone :</label>*@
                <div id="div1" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
                
                @Html.TextBoxFor(model => model.Mobile, new { id = "Phone", @class = "newTxtBox", placeholder = "Phone", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <br />
            <br />
            <div class="clearBoth">
            </div>
        </div>
      }
        <div class="get_in_touch_box_RFQ rounded_corners">
            <div class="smallContctUsAvenior float_left_simple">
                
                @*<label id="ltrlinquirytitle">Inquiry Title :</label>*@

                <div id="InquiryTitleInd2" class="error_star" style="display: none;">
                    *
                </div>
            </div>
            <div class="TTL widthAvenior">
               
                @Html.TextBoxFor(model => model.Title, new { id = "txtInquiryTitle", @class = "newTxtBox", placeholder = "Inquiry Title", maxlength = 500 })
            </div>
            <div class="clearBoth">
            </div>
            <div class="smallContctUsAvenior float_left_simple">
                
                <span id="ltrlinquiryAttachement">Inquiry Attachment's :</span>
            </div>
            <div class="TTL widthAvenior">
                <input id="InquiryAttachment" type="file" name="uploadFile" class="newTxtBox"  multiple accept="psd,pdd,bmp,rle,dib,gif,eps,jpg,jpeg,jpe,pcx,pdf,pdp,pct,pict,pxr,png,raw,sct,tiff,tif,svc,bmp,doc,docx,xls,ppt,pptx,xlsx" max="4" />
            </div>
            <br />
            <br />
            <div class="clearBoth">
            </div>
        </div>
        <div class="height15">
            &nbsp;
        </div>
        <div id="1">
            <div class="get_in_touch_box_RFQ rounded_corners">
                <div>
                    <div class="smallContctUsAvenior float_left_simple">
                        

                        @*<label id="ltrlitemtitle">Item Title :</label>*@
                        <div id="ItemTitleInd1" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemTitle1, new { id = "txtTitle1", @class = "newTxtBox", placeholder = "Item Title", maxlength = 500 })
                    </div>
                    <div class="clear smallContctUsAvenior float_left_simple">
                        
                        @*<span id="ltrlitemnotes">Item Notes:</span>*@
                    </div>
                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemNotes1, new { id = "txtItemNote1", placeholder="Item Notes", @class = "newTxtBox",  maxlength = 500 })
                    </div>
                    <div class="clear smallContctUsAvenior float_left_simple">
                        
                        @*<span id="ltrldeliverydate"></span>*@
                    </div>
                    <div id="DesiredDeldate1" class="error_star" style="display: none;">
                        *
                    </div>
                    <div class="TTL widthAvenior">
                        <div id="test"></div>
                        <div id="datepicker"></div>
                        
                        @Html.TextBoxFor(model => model.InquiryItemDeliveryDate1, new { id = "txtInquiryDate1", @class = "newTxtBox Jdatepicker", placeholder = "Desired Delivery", maxlength = 500, @readonly = "readonly" })
                    </div>
                    <div class="clearBoth">
                    </div>
                </div>
            </div>
            <div class="height15">
                &nbsp;
            </div>
        </div>
        
        <div id="2" style="display: none;">
            <div class="get_in_touch_box_RFQ rounded_corners">
                <div>
                    <div class="smallContctUsAvenior float_left_simple">
                        

                        @*<label id="ltrlitemtitle2">Item Title  :</label>*@

                        <div id="ItemTitleInd2" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemTitle2, new { id = "txtTitle2", @class = "newTxtBox", placeholder = "Item Title", maxlength = 500 })
                        
                    </div>
                    <div class="exit_container_RQ">
                        <div class="exit_popup" title="Click to remove item." id="Remove2">
                        </div>
                    </div>
                    <div class="clear smallContctUsAvenior float_left_simple">
                       
                        @*<span id="ltrlitemnotes2">:</span>*@
                    </div>
                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemNotes2, new { id = "itemnotes2", placeholder = "Item Notes", @class = "newTxtBox", maxlength = 500 })
                    </div>
                    <div class="clear smallContctUsAvenior float_left_simple">
                       
                        @*<span id="ltrldeliverydate2">Desired Delivery  :</span>*@
                    </div>
                    <div id="DesiredDeldate2" class="error_star" style="display: none;">
                        *
                    </div>

                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemDeliveryDate2, new { id = "txtInquiryDate2", @class = "newTxtBox", placeholder="Desired Delivery", maxlength = 500, @readonly = "readonly" })
                        
                    </div>
                    <div class="clearBoth">
                    </div>
                </div>
            </div>
            <div class="height15">
                &nbsp;
            </div>
        </div>
        <div id="3" style="display: none;">
            <div class="get_in_touch_box_RFQ rounded_corners">
                <div>
                    <div class="smallContctUsAvenior float_left_simple">
                        
                        @*<label id="ltrlitemtitle3">Item Title :</label>*@
                        <div id="ItemTitleInd3" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">
                      
                        @Html.TextBoxFor(model => model.InquiryItemTitle3, new { id = "txtTitle3", @class = "newTxtBox", placeholder = "Item Title", maxlength = 500, })
                    </div>
                    <div class="exit_container_RQ">
                        <div class="exit_popup" title="Click to remove item." id="Remove3">
                        </div>
                    </div>
                    <div class="clear smallContctUsAvenior float_left_simple">
                        
                        @*<span id="ltrlitemnotes3">Item Notes:</span>*@
                    </div>
                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemNotes3, new { id = "txtItemNote3", placeholder="Item Notes", @class = "newTxtBox", maxlength = 500 })
                    </div>
                    <div class="clear smallContctUsAvenior float_left_simple">
                        
                        @*<span id="ltrldeliverydate3">Desired Delivery  :</span>*@
                    </div>
                    <div id="DesiredDeldate3" class="error_star" style="display: none;">
                        *
                    </div>

                    <div class="TTL widthAvenior">
                        
                        @Html.TextBoxFor(model => model.InquiryItemDeliveryDate3, new { id = "txtInquiryDate3", @class = "newTxtBox", placeholder = "Desired Delivery", maxlength = 500, @readonly = "readonly" })
                        
                    </div>
                    <div class="clearBoth">
                    </div>
                </div> 
            </div>
            <div class="height15">
                &nbsp;
            </div>
        </div>
        <div class="float_left_simple colorBlack">

            <a id="AddNewInquiryItemList" class="colorBlack"><input id="btnSend" class="add-inquiry-btn rounded_corners5" value="Add item" type="button" /></a>
        </div>
        <div class="quote_control_sec_btnsDiv float_left">

            <div class="quote_send_button">
               
                <input id="btnSend" class="start_creating_btn rounded_corners5 background-green" type="button" value="Send" onclick="Submit();" />
            </div>
            <div class="quote_cancel_button">
               <a href="/">
                   <input id="btnCancel" class="start_creating_btn rounded_corners5" type="button" value="Cancel" />
               </a>
               
            </div>
           
            <div class="clearBoth">
            </div>
        </div>
       
        <div class="clearBoth">
        </div>
        <br />
    </div>

    <input type="hidden" id="hfNoOfRec" name="hfNoOfRec" value="1" />

     @if (ViewBag.LoginStatus == true)
     {
        <input type="hidden" id="hfIsUserLoggedIn" name="hfIsUserLoggedIn" value="true" />
     }
     else
     {
    <input type="hidden" id="hfIsUserLoggedIn" name="hfIsUserLoggedIn" value="false" />

     }
</div>
    

}

@section scripts{

<script>


    //$(document).ready(function () {

        $("#txtInquiryDate1").datepicker();
        $("#txtInquiryDate2").datepicker();
        $("#txtInquiryDate3").datepicker();
        $("#AddNewInquiryItemList").click(function () {


            AddNew();

        });
        $("#Remove2").click(function () {

            Remove(2);


        });
        $("#Remove3").click(function () {

            Remove(3);
        });
        function Remove(recNo) {
            //Remove the view and Show the add new button
            var Areusureuwnt2remove = "Are you sure you want to remove this item?";
            if (confirm(Areusureuwnt2remove)) {
                $('#' + recNo).css('display', 'none');
                $('#divAddNew').css('display', 'block');
                $("#hfNoOfRec").val((recNo - 1));
            }
        }
    //});
    function ShowGUI() {

        var numofRec = $("#hfNoOfRec").val();
        if (numofRec >= 1) {
            $('#1').css('display', 'block');
        }
        if (numofRec >= 2) {
            $('#2').css('display', 'block');
        }
        if (numofRec >= 3) {
            $('#3').css('display', 'block');
            $('#divAddNew').css('display', 'none');
        }
    }
    function AddNew() {

        var isValid = true;

       if (isValid) {
            var currentRec = parseInt($("#hfNoOfRec").val());
            var numOfRec = currentRec + 1;
            $("#hfNoOfRec").val(numOfRec);
            ShowGUI();
        }

        function Validate() {
            var isValid = true;
            var currentRec = parseInt($("#hfNoOfRec").val());
            if (currentRec >= 1) {
                if (!ValidateRec1())

                    isValid = false;
            }
            if (currentRec >= 2) {
                if (!ValidateRec2())
                    isValid = false;
            }
            if (currentRec >= 3) {
                if (!ValidateRec3())
                    isValid = false;
            }

            return isValid;


        }


        function ValidateRec2() {
            var errorMessage = '';
            var isValid = true;
            if ($("#txtTitle2").val().trim() == '') {
                var itemtitle2xreq = "Item Title is Required";
                errorMessage = errorMessage + itemtitle2xreq + "<br>";
                $("#ItemTitleInd2").css('display', 'block');
                isValid = false;
            }
            else {
                $('#ItemTitleInd2').css('display', 'none');
            }
            if (!isValid) {
                ShowPopup('Message', errorMessage);
            }
            return isValid;
        }

        function ValidateRec3() {
            var errorMessage = '';
            var isValid = true;
            if ($("#txtTitle3").val().trim() == '') {
                var itemtitle3xreq = "<%= Resources.MyResource.itemtitle3xreq %>";
                errorMessage = errorMessage + itemtitle3xreq + "<br>";
                $('#ItemTitleInd3').css('display', 'block');
                isValid = false;
            }
            else {
                $('#ItemTitleInd3').css('display', 'none');
            }
            if (!isValid) {
                ShowPopup('Message', errorMessage);
            }
            return isValid;
        }
    }

    function Submit()
    {
        if (ValidateRec())
        {
            SubmitData();
        }

    }
    function ValidateRec() {
        var val = $("#hfNoOfRec").val();

        var errorMessage = '';
        var isValid = true;
        if ($("#hfIsUserLoggedIn").val() == "false") {
            if ($("#txtBoxUserName").val().trim() == '') {
                var inquirytitlexreq = "First Name";
                errorMessage = errorMessage + inquirytitlexreq;
                $('#divYourNameRq').css('display', 'block');
                isValid = false;
            }
            else {
                $('#divYourNameRq').css('display', 'none');
            }
            if ($("#LastName").val() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + "Last Name";
                    } else {
                    errorMessage = errorMessage + ", Last Name";
                }
               
                $('#ltrlLastNameRQ').css('display', 'block');
                isValid = false;
            }
            else {
                $('#ltrlLastNameRQ').css('display', 'none');
            }
            //yourNameRequiredLast
            if ($("#UserEmail").val() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + "Email";
                } else {
                    errorMessage = errorMessage + ", Email";
                }
                
                $('#divEmailRq').css('display', 'block');
                isValid = false;
            }
            else {
                Email = $("#UserEmail").val();
                if (Email != null || Email != "") {
                    if (ValidateEmail(Email) == true) {

                        $('#divEmailRq').css('display', 'none');
                    }
                    else {
                        if (errorMessage == '') {
                            errorMessage = errorMessage + "valid Email Address";
                        } else {
                            errorMessage = errorMessage + ", valid Email Address";
                        }
                       
                        isValid = false;
                    }
                    
                }
            }
        }
        if ($("#txtInquiryTitle").val().trim() == '') {
            if (errorMessage == '') {
                errorMessage = errorMessage + "Inquiry Title";
            } else {
                errorMessage = errorMessage + ", Inquiry Title";
            }

           
            $('#InquiryTitleInd2').css('display', 'block');
            isValid = false;
        }
        else {
            $('#InquiryTitleInd2').css('display', 'none');
        }
        if ($("#txtTitle1").val().trim() == '') {
            if (errorMessage == '') {
                errorMessage = errorMessage + "Inquiry Item";
            } else {
                errorMessage = errorMessage + ", Inquiry Item";
            }
           
            $('#ItemTitleInd1').css('display', 'block');
            isValid = false;
        }
        else {
            $('#ItemTitleInd1').css('display', 'none');
        }
       
        if (val == 2) {

            if ($("#txtTitle2").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + "Second Inquiry Item";
                } else {
                    errorMessage = errorMessage + ", Second Inquiry Item";
                }
               
                $("#ItemTitleInd2").css('display', 'block');
                isValid = false;
            }
            else {
                $("#InquiryTitleInd2").css('display', 'none');
            }
           
        }
        if (val == 3) {
            if ($("#txtTitle2").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + "Second Inquiry Item";
                } else {
                    errorMessage = errorMessage + ", Second Inquiry Item";
                }
                $("#ItemTitleInd2").css('display', 'block');
                isValid = false;
            }
            else {
                $("#InquiryTitleInd2").css('display', 'none');
            }

            if ($("#txtTitle3").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + "Third Inquiry Item";
                } else {
                    errorMessage = errorMessage + ", Third Inquiry Item";
                }
               
                $("#ItemTitleInd3").css('display', 'block');
                isValid = false;
            }
            else {
                $("#ItemTitleInd3").css('display', 'none');
            }

          
        }

        ShowPopUp('Message', 'Please enter ' + errorMessage + ' to proceed.');
        return isValid;

    }

    function SubmitData() {
        ShowLoader();
        var FirstName = $("#txtBoxUserName").val();
        var LastName = $("#LastName").val();
        var Email = $("#UserEmail").val();
        var Mobile = $("#Phone").val();
        var Title = $("#txtInquiryTitle").val();

        var InquiryItemTitle1 = $("#txtTitle1").val();
        var InquiryItemNotes1 = $("#txtItemNote1").val();
        var InquiryItemDeliveryDate1 = $("#txtInquiryDate1").val();

        var InquiryItemTitle2 = $("#txtTitle2").val();
        var InquiryItemNotes2 = $("#itemnotes2").val();
        var InquiryItemDeliveryDate2 = $("#txtInquiryDate2").val();

        var InquiryItemTitle3 = $("#txtTitle3").val();
        var InquiryItemNotes3 = $("#txtItemNote3").val();
        var InquiryItemDeliveryDate3 = $("#txtInquiryDate3").val();
        var hfNoOfRec = $("#hfNoOfRec").val();
        var files = $("#InquiryAttachment").get(0).files;
        var data = new FormData();
        if (files.length > 0) {
            for (i = 0; i < files.length; i++) {
               
                data.append("UploadedFile" + i, files[i]);
            }
        }
     
        $.ajax({
            type: "POST",
            @*"/api/AttachmentUploader/" + url + "/" + FileName + "/" + @ViewBag.ClonedItem.ItemId + "/" + @ViewBag.Order.ContactId + "/" + @ViewBag.Order.CompanyId,*@
            url: "/WebstoreApi/CostCenter/UpdateDataRequestQuote?FirstName=" + FirstName + "&LastName=" + LastName + "&Email=" + Email + "&Mobile=" + Mobile + "&Title=" + Title + "&InquiryItemTitle1= " + InquiryItemTitle1 + "" + "&InquiryItemNotes1=" + InquiryItemNotes1 + "&InquiryItemDeliveryDate1=" + InquiryItemDeliveryDate1 + "&InquiryItemTitle2=" + InquiryItemTitle2 + "&InquiryItemNotes2=" + InquiryItemNotes2 + "&InquiryItemDeliveryDate2=" + InquiryItemDeliveryDate2 + "&InquiryItemTitle3=" + InquiryItemTitle3 + "&InquiryItemNotes3=" + InquiryItemNotes3 + "&InquiryItemDeliveryDate3=" + InquiryItemDeliveryDate3 + "&hfNoOfRec=" + hfNoOfRec + "",
            contentType: false,
            data: data,
            async: true,
            processData: false,
            success: function (response) {
                HideLoader();
                $("#txtBoxUserName").val(''); $("#LastName").val(''); $("#UserEmail").val(''); $("#Phone").val('');
                $("#txtInquiryTitle").val(''); $("#txtTitle1").val(''); $("#txtItemNote1").val(''); $("#txtInquiryDate1").val('');
                $("#txtTitle2").val(''); $("#itemnotes2").val(''); $("#txtInquiryDate2").val('');
                $("#txtTitle3").val(''); $("#txtItemNote3").val(''); $("#txtInquiryDate3").val('');
                $("#hfNoOfRec").val(1);
                ShowPopUp("Message", "Inquiry submitted successfully!");
               
            },
            error: function (error) {
                HideLoader();
                ShowPopUp("Message", "Error occured while processing!");

            }
        });
    }

    function ValidateEmail(email) {
        var isValid = true;
        if (email == '') {
         
            isValid = false;
        }
        else {
            var re = new RegExp("^[A-Za-z0-9](([_\\.\\-]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$");
            if (!re.test(email)) {
              
                isValid = false;
            }
        }
        return isValid;
    }
    function CancelBtn()
    {
        ShowLoader();
        window.location.href = "/";
    }
</script>
}