@using MPC.Webstore.Common;
@using MPC.Models.Common;
@model MPC.Models.DomainModels.RequestQuote
@{
    Layout = null;
}

@using (Html.BeginForm())
{

    <div class="content_area container" id="all-RAQ-pg">
        <div class="left_right_padding row">
            <div class="signin_heading_div">

                <label id="lblTitle" class="sign_in_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("hlRequestQuote", UserCookieManager.WBStoreId, "Request a Quote"))</label>

            </div>

            @if (ViewBag.LoginStatus == true)
            {

                <div class="get_in_touch_box_RFQ rounded_corners" id="divUserInfo" style="display:none">
                    <div class="smallContctUsAvenior float_left_simple">

                    
                        <div id="divYourNameRq" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.FirstName, new
                   {
                       id = "txtBoxUserName",
                       @class = "newTxtBox",
                       placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("Fname", UserCookieManager.WBStoreId, "First Name"))
, maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">

                     

                        <div id="ltrlLastNameRQ" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.LastName, new { id = "txtBoxLastName", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("Lname", UserCookieManager.WBStoreId, "Last Name")), maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">
                      

                        <div id="divEmailRq" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.Email, new { id = "txtBoxUserEmail", @class = "newTxtBox", placeholder = Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email")), maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">

                        <div id="div1" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.Mobile, new { id = "txtPhone", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlphone", UserCookieManager.WBStoreId, "Phone")), maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <br />
                    <br />
                    <div class="clearBoth">
                    </div>
                </div>

            }
            else
            {
                <div class="get_in_touch_box_RFQ rounded_corners" id="divUserInfo">
                    <div class="smallContctUsAvenior float_left_simple">

                       
                        <div id="divYourNameRq" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.FirstName, new { id = "txtBoxUserName", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("Fname", UserCookieManager.WBStoreId, "First Name")), maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">


                        <div id="ltrlLastNameRQ" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.LastName, new
                   {
                       id = "LastName",
                       @class = "newTxtBox",
                       placeholder = Html.Raw(Html.GetKeyValueFromResourceFile("divlname", UserCookieManager.WBStoreId, "Last Name"))
, maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">
                  

                        <div id="divEmailRq" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.Email, new { id = "UserEmail", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId,"Email")), maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <div class="smallContctUsAvenior float_left_simple">

                        @*<label id="ltrlLastName">Phone :</label>*@
                        <div id="div1" class="error_star" style="display: none;">
                            *
                        </div>
                    </div>
                    <div class="TTL widthAvenior">

                        @Html.TextBoxFor(model => model.Mobile, new { id = "Phone", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlphone", UserCookieManager.WBStoreId, "Phone")), maxlength = 500 })
                    </div>
                    <div class="clearBoth">
                    </div>
                    <br />
                    <br />
                    <div class="clearBoth">
                    </div>
                </div>
            }
            <div class="get_in_touch_box_RFQ rounded_corners">
                <div class="smallContctUsAvenior float_left_simple">

                    @*<label id="ltrlinquirytitle">Inquiry Title :</label>*@

                    <div id="InquiryTitleInd2" class="error_star" style="display: none;">
                        *
                    </div>
                </div>
                <div class="TTL widthAvenior">

                    @Html.TextBoxFor(model => model.Title, new { id = "txtInquiryTitle", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinquirytitle", UserCookieManager.WBStoreId, "Inquiry Title ")), maxlength = 500 })
                </div>
                <div class="clearBoth">
                </div>
                <div class="smallContctUsAvenior float_left_simple">

                    <span id="ltrlinquiryAttachement">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinquiryAttachement", UserCookieManager.WBStoreId, "Inquiry Attachment's")) :</span>
                </div>
                <div class="TTL widthAvenior">
                    <input id="InquiryAttachment" type="file" name="uploadFile" class="newTxtBox" multiple accept="psd,pdd,bmp,rle,dib,gif,eps,jpg,jpeg,jpe,pcx,pdf,pdp,pct,pict,pxr,png,raw,sct,tiff,tif,svc,bmp,doc,docx,xls,ppt,pptx,xlsx" max="4" />
                </div>
                <br />
                <br />
                <div class="clearBoth">
                </div>
            </div>
            <div class="height15">
                &nbsp;
            </div>
            <div id="1">
                <div class="get_in_touch_box_RFQ rounded_corners">
                    <div>
                        <div class="smallContctUsAvenior float_left_simple">


                            @*<label id="ltrlitemtitle">Item Title :</label>*@
                            <div id="ItemTitleInd1" class="error_star" style="display: none;">
                                *
                            </div>
                        </div>
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemTitle1, new { id = "txtTitle1", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemtitleee", UserCookieManager.WBStoreId, "Item Title")), maxlength = 500 })
                        </div>
                        <div class="clear smallContctUsAvenior float_left_simple">

                            @*<span id="ltrlitemnotes">Item Notes:</span>*@
                        </div>
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemNotes1, new { id = "txtItemNote1", placeholder = Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemnotes", UserCookieManager.WBStoreId, "")), @class = "newTxtBox", maxlength = 500 })
                        </div>
                        <div class="clear smallContctUsAvenior float_left_simple">

                            <div id="DesiredDeldate1" class="error_star" style="display: none;">
                                *
                            </div>
                        </div>
                       
                        <div class="TTL widthAvenior">
                            <div id="test"></div>
                            <div id="datepicker"></div>

                            @Html.TextBoxFor(model => model.InquiryItemDeliveryDate1, new { id = "txtInquiryDate1", @class = "newTxtBox Jdatepicker", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrldeliverydate", UserCookieManager.WBStoreId, "Desired Delivery")), maxlength = 500, @readonly = "readonly" })
                        </div>
                        <div class="clearBoth">
                        </div>
                    </div>
                </div>
                <div class="height15">
                    &nbsp;
                </div>
            </div>

            <div id="2" style="display: none;">
                <div class="get_in_touch_box_RFQ rounded_corners">
                    <div>
                        <div class="smallContctUsAvenior float_left_simple">


                            @*<label id="ltrlitemtitle2">Item Title  :</label>*@

                            <div id="ItemTitleInd2" class="error_star" style="display: none;">
                                *
                            </div>
                        </div>
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemTitle2, new { id = "txtTitle2", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemtitleee", UserCookieManager.WBStoreId, "Item Title")), maxlength = 500 })

                        </div>
                        <div class="exit_container_RQ">
                            <div class="exit_popup" title="Click to remove item." id="Remove2">
                            </div>
                        </div>
                        <div class="clear smallContctUsAvenior float_left_simple">

                            @*<span id="ltrlitemnotes2">:</span>*@
                        </div>
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemNotes2, new { id = "itemnotes2", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemnotess", UserCookieManager.WBStoreId, "Item Notes")), @class = "newTxtBox", maxlength = 500 })
                        </div>
                        <div class="clear smallContctUsAvenior float_left_simple">

                            <div id="DesiredDeldate2" class="error_star" style="display: none;">
                                *
                            </div>
                        </div>
                        

                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemDeliveryDate2, new { id = "txtInquiryDate2", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrldeliverydate", UserCookieManager.WBStoreId, "Desired Delivery")), maxlength = 500, @readonly = "readonly" })

                        </div>
                        <div class="clearBoth">
                        </div>
                    </div>
                </div>
                <div class="height15">
                    &nbsp;
                </div>
            </div>
            <div id="3" style="display: none;">
                <div class="get_in_touch_box_RFQ rounded_corners">
                    <div>
                        <div class="smallContctUsAvenior float_left_simple">

                            @*<label id="ltrlitemtitle3">Item Title :</label>*@
                            <div id="ItemTitleInd3" class="error_star" style="display: none;">
                                *
                            </div>
                        </div>
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemTitle3, new { id = "txtTitle3", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemtitleee", UserCookieManager.WBStoreId, "Item Title")), maxlength = 500, })
                        </div>
                        <div class="exit_container_RQ">
                            <div class="exit_popup" title="Click to remove item." id="Remove3">
                            </div>
                        </div>
                        <div class="clear smallContctUsAvenior float_left_simple">

                            @*<span id="ltrlitemnotes3">Item Notes:</span>*@
                        </div>
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemNotes3, new { id = "txtItemNote3", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemnotess", UserCookieManager.WBStoreId,"Item Notes")), @class = "newTxtBox", maxlength = 500 })
                        </div>
                        <div class="clear smallContctUsAvenior float_left_simple">
                            <div id="DesiredDeldate3" class="error_star" style="display: none;">
                                *
                            </div>
                        </div>
                       
              
                        <div class="TTL widthAvenior">

                            @Html.TextBoxFor(model => model.InquiryItemDeliveryDate3, new { id = "txtInquiryDate3", @class = "newTxtBox", placeholder =Html.Raw(Html.GetKeyValueFromResourceFile("ltrldeliverydate", UserCookieManager.WBStoreId, "Desired Delivery")), maxlength = 500, @readonly = "readonly" })

                        </div>
                        <div class="clearBoth">
                        </div>
                    </div>
                </div>
                <div class="height15">
                    &nbsp;
                </div>
            </div>
            <div class="float_left_simple colorBlack">

                <a id="AddNewInquiryItemList" class="colorBlack"><input id="btnSend" class="add-inquiry-btn rounded_corners5" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrladditem", UserCookieManager.WBStoreId, "Add item"))" type="button" /></a>
            </div>
            <div class="quote_control_sec_btnsDiv float_left">

                <div class="quote_send_button">

                    <input id="btnSend" class="start_creating_btn rounded_corners5 background-green" type="button" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnSubmitPassword", UserCookieManager.WBStoreId, "Send"))" onclick="Submit();" />
                </div>
                <div class="quote_cancel_button">
                    <a href="/">
                        <input id="btnCancel" class="start_creating_btn rounded_corners5" type="button" value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnCancel", UserCookieManager.WBStoreId, "Cancel"))" />
                    </a>

                </div>

                <div class="clearBoth">
                </div>
            </div>

            <div class="clearBoth">
            </div>
            <br />
        </div>

        <input type="hidden" id="hfNoOfRec" name="hfNoOfRec" value="1" />

        @if (ViewBag.LoginStatus == true)
        {
            <input type="hidden" id="hfIsUserLoggedIn" name="hfIsUserLoggedIn" value="true" />
        }
        else
        {
            <input type="hidden" id="hfIsUserLoggedIn" name="hfIsUserLoggedIn" value="false" />

        }
    </div>


}


<script src="/Scripts/jquery-1.10.1.min.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>
<script src="/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        console.log(getUrlParameter('Message'));
        if (getUrlParameter('Message') == "Success") {
            ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqsubsucces", UserCookieManager.WBStoreId, "Inquiry submitted successfully!"))');
        }
    });

    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };
    $("#txtInquiryDate1").datepicker(
       {
           format: 'dd/mm/yyyy',
         
       });
    $("#txtInquiryDate2").datepicker({
        format: 'dd/mm/yyyy',

    });
    $("#txtInquiryDate3").datepicker({
        format: 'dd/mm/yyyy',

    });
    $("#AddNewInquiryItemList").click(function () {
        AddNew();
    });
    $("#Remove2").click(function () {

        Remove(2);


    });
    $("#Remove3").click(function () {

        Remove(3);
    });
    function Remove(recNo) {
        //Remove the view and Show the add new button
        var Areusureuwnt2remove = ' @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlareusureremoveitem", UserCookieManager.WBStoreId, "Are you sure you want to remove this item?"))';
        if (confirm(Areusureuwnt2remove)) {
            $('#' + recNo).css('display', 'none');
            $('#divAddNew').css('display', 'block');
            $("#hfNoOfRec").val((recNo - 1));
        }
    }
    
    function ShowGUI() {

        var numofRec = $("#hfNoOfRec").val();
        if (numofRec >= 1) {
            $('#1').css('display', 'block');
        }
        if (numofRec >= 2) {
            $('#2').css('display', 'block');
        }
        if (numofRec >= 3) {
            $('#3').css('display', 'block');
            $('#divAddNew').css('display', 'none');
        }
    }
    function AddNew() {

        var isValid = true;

        if (isValid) {
            var currentRec = parseInt($("#hfNoOfRec").val());
            var numOfRec = currentRec + 1;
            $("#hfNoOfRec").val(numOfRec);
            ShowGUI();
        }

        function Validate() {
            var isValid = true;
            var currentRec = parseInt($("#hfNoOfRec").val());
            if (currentRec >= 1) {
                if (!ValidateRec1())

                    isValid = false;
            }
            if (currentRec >= 2) {
                if (!ValidateRec2())
                    isValid = false;
            }
            if (currentRec >= 3) {
                if (!ValidateRec3())
                    isValid = false;
            }

            return isValid;


        }


        function ValidateRec2() {
            var errorMessage = '';
            var isValid = true;
            if ($("#txtTitle2").val().trim() == '') {
                var itemtitle2xreq = '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlitemtitlerequired", UserCookieManager.WBStoreId, "Item Title is Required"))';
                errorMessage = errorMessage + itemtitle2xreq + "<br>";
                $("#ItemTitleInd2").css('display', 'block');
                isValid = false;
            }
            else {
                $('#ItemTitleInd2').css('display', 'none');
            }
            if (!isValid) {
                ShowPopup('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', errorMessage);
            }
            return isValid;
        }

        function ValidateRec3() {
            var errorMessage = '';
            var isValid = true;
            if ($("#txtTitle3").val().trim() == '') {
                var itemtitle3xreq = "<%= Resources.MyResource.itemtitle3xreq %>";
                errorMessage = errorMessage + itemtitle3xreq + "<br>";
                $('#ItemTitleInd3').css('display', 'block');
                isValid = false;
            }
            else {
                $('#ItemTitleInd3').css('display', 'none');
            }
            if (!isValid) {
                ShowPopup('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', errorMessage);
            }
            return isValid;
        }
    }

    function Submit() {
        if (ValidateRec()) {
            SubmitData();
        }

    }
    function ValidateRec() {
        var val = $("#hfNoOfRec").val();

        var errorMessage = '';
        var isValid = true;
        if ($("#hfIsUserLoggedIn").val() == "false") {
            if ($("#txtBoxUserName").val().trim() == '') {
                var inquirytitlexreq = '@Html.Raw(Html.GetKeyValueFromResourceFile("divfname", UserCookieManager.WBStoreId, "First Name"))';
                errorMessage = errorMessage + inquirytitlexreq;
                $('#divYourNameRq').css('display', 'block');
                isValid = false;
            }
            else {
                $('#divYourNameRq').css('display', 'none');
            }
            if ($("#LastName").val() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("divlname", UserCookieManager.WBStoreId, "Last Name"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("divlname", UserCookieManager.WBStoreId, "Last Name"))';
                }

                $('#ltrlLastNameRQ').css('display', 'block');
                isValid = false;
            }
            else {
                $('#ltrlLastNameRQ').css('display', 'none');
            }
            //yourNameRequiredLast
            if ($("#UserEmail").val() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email"))';
                }

                $('#divEmailRq').css('display', 'block');
                isValid = false;
            }
            else {
                Email = $("#UserEmail").val();
                if (Email != null || Email != "") {
                    if (ValidateEmail(Email) == true) {

                        $('#divEmailRq').css('display', 'none');
                    }
                    else {
                        if (errorMessage == '') {
                            errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlvalidemailadd", UserCookieManager.WBStoreId, "valid Email Address"))';
                        } else {
                            errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlvalidemailadd", UserCookieManager.WBStoreId, "valid Email Address"))';
                        }

                        isValid = false;
                    }

                }
            }
        }
        if ($("#txtInquiryTitle").val().trim() == '') {
            if (errorMessage == '') {
                errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinquirytitle", UserCookieManager.WBStoreId, "Inquiry Title"))';
            } else {
                errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinquirytitle", UserCookieManager.WBStoreId, "Inquiry Title"))';
            }


            $('#InquiryTitleInd2').css('display', 'block');
            isValid = false;
        }
        else {
            $('#InquiryTitleInd2').css('display', 'none');
        }
        if ($("#txtTitle1").val().trim() == '') {
            if (errorMessage == '') {
                errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqitem", UserCookieManager.WBStoreId, "Inquiry Item"))';
            } else {
                errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqitem", UserCookieManager.WBStoreId, "Inquiry Item"))';
            }

            $('#ItemTitleInd1').css('display', 'block');
            isValid = false;
        }
        else {
            $('#ItemTitleInd1').css('display', 'none');
        }

        if ($("#txtInquiryDate1").val().trim() == '') {
            if (errorMessage == '') {
                errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqDD1", UserCookieManager.WBStoreId, "Desired Delivery"))';
            } else {
                errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqDD1", UserCookieManager.WBStoreId, "Desired Delivery"))';
            }
            $('#DesiredDeldate1').css('display', 'block');
            isValid = false;
        } else {
            $('#DesiredDeldate1').css('display', 'none');
        }

        if (val == 2) {

            if ($("#txtTitle2").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsecondinq", UserCookieManager.WBStoreId, "Second Inquiry Item"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsecondinq", UserCookieManager.WBStoreId, "Second Inquiry Item"))';
                }

                $("#ItemTitleInd2").css('display', 'block');
                isValid = false;
            }
            else {
                $("#InquiryTitleInd2").css('display', 'none');
            }

            if ($("#txtInquiryDate2").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqDD2", UserCookieManager.WBStoreId, "Second inquiry item desired delivery"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqDD2", UserCookieManager.WBStoreId, "Second inquiry item desired delivery"))';
                }
                $("#DesiredDeldate2").css('display', 'block');
                isValid = false;
            } else {
                $("#DesiredDeldate2").css('display', 'none');
            }

        }
        if (val == 3) {
            if ($("#txtTitle2").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsecondinq", UserCookieManager.WBStoreId, "Second Inquiry Item"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsecondinq", UserCookieManager.WBStoreId, "Second Inquiry Item"))';
                }
                $("#ItemTitleInd2").css('display', 'block');
                isValid = false;
            }
            else {
                $("#InquiryTitleInd2").css('display', 'none');
            }

            if ($("#txtTitle3").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlthirdinq", UserCookieManager.WBStoreId, "Third inquiry item"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlthirdinq", UserCookieManager.WBStoreId, "Third inquiry item"))';
                }

                $("#ItemTitleInd3").css('display', 'block');
                isValid = false;
            }
            else {
                $("#ItemTitleInd3").css('display', 'none');
            }

            if ($("#txtInquiryDate3").val().trim() == '') {
                if (errorMessage == '') {
                    errorMessage = errorMessage + '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqDD3", UserCookieManager.WBStoreId, "Third inquiry item desired delivery"))';
                } else {
                    errorMessage = errorMessage + ', @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlinqDD3", UserCookieManager.WBStoreId, "Third inquiry item desired delivery"))';
                }
                $("#DesiredDeldate3").css('display', 'block');
                isValid = false;
            } else {
                $("#DesiredDeldate3").css('display', 'none');
            }

        }

        ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlplzenter", UserCookieManager.WBStoreId, "Please enter ")) ' + errorMessage + ' @Html.Raw(Html.GetKeyValueFromResourceFile("ltrltoproceed", UserCookieManager.WBStoreId, "to proceed."))');
        return isValid;

    }

    function SubmitData() {
        ShowLoader();
        var FirstName = $("#txtBoxUserName").val();
        var LastName = $("#LastName").val();
        var Email = $("#UserEmail").val();
        var Mobile = $("#Phone").val();
        var Title = $("#txtInquiryTitle").val();

        var InquiryItemTitle1 = $("#txtTitle1").val();
        var InquiryItemNotes1 = $("#txtItemNote1").val();
        var InquiryItemDeliveryDate1 = $("#txtInquiryDate1").val();

        var InquiryItemTitle2 = $("#txtTitle2").val();
        var InquiryItemNotes2 = $("#itemnotes2").val();
        var InquiryItemDeliveryDate2 = $("#txtInquiryDate2").val();

        var InquiryItemTitle3 = $("#txtTitle3").val();
        var InquiryItemNotes3 = $("#txtItemNote3").val();
        var InquiryItemDeliveryDate3 = $("#txtInquiryDate3").val();
        var hfNoOfRec = $("#hfNoOfRec").val();
        var files = $("#InquiryAttachment").get(0).files;
        var data = new FormData();
        var fileExtension = "";
        var notAllowedFilesCount = 0;
        var limitExceed = 0;
        if (files.length > 0) {
            for (i = 0; i < files.length; i++) {
                var name1 = files[i].name.replace(/C:\\fakepath\\/i, '');
                fileExtension = name1.substr(name1.lastIndexOf('.') + 1);
                if (["pdf", "jpg", "jpeg", "eps", "tiff", "csv", "xls", "xlsx", "png"].indexOf(fileExtension) < 0) {
                    notAllowedFilesCount = parseInt(notAllowedFilesCount) + 1;
                    console.log(name1);
                }
                else {
                    if (files[i].size != null && files[i].size > 52428800) {
                        
                        limitExceed = 1;
                    }
                }
                data.append("UploadedFile" + i, files[i]);
            }
        }
        if (notAllowedFilesCount > 0) {
            ShowPopUp('Message', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcanupload", UserCookieManager.WBStoreId, "You cannot upload file except of png,pdf,jpg,eps,tiff,csv,xls,xlsx."))');
            return false;

        } else if (limitExceed == 1) {
            ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', "Files with size less than 50 MB are allowed only !");
            return false;

        } else {
            var outdateArray = "";
            if (InquiryItemDeliveryDate1 != '')
            {
                outdateArray = InquiryItemDeliveryDate1.split('/');
                InquiryItemDeliveryDate1 =outdateArray[1] + "/" + outdateArray[0] + "/" + outdateArray[2];
            }

            if (InquiryItemDeliveryDate2 != '') {
                outdateArray = InquiryItemDeliveryDate2.split('/');
                InquiryItemDeliveryDate2 = outdateArray[1] + "/" + outdateArray[0] + "/" + outdateArray[2];
            }

            if (InquiryItemDeliveryDate3 != '') {
                outdateArray = InquiryItemDeliveryDate3.split('/');
                InquiryItemDeliveryDate3 = outdateArray[1] + "/" + outdateArray[0] + "/" + outdateArray[2];
            }
            $.ajax({
                type: "POST",
                @*"/api/AttachmentUploader/" + url + "/" + FileName + "/" + @ViewBag.ClonedItem.ItemId + "/" + @ViewBag.Order.ContactId + "/" + @ViewBag.Order.CompanyId,*@
                url: "/WebstoreApi/RFQ/UpdateDataRequestQuote?FirstName=" + FirstName + "&LastName=" + LastName + "&Email=" + Email + "&Mobile=" + Mobile + "&Title=" + Title + "&InquiryItemTitle1= " + InquiryItemTitle1 + "" + "&InquiryItemNotes1=" + InquiryItemNotes1 + "&InquiryItemDeliveryDate1=" + InquiryItemDeliveryDate1 + "&InquiryItemTitle2=" + InquiryItemTitle2 + "&InquiryItemNotes2=" + InquiryItemNotes2 + "&InquiryItemDeliveryDate2=" + InquiryItemDeliveryDate2 + "&InquiryItemTitle3=" + InquiryItemTitle3 + "&InquiryItemNotes3=" + InquiryItemNotes3 + "&InquiryItemDeliveryDate3=" + InquiryItemDeliveryDate3 + "&hfNoOfRec=" + hfNoOfRec + "",
                contentType: false,
                data: data,
                async: true,
                processData: false,
                success: function (response) {

                    HideLoader();

                    if (response == 'gs') {
                        ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrluploadsmallersize", UserCookieManager.WBStoreId, "Please upload smaller size Attachments!"))');
                    }
                    else
                        if (response == false) {

                            ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlalreadysubscribed", UserCookieManager.WBStoreId, "Sorry,this email already exists please login and then place an inquiry or signup with other email address."))');
                        }
                        else {
                            window.location.href = "/RequestQuote?Message=Success";
                        }
                   
                },
                error: function (error) {
                    HideLoader();
                    ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))'
                    , '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlerrrorocc", UserCookieManager.WBStoreId, "Error occured while processing!"))');

                }
            });
        }

    }

    function ValidateEmail(email) {
        var isValid = true;
        if (email == '') {

            isValid = false;
        }
        else {
            var re = new RegExp("^[A-Za-z0-9](([_\\.\\-]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$");
            if (!re.test(email)) {

                isValid = false;
            }
        }
        return isValid;
    }
    function CancelBtn() {
        ShowLoader();
        window.location.href = "/";
    }
</script>
