@using MPC.Models.DomainModels;
@{ 
    string thumbname = "Thumb.png";
    string artworkattachmentThumbPath = "mpc_content/Attachments/"+ UserCookieManager.WEBOrganisationID + "/" + UserCookieManager.WBStoreId + "/Products/";
}
@{
    Layout = null;
}
@using MPC.Webstore.Common;
<div id="controlBodyDiv" >
    <div class="container content_area" id="all-SavedDesign-pg">
        <div class="left_right_padding">
            <div class="signin_heading_div float_left_simple dashboard_heading_signin col-md-12 col-lg-12 col-xs-12">
                <label id="lblCategoriesLinks1" class="sign_in_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("lblCategoriesLinks1", UserCookieManager.WBStoreId, "My saved designs"))</label>
            </div>
            <div class="dashBoardRetrunLink dashboard_heading_signin">
                <div class=" left_align">
                    <h1>
                        <a href="/Dashboard" class="left_align" title="Back to my dashboard" onclick="ShowLoader();">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("BackToDashboardlbl", UserCookieManager.WBStoreId, "Back to my dashboard"))
                        </a>
                    </h1>
                    <div class="clearBoth"></div>
                </div>
            </div>
            <div class="clearBoth">

            </div>
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="padd_bottom_30 white-container-lightgrey-border rounded_corners">

                    @if (ViewData["SaveDesignView"] != null)
                    {
                        foreach (var saveDesign in ViewData["SaveDesignView"] as List<SaveDesignView>)
                        {
                            <div class="BDSaved rounded_corners">
                                <div class="pad5">
                                    <div class="PDTCWB">
                                        <div class="PDTC_SD FISaved" style="display: block;">
                                            @if (saveDesign.AttachmentFolderPath.Contains("/Production"))
                                            {
                                                <img id="imgThumbnail" class="svdDesignImgThumb" src="/@artworkattachmentThumbPath@saveDesign.ItemID/@saveDesign.AttachmentFileName@thumbname" />
                                            }
                                            else
                                            {
                                                <img id="imgThumbnail" class="svdDesignImgThumb" src="@saveDesign.AttachmentFolderPath/@saveDesign.AttachmentFileName@thumbname" />
                                            }
                                            
                                        </div>
                                    </div>
                                    <div class="LCLB product_detail_image_heading rounded_corners">
                                        <label id="lblProductName">@saveDesign.ProductName</label>
                                    </div>
                                </div>
                                <div id="Div1" class="cntReorderDesign">
                                    <a id="ImageButton1" href="@Url.Action("ReOrder", "SavedDesigns", new { ItemID = saveDesign.ItemID })" onclick="ShowLoader();" class="btnReorderSavedDesigns">
                                        <img src="~/content/images/repeat.png" />
                                    </a>
                                </div>
                                <div id="SavedDiv" class=" btnDeleteSavedDesignsContainer">
                                    @if (saveDesign.StatusID == 3)
                                    {
                                        <a onclick="ConfirmDeleteSaveDesignPopup('@saveDesign.ItemID');" id="DeleteSavedDesgn" class="btnReorderSavedDesigns btnDeleteSavedDesigns">
                                            <img src="~/content/images/delete.png" width="48px" />
                                        </a>
                                    }
                                </div>
                                <div id="SavedDiv" class=" btnDeleteSavedDesignsContainer">
                                    @if (saveDesign.StatusID == 3)
                                    {
                                        <a onclick="ConfirmDeleteSaveDesignPopup('@saveDesign.ItemID');" id="DeleteSavedDesgn" class="btnReorderSavedDesigns btnDeleteSavedDesigns">
                                            <img src="~/content/images/delete.png" width="48px" />
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    }
                    @if (ViewData["SaveDesignView"] == null)
                    {
                        <label id="lblProductNotFound" class="simpleTextLarge">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlhavenosavdesign", UserCookieManager.WBStoreId, "You have No saved templates"))</label>
                    }
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                </div>
                <div class="clearBoth">
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.1.min.js"></script>

    <script type="text/javascript">
        function ReOrderSaveDesign(ItemID)
        {
            window.location.href = "/ReOrder/" + ItemID;
        }
    </script>
