@using MPC.Models.DomainModels;
@{ 
    string thumbname = "Thumb.png";
}
@{
    Layout = null;
}
<div id="controlBodyDiv" >
    <div class="container content_area" id="all-SavedDesign-pg">
        <div class="left_right_padding">
            <div class="signin_heading_div float_left_simple dashboard_heading_signin col-md-12 col-lg-12 col-xs-12">
                <label id="lblCategoriesLinks1" class="sign_in_heading">My saved designs</label>
            </div>

            <div class="clearBoth">

            </div>
            <div class="col-md-12 col-lg-12 col-xs-12">
                <div class="padd_bottom_30 white-container-lightgrey-border rounded_corners">

                    @if (ViewData["SaveDesignView"] != null)
                    {
                        foreach (var saveDesign in ViewData["SaveDesignView"] as List<SaveDesignView>)
                        {
                            <div class="BDSaved rounded_corners">
                                <div class="pad5">
                                    <div class="PDTCWB">
                                        <div class="PDTC_SD FISaved" style="display: block;">

                                            <img id="imgThumbnail" class="svdDesignImgThumb" src="@saveDesign.AttachmentFolderPath/@saveDesign.AttachmentFileName@thumbname" />
                                        </div>
                                    </div>
                                    <div class="LCLB product_detail_image_heading rounded_corners">
                                        <label id="lblProductName">@saveDesign.ProductName</label>
                                    </div>
                                </div>
                                <div id="Div1" class="cntReorderDesign">
                                    <a id="ImageButton1" href="@Url.Action("ReOrder", "SavedDesigns", new { ItemID = saveDesign.ItemID })" onclick="ShowLoader();" class="btnReorderSavedDesigns">
                                        <img src="~/content/images/repeat.png" />
                                    </a>
                                </div>
                                <div id="SavedDiv" class=" btnDeleteSavedDesignsContainer">
                                    @if (saveDesign.StatusID == 3)
                                    {
                                        <a href="#" onclick="ConfirmDeleteSaveDesignPopup('@saveDesign.ItemID');" id="DeleteSavedDesgn" class="btnReorderSavedDesigns btnDeleteSavedDesigns">
                                            <img src="~/content/images/delete.png" width="48px" />
                                        </a>
                                    }
                                </div>
                                <div id="SavedDiv" class=" btnDeleteSavedDesignsContainer">
                                    @if (saveDesign.StatusID == 3)
                                    {
                                        <a href="#" onclick="ConfirmDeleteSaveDesignPopup('@saveDesign.ItemID');" id="DeleteSavedDesgn" class="btnReorderSavedDesigns btnDeleteSavedDesigns">
                                            <img src="~/content/images/delete.png" width="48px" />
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                    }
                    @if (ViewData["SaveDesignView"] == null)
                    {
                        <label id="lblProductNotFound" class="simpleTextLarge">You have No saved templates</label>
                    }
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                </div>
                <div class="clearBoth">
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/Scripts/jquery-1.10.1.min.js"></script>

    <script type="text/javascript">
        function ReOrderSaveDesign(ItemID)
        {
            window.location.href = "/ReOrder/" + ItemID;
        }
    </script>
