 @model MPC.Models.Common.ShoppingCart
@using System.Linq;
@using MPC.Models.Common;
@using MPC.Webstore.Common;
@using MPC.Models.DomainModels;
@{
    List<AddOnCostsCenter> AddsOnList = ViewData["selectedItemsAddonsList"] as List<AddOnCostsCenter>;
    string addson = string.Empty;
    double _priceTotal = 0;
    string lblPrice = string.Empty;
    double deliveryCost = ViewBag.DeliveryCost;
    double SubTotal = 0;
    double deliveryTotal = 0;
    double deliveryCostTaxVal = ViewBag.DeliveryCostTaxVal;
    double deliveryTax = 0;
    double VatTotal = 0;
    double grosstotal = 0;
    double GrandTotal = 0;
    string IsDisable = string.Empty;
    Address ShippingAddress = ViewData["ShippingAddress"] as Address;
    Address BillingAddress = ViewData["BillingAddress"] as Address;
}
<style>
    input[type="checkbox"] {
        display: none;
        outline: none !important;
        -webkit-transition: background-color;
        -moz-transition: background-color;
        -o-transition: background-color;
        -ms-transition: background-color;
        transition: background-color;
    }

        input[type="checkbox"] + label {
            display: inline-block !important;
            padding: 6px 0 6px 45px;
            line-height: 25px;
            background-image: url("//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/checkbox_sprite.png?4214");
            background-image: none,url("//cdn.shopify.com/s/files/1/0245/8513/t/7/assets/checkbox_sprite.svg?4214");
            background-position: -108px 0;
            background-repeat: no-repeat;
            -webkit-background-size: 143px 143px;
            -moz-background-size: 143px 143px;
            background-size: 143px 143px;
            overflow: visible;
            outline: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;
            cursor: pointer;
            color: #66615b;
            outline: none !important;
            font-size: 17px;
        }

            input[type="checkbox"]:hover + label, input[type="checkbox"] + label:hover, input[type="checkbox"]:hover + label:hover {
                background-position: -72px -36px;
                color: #403d39;
            }

        input[type="checkbox"]:checked + label {
            background-position: -36px -72px;
            color: #403d39;
        }

            input[type="checkbox"]:checked:hover + label, input[type="checkbox"]:checked + label:hover, input[type="checkbox"]:checked:hover + label:hover {
                background-position: 0 -108px;
                color: #403d39;
            }

    .rounded_corners5 {
        margin-bottom: 0px;
    }
</style>

<div class="container content_area">

    <div class="row left_right_padding">
        <ul class="bonhamsOption navM cursor_pointer">
            <li id="lbl_SelectReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleShopCart", UserCookieManager.StoreId))
            </li>
            <li id="lbl_EditReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_EditReceipt", UserCookieManager.StoreId))
            </li>


            <li class="bonhamSelectedOption" id="lbl_ConfirmOrderPaymentReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ConfirmOrderPaymentReceipt", UserCookieManager.StoreId))
            </li>
            <li id="lbl_OrderSummaryReceipt">
                @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_OrderSummaryReceipt", UserCookieManager.StoreId))
            </li>

        </ul>
        <div id="MessgeToDisply" class="rounded_corners col-md-12 col-lg-12 col-xs-12" runat="server" visible="false">
            <label ID="ltrlMessge" runat="server"></label>
        </div>
        <div class="signin_heading_div col-md-12 col-lg-12 col-xs-12">
            <label ID="lblCheckout" runat="server" Text="Checkout" CssClass="sign_in_heading"></label>
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
        <br />
        <div id="maincntCheckout" class="check_out_right_div col-md-12 col-lg-12 col-xs-12">
            <div class="clearBoth mainHeadingAveniorCheckout">
                <label ID="lbl_SpecialInstructions" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_SpecialInstructions", UserCookieManager.StoreId))</label>
            </div>

            <div class="TTL_Checkout ckecoutWidthAvenior col-md-12 col-lg-12 col-xs-12">
                <label ID="lbl_Tel" runat="server" CssClass="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12 ">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Tel", UserCookieManager.StoreId))</label>

                <input id="txtInstContactTelNumber" type="text" runat="server" class="AveniorTxtBoxCheckout col-md-2 col-lg-2 col-xs-12 "onblur="ChangeTelNumber();" value="@ViewBag.txtInstContactTelNumber" />

            </div>
            <div class="clearBoth">
            </div>

            <div class="col-md-12 col-lg-12 col-xs-12 ckecoutWidthAvenior TTL_Checkout">
                <label ID="ltrlnotes" runat="server" Text="Notes" CssClass="col-md-2 col-lg-2 col-xs-12 checkoutNoteslbl"></label>

                <input type="text" inputmode="MultiLine" id="txtInstNotes" style="height:80px;" class="AveniorTxtBoxCheckout" onblur="ChangeNotesTxt();"/>
                @*<asp:TextBox TextMode="MultiLine" ID="txtInstNotes" runat="server" Height="80px"
                             CssClass="AveniorTxtBoxCheckout" Columns="10" onblur="ChangeNotesTxt();" />*@
            </div>
            <div class="clearBoth">
            </div>
            @if(UserCookieManager.StoreMode == (int)StoreMode.Corp)
            {
                <div id="CorporateBox" class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior"  runat="server">
                    <label ID="lbl_ReferencePO" runat="server" class="col-md-2 col-lg-2 col-xs-12 smallCheckoutAvenior">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ReferencePO", UserCookieManager.StoreId))</label>

                    <input id="txtYourRefNumber" type="text" runat="server" class="AveniorTxtBoxCheckout" maxlength="50"
                           onblur="ChangeRefPO();" />

                </div>

            }
            else
            {
                <div id="NormalBox" class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior" >
                    <label ID="lbl_ReferencePO" runat="server" CssClass="col-md-2 col-lg-2 col-xs-12 smallCheckoutAvenior">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ReferencePO", UserCookieManager.StoreId))</label>

                    <input id="txtYourRefNumberRetail" type="text" runat="server" class="AveniorTxtBoxCheckout" maxlength="50"
                           onblur="ChangeRefPO();" />

                </div>
            }
            
            <div class="clearBoth">
                &nbsp;
            </div>
            <br />
            <br />

            <div class="clearBoth mainHeadingAveniorCheckout col-md-12 col-lg-12 col-xs-12">
                <label ID="lbl_DeliveryOption" runat="server" >@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_DeliveryOption", UserCookieManager.StoreId))</label>
            </div>
            <div>
                <div class="clearBoth smallCheckoutAvenior float_left_simple">
                    <label ID="Literal3" runat="server" Text=" "></label>
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_DelivaryMethod" runat="server" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_DelivaryMethod", UserCookieManager.StoreId))</label>

                    <select id="ddlDeliveyCostCenter" class="checkoutDropDown">
                       
                        @{
                            MPC.Models.DomainModels.Item record = ViewBag.Item;
                            foreach (var costcenter in ViewData["ddlDeliveyCostCenter"] as List<MPC.Models.DomainModels.CostCentre>)
                            {
                                //  if(country.co)
                                if (record != null)
                                {
                                    if (@costcenter.Name == record.ProductName)
                                    {
                                        <option value="@costcenter.CostCentreId" selected>@costcenter.Name</option>
                                    }
                                    else
                                    {
                                        <option value="-1" selected>Select a delivery option</option>
                                        <option value="@costcenter.CostCentreId">@costcenter.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="-1" selected>Select a delivery option</option>
                                    <option value="@costcenter.CostCentreId">@costcenter.Name</option>
                                }


                            }

                        }
                       

                    </select>
                    @*<asp:DropDownList ID="ddlDeliveyCostCenter" runat="server" CssClass="checkoutDropDown" />*@
                </div>
                <div class="clearBoth">
                </div>

                <div id="pickUpaddressContainer" runat="server" class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_PickUpAddress" runat="server"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_PickUpAddress", UserCookieManager.StoreId))</label>

                    <input type="text" inputmode="MultiLine" id="txtPickUpAddressDetail" style="height:80px;" class="AveniorTxtBoxCheckout" disabled>
                    @*<asp:TextBox TextMode="MultiLine" ID="txtPickUpAddressDetail" runat="server" Height="80px"
                                 CssClass="AveniorTxtBoxCheckout" Columns="10" Enabled="false" />*@

                </div>

            </div>
            <div class="clearBoth">
                &nbsp;
            </div>
            <br />
            <br />
            @*<%--  shipping address panel --%>*@
            <div class="clearBoth mainHeadingAveniorCheckout col-md-12 col-lg-12 col-xs-12">
                <label ID="lbl_ShippingAddress" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ShippingAddress", UserCookieManager.StoreId))</label>
            </div>
            <div id="divDeliveryAddress">

                <div id="ddshippingAdd" runat="server" class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_DeliveryAddress" runat="server" class="col-md-2 col-lg-2 col-xs-12 smallCheckoutAvenior"> @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_DeliveryAddress", UserCookieManager.StoreId))</label>

                    <select id="ddlDelivery" class="checkoutDropDown"></select>
                    @*<asp:DropDownList ID="ddlDelivery" runat="server" AutoPostBack="true" CssClass="checkoutDropDown"
                                      OnSelectedIndexChanged="ddlDelivery_SelectedIndexChanged" />*@
                    
                    <select id="ddlDelivery" class="checkoutDropDown">
                        @if (UserCookieManager.StoreMode == (int)StoreMode.Corp)
                        {
                            <option value="-1">Add New Address</option>
                        }
                       
                        @foreach (var add in ViewData["ddlDelivery"] as List<Address>)
                        {
                            <option value="@add.AddressId">@add.AddressName</option>


                        }
                    </select>
                </div>
                <div class="clearBoth">
                </div>

                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_shippingName"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_shippingName", UserCookieManager.StoreId))</label>

                    <input id="txtShipAddressName" type="text" runat="server" class=" AveniorTxtBoxCheckout" maxlength="100" value="@ShippingAddress.AddressName"/>
                    <label ID="lbl_officeAddress" CssClass="tooltipCheckoutAvenior" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_officeAddress", UserCookieManager.StoreId))</label>

                </div>

                <div class="clearBoth">
                </div>


                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_ShippingAddress1" runat="server"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ShippingAddress1", UserCookieManager.StoreId))</label>

                    <input id="txtShipAddLine1" type="text" runat="server" class=" AveniorTxtBoxCheckout" maxlength="255" value="@ShippingAddress.Address1"
                           onblur="ChangeShippToAddLin1();" />

                </div>
                <div class="clearBoth">
                </div>

                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_ShippingAddress2" runat="server" CssClass="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ShippingAddress2", UserCookieManager.StoreId))</label>


                    <input id="txtShipAddressLine2" type="text" runat="server" class="AveniorTxtBoxCheckout" maxlength="255" value="@ShippingAddress.Address2"
                           onblur="ChangeShippToAddLin2();" />
                </div>
                <div class="clearBoth">
                </div>

                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_City" runat="server" Text="City" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_City", UserCookieManager.StoreId))</label>


                    <input id="txtShipAddCity" type="text" runat="server" class=" AveniorTxtBoxCheckout" maxlength="100" value="@ShippingAddress.City"
                           onblur="ChangeShippToCity();" />

                </div>
                <div class="clearBoth">
                </div>

                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_ZipPostalCode`" runat="server"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ZipPostalCode", UserCookieManager.StoreId))</label>

                    <input id="txtShipPostCode" type="text" runat="server" class="AveniorTxtBoxCheckout float_left_simple" maxlength="30" value="@ShippingAddress.PostCode"
                           onblur="ChangeShippToPostCode();" /><img id="lodingImg" runat="server" alt=""
                                                                    src="~/images/wpLoader.gif" style="display: none; float: left; width: 20px; margin-top: 7px; margin-left: 0px;" />

                </div>
                <div class="clearBoth">
                </div>

                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_Country" runat="server"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Country", UserCookieManager.StoreId))</label>
                    @*<asp:DropDownList ID="ddShippingCountry" runat="server" CssClass="checkoutDropDown"
                                      AutoPostBack="true" OnSelectedIndexChanged="ShippingDropDown_SelectedIndexChanged" />*@
                    <select id="ddShippingCountry" class="checkoutDropDown" >
                        <option value="-1" selected>Select Country</option>
                        @foreach (var country in ViewData["ShipperCountries"] as List<MPC.Models.DomainModels.Country>)
                        {
                            if (country.CountryId == ShippingAddress.CountryId)
                            {
                                <option value="@country.CountryId" selected>@country.CountryName</option>
                            }
                            else
                            {
                                <option value="@country.CountryId">@country.CountryName</option>
                            }

                        }

                    </select>
                    @*@Html.DropDownList("Country",ViewData["Countries"] as  List< MPC.Models.DomainModels.)*@
                </div>
                <div class="clearBoth">
                </div>

                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_State" runat="server"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_State", UserCookieManager.StoreId))</label>
                    <asp:DropDownList ID="ddShippingState" runat="server" CssClass="checkoutDropDown" />
                    <select id="ddShippingState" class="checkoutDropDown">
                        <option value="-1" selected>Select State</option>
                        @foreach (var state in ViewData["ShippingStates"] as List<MPC.Models.DomainModels.State>)
                        {
                            if (state.StateId == ShippingAddress.StateId)
                            {
                                <option value="@state.StateId" selected>@state.StateName</option>
                            }
                            else
                            {
                                <option value="@state.StateId">@state.StateName</option>
                            }

                        }

                    </select>
                </div>
                <div class="clearBoth">
                </div>
                <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                    <label ID="lbl_ContactNumber" runat="server"  class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ContactNumber", UserCookieManager.StoreId))</label>

                    <input id="txtShipContact" type="text" runat="server" class="AveniorTxtBoxCheckout" maxlength="60" value="@ShippingAddress.Tel1" />
                </div>
                <div class="clearBoth">
                    &nbsp;
                </div>

            </div>

        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
        <br />
        <br />
        <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
            <input type="checkbox" id="chkBoxDeliverySameAsBilling" checked="checked" onclick="BillingSameAsDeliveryScriptCheckBox();" value="Bill items to the above shipping address" />
            <asp:CheckBox ID="chkBoxDeliverySameAsBilling" Text="Bill items to the above shipping address" runat="server"
                          Checked="true" onclick="BillingSameAsDeliveryScriptCheckBox();" OnCheckedChanged="chkBoxDeliverySameAsBilling_CheckedChanged" AutoPostBack="true" />
        </div>
        <div class="clear">
        </div>
        <br />
        <br />
        <br />

        <div id="divBilling">
            <div class="clearBoth mainHeadingAveniorCheckout col-md-12 col-lg-12 col-xs-12">
                <label ID="lbl_BillingAddress" runat="server" >@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_BillingAddress", UserCookieManager.StoreId))</label>
            </div>
            @if (ViewBag.IsUserRole)
            {
                if(ViewBag.isStoreModePrivate)
                {
                    if(BillingAddress.isPrivate != true)
                    {
                        IsDisable = "disabled";
                    }
                    else
                    {
                        IsDisable = "";
                    }
                   
                }
                else
                {
                    IsDisable = "";
                }
                
            }
            else
            {
                IsDisable = "";
            }
            <div id="ddBillingAdd" runat="server" class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label ID="lbl_ChooseBillingAddress" runat="server" class="col-md-2 col-lg-2 col-xs-12 smallCheckoutAvenior">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ChooseBillingAddress", UserCookieManager.StoreId))</label>
                @*<asp:DropDownList ID="ddlBilling" runat="server" AutoPostBack="true" CssClass="checkoutDropDown"
                                  OnSelectedIndexChanged="ddlBilling_SelectedIndexChanged" />*@
                <select  id="ddlBilling" class="checkoutDropDown">
                    @if (UserCookieManager.StoreMode == (int)StoreMode.Corp)
                    {
                        <option value="-1">Add New Address</option>
                    }
                    @foreach (var add in ViewData["ddlBilling"] as List<Address>)
                    {
                        if (add.AddressId == BillingAddress.AddressId)
                        {
                            <option value="@add.AddressId" selected>@add.AddressName</option>
                        }
                        else
                        {
                            <option value="@add.AddressId">@add.AddressName</option>
                        }
                    }
                </select>
            </div>
            <div class="clearBoth">
            </div>


            <div class=" col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label ID="lbl_BillingName" runat="server"  CssClass="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_BillingName", UserCookieManager.StoreId))</label>
                
                <input id="txtBillingName" disabled="@IsDisable"  type="text"  class="AveniorTxtBoxCheckout" maxlength="100" value="@BillingAddress.AddressName" />
                <label ID="lbl_BillingOfficeAddres"  runat="server" class="tooltipCheckoutAvenior">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_BillingOfficeAddres", UserCookieManager.StoreId))</label>
            </div>
            <div class="clearBoth">
            </div>


            <div class=" col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label ID="lbl_BillingAddress1" runat="server" CssClass="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_BillingAddress1", UserCookieManager.StoreId))</label>

                <input id="txtAddressLine1" type="text" disabled="@IsDisable" class="AveniorTxtBoxCheckout" maxlength="255" value="@BillingAddress.Address1"
                       onblur="ChangeAddresLinne1();" />

            </div>
            <div class="clearBoth">
            </div>


            <div class=" col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label ID="lbl_BillingAddress2" runat="server" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_BillingAddress2", UserCookieManager.StoreId))</label>

                <input id="txtAddressLine2" type="text" disabled="@IsDisable"  class="AveniorTxtBoxCheckout" maxlength="255"
                       onblur="ChangeAddresLinne2();" value="@BillingAddress.Address2">
            </div>
            <div class="clearBoth">
            </div>

            <div class=" col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label ID="lbl_City" runat="server" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_City", UserCookieManager.StoreId))</label>

                <input id="txtCity" type="text" disabled="@IsDisable" class="AveniorTxtBoxCheckout" maxlength="100"
                       onblur="ChangeCityShippBill();" value="@BillingAddress.City" />

            </div>
            <div class="clearBoth">
            </div>

            <div class=" col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">

                <label ID="lbl_ZipPostalCode" runat="server" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ZipPostalCode", UserCookieManager.StoreId))</label>

                <input id="txtZipPostCode" type="text" disabled="@IsDisable" class="AveniorTxtBoxCheckout " value="@BillingAddress.PostCode" maxlength="30"
                       onblur="ChangePostCodeShippBill();" />

            </div>
            <div class="clearBoth">
            </div>


            <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label ID="lbl_Country" runat="server" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Country", UserCookieManager.StoreId))</label>
                <select id="BillingCountryDropDown" disabled="@IsDisable" class="checkoutDropDown">

                    <option value="-1" selected>Select Country</option>
                    @foreach (var country in ViewData["Countries"] as List<MPC.Models.DomainModels.Country>)
                    {
                        if (country.CountryId == BillingAddress.CountryId)
                        {
                            <option value="@country.CountryId" selected>@country.CountryName</option>
                        }
                        else
                        {

                            <option value="@country.CountryId">@country.CountryName</option>
                        }


                    }

                </select>
               @* <asp:DropDownList ID="BillingCountryDropDown" AutoPostBack="true" runat="server" CssClass="checkoutDropDown" OnSelectedIndexChanged="BillingCountryDropDown_SelectedIndexChanged" />*@
            </div>
            <div class="clearBoth">
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label id="lbl_State" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_State", UserCookieManager.StoreId))</label>
             
                <select id="ddBillingState" disabled="@IsDisable" class="checkoutDropDown">
                    <option value="-1" selected>Select State</option>
                    @foreach (var state in ViewData["BillingStates"] as List<MPC.Models.DomainModels.State>)
                    {
                        if (state.StateId == BillingAddress.StateId)
                        {
                            <option value="@state.StateId" selected>@state.StateName</option>
                        }
                        else
                        {
                            <option value="@state.StateId">@state.StateName</option>
                        }

                    }
                </select>
            </div>
            <div class="clearBoth">
            </div>
            <div class="col-md-12 col-lg-12 col-xs-12 TTL_Checkout ckecoutWidthAvenior">
                <label id="lbl_ContactNumber" class="smallCheckoutAvenior col-md-2 col-lg-2 col-xs-12">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ContactNumber", UserCookieManager.StoreId))</label>

                <input id="txtContactNumber" disabled="@IsDisable" type="text" class="AveniorTxtBoxCheckout" maxlength="60" value="@BillingAddress.Tel1">
            </div>


        </div>
        <div id="lbl_ShippingHelpConformationMessage" style="clear: both; font-size: 18px; color: rgb(179, 60, 18); font-family: 'Avenir Next LT W01 Demi', Helvetica, Arial, sans-serif; height: auto; width: 80%; text-align: left;">
           @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ShippingHelpConformationMessage", UserCookieManager.StoreId))
        </div>
        <br />
        <br />
        <div class="check_out_third_div">
            <div class="confirm_order_detail_div">
                <div style="min-height: 290px">
                    @if(Model.CartItemsList != null && Model.CartItemsList.Count > 0)
                    {
                        <div id="pnlConfirmOrder">
                            <div class="mainHeadingAveniorCheckout">
                                <label ID="lbl_ShippingHelpConformationOrder" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ShippingHelpConformationOrder", UserCookieManager.StoreId))</label>
                            </div>
                            <br />
                            <table class="width100p" cellspacing="0" cellpadding="15" id="MainContent_grdViewShopCart" style="width:100%;border-collapse:collapse;">
                                <tbody>
                                    <tr class="gridViewCheckoutHeaderStyle">
                                        <th id="lbl_Quantity" align="left" scope="col">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Quantity", UserCookieManager.StoreId))</th>
                                        <th id="lbl_Product_Description" align="left" scope="col">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Product_Description", UserCookieManager.StoreId))</th>
                                        @if (UserCookieManager.ShowPriceOnWebstore)
                                        {
                                            <th id="lbl_Price" align="right" scope="col">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Price", UserCookieManager.StoreId))</th>
                                        }
                                        @*else
                                        {
                                            <th align="right" style="color:rgb(61, 61, 61) !important;" scope="col">Price</th>
                                        }*@
                
                                    </tr>


                                @foreach (var shopcart in ViewData["GrdViewShopCart"] as List<ProductItem>)
                                {
                                         VatTotal += shopcart.Qty1Tax1Value ?? 0;
                                        <tr class="gridViewCheckoutRowStyle" align="top">
                                            <td class="PaddingToCells" align="left">
                                                <span id="lblTotalItemQuantity" class="Fsize14" style="font-weight:bold;">@shopcart.Qty1</span>
                                            </td>
                                            <td class="PaddingToCells" align="left">
                                                <span id="lblItemProductName" class="Fsize14" style="font-weight:bold;">@shopcart.ProductName</span>
                                                <br>
                                                <span id="lblPapErName">@shopcart.PaperType</span>
                                                <br>
                                                @{
                                                   AddsOnList = AddsOnList.Where(addon => addon.ItemID == shopcart.ItemID).ToList();
                                                   foreach(var add in AddsOnList)
                                                   {
                                                       addson = addson + add.AddOnName + ", ";
                                                   }
                                                }
                                                <span id="lblAddons">addson</span>

                                            </td>
                                            @if(UserCookieManager.ShowPriceOnWebstore)
                                            {
                                                <td class="PaddingToCells" align="right">
                                                    @{
                                                        lblPrice = Convert.ToString(shopcart.Qty1BaseCharge1 ?? 0);

                                                        _priceTotal += Convert.ToDouble(lblPrice);

                                                        lblPrice = Utils.FormatDecimalValueToTwoDecimal(lblPrice, ViewBag.Currency);

                                                    }
                                                    <span id="lblItemPrice" class="Fsize14">@lblPrice</span>
                                                </td>
                                            }
                                          
                                          
                                        </tr>


                                }
                                </tbody>
                            </table>
                            <asp:GridView ID="grdViewShopCart" DataKeyNames="ItemID" runat="server" SkinID="grdViewCheckoutCartView" CellSpacing="2" CssClass="width100p"
                                          OnRowDataBound="grdViewShopCart_RowDataBound">
                                <columns>
                                    <asp:templatefield headertext="Quantity" headerstyle-horizontalalign="Left" itemstyle-horizontalalign="Left" itemstyle-cssclass="PaddingToCells">
                                        <itemtemplate>
                                            <asp:Label ID="lblTotalItemQuantity" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "Qty1") %>'
                                                       Font-Bold="true" CssClass="Fsize14" />
                                        </itemtemplate>
                                    </asp:templatefield>
                                    <asp:templatefield headertext="Product Description" headerstyle-horizontalalign="Left" itemstyle-cssclass="PaddingToCells"
                                                       itemstyle-horizontalalign="Left">
                                        <itemtemplate>
                                            <asp:Label ID="lblItemProductName" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "ProductName")%>'
                                                       Font-Bold="true" CssClass="Fsize14"></asp:Label>
                                            <br />
                                            <asp:Label ID="lblPapErName" runat="server"></asp:Label>
                                            <br />
                                            <asp:Label ID="lblAddons" runat="server"></asp:Label>
                                            <asp:BulletedList CssClass="UList" ID="bltSelectedAddonList" runat="server" DisplayMode="Text"
                                                              Visible="false">
                                            </asp:BulletedList>
                                        </itemtemplate>
                                    </asp:templatefield>
                                    <asp:templatefield headertext="Price" headerstyle-horizontalalign="Right" itemstyle-horizontalalign="Right" itemstyle-cssclass="PaddingToCells">
                                        <itemtemplate>
                                            <asp:Label ID="lblItemPrice" runat="server" CssClass="Fsize14" Text='<%# DataBinder.Eval(Container.DataItem, "Qty1BaseCharge1") %>' />
                                        </itemtemplate>
                                    </asp:templatefield>
                                    <asp:templatefield visible="false" headertext="VAT" headerstyle-horizontalalign="Right"
                                                       itemstyle-horizontalalign="Right">
                                        <itemtemplate>
                                            <asp:Label ID="lblVatStateTax" runat="server" />
                                        </itemtemplate>
                                    </asp:templatefield>
                                    <asp:templatefield visible="false" headertext="Total" headerstyle-horizontalalign="Right"
                                                       itemstyle-horizontalalign="Right">
                                        <itemtemplate>
                                            <asp:Label ID="lblTotalItemPrice" runat="server" Text='<%# DataBinder.Eval(Container.DataItem, "Qty1GrossTotal") %>' />
                                        </itemtemplate>
                                    </asp:templatefield>
                                </columns>
                            </asp:GridView>
                            <br />
                    @if(Model.CartItemsList != null && Model.CartItemsList.Count > 0)
                    {
                        if(UserCookieManager.ShowPriceOnWebstore)
                        {
                            <div id="PnalTotalBox" runat="server">
                                <table border="0" cellpadding="3" cellspacing="0" width="100%" class="left_align">
                                    <tr>
                                        <td width="30%">
                                            &nbsp;
                                        </td>
                                        <td width="30%">
                                            &nbsp;
                                        </td>
                                        <td width="20%" align="left" class="LightGrayLabels" id="tdSubtotal" runat="server">
                                            <span id="lbl_SubTotal">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_SubTotal", UserCookieManager.StoreId))</span>
                                        </td> 
                                        @{
                                            string price = Convert.ToString(_priceTotal);
                                            SubTotal = Utils.FormatDecimalValueToTwoDecimal(price, ViewBag.Currency);
                                            
                                        }

                                        <td align="right" width="20%">
                                            <label ID="lblSubTotal"  class="Fsize15 colorBlack"
                                                   Style="margin-right: 13px;" >@SubTotal</label>
                                        </td>
                                    </tr>
                                    @if(UserCookieManager.StoreMode != (int)StoreMode.Corp)
                                    {
                                        <tr id="tblRowVoucher" runat="server"style="display:none;">
                                            <td width="30%" align="left">
                                                &nbsp;
                                            </td>
                                            <td width="30%">
                                                &nbsp;
                                            </td>
                                            <td width="20%" align="left">
                                                <label ID="lbl_Discount" Style="font-family: 'Lato', Calibri, Arial, sans-serif; font-style: normal; font-weight: bold; font-size: 14px; line-height: 13px; color: rgb(102,102,102); color: #FB8D00 !important;"
                                                       runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Discount", UserCookieManager.StoreId))</label>
                                            </td>
                                            <td align="right" width="20%">
                                                <label ID="lblVoucherCodeDiscAmount" Style="margin-right: 13px; color: #FB8D00 !important;"
                                                       Text="0" runat="server" />
                                            </td>
                                        </tr>
                                    }

                                    <tr>
                                        <td width="30%" align="left">
                                            &nbsp;
                                        </td>
                                        <td width="30%">
                                            &nbsp;
                                        </td>
                                        <td width="20%" align="left" class=" LightGrayLabels" id="tddelivery" runat="server">
                                            <span id="lbl_Delivery_Text" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Delivery_Text", UserCookieManager.StoreId))</span>
                                        </td>
                                        @if(deliveryCost > 0)
                                        {
                                            string dc = Convert.ToString(deliveryCost);
                                          
                                            deliveryTotal = Utils.FormatDecimalValueToTwoDecimal(dc, ViewBag.Currency);
                                        }
                                        else
                                        {
                                            

                                            deliveryTotal = Utils.FormatDecimalValueToTwoDecimal("0", ViewBag.Currency);
                                        }
                                        <td align="right" width="20%">
                                            <label ID="lblDeliveryCostCenter" Text="0" runat="server" class="LightGrayLabels"
             Style="margin-right: 13px;">@deliveryTotal</label>
                                        </td>
                                    </tr>
                                    <tr id="rowVat" runat="server">
                                        <td width="30%" align="left"></td>
                                        <td width="30%"></td>
                                        <td width="20%" align="left" class="LightGrayLabels">
                                            <label ID="lblTaxLabel" >@ViewBag.lblTaxLabel</label>
                                        </td>
                                        <td align="right" width="20%">
                                            @if (deliveryCostTaxVal > 0)
                                            {
                                                string dct = Convert.ToString(deliveryCostTaxVal);

                                                deliveryTax = Utils.FormatDecimalValueToTwoDecimal(dct, ViewBag.Currency);
                                            }
                                            else
                                            {
                                                string vat = Convert.ToString(VatTotal);
                                                deliveryTax = Utils.FormatDecimalValueToTwoDecimal(vat, ViewBag.Currency);
                                            }
                                            <label ID="lblVatTotal" class="LightGrayLabels"  Style="margin-right: 13px;">@deliveryTax</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%">
                                            &nbsp;
                                        </td>
                                        <td width="30%">
                                            &nbsp;
                                        </td>
                                        <td width="20%" align="left" class="fontSyleBold Fsize15" id="tdgrandtotal" runat="server">
                                            <span class="CartFonts colorBlack" id="lbl_Total">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Total", UserCookieManager.StoreId))</span>
                                        </td>
                                        <td align="right" width="20%">
                                            @if(deliveryCost > 0)
                                            {
                                                grosstotal = _priceTotal + (deliveryCostTaxVal + VatTotal) + deliveryCost;
                                                string gross = Convert.ToString(grosstotal);
                                                GrandTotal = Utils.FormatDecimalValueToTwoDecimal(gross, ViewBag.Currency);
                                            }
                                            else
                                            {
                                                grosstotal = _priceTotal + VatTotal;
                                                string gross = Convert.ToString(grosstotal);
                                                GrandTotal = Utils.FormatDecimalValueToTwoDecimal(gross, ViewBag.Currency);
                                            }
                                            <label class="CartFonts colorBlack Fsize15" ID="lblGrandTotal" Text="0" runat="server"
                                                   Style="margin-right: 13px;" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }

                    }

                        </div>
                    }
                    
                </div>
                <div id="DivShippTo" class="black_sub_heading textAlignLeft paddingLeft10px" style="display: none;"
                     runat="server">
                    <label ID="lbl_ShiptoBillTo" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ShiptoBillTo", UserCookieManager.StoreId))</label>
                </div>
                <div id="innerContainerShippTo" class="textAlignLeft AddressesContainer" style="display: none;">
                    <label ID="lblShipToAddLin1"  class="lbAddressLinesWithPadding" >@ShippingAddress.Address1</label>
                    <label ID="lblShipToAddLin2" class="lbAddressLines" >@ShippingAddress.Address2</label><br />
                    <label ID="lblShipToCity"  class="lbAddressLinesWithPadding">@ShippingAddress.City</label><br />
                    <label ID="lblShipTostate"  class="lbAddressLinesWithPadding" >@ShippingAddress.State</label>&nbsp;
                    <label ID="lblShipToCountry" class="lbAddressLines" >@ShippingAddress.Country</label>  &nbsp;
                    <label ID="lblShipToZipCode"  class="lbAddressLines" >@ShippingAddress.PostCode</label> <br />
                </div>
                <br />
                <div id="BillTOShippTO" class="black_sub_heading textAlignLeft paddingLeft10px" runat="server">
                    <label ID="lbl_ReceiptbillTo" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ReceiptbillTo", UserCookieManager.StoreId))</label>

                </div>
                <div id="BillTOShippTOContainer" class="textAlignLeft AddressesContainer" runat="server">
                    <label ID="lblAddLine1BilSip" class="lbAddressLinesWithPadding" >@BillingAddress.Address1</label>
                    <label ID="lbladdLine2BilSip" class="lbAddressLines" >@BillingAddress.Address2</label><br />
                    <label ID="lblCityBilSip"  class="lbAddressLinesWithPadding" >@BillingAddress.City</label><br />
                    <label ID="lblStateBilSip" class="lbAddressLinesWithPadding">@BillingAddress.State</label>&nbsp;
                    <label ID="lblCountryBilSip" class="lbAddressLines" >@BillingAddress.Country</label>&nbsp;
                    <label ID="lblPostCdeBilSip" class="lbAddressLines" >@BillingAddress.PostCode</label><br />
                </div>
                <br />
                <div class="textAlignLeft paddingLeft10px">
                    <label ID="lbl_ContactNumber" runat="server" class="black_sub_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_ContactNumber", UserCookieManager.StoreId))</label>
                    <label ID="lblContactNo" runat="server" class="ContactNumberlb" >ViewBag.lblContactNo</label>
                </div>
                <br />
                <div id="DivRefPO" style="display: none;" class="textAlignLeft paddingLeft10px">
                    <label ID="lbl_YourRefPotxt" runat="server" class="black_sub_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_YourRefPotxt", UserCookieManager.StoreId))</label><label ID="lblRefPo" runat="server" CssClass="POlb"></label>
                </div>
                <br />
                <div id="DivSpclNotes" style="display: none;" class="textAlignLeft paddingLeft10px">
                    <label ID="lbl_SpecialInstructions" runat="server"
                           Style="color: #C72965;" class="black_sub_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_SpecialInstructions", UserCookieManager.StoreId))</label><br />
                    <br />
                    <label ID="lblNotesDetail" runat="server" class="SpecialNotesContainer" />
                </div>
                <div class="pad10">
                    <div class="float_right marginLeft directDepositcs">
                        
                        <asp:Button ID="btnDirectDeposit" CssClass="start_creating_btn_SApp rounded_corners5" UseSubmitBehavior="true"
                                    runat="server" OnClick="btnDirectDeposit_Click" Visible="false" Text="Pay Via Direct Deposite"
                                    ClientIDMode="Static" OnClientClick="return ValidateCheckout();" />
                    </div>
                </div>
                <div class="clearBoth">
                </div>
                <div class="pad10">
                    <div class="float_right marginLeft">
                     @if(Model.CartItemsList != null && Model.CartItemsList.Count > 0)
                     {
                        @*<asp:Button ID="btnConfirmOrder" CssClass="start_creating_btn_SApp rounded_corners5" UseSubmitBehavior="true"
                                    runat="server" OnClick="btnConfirmOrder_Click" Enabled="true" Text="Continue"
                                    ClientIDMode="Static" OnClientClick="return ValidateCheckout();" />*@
                        <input type="submit" class="start_creating_btn_SApp rounded_corners5" onclick="return ValidateCheckout();" value="Continue" />
                      }
                     </div>
                    <div class="float_right">
                        <asp:Button Text="BACK TO SHOPPING" ID="btnShopCart" CssClass="btn_brown rounded_corners5"
                                    runat="server" OnClick="btnShopCart_Click" CausesValidation="False" />
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                </div>
            </div>
            <br />
            <br />
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 cntcheckoutSummary">
        @if(UserCookieManager.StoreMode != (int)StoreMode.Corp)
        {
            <div class="super_admin_message" id="DivretailMesg" runat="server" visible="false">
                <label ID="lbl_SomeOneCallU" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_SomeOneCallU", UserCookieManager.StoreId))</label>
                <label ID="lbl_confirmDetails" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_confirmDetails", UserCookieManager.StoreId))</label>
            </div>
        }
          
        @if(ViewBag.divAdminMessage == true)
        {
            <div class="super_admin_message" id="divAdminMessage" runat="server" visible="false">
                <label ID="lbl_OrderDeliveredafter" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_OrderDeliveredafter", UserCookieManager.StoreId))</label>

                <label ID="lblSupAdminName">@ViewBag.lblSupAdminName</label>

                <label ID="lbl_OrderApprovesBy" runat="server">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_OrderApprovesBy", UserCookieManager.StoreId))</label>
            </div>
        }
            
            <div class="clearBoth">
                &nbsp;
            </div>
            <div class="super_admin_message" id="divWarnnigMEsg">
                <label ID="ltrlWarnnigMEsg" >@ViewBag.ltrlWarnnigMEsg</label>
            </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 cntcheckoutSummary">

            <label ID="lbl_OrderProcessedBy" runat="server" CssClass="mainHeadingAveniorCheckout" Style="display: none; height: auto !important;">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_OrderProcessedBy", UserCookieManager.StoreId))</label>
            <div class="SelectedBroker nContainer rounded_corners" style="display: none;">
                <table style="width: 100%;">
                    <tr id="container" class="PostCodetableRow">
                        <td class="tdBrokerLogo">
                            <div class="CkOutBrokerLlogo MargnRght10">
                                <img id="imgLogo" style="border: 0px; max-width: 180px; max-height: 70px;" class="brokerLogoImg" />
                            </div>
                            <div>
                                <label ID="BrokerAddLine1" runat="server" Style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px;" />
                                <label ID="BrokerAddLine2" runat="server" Style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px;" /><br />
                                <label ID="BrokerTown" runat="server" Style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: bold; font-weight: normal; font-size: 14px;" />,
                                <label ID="BrokerState" runat="server" Style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: bold; font-weight: normal; font-size: 14px;" />,
                                <label ID="BrokerCountry" runat="server" Style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: bold; font-weight: normal; font-size: 14px;" /><br />
                                <label ID="BrokerFax" runat="server" Style="color: #333333; font-family: Trebuchet MS, Arial, Helvetica, sans-serif; font-style: bold; font-weight: normal; font-size: 14px;" />
                                <br />
                                <br />
                                <div class="SearchPostCodeTeleImg" runat="server" id="telephoneIcon">
                                </div>
                                <div id="BrokerTeleNo" class="srchpstcodeTel">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="errorMesgBroker nContainer rounded_corners" style="display: none;">
            </div>
        </div>

        <div class="textAlignCenter">
            <label ID="lbl_Cart" runat="server" Text="Your Cart is empty!" Visible="false">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Cart", UserCookieManager.StoreId))</label>
            <label ID="lblStatus" runat="server" Text="" class="errorMessage" Visible="false" ></label>
        </div>
        <input type="hidden" value="@BillingAddress.AddressId" id="txthdnBillingAddressID" />
        <input type="hidden" value="@BillingAddress.IsDefaultShippingAddress" id="txthdnBillingDefaultShippingAddress"/>
        <input type="hidden" value="@ShippingAddress.AddressId" id="txthdnDeliveryAddressID" />
        <input type="hidden" value="@ShippingAddress.IsDefaultShippingAddress" id="txthdnDeliveryDefaultShippingAddress" />
        <input type="hidden" value="@ShippingAddress.IsDefaultAddress" id="txthdnDeliveryDefaultAddress"/>
        


        <asp:HiddenField ID="txthdnBillingDefaultAddress" runat="server" Value="false" />
      
   
       
        <asp:HiddenField ID="txtVoucherDiscountRate" runat="server" Value="0" />
        <asp:HiddenField ID="hfIsCorporate" runat="server" />
        <asp:HiddenField ID="hfBrokerContactCompany" runat="server" Value="0" />
        <asp:HiddenField ID="hfISBrokerSelected" runat="server" Value="0" />
        <asp:HiddenField ID="hfPageIsValid" runat="server" Value="1" />
        <asp:HiddenField ID="hfIsDefaultBilling" runat="server" Value="0" />
        <br />
        <br />
        <br />
        <label ID="lblQuantityHeaderTxt" runat="server" Visible="false"></label>
        <label ID="lblProdDescHeadingText" runat="server" Visible="false"></label>
        <label ID="lblPriceHeaderTxt" runat="server" Visible="false"></label>
        <label ID="lblVatHeadingText" runat="server" Visible="false"></label>
        <label ID="lblTotalHeadingText" runat="server" Visible="false"></label>

    </div>
</div>

@section scripts
{
<script type="text/javascript" language="javascript">


    $(document).ready(function () {
        window.onkeydown = keydown;
        initialize();
        var ShipTO = '<%=Resources.MyResource.ltrlShipTo %>';

        if ($("#<%=chkBoxDeliverySameAsBilling.ClientID %>")[0].checked == true) {


            $('#divBilling').css('display', 'none');
            $('#<%=BillTOShippTO.ClientID %>').css('display', 'none');
            $('#<%=BillTOShippTOContainer.ClientID %>').css('display', 'none');
            $('#<%=DivShippTo.ClientID %>').css('display', 'block');
            $('#<%=innerContainerShippTo.ClientID %>').css('display', 'block');
        }
        else {

            $('#divDeliveryAddress').css('display', 'block');
            $('#<%=DivShippTo.ClientID %>').css('display', 'block');
            $('#<%=innerContainerShippTo.ClientID %>').css('display', 'block');
            $("#<%=ltrlShipTo.ClientID %>").html("Ship to:");
        }
        LoadBrokerByPostCode();
        if ($("#<%= hfPageIsValid.ClientID %>").val() == "0") {
            ValidateCheckout();
        }

    });

    function keydown(e) {
        if (e.which == 13) {
            e.preventDefault();
            return false;
        }
    }

    function showProgressBar() {
        if (Page_ClientValidate()) {

            showProgress();
        }
        else {

            return false;
        }
    }




    //<%-- Billing Address--%>


        var txtBillingName = null;
    var txtAddressLine1 = null;
    var txtAddressLine2 = null;
    var txtCity = null;
    var txtState = null;
    var txtZipPostCode = null;
    var txtCountry = null;
    var txtContactNumber = null;
    var ddlBilling = null;
    var ddlDelivery = null;

    function initialize() {

        ddlBilling = $("#" + "<%=ddlBilling.ClientID %>");
        ddlDelivery = $("#" + "<%=ddlDelivery.ClientID %>");

        txtBillingName = $("#" + "<%=txtBillingName.ClientID %>");
        txtAddressLine1 = $("#" + "<%=txtAddressLine1.ClientID %>")
        txtAddressLine2 = $("#" + "<%=txtAddressLine2.ClientID %>");
        txtCity = $("#" + "<%=txtCity.ClientID %>");

        txtZipPostCode = $("#" + "<%=txtZipPostCode.ClientID %>");

        txtContactNumber = $("#" + "<%=txtContactNumber.ClientID %>");

    }


    function SetNewControlValues() {
        ddlBilling.val($("#" + "<%=ddlDelivery.ClientID %>").val());
        txtBillingName.val($("#" + "<%=txtShipAddressName.ClientID %>").val());
        txtAddressLine1.val($("#" + "<%=txtShipAddLine1.ClientID %>").val());
        txtAddressLine2.val($("#" + "<%=txtShipAddressLine2.ClientID %>").val());
        txtCity.val($("#" + "<%=txtShipAddCity.ClientID %>").val());

        txtZipPostCode.val($("#" + "<%=txtShipPostCode.ClientID %>").val());

        txtContactNumber.val($("#" + "<%=txtShipContact.ClientID %>").val());

    }
    function EnableTextBoxes() {

        $("#<%= txtBillingName.ClientID %>").prop("disabled", "");
        $("#<%= txtAddressLine1.ClientID %>").prop("disabled", "");
        $("#<%= txtAddressLine2.ClientID %>").prop("disabled", "");
        $("#<%= txtCity.ClientID %>").prop("disabled", "");

        $("#<%= txtZipPostCode.ClientID %>").prop("disabled", "");
        $("#<%= txtContactNumber.ClientID %>").prop("disabled", "");
    }
    function BillingSameAsDeliveryScriptCheckBox() {

        var ShipTO = '<%=Resources.MyResource.ltrlShipTo %>';
        var BillShippTO = '<%=Resources.MyResource.lnkBillShipto %>';
        if ($("#" + "<%=chkBoxDeliverySameAsBilling.ClientID %>")[0].checked == true) {
            //  alert("c");
            //   $("#MainContent_chkBoxDeliverySameAsBilling").attr("checked", "checked");
            $('#<%=BillTOShippTO.ClientID %>').css('display', 'none');
            $('#<%=BillTOShippTOContainer.ClientID %>').css('display', 'none');
            $("#<%=ltrlShipTo.ClientID %>").html(BillShippTO);
            SetNewControlValues();


            $('#divBilling').css('display', 'none');
        }
        else {
            //
            // $("#MainContent_chkBoxDeliverySameAsBilling").removeattr("checked");
            if ($("#<%= hfIsDefaultBilling.ClientID %>").val() != "1") {
                EnableTextBoxes();
            }
            var ShipTO = '<%=ShipToTxt %>';
            $('#<%=BillTOShippTO.ClientID %>').css('display', 'block');
            $('#<%=BillTOShippTOContainer.ClientID %>').css('display', 'block');
            $("#<%=ltrlShipTo.ClientID %>").html(ShipTO + "");
            $("#<%=lblAddLine1BilSip.ClientID %>").html("");
            $("#<%=lbladdLine2BilSip.ClientID %>").html("");
            $("#<%=lblCityBilSip.ClientID %>").html("");
            $("#<%=lblStateBilSip.ClientID %>").html("");
            $("#<%=lblCountryBilSip.ClientID %>").html("");
            $("#<%=lblPostCdeBilSip.ClientID %>").html("");
            //                //Set Selected Value to add new Mode

            if (ddlBilling.val() != "0") {
                //ddlBilling.val("0");

                //txtBillingName.val("");
                //txtAddressLine1.val("");
                //txtAddressLine2.val("");
                //txtCity.val("");
                //txtState.val("");
                //txtZipPostCode.val("");
                //txtCountry.val("");
                //txtContactNumber.val("");
                //reset hidden fields as well
                //$("#" + "<%=txthdnBillingAddressID.ClientID %>").val("0");
                // $("#" + "<%=txthdnBillingDefaultAddress.ClientID %>").val("false");
                // $("#" + "<%=txthdnBillingDefaultShippingAddress.ClientID %>").val("false");

                $('#divBilling').css('display', 'block');
            } else {
                $('#divBilling').css('display', 'block');
            }

        }


    }

    function billingSameAsDeliveryScript() {

        if (ddlBilling.val() == ddlDelivery.val()) {

            SetNewControlValues();
        }
        else {

        }
    }

    function getthecheckbox() {
        BillingSameAsDeliveryScriptCheckBox();
    }


    function ChangeAddresLinne1() {
        var val = $('#<%=txtAddressLine1.ClientID %>').val();
        $('#<%=lblAddLine1BilSip.ClientID %>').html(val);
    }

    function ChangeCountryShippBill() {
        // set from drop down
    }
    function ChangePostCodeShippBill() {
        var val = $('#<%=txtZipPostCode.ClientID %>').val();
        $('#<%=lblPostCdeBilSip.ClientID %>').html(val);
    }
    function ChangestateShippBill() {
        // get value from drop down
    }
    function ChangeCityShippBill() {
        var val = $('#<%=txtCity.ClientID %>').val();
        $('#<%=lblCityBilSip.ClientID %>').html(val);
    }
    function ChangeAddresLinne2() {
        var val = $('#<%=txtAddressLine2.ClientID %>').val();
        $('#<%=lbladdLine2BilSip.ClientID %>').html(val);
    }


    function ChangeShippToAddLin1() {
        var val = $('#<%=txtShipAddLine1.ClientID %>').val();
        $('#<%=lblShipToAddLin1.ClientID %>').html(val);
    }

    function ChangeShippToAddLin2() {
        var val = $('#<%=txtShipAddressLine2.ClientID %>').val();
        $('#<%=lblShipToAddLin2.ClientID %>').html(val);
    }
    function ChangeShippToCity() {
        var val = $('#<%=txtShipAddCity.ClientID %>').val();
        $('#<%=lblShipToCity.ClientID %>').html(val);
    }
    function ChangeShippToState() {
        // get state from drop down
    }
    function ChangeShippToPostCode() {
        var val = $('#<%=txtShipPostCode.ClientID %>').val();
        $('#<%=lblShipToZipCode.ClientID %>').html(val);
        var ISPinkCard = '<%=IsPinkCards %>';
        if (ISPinkCard == 1) {
            var PostCode = $("#<%=txtShipPostCode.ClientID %>").val();
            if (PostCode == '') {
            } else {
                $('#<%=lodingImg.ClientID %>').css("display", "block");
                $.ajax({

                    url: "../services/Webstore.svc/GetNearestBrokerStoreByPostCode?PostCode=" + PostCode,

                    success: function (data) {
                        $('#<%=lblYourOrderPRoMesg.ClientID %>').css("display", "block");
                        if (data == null) {
                            $('.SelectedBroker').css("display", "block");
                            $('.SelectedBroker').html("No results found.");
                        } else {
                            $('#<%=hfBrokerContactCompany.ClientID %>').val(data.ContactCompanyID);
                            $('.brokerLogoImg').attr('src', data.Logo + "");
                            $('#<%=BrokerAddLine1.ClientID %>').text(data.Address1);
                            $('#<%=BrokerAddLine2.ClientID %>').text(data.Address2);
                            $('#<%=BrokerTown.ClientID %>').text(data.City);
                            $('#<%=BrokerState.ClientID %>').text(data.State);
                            $('#<%=BrokerCountry.ClientID %>').text(data.Country);
                            $("#BrokerTeleNo").html(data.HomeContact);
                            $('.SelectedBroker').css("display", "block");
                        }

                        $('#<%=lodingImg.ClientID %>').css("display", "none");
                    }
                });
            }
        }
    }
    function ChangeShippToCounntry() {
        //set country text from drop down
    }
    function ChangeTelNumber() {
        var val = $('#<%=txtInstContactTelNumber.ClientID %>').val();
        $('#<%=lblContactNo.ClientID %>').html(val);
    }
    function ChangeRefPO() {
        var val = $('#<%=txtYourRefNumber.ClientID %>').val();
        if (val == "") {
            $('#DivRefPO').css('display', 'none');
            $('#<%=lblRefPo.ClientID %>').html("");
        }
        else {
            $('#DivRefPO').css('display', 'block');
            $('#<%=lblRefPo.ClientID %>').html(val);
        }

        var val = $('#<%=txtYourRefNumberRetail.ClientID %>').val();
        if (val == "") {
            $('#DivRefPO').css('display', 'none');
            $('#<%=lblRefPo.ClientID %>').html("");
        }
        else {
            $('#DivRefPO').css('display', 'block');
            $('#<%=lblRefPo.ClientID %>').html(val);
        }

    }
    function ChangeNotesTxt() {
        var val = $('#<%=txtInstNotes.ClientID %>').val();
        if (val == "") {
            $('#DivSpclNotes').css('display', 'none');
            $('#<%=lblNotesDetail.ClientID %>').html("");
        }
        else {
            $('#DivSpclNotes').css('display', 'block');
            $('#<%=lblNotesDetail.ClientID %>').html(val);
        }

    }


    $("#<%=txtShipPostCode.ClientID %>").keydown(function (e) {
        if (e.which == 13) {

            LoadBrokerByPostCode();
            e.preventDefault();
        }
    });



    function ValidateShippingAddressCheckout() {
        var isDataFilled = 0;

        if ($("#<%= txtInstContactTelNumber.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EContactTelNo').css("display", "block");
            $("#<%= txtInstContactTelNumber.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EContactTelNo').css("display", "none");
            $("#<%= txtInstContactTelNumber.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= txtYourRefNumber.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.ECorporateRefNo').css("display", "block");
            $("#<%= txtYourRefNumber.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.ECorporateRefNo').css("display", "none");
            $("#<%= txtYourRefNumber.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= txtShipAddressName.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EShipAddresNameNo').css("display", "block");
            $("#<%= txtShipAddressName.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EShipAddresNameNo').css("display", "none");
            $("#<%= txtShipAddressName.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= txtShipAddLine1.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EShipAddres1').css("display", "block");
            $("#<%= txtShipAddLine1.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EShipAddres1').css("display", "none");
            $("#<%= txtShipAddLine1.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }
        if ($("#<%= txtShipAddCity.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EShipAddresCity').css("display", "block");
            $("#<%= txtShipAddCity.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EShipAddresCity').css("display", "none");
            $("#<%= txtShipAddCity.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= ddShippingCountry.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= ddShippingCountry.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= ddShippingCountry.ClientID %>").css("border", "1px solid #c1c6cc");
        }

        if ($("#<%= ddlDeliveyCostCenter.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= ddlDeliveyCostCenter.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= ddlDeliveyCostCenter.ClientID %>").css("border", "1px solid #c1c6cc");
        }



        if ($("#<%= ddShippingState.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= ddShippingState.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= ddShippingState.ClientID %>").css("border", "1px solid #c1c6cc");
        }


        if ($("#<%= ddBillingState.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= ddBillingState.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= ddBillingState.ClientID %>").css("border", "1px solid #c1c6cc");
        }

        if ($("#<%= BillingCountryDropDown.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= BillingCountryDropDown.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= BillingCountryDropDown.ClientID %>").css("border", "1px solid #c1c6cc");
        }


        if ($("#<%= txtShipPostCode.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EShipAddresPostCode').css("display", "block");
            $("#<%= txtShipPostCode.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EShipAddresPostCode').css("display", "none");
            $("#<%= txtShipPostCode.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }


        return isDataFilled;
    }

    function ValidateBillingAddressCheckout() {
        var isDataFilled = 0;

        if ($("#<%= txtBillingName.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EBillAddresName').css("display", "block");
            $("#<%= txtBillingName.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EBillAddresName').css("display", "none");
            $("#<%= txtBillingName.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= txtAddressLine1.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EBillAddres1').css("display", "block");
            $("#<%= txtAddressLine1.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EBillAddres1').css("display", "none");
            $("#<%= txtAddressLine1.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= txtCity.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EBillAddresCity').css("display", "block");
            $("#<%= txtCity.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EBillAddresCity').css("display", "none");
            $("#<%= txtCity.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }

        if ($("#<%= txtZipPostCode.ClientID %>").val() == "") {
            isDataFilled = 1;
            $('.EBillAddresZipCode').css("display", "block");
            $("#<%= txtZipPostCode.ClientID %>").css("border", "1px solid #b33c12");//.parent().addClass("field-with-errors");
        } else {
            $('.EBillAddresZipCode').css("display", "none");
            $("#<%= txtZipPostCode.ClientID %>").css("border", "1px solid #c1c6cc");//.parent().removeClass("field-with-errors");
        }
        if ($("#<%= BillingCountryDropDown.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= BillingCountryDropDown.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= BillingCountryDropDown.ClientID %>").css("border", "1px solid #c1c6cc");
        }
        if ($("#<%= ddBillingState.ClientID %>").val() == -1) {
            isDataFilled = 1;
            $("#<%= ddBillingState.ClientID %>").css("border", "1px solid #b33c12");
        } else {
            $("#<%= ddBillingState.ClientID %>").css("border", "1px solid #c1c6cc");
        }
        return isDataFilled;
    }

    function ValidateCheckout() {
        var isDataFilled = 0;
        var isValid = true;

        var isContainBlanksInShipping = ValidateShippingAddressCheckout();

        if ($("#<%=chkBoxDeliverySameAsBilling.ClientID %>")[0].checked == true) {
            if (isContainBlanksInShipping == 1) {
                $("#<%= hfPageIsValid.ClientID %>").val(0);
                isValid = false;
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#maincntCheckout").offset().top
                }, 500);
            } else {
                $("#<%= hfPageIsValid.ClientID %>").val(1);
                isValid = true;
            }
        } else {
            var iContainsBlankInBilling = ValidateBillingAddressCheckout();

            if (iContainsBlankInBilling == 1) {
                $("#<%= hfPageIsValid.ClientID %>").val(0);
                isValid = false;
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#maincntCheckout").offset().top
                }, 500);
            } else if (isContainBlanksInShipping == 1) {
                $("#<%= hfPageIsValid.ClientID %>").val(0);
                isValid = false;
                event.preventDefault();
                $('html, body').animate({
                    scrollTop: $("#maincntCheckout").offset().top
                }, 500);
            } else {
                $("#<%= hfPageIsValid.ClientID %>").val(1);
                isValid = true;
                showProgress();
            }
        }

        if (event.keyCode == undefined) {
        } else {
            if (event.keyCode == 13) { //if this is enter key
                event.preventDefault();
                isValid = false;
                $("#<%= hfPageIsValid.ClientID %>").val(0);
            } else {
                $("#<%= hfPageIsValid.ClientID %>").val(1);
            }
        }
        if (isValid == false) {

        } else {
            showProgress();
        }
        return isValid;
    }
    function LoadBrokerByPostCode() {
        var ISPinkCard = '<%=IsPinkCards %>';
        if (ISPinkCard == 1) {
            var PostCode = $("#<%=txtShipPostCode.ClientID %>").val();
            $('#<%=lodingImg.ClientID %>').css("display", "block");

            $.ajax({

                url: "../services/Webstore.svc/GetNearestBrokerStoreByPostCode?PostCode=" + PostCode,

                success: function (data) {
                    $('#<%=lblYourOrderPRoMesg.ClientID %>').css("display", "block");

                    if (data.ContactCompanyID == undefined) {
                        $('.errorMesgBroker').css("display", "block");
                        $('.SelectedBroker').css("display", "none");
                        $('.errorMesgBroker').html("No results found.");

                    } else {
                        $('#<%=hfBrokerContactCompany.ClientID %>').val(data.ContactCompanyID);

                        $('.brokerLogoImg').attr('src', data.Logo + "");
                        $('#<%=BrokerAddLine1.ClientID %>').text(data.Address1);
                        $('#<%=BrokerAddLine2.ClientID %>').text(data.Address2);
                        $('#<%=BrokerTown.ClientID %>').text(data.City);
                        $('#<%=BrokerState.ClientID %>').text(data.State);
                        $('#<%=BrokerCountry.ClientID %>').text(data.Country);
                        $("#BrokerTeleNo").html(data.HomeContact);
                        $('.SelectedBroker').css("display", "block");
                        $('.errorMesgBroker').css("display", "none");
                    }

                    $('#<%=lodingImg.ClientID %>').css("display", "none");
                }
            });

        }
        $('#<%=hfBrokerContactCompany.ClientID %>').val(0);
    }

    function DisableEnableBillingAddressControlls()
    {

    }
</script>

}


