@model MPC.Models.Common.ShoppingCart
@using System.Web.UI.WebControls
@using MPC.Models.Common;
@using MPC.Webstore.Common;
@using System.Linq;
@using MPC.Webstore.ViewModels;

@{
  
    string EstimateDispatchTime = string.Empty;
    double _priceTotal = 0;
    double _vatTotal = 0;
    double _DiscountAmountTotal = 0;
    decimal noOfCostCentreProdDays = 0;
    decimal _numOfProductionDays = 0;
    decimal numberOfDaysAddedTodelivery = 0;
    decimal ProductProductionTime = 0;
    double GrossTotal = 0;
    string VatTotal = string.Empty;
    string subtotal = string.Empty;
    var ThumnbString = "Thumb.png";
}
@{
    Layout = null;
}
<div class="container content_area" id="all-shopCart-pg">
    <div class="left_right_padding">
        <ul class="bonhamsOption navM cursor_pointer" style="display:none;">
            <li>
                1. @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlSelect", UserCookieManager.WBStoreId, "Select"))
            </li>
            <li class="bonhamSelectedOption">
                2. @Html.Raw(Html.GetKeyValueFromResourceFile("ltrledit", UserCookieManager.WBStoreId, "Edit"))
            </li>


            <li>
                3. @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlconfirmorder", UserCookieManager.WBStoreId, "Confirm order & payment"))
            </li>
            <li>
                4. @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlOrderSumm", UserCookieManager.WBStoreId, "Order Summary"))
            </li>

        </ul>
        <div class="signin_heading_div textAlignLeft col-lg-12 col-md-12 col-xs-12" style="padding-bottom: 0px !important;">
            <table style="  width: 100%;">
                <tr>
                    <td>
                      
                            <div class="contact_us_heading float_left_simple">
                                <label id="lbl_ShoppingCart" class="">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTitleShopCart", UserCookieManager.WBStoreId))</label>
                            </div>
                        
                    </td>

                </tr>
                <tr style="height: 5px;"></tr>
                @if (ViewBag.CancelPaymentMessage != null)
                {
                    <tr id="ErrorDisplyMes" style=" width: 100%;">
                        <td width="1000px">
                            <div style="background-color: red; border: 1px solid red; padding: 10px;" class="rounded_corners">
                                <label id="ErrorMEsSummry" style="color: White; font-size: 16px; font-weight: bold;">@ViewBag.CancelPaymentMessage</label>
                            </div>
                        </td>

                    </tr>
                }
                else if (ViewBag.ANZError != null || ViewBag.ANZErrorMes != null)
                {
                    <tr id="ErrorDisplyMes" style=" width: 100%;">
                        <td width="1000px">
                            <div style="background-color: red; border: 1px solid red; padding: 10px;" class="rounded_corners">
                                <label id="ErrorMEsSummry" style="color: White; font-size: 16px; font-weight: bold;">@ViewBag.ANZError</label><br />
                                <label id="ErrorMEsSummry" style="color: White; font-size: 16px; font-weight: bold;">@ViewBag.ANZErrorMes</label>
                            </div>
                        </td>

                    </tr>
                }
                else
                {
                    <tr id="ErrorDisplyMes" style="display: none; width: 100%;">
                        <td width="1000px">
                            &nbsp;
                        </td>

                    </tr>
                }
            </table>
        </div>
        @if (Model != null)
        {
            if (Model.CartItemsList == null || Model.CartItemsList.Count == 0)
            {
                <div class="get_in_touch_box rounded_corners col-lg-12 col-md-12 col-xs-12">
                    <div class="textAlignCenter">

                        <label class="lbl_Cart">@Html.Raw(Html.GetKeyValueFromResourceFile("lblMsg", UserCookieManager.WBStoreId, "Your cart is empty!"))</label>

                    </div>

                </div>
            }
            else
            {
               
                using (Html.BeginForm())
                {
                    <div class="col-lg-12 col-md-12 col-xs-12">

                        <div id="ShopingCartDisplay" class="get_in_touch_box rounded_corners ">

                            <table cellspacing="0" cellpadding="15" id="grdViewShopCart" style="width:100%;border-collapse:collapse;">
                               
                                <tbody>
                                    <tr class="gridViewHeaderStyle">
                                        <th align="center" scope="col" class="hidden-xs">&nbsp;</th>
                                        <th id="lblProductTxt" align="left" scope="col">@Html.Raw(Html.GetKeyValueFromResourceFile("lblProductTxt", UserCookieManager.WBStoreId, "Product"))</th>
                                        <th id="lblQuantityHeaderTxt" align="left" scope="col">@Html.Raw(Html.GetKeyValueFromResourceFile("lblQuantityHeaderTxt", UserCookieManager.WBStoreId, "Quantity"))</th>
                                        @if (ViewBag.IsShowPrices)
                                        {
                                            <th id="lbl_Price" align="left" scope="col">@Html.Raw(Html.GetKeyValueFromResourceFile("lblPriceHeaderTxt", UserCookieManager.WBStoreId, "Price"))</th>
                                        }
                                        
                                     
                                       
                                        @*<th align="left" scope="col" style="color: white !important; border: none; background-color: white"></th>*@
                                    </tr>
                                  
                                    @{
                                        foreach (var prod in ViewData["ProductItemList"] as List<MPC.Models.Common.ProductItem>)
                                        {
                                            <tr class="gridViewRowStyle" align="top">
                                                <td class="PadTop5 shopCartFirstCol hidden-xs">
                                                    <div class="cart_grid_image_container gallery">
                                                        @{
                                                            string pdfLinkBtn = string.Empty;
                                                            string imgToShowURL = string.Empty;
                                                            if (prod.ProductType == (int) ProductType.AssetProduct)
                                                            {
                                                                pdfLinkBtn = "/" + prod.ThumbnailPath;
                                                                imgToShowURL = "/" + prod.ThumbnailPath;
                                                            }
                                                            else if (!string.IsNullOrWhiteSpace(prod.Attatchment.FileName))
                                                            {
                                                                string ext = System.IO.Path.GetExtension(prod.Attatchment.FileName);
                                                                if (ext == ".xlsx" || ext == ".xls" || ext == ".csv")
                                                                {
                                                                    string completeImgPath = Html.GetAppBasePath() + prod.Attatchment.FolderPath + prod.Attatchment.FileName + ThumnbString;
                                                                    pdfLinkBtn = completeImgPath; // ImageDisplayScript(completeImgPath);
                                                                    imgToShowURL = completeImgPath;
                                                                }
                                                                else
                                                                {
                                                                    string FolderPathOfAttachment = prod.Attatchment.FolderPath;
                                                                    if (FolderPathOfAttachment.Contains("Production") == true)
                                                                    {
                                                                        FolderPathOfAttachment = FolderPathOfAttachment.Replace("Production", "Attachments");
                                                                    }
                                                                    pdfLinkBtn = "";
                                                                    if (!string.IsNullOrEmpty(prod.Attatchment.ImageFileType))
                                                                    {
                                                                        if (FolderPathOfAttachment[0] == '/')
                                                                        {
                                                                            imgToShowURL = FolderPathOfAttachment + "/" + prod.Attatchment.FileName + prod.Attatchment.ImageFileType + ".png?" + DateTime.Now; // completeImgPath;
                                                                        }
                                                                        else
                                                                        {
                                                                            imgToShowURL = "/" + FolderPathOfAttachment + "/" + prod.Attatchment.FileName + prod.Attatchment.ImageFileType + ".png?" + DateTime.Now; // completeImgPath;
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        if (FolderPathOfAttachment[0] == '/')
                                                                        {
                                                                            imgToShowURL = FolderPathOfAttachment + "/" + prod.Attatchment.FileName + ThumnbString + "?" + DateTime.Now; // completeImgPath;
                                                                        }
                                                                        else
                                                                        {
                                                                            imgToShowURL = "/" + FolderPathOfAttachment + "/" + prod.Attatchment.FileName + ThumnbString + "?" + DateTime.Now; // completeImgPath;
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                            else
                                                            {
                                                                if (prod.ProductType == (int) ProductType.NonPrintProduct)
                                                                {
                                                                    string completeImgPath = "";
                                                                    if (!string.IsNullOrEmpty(prod.Attatchment.FolderPath) && !string.IsNullOrEmpty(prod.Attatchment.FileName))
                                                                    {
                                                                        if (!string.IsNullOrEmpty(prod.Attatchment.ImageFileType))
                                                                        {
                                                                            completeImgPath = "/" + prod.Attatchment.FolderPath + "/" + prod.Attatchment.FileName + prod.Attatchment.ImageFileType + "?" + DateTime.Now;
                                                                        }
                                                                        else
                                                                        {
                                                                            completeImgPath = "/" + prod.Attatchment.FolderPath + "/" + prod.Attatchment.FileName + ThumnbString + "?" + DateTime.Now;
                                                                        }

                                                                    }
                                                                    else
                                                                    {
                                                                        completeImgPath = "/" + prod.ThumbnailPath + "?" + DateTime.Now;
                                                                    }
                                                                    pdfLinkBtn = completeImgPath;
                                                                    imgToShowURL = completeImgPath;
                                                                }
                                                                else
                                                                {
                                                                    pdfLinkBtn = "/" + prod.ThumbnailPath + "?" + DateTime.Now;
                                                                    imgToShowURL = "/" + prod.ThumbnailPath + "?" + DateTime.Now;
                                                                }
                                                            }
                                                        }
                                                        <a id="lnkPdfFile" href=@pdfLinkBtn><img id="imgToShow" class="image_stretcher" src="@imgToShowURL" ></a>
                                                    </div>
                                                    <div class="BtnTemplateModifyContainer visible-xs hidden-sm">
                                                        @if (prod.ProductType != (int) ProductType.AssetProduct)
                                                        {

                                                            <input type="button" name="lnkBtnRedesignTemplate" onclick=" RedirectToConfirmSelect('@prod.TemplateID', '@prod.ProductCategoryID', '@prod.ItemID'); " value="@Html.Raw(Html.GetKeyValueFromResourceFile("btnSide2Modify", UserCookieManager.WBStoreId, "Modify"))" id="MainContent_grdViewShopCart_lnkBtnRedesignTemplate_0" class="silver_back_button_modify" style=" width: 100% !important;" />

                                                        }
                                                    </div>
                                                </td>


                                                <td style="width: 29%;" valign="top" class="PadTop5">
                                                    <span id="lblItemProductName" class="heading_16">
                                                        @if (!string.IsNullOrEmpty(prod.ProductFriendlyName))
                                                        {
                                                            @prod.ProductFriendlyName
                                                        }
                                                        else
                                                        {
                                                            @prod.ProductName
                                                        }
                                                    </span><span id="CopyTxt" class="heading_16" style="color: red !important;"></span>
                                                    <br>
                                                    @if (!string.IsNullOrEmpty(prod.ProductCategoryName))
                                                    {
                                                        <span id="lblProductCategory" class="ItemdetailDesc">( @prod.ProductCategoryName )</span>
                                                        <br />
                                                    }
                                                
                                                    <br>
                                                    @if (prod.IsDigitalDownloadOrdered != true)
                                                    {
                                                        <span id="lblSlectedStockName" class="ItemdetailDesc">@prod.PaperType</span>
                                                        <br>
                                                    }
                                                    

                                                    @{
                                                        string itemAddsOn = string.Empty;
                                                        ProductProductionTime = prod.EstimateProductionTime ?? 0;
                                                        if (ViewData["selectedItemsAddonsList"] != null)
                                                        {
                                                            List<AddOnCostsCenter> costcenters = ViewData["selectedItemsAddonsList"] as List<AddOnCostsCenter>;
                                                            foreach (AddOnCostsCenter cost in costcenters.Where(addon => addon.ItemID == prod.ItemID))
                                                            {
                                                                itemAddsOn = itemAddsOn + cost.AddOnName + "<br />" + cost.CostCentreDescription.Replace("---", "<br />");
                                                                //noOfCostCentreProdDays += cost.EstimateProductionTime;
                                                            }
                                                        }

                                                        //ProductProductionTime += noOfCostCentreProdDays;
                                                        //if (_numOfProductionDays < ProductProductionTime)
                                                        //{
                                                        //    _numOfProductionDays = ProductProductionTime;
                                                        //}
                                                        _numOfProductionDays = Model.TotalProductionTime;

                                                        DateTime date = Utils.AddBusinessdays(_numOfProductionDays, DateTime.Now);

                                                        EstimateDispatchTime = date.ToString("MMMM dd, yyyy");
                                                    }
                                                    @if (prod.IsDigitalDownloadOrdered != true)
                                                    {
                                                        <span id="lblselectedAddOnList" class="ItemdetailDesc">@Html.Raw(itemAddsOn)</span>
                                                    }
                                                    
                                                    <input type="hidden" id="numberOfDaysAddedTodelivery" name="numberOfDaysAddedTodelivery" value="@numberOfDaysAddedTodelivery">
                                                    <br>
                                                    <input type="submit" id="linkRemoveCartItem" class="silver_back_button_remove removeBtnForeColor" onclick=" return ConfirmDeleteItem('@prod.ItemID', '@ViewBag.OrderID', event); " value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrremoveproduct", UserCookieManager.WBStoreId, "Remove product from cart"))">
                                                    <br />
                                                    @if (prod.ProductType != (int) ProductType.AssetProduct)
                                                    {
                                                        <input type="submit" id="btnCopyProduct" class="silver_back_button" onclick=" CopyProduct('@prod.ItemID', event); " value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcopyproduct", UserCookieManager.WBStoreId, "Make a copy of this product in cart"))" />
                                                    }
                                                </td>
                                                <td class="PadTop5" align="left" style="width: 5%;" valign="top">
                                                    <span id="lblItemQuantity" class="fntQtyPrice" style="font-weight: bold;">@prod.Qty1</span>
                                                </td>
                                                @if (ViewBag.IsShowPrices == true)
                                                {

                                                    _vatTotal += prod.Qty1Tax1Value ?? 0;

                                                    double ItemActulVal = 0;

                                                    _priceTotal += prod.Qty1BaseCharge1 ?? 0;

                                                    _DiscountAmountTotal += prod.DiscountedAmount ?? 0;

                                                    if (prod.DiscountedAmount != null)
                                                    {
                                                        ItemActulVal = prod.Qty1BaseCharge1 + prod.DiscountedAmount ?? 0;
                                                    }

                                                    <td class="PadTop5 priceth" valign="top" align="right" style="width: 20%; padding-right: 0px;">

                                                        @if (prod.DiscountedVoucherId != null)
                                                        {
                                                            <span id="spnItemActualPrice" class="fntQtyPrice strikeThrough" style="font-weight: bold; text-align: right !important;">@Utils.FormatDecimalValueToTwoDecimal((ItemActulVal).ToString(), ViewBag.Currency)</span>
                                                            <span id="lblItemPrice" class="fntQtyPrice" style="font-weight: bold; text-align: right !important;">@Utils.FormatDecimalValueToTwoDecimal((prod.Qty1BaseCharge1 ?? 0).ToString(), ViewBag.Currency)</span>
                                                        }
                                                        else
                                                        {
                                                            <span id="lblItemPrice" class="fntQtyPrice" style="font-weight: bold; text-align: right !important;">@Utils.FormatDecimalValueToTwoDecimal((prod.Qty1BaseCharge1 ?? 0).ToString(), ViewBag.Currency)</span>
                                                        }

                                                    
                                                    </td>
                                                }


                                            </tr >

                                            subtotal = _priceTotal.ToString();
                                        }


                                    }
                                    @{

                                     _vatTotal = Convert.ToDouble(_vatTotal) + Convert.ToDouble(Model.DeliveryTaxValue);
                                     GrossTotal = Convert.ToDouble(subtotal) + Convert.ToDouble(_vatTotal) + Model.DeliveryCost;
                                     subtotal = Utils.FormatDecimalValueToTwoDecimal(subtotal.ToString(), ViewBag.Currency);
                                     VatTotal = Utils.FormatDecimalValueToTwoDecimal(_vatTotal.ToString(), ViewBag.Currency);
                                    }

                                </tbody>
                            </table>

                            <br />
                            <div class="cnttotalPayables">
                                @if (ViewBag.IsShowPrices)
                                {
                                    
                                    <div class="cntsubHeadings">
                                        <label  class=" LightGrayLabels displayClear">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsubtotal", UserCookieManager.WBStoreId))</label>
                                        @if (_DiscountAmountTotal > 0)
                                        {
                                            <label id="lblVoucherDiscPercentageDisplay" class=" LightGrayLabels displayClear clrRed">@Html.Raw(Html.GetKeyValueFromResourceFile("lblVoucherDiscPercentageDisplay", UserCookieManager.WBStoreId, "Discount")):</label>

                                        }
                                        @if (ViewBag.IsDigitalDownloadOrder != true)
                                        {
                                            <label class=" LightGrayLabels displayClear">@Html.Raw(Html.GetKeyValueFromResourceFile("tddelivery", UserCookieManager.WBStoreId, "Delivery:"))</label>
                                        }
                                        
                                        <label class=" LightGrayLabels displayClear">@Model.TaxLabel</label>
                                        <label class=" LightGrayLabels displayClear">@Html.Raw(Html.GetKeyValueFromResourceFile("spntotal", UserCookieManager.WBStoreId, "Total:"))</label>
                                    </div>
                                    <div class="cnttotals" id="cntRightPricing1">
                                        <label  class="Fsize13 colorBlack displayClear">@subtotal</label>
                                        @if (_DiscountAmountTotal > 0)
                                        {
                                            <label id="lblVoucherCodeDiscAmount_shopCart" class="Fsize13 colorBlack displayClear clrRed">@Utils.FormatDecimalValueToTwoDecimal(_DiscountAmountTotal.ToString(), ViewBag.Currency)</label>
                                        }
                                        @if (ViewBag.IsDigitalDownloadOrder != true)
                                        {
                                            if (Model.DeliveryCostCenterID == 0)
                                            {
                                                if (Model.DeliveryDiscountVoucherID == null)
                                                {
                                                    <label class="Fsize13 colorBlack displayClear delivery-toBeCaltext" id="lblDeliveryToBeCal">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlTobeCalculated", UserCookieManager.WBStoreId, "To be calculated"))</label>
                                                }
                                                else
                                                {
                                                    <label class="Fsize13 colorBlack displayClear delivery-codetext" id="lblDeliveryToBeCal">@Html.Raw(Html.GetKeyValueFromResourceFile("freeeshippping", UserCookieManager.WBStoreId, "Free Shipping"))</label>
                                                }


                                            }
                                            else
                                            {
                                                if (Model.DeliveryDiscountVoucherID == null)
                                                {
                                                    <label class="Fsize13 colorBlack displayClear" id="lblCalculatedDelivery">@Utils.FormatDecimalValueToTwoDecimal(Convert.ToString(Model.DeliveryCost), ViewBag.Currency)</label>
                                                }
                                                else
                                                {
                                                    <label class="Fsize13 colorBlack displayClear delivery-codetext" id="lblCalculatedDelivery">@Html.Raw(Html.GetKeyValueFromResourceFile("freeeshippping", UserCookieManager.WBStoreId, "Free Shipping"))</label>


                                                }
                                            }
                                        }
                                        
                                        
                                        <label class="Fsize13 colorBlack displayClear">@VatTotal</label>
                                        <label class="Fsize13 colorBlack displayClear">@Utils.FormatDecimalValueToTwoDecimal(GrossTotal.ToString(), ViewBag.Currency)</label>
                                    </div>
                                }
                                <div class="clearBoth">
                                </div>
                            </div>
                            <div class="cntdispatchDelivery">
                                <div class="tdDispatchDate">
                                    @if (ViewBag.IsDigitalDownloadOrder != true)
                                        {
                                    <div class="estimated_dispactch_sec MLeft17 LightGrayLabels">
                                        
                                        <label id="lbl_EstimatedDispatch">@Html.Raw(Html.GetKeyValueFromResourceFile("spnestimateddispatchdate", UserCookieManager.WBStoreId, "Estimated dispatch date:"))</label>
                                        
                                        
                                        
                                    </div>
                                            <div class="estimated_dispatch_time MLeft17">
                                                <label id="lblDeliveryCostCenterDateText" class="heading_h5 colorBlack fontSyleBold">@EstimateDispatchTime</label>  &nbsp;
                                            </div>
                                        }
                                </div>
                                <div class="tdDelivery">
                                    <div class="estimated_dilvery_sec  LightGrayLabels" style="display:none;">
                                        &nbsp;
                                    </div>
                                    @if (ViewBag.DisableCouponCode == 0)
                                    {
                                        <div class="dropdown_sec">

                                            <div id="panelCouponCode">
                                                @if (ViewBag.VoucherApplied == null)
                                                {

                                                    <input type="text" class="txtCouponCode rounded_corners5" id="txtDiscountVoucherCode" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcoponcode",UserCookieManager.WBStoreId, "Coupon Code"))" />
                                                    <button id="btnApplyDiscountVoucherCode" type="button" class="btn_blue_back_small rounded_corners5" onclick="return ApplyDiscountVouchers();">@Html.Raw(Html.GetKeyValueFromResourceFile("btnAutoPostBackDiscountVoucherCode", UserCookieManager.WBStoreId, ""))</button>
                                                    <div id="lblRedeemErrorMesg" class="errorMessage"></div>
                                                    <button id="btnRemoveDeliveryVoucherCode" type="submit" class="btn_blue_back_small_Remove rounded_corners5" onclick="RemoveDeliveryVoucherCode(event);" style="display:none;">Remove voucher code</button>
                                                }
                                                else
                                                {
                                                    <button id="btnRemoveVoucherCode" type="submit" class="btn_blue_back_small_Remove rounded_corners5" onclick="RemoveVoucherCode(event);">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlremovevouchercode", UserCookieManager.WBStoreId, "Remove voucher code"))</button>
                                                }
                                            </div>

                                        </div>
                                    }
                                
                                </div>
                            </div>
                            <div class="clearBoth">
                            </div>
                            @*@if (ViewBag.CanPlaceOrder == 1)
                            {*@
                                <input type="submit" id="btnCheckout" value="CHECKOUT" class="start_creating_btn_checkout float_right  rounded_corners5" onclick="return ifNoAnEnterKay(event);" /><br />
                            @*}
                            else
                            {
                                <input type="button" id="btnCheckout" value="CHECKOUT" class="start_creating_btn_checkout float_right  rounded_corners5" onclick="CantPlaceOrder();" /><br />
                            }*@
                            @if (ViewBag.EmailProofButtonVisible == true)
                            {
                             
                                    <input id="prof_btn" style="margin-bottom:10px;" type="button" onclick="return EmailProofClick()" class="btn_brown float_right rounded_corners5" value="Send Email Proof" />
                               
                              
                            }
                           <a href="/">
                               <button id="btn_ContinueShopping" type="button" onclick="return BackToShopping()" class="btn_brown  rounded_corners5" style="float: right;">@Html.Raw(Html.GetKeyValueFromResourceFile("btnContinueShopping1", UserCookieManager.WBStoreId))</button>
                           </a> 
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                        </div>
                         
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                    <input type="hidden" id="hfIsCallFrom" name="hfIsCallFrom" value="Checkout" />
                    <input type="hidden" id="hfItemID" name="hfItemID" value="0" />
                    <input type="hidden" id="hfFreeShippingVoucherId" value="0" />
                    <input type="hidden" id="hfOrderID" name="hfOrderID" value="@ViewBag.OrderID" />
                    <input type="hidden" id="hfGrandTotal" name="hfGrandTotal" value="@ViewBag.GrossTotal" />

                }
            }


        }
        else
        {
            <div class="get_in_touch_box rounded_corners">
                <div class="textAlignCenter">
                    <label class="lbl_Empty_Cart">@Html.Raw(Html.GetKeyValueFromResourceFile("lblMsg", UserCookieManager.WBStoreId))</label>

                </div>

            </div>
        }

    </div>
    <div class="clearBoth">

    </div>
    @*matching set*@

    @{
        if (UserCookieManager.WEBStoreMode != (int)StoreMode.Corp)
        {

            // call matching set partial view to show matching sets
            MatchingSetViewModel MSViewModel = new MatchingSetViewModel();

            MSViewModel = ViewData["MSViewModel"] as MatchingSetViewModel;
            if (MSViewModel != null)
            {
                @Html.Partial("PartialViews/MatchingSet", MSViewModel);
            }


            // call related items to show lists of related items
            RelatedItemViewModel RIViewModel = new RelatedItemViewModel();
            RIViewModel = ViewData["RIViewModel"] as RelatedItemViewModel;
            if (RIViewModel != null)
            {
                @Html.Partial("PartialViews/RelatedItems", RIViewModel);
            }
            else
            {
                <label id="lbl_NorelatedItemsFound" class="errorMsgClss">@Html.Raw(Html.GetKeyValueFromResourceFile("lblNorelatedItemsFound", UserCookieManager.WBStoreId, "No Related Items Found"))</label>
            }
        }

    }
    <div class="clearBoth">

    </div>
</div>

<div class="opaqueLayer">
</div>
<div id="popupSendProofs" class="popupSendProofs">
    <div id="MainContent_Div1" onclick="return closePopUpClick()" class="exit_popup exitPopupProofs" style="display: none;">
    </div>
    <label id="lbl_EmailSendProofs" class="boldTxt">
        @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_EmailSendProofs", UserCookieManager.WBStoreId))
    </label>
    <br />
    <br />
    <table class="normalTextStyle" width="400" cellpadding="2">
        <tr>
            <td align="right">
                @*<label  id="lbl_Email1AddressSendProofs">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Email1AddressSendProofs", UserCookieManager.WBStoreId))</label>*@
            </td>
            <td class="tdtextbox">
                <input type="email" name="userEmail1" id="userEmail1" class="text_box200 rounded_corners5">
                <br />
            </td>
        </tr>
        <tr>
            <td align="right" class="H4B">
                <label id="lbl_Email2AddressSendProofs">@Html.Raw(Html.GetKeyValueFromResourceFile("lbl_Email2AddressSendProofs", UserCookieManager.WBStoreId))</label>
            </td>
            <td class="tdtextbox">
                <input type="email" name="userEmail2" id="userEmail2" class="text_box200 rounded_corners5">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="reset_password_button_div2">
                    <button id="btn_SendEmail" class="start_creating_btn rounded_corners5 btnSendProofs" onclick="return EmailItems()">
                        @Html.Raw(Html.GetKeyValueFromResourceFile("btn_SendEmail", UserCookieManager.WBStoreId))
                    </button>
                    &nbsp;
                    <button id="btn_Cancel" class="start_creating_btn rounded_corners5" onclick="return closePopUpClick()">
                        @Html.Raw(Html.GetKeyValueFromResourceFile("btn_Cancel", UserCookieManager.WBStoreId))
                    </button>
                </div>
            </td>
        </tr>
    </table>
    <p class="proofSuccess" style="display: none;" id="lbl_EmailSentProofMessage">
        @Html.Raw(Html.GetKeyValueFromResourceFile("lbl_EmailSentProofMessage", UserCookieManager.WBStoreId))
    </p>
    
</div>
<div id="RemoveProductDiv1" class="RemoveProductDiv" style="display:none;">
    <div class="md-modal md-effect-7" id="modal-7">
        <div class="md-content"><div class="modal-header"><button class="md-close close" onclick=HideMessagePopUp();>&times;</button><h4 id="popup_Mesaage_Title" class="modal-title">@Html.Raw(Html.GetKeyValueFromResourceFile("popup_Mesaage_Title", UserCookieManager.WBStoreId))</h4></div><div id="popup_Mesaage" class="modal-body">@Html.Raw(Html.GetKeyValueFromResourceFile("popup_Mesaage", UserCookieManager.WBStoreId))<div class="modal-footer" style="margin-left: -20px;margin-right: -20px;"><input type="submit" class="btn btn-primary" value="Yes" /><input type="button" onclick=HideMessagePopUp(); class="btn btn-primary" value="No"></div></div></div>
    </div>
</div>
<button id="btnYesNO" style="display: none; width: 0px; height: 0px" ></button>


     <script src="/Scripts/jquery-1.10.1.min.js"></script>
    <script src="~/Scripts/PopUp.js"></script>
    <script type="text/javascript">

    function EmailProofClick() {

        //var Email1=$("#").val();
        //var Email2=$("#").val();
        EmailProofsPopup('Enter the email address(s) to send all proofs');
    }
    function Cancel()
    {
        document.getElementById("layer").style.display = "none";
        document.getElementById("innerLayer").style.display = "none";

    }
    function SendProofs()
    {
        var ModeOfStore = '@ViewBag.StoreMode';

        var email1 = $("#Email1").val();
        var email2 = $("#Email2").val();

        var orderID ='@ViewBag.OrderId';
        var ContactID = '@ViewBag.ContactID';
        var ComapanyID ='@ViewBag.StoreId';

        if(EmailValidation(email1,email2)==true)
        {

            $.ajax({
                type:"POST",
                url:"/webstoreapi/ContactImageUploader/SendEmails?orderID="+orderID+"&Email1="+email1+"&Email2="+email2+"&ContactID="+ContactID+"&ContactCompanyID="+ComapanyID+"&StoreModee="+ModeOfStore+"",
                contentType: "application/json",
                //data: data,
                async: true,
                success: function (response) {
                    $("#proofMesges").css("display", "block");
                    $("#proofMesges").html("Email has been sent to the below email address(es)");
                },
                error: function(reponse){
                    alert(reponse);
                }
            });
        }


    }
    function EmailValidation(email1,email2)
    {

        $("#Email1").css("border", "1px solid #c1c6cc");
        $("#Email2").css("border", "1px solid #c1c6cc");

        var Result=false;
        if (email1 != "") {

            if (ValidateEmail(email1)==false) {

                $("#Email1").css("border", "2px solid red");
                $("#proofMesges").css("display", "block");
                $("#proofMesges").html("Please enter a valid email address in address 1");
            }
            else
            {
                Result=true;
                $("#Email1").css("border", "1px solid #c1c6cc");
            }
        }
        if (email2 != "") {
            if (ValidateEmail(email2)==false) {
                $("#proofMesges").css("display", "block");
                $("#proofMesges").html("<br/>Please enter a valid email address in address 2");
              
                $("#Email2").css("border", "2px solid red");
            }
            else
            {
                Result=true;
                $("#Email2").css("border", "1px solid #c1c6cc");
            }
        }
        if (email2 == "" && email1 == "") {
            //alert("Please enter atleast one email address");
            Result=false;
            $("#Email1").css("border", "2px solid red");
            $("#Email2").css("border", "2px solid red");
        }

        return Result;
    }
    function ValidateEmail(email) {
        var isValid = true;
        if (email == '') {

            isValid = false;
        }
        else {
            var re = new RegExp("^[A-Za-z0-9](([_\\.\\-]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$");
            if (!re.test(email)) {

                isValid = false;
            }
        }
        return isValid;
    }


    function CanCheckOut(sender) {
        if (Page_ClientValidate()) {
            var numOfRec = 0;
            if("@ViewBag.NumberOfRecords" != ""){
                numOfRec = "@ViewBag.NumberOfRecords";
            }


            if (parseInt(numOfRec) > 0) {
                $("hfIsCallFrom").val("CheckOut");
                return true;
            }
            else {
                ShowPopup('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))','@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlnoitmstocheckout", UserCookieManager.WBStoreId, "No item(s) to checkout"))');
                return false;
            }
        } else {
            return false;
        }
    }

    

    function EmailItems() {
        var ModeOfStore = '<%=Mode %>';
        var BrokerCompanyId = '<%=BrokerCompanyID %>';
        var email1 = $("#userEmail1").val();
        var email2 = $("#userEmail2").val();
        var orderID = $('#<%=hfOrderID.ClientID %>').val();
        var ContactID = $('#<%=hfContactID.ClientID %>').val();
        var ComapanyID = $('#<%=hfCompanyID.ClientID %>').val();
        var filter = /^([\w-\.]+)((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (email1 != "") {
            if (!filter.test(email1)) {
                alert('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlvalidemailaddress1", UserCookieManager.WBStoreId, "Are you sure you want to remove this item from your cart?"))');
                return false;
            }
        }
        if (email2 != "") {
            if (!filter.test(email2)) {
                alert('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlvalidemailaddress2", UserCookieManager.WBStoreId, "Please enter a valid email address in address 2"))');
                return false;
            }
        }
        if (email2 == "" && email1 == "") {
            alert('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlenteratleast1email", UserCookieManager.WBStoreId, "Please enter atleast one email address"))');
            return false;
        }
        $.get("Services/Webstore.svc/sendProofs", { orderID: orderID, Email1: email1, Email2: email2, ContactID: ContactID, ContactCompanyID: ComapanyID, StoreMode: ModeOfStore, BrokerContactCompanyID: BrokerCompanyId },
            function (data) {
                //alert(data);
                if (data == true) {
                    $(".proofSuccess").css("display", "block");
                }
                //window.location.href = data + "&CategoryId=" + CategoryId + "&ProductName=" + document.getElementById('txtDesignName').value + emailParameters;
            });
        return false;
    }
    function closePopUpClick() {
        $("#popupSendProofs").css("display", "none");
        $(".opaqueLayer").css("display", "none");
        return false;
    }
    function hideRemovePanel() {
        $find('MPERemoveCartItem').hide();
        showProgress();
        return true;
    }
    function RedirectToConfirmSelect(TempID,CategoryID,ItemID)
    {
        if(TempID == 0)
        {
            window.location.href = "/ProductOptions/" + CategoryID + "/" + ItemID + "/Modify";
        }
        else
        {

            window.location.href = "/ProductOptions" + "/" + CategoryID + "/" + ItemID + "/Modify/" + TempID;
        }
        return false;
    }
    function ContinueShopping(e)
    {
        //if (e.keyCode == 13) {
        //    return false;
        //}else{
        //    window.location.href = "/";
        //    return true;
        //}
    }
    function ApplyVoucherCode(OrderID,DiscountVoucher)
    {
        window.location.href = "/ShopCart/ApplyDiscountVoucherCode/DiscountVoucher=" + DiscountVoucher + "/" + OrderID;
    }

    function ConfirmDeleteItem(ItemID,OrderID, e) {
        
        if (e.keyCode == 13) {

        }else{
            $("#hfItemID").val(ItemID);
            $("#hfIsCallFrom").val("RemoveProduct");
            ConfirmDeleteItemPopUP(ItemID,OrderID);
        }

        return false;
    }
    function CopyProduct(ItemID, e)
    {
        if (e.keyCode == 13) {

        }else{
            $("#hfItemID").val(ItemID);
            $("#hfIsCallFrom").val("CopyProduct");
            ShowLoader();
        }
    }

    function RemoveVoucherCode(e)
    {
        if (e.keyCode == 13) {

        }else{
            $("#hfIsCallFrom").val("RemoveVoucherCode");

            ShowLoader();
        }
    }

    function ifNoAnEnterKay(event){
        debugger;
        if (event.keyCode == 13) {
            return false;
        }else{
            $("#hfIsCallFrom").val("Checkout");
            if ("@ViewBag.IsDigitalDownloadOrder.ToString()" == "True") {
                $("#hfGrandTotal").val(@GrossTotal);
            }
            ShowLoader();
            return true;
        }
    }

    function CantPlaceOrder()
    {
        ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))','@Html.Raw(Html.GetKeyValueFromResourceFile("cartCorporateOrderCantPlace", UserCookieManager.WBStoreId, "You did not have the right to place order. Please contact your Order Manager."))');
    }
    function RemoveDeliveryVoucherCode(e)
    {
        if (e.keyCode == 13) {

        }else{
            $("#hfIsCallFrom").val("RemoveDeliveryVoucherCode");

            ShowLoader();
        }
    }
    function BackToShopping()
    {

        window.location.href = "/";
        return false;
    }
    function ApplyDiscountVouchers() {
        var txtDiscountVoucher = $("#txtDiscountVoucherCode").val();
        if(txtDiscountVoucher == ""){
            $("#lblRedeemErrorMesg").text("Please enter Voucher Code to proceed.");
            return false;//ShowPopUp("Message", "Please enter Voucher Code to proceed.");
        }else{
            ShowLoader();

            var storeId = @UserCookieManager.WBStoreId;
            var orderId = @ViewBag.OrderID;
            var OrgId = @UserCookieManager.WEBOrganisationID;
            console.log(txtDiscountVoucher + " "  +  storeId + " " + orderId);
            var data = { DiscountVoucher: txtDiscountVoucher, StoreId:storeId, OrderId: orderId, OrganisationId: OrgId };
            $.ajax({
                type: "GET",
                url: "/webstoreapi/DiscountVoucher/ValidateDiscountVouchers",
                contentType: "application/json",
                data: data,
                async: true,
                success: function (response) {
                    if(response[0] == "Error"){
                        $("#lblRedeemErrorMesg").html("<p class='cantApplyVMesg'>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcantapplyvoucher", UserCookieManager.WBStoreId, "Can't apply the voucher because:"))<br /></p><p class='voucherErrorDesc' >" + response[1] + "</p>");
                        HideLoader();
                    }else if(response[0] == "Free"){
                        $("#hfFreeShippingVoucherId").val(response[1]);
                        $("#lblCalculatedDelivery").text("Free Shipping");
                        $("#lblDeliveryToBeCal").text("Free Shipping");

                        $("#txtDiscountVoucherCode").css("display", "none");
                        $("#btnApplyDiscountVoucherCode").css("display", "none");
                        $("#lblRedeemErrorMesg").css("display", "none");
                        $("#btnRemoveDeliveryVoucherCode").css("display", "block");
                        HideLoader();
                    }else if(response[0] == "Success"){
                        window.location.href = "/ShopCart?OrderId=" + orderId + "&VCId=1";
                    }
                }
            });
        }
    }
        
    $("#txtDiscountVoucherCode").keydown(function(event){

        if(event.keyCode == 13){

            return false;
        }
    });
</script>

