@model  MPC.Webstore.Models.RegisterViewModel
@using MPC.Webstore.Common;
@{
    Layout = null;
    bool isSocial = Convert.ToBoolean(ViewData["IsSocialSignUp"]);
}
<div class="container content_area" id="all-signUp-pg">

    <div class="row left_right_padding">


        <div class="page_border_div rounded_corners col-md-12 col-lg-12 col-xs-12">
            <div class="sign_up_page_box">
                <div class="SignUpLeftPanel col-md-6 col-lg-6 col-xs-12">

                    @if (isSocial != true)
                    {
                        if (ViewBag.ShowFacebookSignInLink == 1 || ViewBag.ShowTwitterSignInLink == 1)
                        {
                            <div id="lbl_SignUp" class="custom_color_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("registerFor", UserCookieManager.WBStoreId)) @ViewBag.CompanyName</div>
                            <div class="clearBoth">&nbsp;</div>
                            <br />
                            <div id="cntSocialLink" class="cntSignInWithSocialinks">
                                @if (ViewBag.ShowFacebookSignInLink == 1)
                                {
                                    <em id="emfacebook" class="emfb"></em>


                                    <input id="facebookbtn" type="button" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsignupfb", UserCookieManager.WBStoreId, "Sign up with Facebook"))" class="connectWithfb" onclick="SocialSignUp(1)" /><br />


                                    <script>
                                        function SocialSignUp(provider) {
                                            var w = 820;
                                            var h = 560;
                                            var left = (screen.width / 2) - (w / 2);
                                            var top = (screen.height / 2) - (h / 2);

                                            window.open("/oAuth/" + provider + "/1/@UserCookieManager.WBStoreId/@ViewBag.ReturnURL", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);

                                            return false;
                                        }
                                    </script>
                                }
                                @if (ViewBag.ShowTwitterSignInLink == 1)
                                {
                                    <em id="emtwtter" class="emTw"></em>
                                    <input id="twitterbtn" type="button" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsignuptwitter", UserCookieManager.WBStoreId, "Sign up with Twitter"))" class="connectWithtwitter" onclick="SocialSignUp(0)" /><br />
                                    <br />
                                }

                                <br />
                                <div id="cntOrBottom">
                                    @Html.Raw(Html.GetKeyValueFromResourceFile("orrr", UserCookieManager.WBStoreId, "-OR-"))
                                </div>
                            </div>
                        }
                        <div class="clearBoth">&nbsp;</div>
                    }
                  
                    <div id="lbl_SignUp" class="custom_color_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("registerFor", UserCookieManager.WBStoreId, "Register for")) @ViewBag.CompanyName</div>
                    @{
                        bool isSocialSignUp = Convert.ToBoolean(ViewData["IsSocialSignUp"]);
                        if (isSocialSignUp == true)
                        {
                            if (ViewBag.Provider == "fb")
                            {
                                <div class="errorMessage">@Html.Raw(Html.GetKeyValueFromResourceFile("socialRegistrationMessage", UserCookieManager.WBStoreId, "Please fill the form below to sign up using ")) Facebook </div>
                            }
                            else
                            {
                                <div class="errorMessage">@Html.Raw(Html.GetKeyValueFromResourceFile("socialRegistrationMessage", UserCookieManager.WBStoreId, "Please fill the form below to sign up using ")) Twitter</div>
                            }

                        }

}

                    @using (Html.BeginForm())
                    {
                        <div class="errorMessage">
                            <div>@ViewBag.Message</div>

                            <div>@Html.ValidationMessageFor(u => u.Email, string.Empty, new { @style = "color:red;" })</div>
                            <div>@Html.ValidationMessageFor(u => u.FirstName, string.Empty, new { @style = "color:red" })</div>
                            <div>@Html.ValidationMessageFor(u => u.LastName, string.Empty, new { @style = "color:red" })</div>
                            <div>@Html.ValidationMessageFor(u => u.Phone, string.Empty, new { @style = "color:red" })</div>

                        </div>
                        <br />

                      
                        if (isSocial == true)
                        {
                            <input type="hidden" name="provider" id="providerId" value="@ViewBag.Provider" />
                            <input type="hidden" name="hfIsSocial" id="isSocial" value="1" />
                            <input type="hidden" name="hfSocialProviderKey" id="SocialProviderKey" value="@ViewBag.SocialProviderId" />
                            <input type="hidden" name="hfSocialScreenName" id="SocialScreenName" value="@ViewBag.socialFirstName" />

                          
                        }
                        else
                        {

                            <input type="hidden" name="hfIsSocial" id="isSocial" value="0" />
                           

                        }

                        
                            @Html.TextBoxFor(model => model.FirstName, new { id = "txtFirstName", @class = "txtBoxLoginPage", @placeholder = Html.Raw(Html.GetKeyValueFromResourceFile("Fname", UserCookieManager.WBStoreId, "First Name")) })

                            @Html.TextBoxFor(model => model.LastName, new { id = "txtLastName", @class = "txtBoxLoginPage", @placeholder = Html.Raw(Html.GetKeyValueFromResourceFile("divlname", UserCookieManager.WBStoreId, "Last Name")) })
                            @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "txtBoxLoginPage", @placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email")) })


                        


                        @Html.TextBoxFor(model => model.Phone, new { id = "txtPhone", @class = "txtBoxLoginPage", @placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlphone", UserCookieManager.WBStoreId, "Phone")) })

                        if (isSocial != true)
                        {
                            @Html.PasswordFor(model => model.Password, new { id = "txtPassword", @class = "txtBoxLoginPage", @placeholder = @Html.Raw(Html.GetKeyValueFromResourceFile("lblPassword", UserCookieManager.WBStoreId, "Password")) }) <br />

                            @Html.ValidationMessageFor(u => u.Password, string.Empty, new { @style = "color:red;" })

                        }


                        <br />

                        <input id="cmdRegister" type="submit" class="start_creating_btn_CretAcc registerAccountBtn rounded_corners5" value="@Html.Raw(Html.GetKeyValueFromResourceFile("BtnCreateacc", UserCookieManager.WBStoreId, "CREATE ACCOUNT"))" /><br />

                        <div class="clear">
                            &nbsp;
                        </div>
                        <input type="hidden" name="hfReturnURL" id="hfReturnURL" value="@ViewBag.ReturnURL" />
                    }

                </div>

                <div class="signup_width col-md-6 col-lg-6 col-xs-12">
                    <div class="BackgroundColor">
                        <div class="custom_color_heading" id="lbl_WhyRegister">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("divwhyregister", UserCookieManager.WBStoreId, "Why Register?"))
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        @*<p id="lbl_ByRegisteringMessage" class="registering_label">@Html.Raw(Html.GetKeyValueFromResourceFile("lblRegistering", UserCookieManager.WBStoreId))</p>*@
                        <div class="registering_item_register" id="divsaveurdeisgn">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_SaveDesign" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsaveurdesign", UserCookieManager.WBStoreId, "Save your designs"))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_OrderHistory" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlviewtoh", UserCookieManager.WBStoreId, "View and track order history"))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_Reorder" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("divreorderq", UserCookieManager.WBStoreId, "Re-order quickly"))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_NewLetter" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("divsubs2newsl", UserCookieManager.WBStoreId, "Subscribe to our Newsletters "))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_RequestQuote" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("hlRequestQuote", UserCookieManager.WBStoreId, "Request a Quote"))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item">
                            <div class="tickImge">
                                &nbsp;
                            </div>
                            <p id="lbl_Voucher" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlNewVoucherPromo", UserCookieManager.WBStoreId, "Get latest Voucher promotions"))</p>
                        </div>
                    </div>
                </div>
                <div class="clearBoth">
                </div>
            </div>
            <br />
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
<script src="/Scripts/jquery-1.10.1.min.js"></script>
  
