@model  MPC.Webstore.Models.RegisterViewModel
@using MPC.Webstore.Common;

<div class="container content_area" id="all-signUp-pg">

    <div class="row left_right_padding">


        <div class="page_border_div rounded_corners col-md-12 col-lg-12 col-xs-12">
            <div class="sign_up_page_box">
                <div class="SignUpLeftPanel col-md-6 col-lg-6 col-xs-12">

                    @if (ViewBag.ShowFacebookSignInLink == 1 || ViewBag.ShowTwitterSignInLink == 1)
                    {
                        <div id="lbl_SignUp" class="custom_color_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("registerFor", UserCookieManager.WBStoreId)) @ViewBag.CompanyName</div>
                        <div class="clearBoth">&nbsp;</div>
                        <br />
                        <div id="cntSocialLink" class="cntSignInWithSocialinks">
                            @if (ViewBag.ShowFacebookSignInLink == 1)
                            {
                                <em id="emfacebook" class="emfb"></em>


                                <input id="facebookbtn" type="button" value="Sign up with Facebook" class="connectWithfb" onclick="SocialSignUp(1)" /><br />


                                <script>
                                    function SocialSignUp(isFacebook) {
                                        var w = 820;
                                        var h = 560;
                                        var left = (screen.width / 2) - (w / 2);
                                        var top = (screen.height / 2) - (h / 2);
                                        if (isFacebook == 1)
                                            window.open("/Home/oAuth?id=1&isRegWithSM=1&MarketBriefReturnURL=@ViewBag.ReturnURL", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);
                                        else
                                            window.open("/Home/oAuth?id=0&isRegWithSM=1&MarketBriefReturnURL=@ViewBag.ReturnURL", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);
                                        return false;
                                    }
                                </script>}
                            @if (ViewBag.ShowFacebookSignInLink == 1)
                            {
                                <em id="emtwtter" class="emTw"></em>
                                <input id="facebookbtn" type="button" value="Sign up with Twitter" class="connectWithtwitter" onclick="SocialSignUp(0)" /><br />
                                <br />
                            }

                            <br />
                            <div id="cntOrBottom">
                                -OR-
                            </div>
                        </div>
                    }
                    <div class="clearBoth">&nbsp;</div>
                    <div id="lbl_SignUp" class="custom_color_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("registerFor", UserCookieManager.WBStoreId)) @ViewBag.CompanyName</div>
                    @{
                        bool isSocialSignUp = Convert.ToBoolean(ViewData["IsSocialSignUp"]);
                        if (isSocialSignUp == true)
                        {
                            <div id="lbl_CompleteYourRegisteration" class="errorMessage mainHeadingAveniorCheckout">@Html.Raw(Html.GetKeyValueFromResourceFile("registerFor", UserCookieManager.WBStoreId)) @ViewBag.CompanyName</div>
                        }

                    }

                    @using (Html.BeginForm())
                    {
                        <div class="errorMesgLoginPage">
                            <div>@ViewBag.Message</div>
                            <div>@Html.ValidationMessageFor(u => u.Email, string.Empty, new { @style = "color:red;" })</div>
                            <div>@Html.ValidationMessageFor(u => u.FirstName, string.Empty, new { @style = "color:red" })</div>
                            <div>@Html.ValidationMessageFor(u => u.LastName, string.Empty, new { @style = "color:red" })</div>
                            <div>@Html.ValidationMessageFor(u => u.Phone, string.Empty, new { @style = "color:red" })</div>
                        </div>
                        <br />

                        bool isSocial = Convert.ToBoolean(ViewData["IsSocialSignUp"]);
                        if (isSocial == true)
                        {

                            <input type="hidden" name="hfIsSocial" id="isSocial" value="1" />
                        }
                        else
                        {

                            <input type="hidden" name="hfIsSocial" id="isSocial" value="0" />
                        }


                        @Html.TextBoxFor(model => model.FirstName, new { id = "txtFirstName", @class = "txtBoxLoginPage", @placeholder = "First Name" })



                        @Html.TextBoxFor(model => model.LastName, new { id = "txtLastName", @class = "txtBoxLoginPage", @placeholder = "Last Name" })

                        @Html.TextBoxFor(model => model.Phone, new { id = "txtPhone", @class = "txtBoxLoginPage", @placeholder = "Phone" })


                        @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "txtBoxLoginPage", @placeholder = "Email" })


                        @Html.TextBoxFor(model => model.Password, new { id = "txtPassword", @class = "txtBoxLoginPage", @placeholder = "Password" }) <br />

                        @Html.ValidationMessageFor(u => u.Password, string.Empty, new { @style = "color:red;" })<br />
                        <input id="cmdRegister" type="submit" class="start_creating_btn_CretAcc registerAccountBtn rounded_corners5" value="CREATE ACCOUNT" onclick="ShowLoader();" /><br />

                        <div class="clear">
                            &nbsp;
                        </div>
                        <input type="hidden" name="hfReturnURL" id="hfReturnURL" value="@ViewBag.ReturnURL" />
                    }

                </div>

                <div class="signup_width col-md-6 col-lg-6 col-xs-12">
                    <div class="BackgroundColor">
                        <div class="custom_color_heading" id="lbl_WhyRegister">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("divwhyregister", UserCookieManager.WBStoreId))
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        @*<p id="lbl_ByRegisteringMessage" class="registering_label">@Html.Raw(Html.GetKeyValueFromResourceFile("lblRegistering", UserCookieManager.WBStoreId))</p>*@
                        <div class="registering_item_register" id="divsaveurdeisgn">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_SaveDesign" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsaveurdesign", UserCookieManager.WBStoreId))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_OrderHistory" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlviewtoh", UserCookieManager.WBStoreId))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_Reorder" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("divreorderq", UserCookieManager.WBStoreId))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_NewLetter" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("divsubs2newsl", UserCookieManager.WBStoreId))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item_register">
                            <div class="tickImge">&nbsp;</div>

                            <p id="lbl_RequestQuote" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("hlRequestQuote", UserCookieManager.WBStoreId))</p>
                        </div>
                        <div class="registering_item_separator">
                            &nbsp;
                        </div>
                        <div class="registering_item">
                            <div class="tickImge">
                                &nbsp;
                            </div>
                            <p id="lbl_Voucher" class="smallAveniorLogin">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlNewVoucherPromo", UserCookieManager.WBStoreId))</p>
                        </div>
                    </div>
                </div>
                <div class="clearBoth">
                </div>
            </div>
            <br />
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
@section scripts {
    <script>

        $(document).ready(function () {
            $('#txtFirstName').val("First Name");
            $('#txtLastName').val('Last Name');
            $('#txtEmail').val("Email");
            $('#txtPassword').val('Password');
            $('#txtPhone').val("Phone");
        });

        $('#txtFirstName').focus(function () {
            if ($('#txtFirstName').val() === 'First Name') {

                $('#txtFirstName').val('');
            }
        });

        $('#txtFirstName').blur(function () {
            if ($('#txtFirstName').val() === '') {

                $('#txtFirstName').val('First Name');
            }
        });

        $('#txtLastName').focus(function () {
            if ($('#txtLastName').val() === 'Last Name') {

                $('#txtLastName').val('');
            }
        });

        $('#txtLastName').blur(function () {
            if ($('#txtLastName').val() === '') {

                $('#txtLastName').val('Last Name');
            }
        });

        $('#txtPhone').focus(function () {
            if ($('#txtPhone').val() === 'Phone') {

                $('#txtPhone').val('');
            }
        });

        $('#txtPhone').blur(function () {
            if ($('#txtPhone').val() === '') {

                $('#txtPhone').val('Phone');
            }
        });

        $('#txtEmail').focus(function () {
            if ($('#txtEmail').val() === 'Email') {

                $('#txtEmail').val('');
            }
        });

        $('#txtEmail').blur(function () {
            if ($('#txtEmail').val() === '') {

                $('#txtEmail').val('Email');
            }
        });

        $('#txtPassword').focus(function () {
            if ($('#txtPassword').val() === 'Password') {
                $('#txtPassword').attr("type", "password");
                $('#txtPassword').val('');
            }
        });

        $('#txtPassword').blur(function () {
            if ($('#txtPassword').val() === '') {
                $('#txtPassword').removeAttr("type");
                $('#txtPassword').val('Password');
            } else {
                $('#txtPassword').attr("type", "password");
            }
        });
    </script>
}