@using System.Globalization
@model MPC.Webstore.Models.AddressViewModel
@{
    Layout = null;
}
@using MPC.Webstore.Common;
<div id="subscriberfooter" style="background-color:#5b237a !important;">

    <div class="container ">
        <div class="container">
            <p>
                <div class="row">
                    <div class="col-xs-12 col-md-4" style="padding-left:0px;">
                        <div class="panel panel-info" id="Div2">
                            <div class="panel-heading">
                                <h3 class="panel-title">@Html.Raw(Html.GetKeyValueFromResourceFile("lnkContactUs", UserCookieManager.WBStoreId, "Contact Us"))</h3>
                            </div>
                            <div class="panel-body" style="padding-top: 0px;">
                                <div>
                                    <h2 itemprop="name" id="companyname">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlllcompanyaddress", UserCookieManager.WBStoreId, "Company Address"))</h2>
                                    @if (Model != null)
                                    {
                                        <div itemprop="address">
                                            <b>@Html.Raw(Html.GetKeyValueFromResourceFile("lrlmainaddr", UserCookieManager.WBStoreId, "Main address"))</b>:<br />
                                            <span itemprop="streetAddress" id="addressline1">
                                                @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlloaaddr1", UserCookieManager.WBStoreId, "Address 1.."))<br />
                                                @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlloadadr2", UserCookieManager.WBStoreId, "Address 2.."))
                                            </span><br />
                                            <span itemprop="postalCode" id="cityandCode">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcountryandzip", UserCookieManager.WBStoreId, "City and Zip Code"))</span><br />
                                            <span itemprop="addressLocality" id="stateandCountry">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlstate", UserCookieManager.WBStoreId, "State")) &amp; @Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcountry", UserCookieManager.WBStoreId, "Country"))</span>
                                        </div>
                                        if (Model.Tel != null)
                                        {

                                            <span id="telno">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTelTxt", UserCookieManager.WBStoreId, "Tel:"))@Model.Tel</span>

                                            <br />
                                        }
                                        if (Model.Email != null)
                                        {

                                            <span id="emailadd">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email")):@Model.Email</span>

                                            <br />
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4" id="subpanel1">
                        <div class="panel panel-info" id="Div3">
                            <div class="panel-heading">
                                <h3 class="panel-title"> @Html.Raw(Html.GetKeyValueFromResourceFile("subhereee", UserCookieManager.WBStoreId,"Subscribe Here"))
</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                        <input type="text" id="txtEmailbox" class="form-control btn-rounded" width="100"></input>
                                    </div>
                                    <span id="errorMsg" class="error-block text-danger"></span>
            <p id="Nwsdesc" class="help-block">@Html.Raw(Html.GetKeyValueFromResourceFile("prooffersss", UserCookieManager.WBStoreId, "Subscribe Here to receive promotional offers."))</p>
        </div>
        <input id="btnSendNews" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsubscribetxt", UserCookieManager.WBStoreId, "Subscribe"))" class="btn btn-primary btn-rounded" />
    </div>
</div>
                    </div>
<div class="col-xs-12 col-md-4" id="panel2">
    <div class="panel panel-info" id="">
        <div class="panel-heading">
            <h3 class="panel-title">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlgosocial", UserCookieManager.WBStoreId, "Go Social"))
</h3>
        </div>
        <div class="panel-body">
            <p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlstayintouc", UserCookieManager.WBStoreId, "Stay in touch with us:"))</p>
            <p><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-2x social-icon"></i></a><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter fa-2x social-icon"></i></a><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest fa-2x social-icon"></i></a><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus fa-2x social-icon"></i></a><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin fa-2x social-icon"></i></a></p>
        </div>
    </div>
</div>
                </div>
            </p>
        </div>
    </div>    </div>