@{
    var grid = new WebGrid(source: ViewBag.Contacts, canSort: false, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.NextPrevious);
    string Result = ViewBag.res;
    var Contacts = ViewBag.Contacts as MPC.Models.DomainModels.CompanyContact;
} 
@using MPC.Models.Common;
@using MPC.Webstore.WebGridExtension;  
@using MPC.Webstore.Common;
@{
    int ContactRoleId = ViewBag.LoginContactRoleID;
    
}
<div class="content_area container" style="margin-bottom: 40px">
    <div class="left_right_padding row">
        <div class="signin_heading_div float_left_simple dashboard_heading_signin">
            <label id="HistryBtn" class="sign_in_heading">User Manager</label>
        </div>
        <div class="dashBoardRetrunLink">
            <h1>
                <a href="/Dashboard" class="left_align" title="Back to my dashboard" onclick="ShowLoader();">
                    @Html.Raw(Html.GetKeyValueFromResourceFile("BackToDashboardlbl", UserCookieManager.WBStoreId, "Back to my dashboard"))
                </a>
            </h1>
        </div>
        <div class="clearBoth">

        </div>
        <div class="cursor_pointer" onclick="AddNewPostBackForUser();">
            <div class="float_left">
                @*<asp:ImageButton ID="imgAddNew" CssClass="add_new" ToolTip="Add New User" runat="server"
                                 ImageUrl="~/images/AddNew.png" OnClick="imgAddNew_Click" />*@

                <input type="button" id="btnCopyProduct" class="add-address-btn" onclick="ResetTextboxes()" value="@Html.Raw(Html.GetKeyValueFromResourceFile("AddAddress", UserCookieManager.WBStoreId, "Add new address"))">
            </div>
            <div class="new_caption">
                @*<asp:Literal ID="ltrlnew" runat="server" Text="New"></asp:Literal>*@
            </div>
            <div class="clearBoth">
            </div>
        </div>
        <div class="divSearchBar_corp normalTextStyle usermanager_padding_header rounded_corners "
             style="padding: 15px 15px 15px 15px;">
            <table style="width: auto; border-collapse: separate; border-spacing: 2px;">
                <tr>
                    <td>
                        <label ID="ltrlSearchrecords">Search Records</label>
                    </td>
                    <td style="padding-left: 10px;">
                        <input type="text" style="width:200px;" id="txtsearch"Class="text_box150 rounded_corners5"/>
                    </td>
                    <td style="padding-left: 10px;">
                        <button type="submit" id="btnsearch" value="Go" class="start_creating_btn rounded_corners5"
                                    OnClick="btnsearch_Click" ></button>
                    </td>
                    <td style="padding-left: 10px;">
                        <button type="button" id="btnReset" value="Reset" class="start_creating_btn rounded_corners5"
                                onclick="btnReset_Click"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PadingTop white_background  rounded_corners">
            <div class="PadingTop textAlignLeft">
                <label id="lblmatchingrecord" class="matchingTxtclass" />
            </div>
            <div ID="MainUSerProfileContainer">
                
                @grid.Table(displayHeader: Convert.ToBoolean(TempData["HeaderStatus"]),
    htmlAttributes: new { id = "OrderGrid" },
    tableStyle: "WebGridTableStyle",
    fillEmptyRows: false,
    headerStyle: "WebGridheader",
    rowStyle: "gridViewRowStyleForWebGrid",
    alternatingRowStyle: "gridViewRowStyleForWebGrid",
    columns: new[] {

    grid.Column("Name",format:@<p>@item.FirstName</p>),
    grid.Column("Email",format:@<p>@item.Email</p>,style:"hidden-xs"),
    grid.Column("Territory",format:@<p>
                @if(item.CompanyTerritory!=null)
                {
                    <p>@item.CompanyTerritory</p>
                
                }
                else{
                    <p>N/A</p>
                }</p>,style:"hidden-xs"),

    grid.Column("Order Limit",format:@<p>NA</p>,style:"hidden-xs"),
                
    grid.Column("Can Order",format:@<p>@if(item.isPlaceOrder.HasValue||item.isPlaceOrder.Value){
                                           <p>yes</p>
                                       }
                                       else
                                       {
                                          <p>No</p>
                                       }
                </p>,style:"hidden-xs "),
                
    grid.Column("can pay by credit card",format:@<p>@if(item.IsPayByPersonalCreditCard.HasValue||item.IsPayByPersonalCreditCard.Value){<p>yes</p>}else{<p>No</p>}</p>,style:"hidden-xs "),
                
    grid.Column("Role",format:@<p>@if(item.ContactRoleID==1){<p>Admin</p>}else if(item.ContactRoleID==2){<p>Manager</p>}else{<p>User</p>}</p>,style:"hidden-xs"),

                            
      grid.Column(header:Result, format:@<text>@if (ContactRoleId == 1)
      {
          if (item.ContactRoleID == 2)
          {
            <input type="button" value="Download" style="height: 30px; width: 30px; background-image: url('Content/Images/download-icon.png');  border: none;
          background-color: transparent;" class="rounded_corners" onclick="DownLoadArtworkFile(@item.ContactId)" />
          }

      }
        
      </text>),
     grid.Column( format:@<text>@if(item.ContactRoleID != 1 || item.IsDefaultContact!=1){<input type="button" id="view" value="View" style="height: 23px; width: 23px;border:none; background: url('Content/Images/view-order.png');" class="rounded_corners" onclick="ViewOrder(@item.ContactId)"/>
     }</text>)
       }
      )
                @if (Convert.ToInt32(ViewBag.totalcount) > 15)
                {
                    <div id="footerr" class="pagination pagination-small pagination-right">
                        @WebGridExt.PagerList(grid, mode: WebGridPagerModes.All)
                    </div>
                }
                    <div class="clearBoth">
                        &nbsp;
                    </div>

            <div class="clearBoth">
                &nbsp;
            </div>
            <div class="normalTextStyle rounded_corners territory_row_padding_header">
                <div class="user_name_corp_div checked_design">
                    <asp:Literal ID="ltrlname" runat="server" Text="Name"></asp:Literal>
                </div>
                <div class="user_email_div checked_design">
                    <asp:Literal ID="ltremail" runat="server" Text="Email"></asp:Literal>
                </div>
                <div class="territory_corp_div checked_design" id="divteritory2" runat="server">
                    <asp:Literal ID="ltrlterritory2" runat="server" Text="Territory"></asp:Literal>
                </div>
                <div class="order_limit_corp_div checked_design">
                    <asp:Literal ID="ltrlorderlimit" runat="server" Text="Order Limit"></asp:Literal>
                </div>
                <div class="can_order_corp_div checked_design">
                    <asp:Literal ID="ltrlcanorder" runat="server" Text="Can Order"></asp:Literal>
                </div>
                <div class="user_phone_div checked_design">
                    <asp:Literal ID="ltrphone" runat="server" Text="Can pay by credit card"></asp:Literal>
                </div>
                <div class="user_phone_div checked_design">
                    <asp:Literal ID="ltrlUserRoles" runat="server" Text="Role"></asp:Literal>
                </div>
            </div>
            <asp:UpdatePanel ID="upnUser" runat="server" UpdateMode="Always">
                <contenttemplate>
                    <asp:Repeater ID="rptrUsers" runat="server" OnItemDataBound="rptrUsers_ItemDataBound"
                                  OnItemCommand="rptrUsers_ItemCommand">
                        <itemtemplate>
                            <div class="territory_row_padding" title="Click to edit record">
                                <div id="divContainer" runat="server" class=" dottedBorderStyle" style="border-top: 1px dotted #CCCCCC;">
                                    <div class="user_name_corp_div checked_design">
                                        <%# Eval("FirstName")%>&nbsp;
                                    </div>
                                    <div class="user_email_div checked_design">
                                        <asp:Label ID="lblemail" runat="server" Text='<%# Eval("Email")%>' Width="160px"></asp:Label>&nbsp;
                                    </div>
                                    <div class="territory_corp_div checked_design">
                                        <asp:Label ID="lblTerritoryName" runat="server"></asp:Label>&nbsp;
                                    </div>
                                    <div class="order_limit_corp_div checked_design">
                                        <asp:Label ID="lblOrderLimit" runat="server" Text='<%# Eval("CreditLimit") %>'></asp:Label>&nbsp;
                                    </div>
                                    <div class="can_order_corp_div checked_design">
                                        <asp:Label ID="lblCanOrder" runat="server"></asp:Label>&nbsp;
                                    </div>
                                    <div class="user_phone_div_card checked_design">
                                        <asp:Label ID="lblPayByCredirCard" runat="server"></asp:Label>&nbsp;
                                    </div>
                                    <div class="user_phone_div_card checked_design" style="width:100px;">
                                        <asp:Label ID="lblUserRoles" runat="server"></asp:Label>&nbsp;
                                    </div>
                                </div>
                                <div class="float_right" style="padding: 7px 0px 0px 0px;">
                                    <asp:ImageButton ID="imgBtnEdit" runat="server" CssClass="rounded_corners" ImageUrl="~/images/edit.png" Height="24" Width="24"
                                                     ToolTip="Click to edit record" CommandName="EditRecord" CommandArgument='<%# Eval("ContactID") %>' />
                                    <asp:ImageButton ID="btnDelete" runat="server" OnClientClick="return confirm('Are you sure you want to remove this user? The order history of this user will also be removed..');" CssClass="rounded_corners" ImageUrl="~/images/delete.png" Height="28" Width="28"
                                                     ToolTip="Delete User" CommandName="DeleteRecord" CommandArgument='<%# Eval("ContactID") %>' />
                                </div>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                        </itemtemplate>
                    </asp:Repeater>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
        </div>
    </div>
    
    
    <div ID="pnlUser" style="width:950px;" Class="FileUploaderPopup_corp LCLB rounded_corners"
               Style="display: none">
        <div class="white_background">
            
                    <div class="SolidBorderCS left_align pad20 mrginBtm">
                        <Label id="lblHeader"Class="FileUploadHeaderText"></Label>
                    </div>
                    <div class="pop_body_corp">

                        <div class="left_user_popup_area">
                            <div class="address_label_area1">
                                <label ID="ltrlfname" >First Name:</label>
                            </div>
                            <div class="address_contol_area1">
                                <input type="text" ID="txtFirstName" Class="text_box200 rounded_corners5"
                                             MaxLength="50" TabIndex="1"/>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrljobtitle">Job Title:</label>
                            </div>
                            <div class="user_contol_area2">
                                <input type="text" ID="txtJobTitle"Class="text_box200 rounded_corners5"
                                             MaxLength="50" TabIndex="14"/>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrllname">Last Name:</label>
                            </div>
                            <div class="address_contol_area1">
                                <input ID="txtLastName" Class="text_box200 rounded_corners5"
                                             MaxLength="50" TabIndex="2"/>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrldirectline">Direct Line</label>

                            </div>
                            <div class="user_contol_area2">
                                <input ID="txtDirectLine" Class="text_box200 rounded_corners5"
                                             MaxLength="30" TabIndex="4"/>

                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlcellnumber" >Cell Number:</label>
                            </div>
                            <div class="address_contol_area1">
                                <input type="text" ID="txtCellNumber" Class="text_box200 rounded_corners5"
                                             MaxLength="30" TabIndex="3"/>
                            </div>
                            <div class="user_label_area2 ">
                                <label ID="ltrlfax" >Fax:</label>

                            </div>
                            <div class="user_contol_area2">
                                <input id="txtFax" Class="text_box200 rounded_corners5" MaxLength="30"
                                             TabIndex="5"/>

                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlemaill">Email:</label>

                            </div>
                            <div class="address_contol_area1">
                                <input ID="txtEmail" Class="text_box200 rounded_corners5"
                                             MaxLength="30" TabIndex="6"/>

                            </div>

                            <div class="user_label_area2">
                                <label ID="ltrlcreditlimit" >Credit Limit</label>

                            </div>
                            <div class="user_contol_area2">
                                <input type="text" id="txtCreditLimit"  Class="text_box200 rounded_corners5 float_input"
                                             MaxLength="8" TabIndex="19"/>

                            </div>

                            <div class="address_label_area1">
                                <label ID="ltrlsecrquestion" >Secret Question:</label>

                            </div>
                            <div class="address_contol_area1">
                                <select style="width:210px;" ID="ddlSecretQuestions"  Class="rounded_corners5 dropdown"
                                                  TabIndex="7">
                                </select>

                            </div>

                            <div class="user_label_area2">
                                <label ID="ltrlSecretAnswer" >Secret Answer:</label>

                            </div>
                            <div class="user_contol_area2">
                                <input ID="txtSecretAnswer" Class="text_box200 rounded_corners5"
                                             MaxLength="200" TabIndex="8"/>

                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>




                            <div class="address_label_area1 height30px">
                                <label ID="ltrlteritory" >Territory:</label>
                            </div>
                            <div class="address_contol_area1 height30px">
                                <select ID="ddlTerritory"  style="width:210px;" Class="rounded_corners5 dropdown">
                                                  
                                </select>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrlrole" >Role:</label>
                            </div>
                            <div class="user_contol_area2">
                                <select ID="ddlRole" Class="rounded_corners5 dropdown"
                                                 style="width:210px;" TabIndex="10">
                                </select>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlbusinaddress" >Billing Address</label>
                            </div>
                            <div class="address_contol_area1 height30px">
                                <select ID="ddlBusinessAddress" Class="rounded_corners5 dropdown" style="width:210px;">
                                                  
                                </select>
                            </div>

                            <div class="user_label_area2">
                                <label ID="Literal1">Shipping Address</label>
                            </div>
                            <div class="user_contol_area2">
                                <select ID="ddlShippingAddress" style="width:210px;"  Class="rounded_corners5 dropdown"
                                                   
                                </select>
                            </div>

                            <div class="address_label_area1">
                                <label ID="ltrlBilladdress" >Address Detail</label>


                            </div>
                            <div class="address_contol_area1">
                                <textarea id="txtAddress" name="Text1" cols="40" rows="5" class="text_box200 rounded_corners5" maxlength="250" style="height:60px;"></textarea>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrlShipAddrs" >Address Detail</label>
                            </div>
                            <div class="user_contol_area2">
                                <textarea id="txtShippingAddress" cols="40" rows="5" class="text_box200 rounded_corners5"
                                          style="height:60px;"></textarea>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlnotes">Notes:</label>
                            </div>
                            <div class="left_multiline_text_box" style="padding-left: 0px;">
                                <textarea id="txtNotes" cols="40" rows="5" class="rounded_corners5 text_box"
                                          style="height:40px;width:550px;"></textarea>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                &nbsp;
                            </div>
                            <div class="left_multiline_text_box">
                                <input type="checkbox" id="chkCanOrder" value="&nbsp;&nbsp;&nbsp;Can Place Order" tabindex="12" />
                            </div>
                            <div class="right_multiline_text_box">
                                <input id="chkCanByCredit" type="checkbox" tabindex="13" value="&nbsp;&nbsp;&nbsp;Can Pay By Credit Card" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                &nbsp;
                            </div>
                            <div class="left_multiline_text_box">
                                <input type="checkbox" id="chkShowPricesForProduct" value="&nbsp;&nbsp;&nbsp;Show Prices on Products" tabindex="14" />
                            </div>
                            <div class="right_multiline_text_box">
                                <input id="chkHasWebAccess" type="checkbox" value="&nbsp;&nbsp;Has Web Access" tabindex="12" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="button_contol_area1_corp">
                                <div class="float_left" style="padding-left: 0px;">
                                    <button id="btnSaveUser" class="start_creating_btn rounded_corners5" onclick="btnSaveUser_Click" tabindex="23">Save</button> 
                                </div>
                                <div class="float_left">
                                    <button id="btnCancelUser" class="start_creating_btn rounded_corners5" tabindex="24"></button>
                                </div>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                        </div>
                        <div class="right_user_popup_area">
                            <div class="user_contact_popup_image_container">
                                <img ID="imgContactPicture" Class="user_image_container" />
                                <br />
                                <br />
                                <input type="file" style="width:200px;" id="fuImageUpload" name="fuImageUpload" class="file_upload_box rounded_corners5" tabindex="23" onchange="ShowPreview(this)" />
                                <br />
                                <br />
                            </div>
                            <button id="btnChangePassword" Class="start_creating_btn rounded_corners5"
                                         value="Change Password" 
                                        TabIndex="25" Style="width: 145px; float: right; margin-right: 25px;"></button>
                            <div id="divPass"  class="pass" style="text-align: left; margin-left: 5px;">
                                <label ID="ltrlPassword" >Password:</label>
                            </div>
                            <div id="divPassContr"  class="user_contol_area2 pass">
                                <input type="text" ID="txtPassword" Class="text_box200 rounded_corners5"
                                             MaxLength="200"  TabIndex="20"/>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div id="divConfirmPass"  class="pass" style="text-align: left; margin-left: 5px;">
                                <label ID="ltrlconfirmpass">Confirm Password:</label>
                            </div>
                            <div id="divConfirmPassContr"  class="user_contol_area2 pass">
                                <input type="text" ID="txtConfirmPassword"  Class="text_box200 rounded_corners5"
                                             MaxLength="200" TabIndex="21"/>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>

                        </div>
                
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
</div>


        </div>
<script type="text/javascript">
    function ShowChangePassword() {
        $('.pass').css('display', 'block');
        $('#<%=btnChangePassword.ClientID %>').css('display', 'none');
        return false;
    }
</script>
