@using MPC.Models.Common;
@using MPC.Webstore.WebGridExtension;
@using MPC.Webstore.Common;
@*@model MPC.Models.DomainModels.CompanyContact*@
@{
    Layout = null;
}
@model IEnumerable<MPC.Models.DomainModels.CompanyContact>
@{
    long ContactRoleId = ViewBag.LoginContactRoleID;
    var grid = new WebGrid(source: Model, canSort: false, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.NextPrevious);
    string Result = ViewBag.res;
    //var Contacts = ViewBag.Contacts as MPC.Models.DomainModels.CompanyContact;
}
<div class="content_area container" style="margin-bottom: 40px">
    <div class="left_right_padding row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="signin_heading_div float_left_simple ">
                <label id="HistryBtn" class="sign_in_heading">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlUserManager", UserCookieManager.WBStoreId, "System User Manager"))</label>
            </div>
            <div class="dashBoardRetrunLink dashboard_heading_signin">
                <div class="left_align">
                    <h1>
                        <a href="/Dashboard" class="left_align" title="Back to my dashboard" onclick="ShowLoader();">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("BackToDashboardlbl", UserCookieManager.WBStoreId, "Back to my dashboard"))
                        </a>
                    </h1>
                </div>
            </div>
            <div class="clearBoth">
            </div>
            </div>
            <div class="cursor_pointer">
                <div class="float_left">
                    @*<asp:ImageButton ID="imgAddNew" CssClass="add_new" ToolTip="Add New User" runat="server"
                    ImageUrl="~/images/AddNew.png" OnClick="imgAddNew_Click" />*@
                    <input type="button" id="btnUmangerAddCont" class="add-address-btn" onclick="ResetTextboxes()" value="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlAddContact", UserCookieManager.WBStoreId, "Add Contact")).ToString().ToUpper()">

                </div>
                <div class="new_caption">
                    @*<asp:Literal ID="ltrlnew" runat="server" Text="New"></asp:Literal>*@
                </div>
                <div class="clearBoth">
                </div>
            </div>
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="divSearchBar_corp normalTextStyle usermanager_padding_header rounded_corners "
                 style="padding: 15px 15px 15px 15px;">
                @using (Html.BeginForm())
                {
                <table style="width: auto; border-collapse: separate; border-spacing: 2px;">
                    <tr>
                        <td>
                            <label id="ltrlSearchrecords " style="display:none;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlSearchrecords", UserCookieManager.WBStoreId, "Search Records"))</label>
                        </td>
                        <td style="padding-left: 10px;">
                            @if (ViewBag.TempText != null && ViewBag.TempText != string.Empty)
                            {
                                <input type="text" style="width:200px;" id="txtsearch" class="text_box150 rounded_corners5" name="SearchString" value="@ViewBag.TempText" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("lrlSearchContact", UserCookieManager.WBStoreId, "Search Contact"))" />
                            }
                            else
                            {
                                <input type="text" style="width:200px;" id="txtsearch" class="text_box150 rounded_corners5" name="SearchString" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("lrlSearchContact", UserCookieManager.WBStoreId, "Search Contact"))" />
                            }
                        </td>
                        <td style="padding-left: 10px; visibility:hidden">
                            <button type="submit" id="btnsearch" value="Go" class="start_creating_btn rounded_corners5"></button>
                        </td>
                        <td style="padding-left: 10px;display:none">
                            <button type="button" id="btnReset" value="Reset" class="start_creating_btn rounded_corners5"
                                    onclick="btnReset_Click" style="display:none;"></button>
                        </td>
                    </tr>
                </table>
                }
            </div>
            <div class="PadingTop white_background  rounded_corners">
                <div class="PadingTop textAlignLeft">
                    <label id="lblmatchingrecord" class="matchingTxtclass">@ViewBag.TotalRecords</label>
                </div>

                <div id="MainUSerProfileContainer">

                    @grid.Table(displayHeader: Convert.ToBoolean(TempData["HeaderStatus"]),
    htmlAttributes: new { id = "OrderGrid" },
    tableStyle: "WebGridTableStyle",
    fillEmptyRows: false,
    headerStyle: "WebGridheader",
    rowStyle: "gridViewRowStyleForWebGrid",
    alternatingRowStyle: "gridViewRowStyleForWebGrid",
    columns: new[] {

    grid.Column(Html.Raw(Html.GetKeyValueFromResourceFile("ltrlname", UserCookieManager.WBStoreId, "Name")).ToString(),format:@<p>@item.FirstName</p>),
    grid.Column(Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email")).ToString(),format:@<p>@item.Email</p>,style:"hidden-xs"),
    grid.Column(Html.Raw(Html.GetKeyValueFromResourceFile("ltrlteritory", UserCookieManager.WBStoreId, "Territory")).ToString()
,format:@<p>
                        @if (item.CompanyTerritory != null)
        {
                <p>@item.CompanyTerritory.TerritoryName</p>

        }
        else
        {
                    <p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlnotpressent", UserCookieManager.WBStoreId, "N/A"))</p>
        }</p>,style:"hidden-xs"),

    grid.Column("Order Limit",format:@<p style="margin-top:11px;">
                        @if (item.CreditLimit != null && item.CreditLimit > 0)
                        {@item.CreditLimit}
                        else
                        {@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlnotpressent", UserCookieManager.WBStoreId, "N/A"))}
                    </p>,style:"hidden-xs"),

    grid.Column("Can Order",format:@<p>
                        @if (item.isPlaceOrder != false && item.isPlaceOrder != null)
                        {
                <p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlyes", UserCookieManager.WBStoreId, "Yes"))</p>
                        }
                        else
                        {
                    <p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlNo", UserCookieManager.WBStoreId, "No"))</p>
                        }
                        </p>,style:"hidden-xs "),

    grid.Column("can pay by credit card",format:@<p>
                        @if (item.IsPayByPersonalCreditCard != false && item.IsPayByPersonalCreditCard != null)
                        {
                <p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlyes", UserCookieManager.WBStoreId, "Yes"))</p>}
                        else
                        {<p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlNo", UserCookieManager.WBStoreId, "No"))</p>}</p>,style:"hidden-xs "),

    grid.Column("Role",format:@<p>
                        @if (item.ContactRoleId == 1)
                        {
                <p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlAdmin", UserCookieManager.WBStoreId, "Admin"))</p>}
                        else if (item.ContactRoleId == 2)
                        {<p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlManager", UserCookieManager.WBStoreId, "Manager"))</p>}
                        else
                        {<p>@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlUser", UserCookieManager.WBStoreId, "User"))</p>}</p>,style:"hidden-xs"),


      grid.Column(header:Result, format:@<text>


                        <input type="button" value="" style="height:24px; width:24px; background-image: url('Content/Images/edit.png');  border: none;background-size: contain;
          background-color: transparent;" class="rounded_corners" onclick="LoadAllData(@item.ContactId)" />




    </text>)
       }
                            )
                    @if (Convert.ToInt32(ViewBag.totalcount) > 15)
                    {
                    <div id="footerr" class="pagination pagination-small pagination-right">
                        @WebGridExt.PagerList(grid, mode: WebGridPagerModes.All)
                    </div>
                    }
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>

                </div>
            </div>
            </div>
        </div>
        </div>

            <div id="pnlUser" style="width:100%;" class="pop_body_MesgPopUp">

                <div class="white_background">

                    @*<div class="SolidBorderCS left_align pad20 mrginBtm" style="display:none;">
                        <label id="lblHeader" class="FileUploadHeaderText" style="color:green;"></label>
                        <label id="ErrorEmailMsg" class="FileUploadHeaderText" style="color:red; font-size:15px!important">Please,Enter Valid Email For proceed</label>
                    </div>*@
                    <div class="pop_body_corp">
                        <div class="left_user_popup_area">
                            <div class="address_label_area1">
                                <label id="ltrlfname">@Html.Raw(Html.GetKeyValueFromResourceFile("divfname", UserCookieManager.WBStoreId, "First Name")):</label>
                            </div>
                            <div class="address_contol_area1">
                                <input type="text" id="tboxfirstname" class="text_box200 rounded_corners5"
                                       maxlength="50" tabindex="1" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("divfname", UserCookieManager.WBStoreId, "First Name"))" />
                            </div>
                            <div class="user_label_area2">
                                <label id="ltrljobtitle">@Html.Raw(Html.GetKeyValueFromResourceFile("divjobtitle", UserCookieManager.WBStoreId, "Job Title")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <input type="text" id="txtJobTitle" class="text_box200 rounded_corners5"
                                       maxlength="50" tabindex="2" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("divjobtitle", UserCookieManager.WBStoreId, "Job Title"))" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrllname">@Html.Raw(Html.GetKeyValueFromResourceFile("Lname", UserCookieManager.WBStoreId, "Last Name")):</label>
                            </div>
                            <div class="address_contol_area1">
                                <input id="tboxLastName" class="text_box200 rounded_corners5"
                                       maxlength="50" tabindex="3" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("Lname", UserCookieManager.WBStoreId, "Last Name"))" />
                            </div>
                            <div class="user_label_area2">
                                <label id="ltrldirectline">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrldirectline", UserCookieManager.WBStoreId, "Direct Line")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <input id="txtDirectLine" class="text_box200 rounded_corners5"
                                       maxlength="30" tabindex="4" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrldirectline", UserCookieManager.WBStoreId, "Direct Line"))" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrlcellnumber">@Html.Raw(Html.GetKeyValueFromResourceFile("divcellnumber", UserCookieManager.WBStoreId, "Cell Number")):</label>
                            </div>
                            <div class="address_contol_area1">
                                <input type="text" id="txtCellNumber" class="text_box200 rounded_corners5"
                                       maxlength="30" tabindex="4" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("divcellnumber", UserCookieManager.WBStoreId, "Cell Number"))" />
                            </div>
                            <div class="user_label_area2 ">
                                <label id="ltrlfax">@Html.Raw(Html.GetKeyValueFromResourceFile("divfax", UserCookieManager.WBStoreId, "Fax")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <input id="txtFax" class="text_box200 rounded_corners5" maxlength="30"
                                       tabindex="5" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("divfax", UserCookieManager.WBStoreId, "Fax"))" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrlemaill">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlemailtxt", UserCookieManager.WBStoreId, "Email")):</label>
                            </div>
                            <div class="address_contol_area1">
                                <input id="tboxEmail" class="text_box200 rounded_corners5"
                                       maxlength="30" tabindex="6" placeholder="Email" />
                                @*<span id="EmailErrorMsg" style="color:red;font-size:8px;display:none;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlplzentervalidemail", UserCookieManager.WBStoreId, "please,enter valid email"))</span>*@
                            </div>
                            <div class="user_label_area2">
                                <label id="ltrlcreditlimit">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcreditlimit", UserCookieManager.WBStoreId, "Credit Limit")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <input type="text" id="txtCreditLimit" class="text_box200 rounded_corners5 float_input"
                                       maxlength="8" tabindex="7" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcreditlimit", UserCookieManager.WBStoreId, "Credit Limit"))" />
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrlsecrquestion">@Html.Raw(Html.GetKeyValueFromResourceFile("SecretQuestion", UserCookieManager.WBStoreId, "Secret Question")):</label>
                            </div>
                            <div class="address_contol_area1">
                                <select style="width:210px;" id="ddlSecretQuestions" class="rounded_corners5 dropdown"
                                        tabindex="8"></select>
                            </div>
                            <div class="user_label_area2">
                                <label id="ltrlSecretAnswer">@Html.Raw(Html.GetKeyValueFromResourceFile("SecretAnswer", UserCookieManager.WBStoreId, "Secret Answer")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <input id="txtSecretAnswer" class="text_box200 rounded_corners5"
                                       maxlength="200" tabindex="9" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("SecretAnswer", UserCookieManager.WBStoreId, "Secret Answer"))" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>


                            <div class="address_label_area1 height30px">
                                <label id="ltrlteritory">@Html.Raw(Html.GetKeyValueFromResourceFile("tttidd", UserCookieManager.WBStoreId, "Territory")):</label>

                            </div>
                            <div class="address_contol_area1 height30px">
                                <select id="ddlTerritory" style="width:210px;" class="rounded_corners5 dropdown" tabindex="10"></select>
                            </div>
                            <div class="user_label_area2">
                                <label id="ltrlrole">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlrole", UserCookieManager.WBStoreId, "Role")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <select id="ddlRole" class="rounded_corners5 dropdown"
                                        style="width:210px;" tabindex="11"></select>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrlbusinaddress">@Html.Raw(Html.GetKeyValueFromResourceFile("baddresss", UserCookieManager.WBStoreId, "Billing Address")):</label>
                            </div>
                            <div class="address_contol_area1 height30px">
                                <select id="ddlBillingAddress" class="rounded_corners5 dropdown" style="width:210px;" tabindex="12"></select>
                            </div>
                            <div class="user_label_area2">
                                <label id="Literal1">@Html.Raw(Html.GetKeyValueFromResourceFile("shippinadresss", UserCookieManager.WBStoreId, "Shipping Address")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <select id="ddlShippingAddress" style="width:210px;" class="rounded_corners5 dropdown" tabindex="13"></select>
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrlBilladdress">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlBillingDetail", UserCookieManager.WBStoreId, "Billing Detail")):</label>

                            </div>
                            <div class="address_contol_area1">
                                <textarea readonly="readonly" id="txtAddress" tabindex="14" name="Text1" cols="40" rows="5" class="text_box200 rounded_corners5" maxlength="250" style="height:60px;" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlBillingDetail", UserCookieManager.WBStoreId, "Billing Detail"))"></textarea>
                            </div>
                            <div class="user_label_area2">
                                <label id="ltrlShipAddrs">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlShipDetails", UserCookieManager.WBStoreId, "Shipping Detail")):</label>
                            </div>
                            <div class="user_contol_area2">
                                <textarea readonly="readonly" tabindex="15" id="txtShippingAddress" cols="40" rows="5" class="text_box200 rounded_corners5"
                                          style="height:60px;" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlShipDetails", UserCookieManager.WBStoreId, "Shipping Detail"))"></textarea>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label id="ltrlnotes">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlnotes", UserCookieManager.WBStoreId, "Notes")):</label>
                            </div>
                            <div class="left_multiline_text_box" style="padding-left: 0px;">
                                <textarea id="txtNotes" tabindex="16" cols="40" rows="5" class="rounded_corners5 text_box"
                                          style="height:40px;width:596px;" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlnotes", UserCookieManager.WBStoreId, "Notes"))"></textarea>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                &nbsp;
                            </div>
                            <div class="left_multiline_text_box">
                                <input type="checkbox" id="chkCanOrder" value="&nbsp;&nbsp;&nbsp;Can Place Order" tabindex="17" />
                                <label id="porder">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcanPlacOrder", UserCookieManager.WBStoreId, "Can Place Order"))</label>
                            </div>
                            <div class="right_multiline_text_box">
                                <input id="chkCanByCredit" type="checkbox" tabindex="18" value="&nbsp;&nbsp;&nbsp;Can Pay By Credit Card"  />
                                <label id="canpaycreditcard">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlcanPayByCreditCard", UserCookieManager.WBStoreId, "Can Pay By Credit Card"))</label>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                &nbsp;
                            </div>
                            <div class="left_multiline_text_box">
                                <input type="checkbox" id="chkShowPricesForProduct" value="&nbsp;&nbsp;&nbsp;Show Prices on Products" tabindex="19" />
                                <label id="showpricesonPro">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlShowPricesOnProducts", UserCookieManager.WBStoreId, "Show Prices on Products"))</label>
                            </div>
                            <div class="right_multiline_text_box">
                                <input id="chkHasWebAccess" type="checkbox" value="&nbsp;&nbsp;Has Web Access" tabindex="20" />
                                <label id="haswebaccess">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlHAsWebAccess", UserCookieManager.WBStoreId, "Has Web Access"))</label>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>


                            <div class="button_contol_area1_corp">
                                <div class="right_user_popup_area">
                                    <div class="user_contact_popup_image_container">
                                        <img id="imgContactPicture" class="user_image_container" />
                                        <br />
                                        <br />
                                        <input type="file" style="width:200px;" id="fuImageUpload" name="fuImageUpload" class="file_upload_box rounded_corners5" tabindex="21" onchange="ShowPreview(this)" />
                                        <br />
                                        <br />
                                    </div>
                                    <button id="btnChangePassword" class="start_creating_btn rounded_corners5"
                                            value="Change Password"
                                            tabindex="22" style="width: 145px; float: right; margin-right: 25px;" onclick="ShowChangePassword();">
                                        Change Password
                                    </button>
                                    <div id="divPass" class="pass" style="text-align: left; margin-left: 5px;">
                                        <label id="ltrlPassword">@Html.Raw(Html.GetKeyValueFromResourceFile("lblPassword", UserCookieManager.WBStoreId, "Password")):</label>
                                    </div>
                                    <div id="divPassContr" class="user_contol_area2 pass">
                                        <input type="password" id="tboxPassword" class="text_box200 rounded_corners5"
                                               maxlength="200" tabindex="23" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("lblPassword", UserCookieManager.WBStoreId, "Password")):" />
                                    </div>
                                    <div class="clearBoth">
                                        &nbsp;
                                    </div>
                                    <div id="divConfirmPass" class="pass" style="text-align: left; margin-left: 5px;">
                                        <label id="ltrlconfirmpass">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlconfirmpass", UserCookieManager.WBStoreId, "Confirm Password")):</label>
                                    </div>
                                    <div id="divConfirmPassContr" class="user_contol_area2 pass">
                                        <input type="password" id="txtConfirmPassword" class="text_box200 rounded_corners5"
                                               maxlength="200" tabindex="24" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlconfirmpass", UserCookieManager.WBStoreId, "Confirm Password"))" />
                                    </div>
                                    <div class="clearBoth">
                                        &nbsp;
                                    </div>
                                </div>
                                <div class="float_left" style="padding-left:25px;">
                                    <button id="btnSaveUser" class="start_creating_btn rounded_corners5" onclick="SaveCall();" tabindex="25">@Html.Raw(Html.GetKeyValueFromResourceFile("btnSave", UserCookieManager.WBStoreId, "Save"))</button>
                                </div>
                                <div class="float_left">
                                    <button id="btnCancelUser" value="Cancel" class="start_creating_btn rounded_corners5" tabindex="26" onclick="HideMessagePopUpCustom();">@Html.Raw(Html.GetKeyValueFromResourceFile("btnCancel", UserCookieManager.WBStoreId, "Cancel"))</button>
                                    @*<span id="EmailErrorMsg" style="color:red;font-size:8px;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlplzentervalidemail", UserCookieManager.WBStoreId, "please,enter valid email"))</span>*@
                                </div>

                                <div class="SolidBorderCS left_align pad20 mrginBtm " style="display:none;">
                                    <label id="lblHeader" style="display:none;color:red;font-size:12px;margin-left:-27px;" class="FileUploadHeaderText"></label>
                                    <label id="ErrorEmailMsg" class="FileUploadHeaderText" style="color:red; font-size:12px!important;display:none;margin-left:-100px;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlplzentervalidemail", UserCookieManager.WBStoreId, "please,enter valid email!"))!</label>
                                    <label id="PasswordValidator" class="FileUploadHeaderText" style="color:red; font-size:12px!important;display:none;margin-left:-100px">minimum 6 password characters!</label>
                                    <label id="NewAndOldPass" class="FileUploadHeaderText" style="color:red; font-size:12px!important;display:none;margin-left:-100px">New and confirm password does,nt match!</label>
                                </div>
                            </div>

                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            
                        </div>
                        @*<div class="right_user_popup_area">
                            <div class="user_contact_popup_image_container">
                                <img id="imgContactPicture" class="user_image_container" />
                                <br />
                                <br />
                                <input type="file" style="width:200px;" id="fuImageUpload" name="fuImageUpload" class="file_upload_box rounded_corners5" tabindex="23" onchange="ShowPreview(this)" />
                                <br />
                                <br />
                            </div>
                            <button id="btnChangePassword" class="start_creating_btn rounded_corners5"
                                    value="Change Password"
                                    tabindex="25" style="width: 145px; float: right; margin-right: 25px;" onclick="ShowChangePassword();">Change Password</button>
                            <div id="divPass" class="pass" style="text-align: left; margin-left: 5px;">
                                <label id="ltrlPassword">@Html.Raw(Html.GetKeyValueFromResourceFile("lblPassword", UserCookieManager.WBStoreId, "Password")):</label>
                            </div>
                            <div id="divPassContr" class="user_contol_area2 pass">
                                <input type="password" id="tboxPassword" class="text_box200 rounded_corners5"
                                       maxlength="200" tabindex="20" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("lblPassword", UserCookieManager.WBStoreId, "Password")):" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div id="divConfirmPass" class="pass" style="text-align: left; margin-left: 5px;">
                                <label id="ltrlconfirmpass">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlconfirmpass", UserCookieManager.WBStoreId, "Confirm Password")):</label>
                            </div>
                            <div id="divConfirmPassContr" class="user_contol_area2 pass">
                                <input type="password" id="txtConfirmPassword" class="text_box200 rounded_corners5"
                                       maxlength="200" tabindex="21" placeholder="@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlconfirmpass", UserCookieManager.WBStoreId, "Confirm Password"))" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                        </div>*@
                    </div>
                    <div class="clearBoth">
                        &nbsp;
                    </div>
                </div>

            </div>

            <script src="/Scripts/jquery.MultiFile.js"></script>
            <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
            <link href="@Href("~/Content/NewBootstrapClass.css")" rel="stylesheet" type="text/css" />
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
            <script type="text/javascript">
                var ddTerritoriesDD = $("#ddlTerritory");
                var ddRolesDD = $("#ddlRole");
                var ddSecretQuestionDD = $("#ddlSecretQuestions");
                var ddBillingAddress = $("#ddlBillingAddress");
                var ddlShippingAddress = $("#ddlShippingAddress");
                var UpdateStatus = true;
                var ContactID = 0;
                var res = 0;
                var Rflag = false;
                var OldEmail;
                $("#txtsearch").keypress(function (event) {
                    if (event.keyCode == 13) {
                        if ($("#txtsearch").val() == '') {
                            RebindGrid();
                            event.preventDefault();
                            return false;
                            
                        }
                    }

                });
                $("#txtsearch").autocomplete({autoFocus: true,
                    source: function (request, response) {
                        // your ajax code
                        $.ajax({
                            url: "/UserManager/GetContactsIntellicence",
                            data: "{ 'prefixText': '" + request.term + "' }",
                            dataType: "json",
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                response(data.split(":"))
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlerrorAutocomp", UserCookieManager.WBStoreId, "Error occured while autocomplete."))');
                            }
                        });
                    },
                    select: function (event, ui) {

                    },
                    minLength: 1,
                    change: function (event, ui) {

                        if ($("#txtsearch").val() == '') {
                           
                            RebindGrid();
                        }
                        else {
                            $("#btnsearch").trigger('click');
                        }

                    }, close: function () {
                    },

                });
                    $(document).ready(function () {
                        buidPopup();
                        $("#popupBody").append($("#pnlUser"));
                        // $("#btnChangePassword").css("display", "none");
                    });
                    function ShowPreview(input) {
                        $("#imgContactPicture").css('display', 'block');
                        if (input.files && input.files[0]) {
                            var ImageDir = new FileReader();
                            ImageDir.onload = function (e) {
                                $('#imgContactPicture').attr('src', e.target.result);
                            }
                            ImageDir.readAsDataURL(input.files[0]);
                        }
                    }
                   function GetCompanyFlags()
                    {
                      
                       $.getJSON("/UserManager/GetCompanyFlags",
                                   function (xdata) {
                                       $("#chkCanOrder")[0].checked = xdata.canUserPlaceOrderWithoutApproval;
                                      
                                       $("#chkCanByCredit")[0].checked = xdata.IsRegisterPayOnlyByCreditCard;
                                       
                                       $("#chkShowPricesForProduct")[0].checked = xdata.ShowPrices;
                                      
                                        $("#chkHasWebAccess")[0].checked = xdata.IsRegisterAccessWebStore;
                                        
                                   });
                       
                   }
                   function ResetTextboxes() {
                       
                        UpdateStatus = false;
                        GetCompanyFlags();
                        
                      //  $("#chkCanOrder")[0].checked = GetCompanyFlags().canUserPlaceOrderWithoutApproval;
                       // $("#chkCanByCredit")[0].checked = GetCompanyFlags().IsRegisterPayOnlyByCreditCard;
                        
                       // $("#chkShowPricesForProduct")[0].checked = false;

                    //    $("#chkHasWebAccess")[0].checked = GetCompanyFlags().IsRegisterAccessWebStore;
                        $("#txtConfirmPassword").val('');

                        //  var PHtml = $("#UpdateModelPopUp").html();
                        //  ShippingBillingDetails("Add New Address", PHtml);
                        $("#modelTitle").text("Add New  Contact");
                        $("#tboxfirstname").val('');
                        $("#tboxLastName").val('');
                        $("#tboxEmail").val('');
                        $("#txtJobTitle").val('');
                        $(".SolidBorderCS").css("display", "none");
                        $("#lblHeader").text('');
                        $("#txtDirectLine").val('');


                        $("#txtCellNumber").val('');


                        $("#txtFax").val('');

                        $("#txtCreditLimit").val('');

                        $("#ddlSecretQuestions").val('');

                        $("#txtSecretAnswer").val('');

                        $("#ddlTerritory").empty();

                        $("#ddlRole").empty();

                        $("#ddlBillingAddress").empty();

                        $("#ddlShippingAddress").empty();

                        $("#txtAddress").val('');

                        $("#txtShippingAddress").val('');

                        $("#txtNotes").val('');


                        $("#fuImageUpload").val('');


                        $("#tboxPassword").val('');
                        LoadDropdowns();
                        $("#tboxfirstname").css("border", "1px solid #c1c6cc");
                        $("#txtSecretAnswer").css("border", "1px solid #c1c6cc");
                        $("#tboxEmail").css("border", "1px solid #c1c6cc");
                        $("#tboxPassword").css("border", "1px solid #c1c6cc");
                        $("#txtConfirmPassword").css("border", "1px solid #c1c6cc");
                        $('#imgContactPicture').attr('src', '');
                        document.getElementById("layer").style.display = "block";
                        document.getElementById("innerLayer").style.display = "block";
                        $('.pass').css('display', 'block');
                        $("#btnChangePassword").css('display', 'none');
                        $("#imgContactPicture").css('display', 'none');
                    }
                    function ShowChangePassword() {
                        $('.pass').css('display', 'block');
                        $('#<%=btnChangePassword.ClientID %>').css('display', 'none');
                        return false;
                    }
                    function buidPopup() {
                        //popupBody
                        //modelTitle

                        var bws = getBrowserHeight();

                        var shadow = document.getElementById("innerLayer");

                        document.getElementById("layer").style.width = bws.width + "px";
                        document.getElementById("layer").style.height = bws.height + "px";
                        var left = 0;
                        var container = "";
                        if (bws.width < 700 && bws.width > 640) {
                            //left = parseInt((bws.width) / 2);
                            document.getElementById("innerLayer").style.width = (bws.width) + "px";
                            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body"  id="popupBody" style="height:500px;overflow-y:scroll;"></div></div>';

                        }
                        else if (bws.width == 640) {
                            //left = parseInt((bws.width) / 2);
                            document.getElementById("innerLayer").style.width = (bws.width) + "px";
                            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:500px;"></div></div>';

                        }
                        else if (bws.width < 640 && bws.width > 600) {
                            //left = parseInt((bws.width) / 2);
                            document.getElementById("innerLayer").style.width = (bws.width) + "px";
                            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:550px;"></div></div>';

                        }
                        else if (bws.width < 600 && bws.width > 500) {
                            //left = parseInt((bws.width) / 2);
                            document.getElementById("innerLayer").style.width = (bws.width) + "px";
                            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:350px;"></div></div>';

                        } else if (bws.width < 500) {
                            //left = parseInt((bws.width) / 2);
                            document.getElementById("innerLayer").style.width = (bws.width) + "px";
                            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:300px;"></div></div>';
                        }
                        else {

                            left = parseInt((bws.width - 730) / 2);
                            document.getElementById("innerLayer").style.width = "730px";
                            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="height:500px;overflow-y:scroll;" ></div></div>';
                        }



                        // document.getElementById("innerLayer").style.width = (bws.width) + "px";
                        document.getElementById("innerLayer").innerHTML = container;

                        document.getElementById("innerLayer").style.left = left + "px";
                        document.getElementById("innerLayer").style.top = "0px";

                        document.getElementById("innerLayer").style.position = "fixed";
                        document.getElementById("innerLayer").style.zIndex = "9999";


                        document.getElementById("layer").style.display = "none";
                        document.getElementById("innerLayer").style.display = "none";
                    }
                    function HideMessagePopUpCustom() {
                        document.getElementById("layer").style.display = "none";
                        document.getElementById("innerLayer").style.display = "none";
                    }
                    function ShowChangePassword() {
                        $('.pass').css('display', 'block');
                        $('#btnChangePassword').css('display', 'none');
                        return false;
                    }
                    function AddAndUpdate(ContactID) {


                        if (UpdateStatus == true) {
                            if (Validation(true) == true) {

                                updateSystemUSerProfile();
                            }
                        }
                        else {
                            if (Validation(false) == true) {

                                AddNewContact();
                            }
                            //  AddNewAddress();
                        }
                    }
                    function SaveCall() {
                        // if (Validation() == true) {

                        AddAndUpdate();

                        // }
                    }
                    function Validation(UpdateStatus) {
                        //

                        //$("#tboxfirstname").css("border", "1px solid #c1c6cc");
                        //$("#txtSecretAnswer").css("border", "1px solid #c1c6cc");
                        //$("#tboxEmail").css("border", "1px solid #c1c6cc");
                        //$("#tboxPassword").css("border", "1px solid #c1c6cc");
                        //$("#txtConfirmPassword").css("border", "1px solid #c1c6cc");

                        //$("#ErrorEmailMsg ").css("display", "block");
                        //$("#PasswordValidator").css("display", "block");
                        $("#lblHeader").css("display", "none");
                        var IsValid = true;
                        var errorMessage = '';

                        if ($("#tboxfirstname").val() == '') {
                            var AddressNAme = "First Name Is Required";
                            errorMessage = errorMessage + AddressNAme + "<br>";
                            $("#tboxfirstname").css("border", "2px solid red");
                            IsValid = false;
                        }
                        else {
                            //$("#divAddressName").css('display', 'none');

                            $("#tboxfirstname").css("border", "1px solid #c1c6cc");
                        }

                        if ($("#txtSecretAnswer").val() == '') {
                            var Address1 = "Secret Answer is Ruquired";
                            errorMessage = errorMessage + Address1 + "<br>";
                            $("#txtSecretAnswer").css("border", "2px solid red");
                            IsValid = false;
                        }
                        else {

                            //$("#divAddress1").css('display', 'none');
                            $("#txtSecretAnswer").css("border", "1px solid #c1c6cc");
                        }


                        if ($("#tboxEmail").val() == '') {
                            var City = "Email is Ruquired";
                            errorMessage = errorMessage + City + "<br>";
                            $("#tboxEmail").css("border", "2px solid red");
                            IsValid = false;

                        }
                        else {
                            //$("#divCity").css('display', 'none');
                            if (ValidateEmail($("#tboxEmail").val()) == false) {
                                IsValid = false;
                                $(".SolidBorderCS").css("display", "block");
                                //$("#popupBody").animate({
                                //    scrollTop: $("#ErrorEmailMsg").offset().top
                                //}, 1500);
                                $("#ErrorEmailMsg").css("display", "block");
                                $("#tboxEmail").css("border", "2px solid red");

                                //  $("#lblHeader").css("display", "none");
                                //return;
                            }
                            else {

                                $("#tboxEmail").css("border", "1px solid #c1c6cc");
                            }
                        }
                        //if (IsValid == false)
                        //{
                        //    ShowPopUp('Message', errorMessage);
                        //}
                        //if (UpdateStatus == false) {

                        if($('.pass').is(":visible"))
                        {
                            if ($("#txtConfirmPassword").val() == '') {
                                $("#txtConfirmPassword").css("border", "2px solid red");
                                IsValid = false;
                            }
                            else {

                                $("#txtConfirmPassword").css("border", "1px solid #c1c6cc");
                            }
                            if ($("#tboxPassword").val() == '') {
                                var City = "Password is Ruquired";
                                errorMessage = errorMessage + City + "<br>";
                                $("#tboxPassword").css("border", "2px solid red");
                                IsValid = false;
                                $('.pass').css('display', 'block');
                            }
                            else {
                                //$("#divCity").css('display', 'none');
                                if ($("#tboxPassword").val().length >= 6) {
                                    $("#tboxPassword").css("border", "1px solid #c1c6cc");
                                    $('.pass').css('display', 'block');
                                    $("#PasswordValidator").css("display", "none");
                                }
                                else {

                                    $("#tboxPassword").css("border", "2px solid red");
                                    $(".SolidBorderCS").css("display", "block");
                                    $("#ErrorEmailMsg").css("display", "none");
                                    $("#PasswordValidator").css("display", "block");
                                    IsValid = false;
                                }
                                if ($("#txtConfirmPassword").val() == '') {
                                    //if ($("#txtConfirmPassword").val() != $("#tboxPassword").val()) {
                                    //    $("#NewAndOldPass").css("display", "block");
                                    //    IsValid = false;
                                    //}
                                    //else {
                                    //    $("#NewAndOldPass").css("display", "none");
                                    //}
                                    $("#txtConfirmPassword").css("border", "2px solid red");
                                }
                                else {
                                    $("#txtConfirmPassword").css("border", "1px solid #c1c6cc");
                                }
                            }
                        }
                        //}
                        return IsValid;

                    }
                    function ValidateEmail(email) {
                        var isValid = true;
                        if (email == '') {

                            isValid = false;
                        }
                        else {
                            var re = new RegExp("^[A-Za-z0-9](([_\\.\\-]?[a-zA-Z0-9]+)*)@@([A-Za-z0-9]+)(([\\.\\-]?[a-zA-Z0-9]+)*)\\.([A-Za-z]{2,})$");
                            if (!re.test(email)) {

                                isValid = false;
                            }
                        }
                        return isValid;
                    }

                    $(document).on('change', '#ddlBillingAddress', function () {
                        var AddressID = $(this).val();
                        $.getJSON("/UserManager/getAddress?AddressID=" + AddressID + "",
                                     function (xdata) {
                                         $("#txtAddress").val("Address : " + xdata.Address.AddressName + '\n' + "City : " + xdata.Address.City + '\n' + "State : " + xdata.StateName);

                                     });
                    });
                    $(document).on('change', '#ddlShippingAddress', function () {
                        var AddressID = $(this).val();
                        $.getJSON("/UserManager/getAddress?AddressID=" + AddressID + "",
                                     function (xdata) {
                                         $("#txtShippingAddress").val("Address : " + xdata.Address.AddressName + "\n" + "City : " + xdata.Address.City + "\n" + "State : " + xdata.StateName);

                                     });
                    });
                    $(document).on('change', '#ddlTerritory', function () {
                        var TeID = $(this).val();
                        $.getJSON("/UserManager/GetAddressesByTerritorID?TerritoryID=" + TeID + "",
                                     function (xdata) {
                                         loadDDBillingAddresses(xdata, 0);
                                         loadDDShippingAddress(xdata, 0);
                                     });
                    });

                    function updateBillAndShipBoxes() {

                        var BillID = $("#ddlBillingAddress").val();
                        $.getJSON("/UserManager/getAddress?AddressID=" + BillID + "",
                                     function (xdata) {
                                         $("#txtAddress").val("Address : " + xdata.Address.AddressName + '\n' + "City : " + xdata.Address.City + '\n' + "State : " + xdata.StateName);

                                     });


                        var ShipID = $("#ddlShippingAddress").val();
                        $.getJSON("/UserManager/getAddress?AddressID=" + ShipID + "",
                                     function (xdata) {
                                         $("#txtShippingAddress").val("Address : " + xdata.Address.AddressName + "\n" + "City : " + xdata.Address.City + "\n" + "State : " + xdata.StateName);

                                     });


                        var TeID = $("#ddlTerritory").val();
                        $.getJSON("/UserManager/GetAddressesByTerritorID?TerritoryID=" + TeID + "",
                                     function (xdata) {
                                         loadDDBillingAddresses(xdata, 0);
                                         loadDDShippingAddress(xdata, 0);
                                     });

                    }
                    function LoadAllData(ContactID) {
                        debugger;
                        //ShowLoader();
                        UpdateStatus = true;
                        document.getElementById("layer").style.display = "block";
                        document.getElementById("innerLayer").style.display = "block";
                        $('.pass').css('display', 'none');
                        $('#ErrorEmailMsg ').css('display', 'none');
                        $('#PasswordValidator').css('display', 'none');
                        $('#lblHeader').css('display', 'none');
                        $("#btnChangePassword").css('display', 'block');

                        $("#tboxfirstname").css("border", "1px solid #c1c6cc");
                        $("#txtSecretAnswer").css("border", "1px solid #c1c6cc");
                        $("#tboxEmail").css("border", "1px solid #c1c6cc");
                        $("#tboxPassword").css("border", "1px solid #c1c6cc");
                        $("#modelTitle").text("Update Contact");
                        
                       // alert(ContactID);

                        $.getJSON("/webstoreapi/UM/UserProfileData?ContactID=" + ContactID + "",
                            
                                      function (xdata) {
                                          LoadDDTerritories(xdata.CompanyTerritory, xdata.setSelectedTerritory.TerritoryId);
                                          LoadDDQuestions(xdata.RegistrationQuestions, xdata.SelectedQuestion.QuestionId);
                                          loadDDBillingAddresses(xdata.Addresses, xdata.SelectedBillingAddress.AddressId);
                                          loadDDShippingAddress(xdata.Addresses, xdata.SelectedShippingAddress.AddressId);
                                          loadDDRoles(xdata.CompanyContactRoles, xdata.SelectedRole.ContactRoleId);
                                          LoadUserContact(xdata.LoginContact, xdata.SelectedBillingState, xdata.SelectedShipppingState, xdata.SelectedBillingAddress.AddressName, xdata.SelectedShippingAddress.AddressName, xdata.SelectedBillingAddress.City, xdata.SelectedShippingAddress.City);
                                      });
                    }
                    function LoadDropdowns() {
                        $.getJSON("/webstoreapi/UM/LoadDDData",
                                      function (xdata) {
                                          LoadDDTerritories(xdata.CompanyTerritory, 0);
                                          LoadDDQuestions(xdata.RegistrationQuestions, 0);
                                          loadDDBillingAddresses(xdata.Addresses, 0);
                                          loadDDShippingAddress(xdata.Addresses, 0);
                                          loadDDRoles(xdata.CompanyContactRoles, 0);
                                          updateBillAndShipBoxes();
                                      });
                    }
                    function LoadUserContact(LoginContactAddress, BillStateName, shipStateName, BillAddName, ShipAddName, BillCity, shipCity) {
                        ContactID = LoginContactAddress.ContactId;
                        $("#tboxfirstname").val(LoginContactAddress.FirstName);
                        $("#tboxLastName").val(LoginContactAddress.LastName);

                        $("#tboxEmail").val(LoginContactAddress.Email);
                        OldEmail = LoginContactAddress.Email;
                        $("#txtJobTitle").val(LoginContactAddress.JobTitle);
                        if (LoginContactAddress.HomeTel1 != null && LoginContactAddress.HomeTel1 != '') {
                            $("#txtDirectLine").val(LoginContactAddress.HomeTel1.split(" ").join(""));
                        }
                        if (LoginContactAddress.Mobile != null && LoginContactAddress.Mobile != '') {
                            $("#txtCellNumber").val(LoginContactAddress.Mobile.split(" ").join(""));
                        }
                        if (LoginContactAddress.FAX != null && LoginContactAddress.FAX != '') {
                            $("#txtFax").val(LoginContactAddress.FAX.split(" ").join(""));
                        }
                        //  var dest = $(this);
                        //  dest.val(dest.val().split(" ").join(""));

                        $("#txtCreditLimit").val(LoginContactAddress.CreditLimit);

                        //$("#ddlSecretQuestions").val();

                        $("#txtSecretAnswer").val(LoginContactAddress.SecretAnswer);

                        //$("#ddlTerritory").val();

                        //$("#ddlRole").val();

                        //var ddbillingAddress = $("#ddlBusinessAddress").val();

                        //var ddShippingAddess = $("#ddlShippingAddress").val();

                        $("#txtAddress").val("Address : " + BillAddName + '\n' + "City : " + BillCity + '\n' + "State : " + BillStateName);

                        $("#txtShippingAddress").val("Address : " + ShipAddName + "\n" + "City : " + shipCity + "\n" + "State : " + shipStateName);

                        $("#txtNotes").val(LoginContactAddress.Notes);

                        $("#chkCanOrder")[0].checked = LoginContactAddress.isPlaceOrder;
                        $("#chkCanByCredit")[0].checked = LoginContactAddress.IsPayByPersonalCreditCard;
                        $("#chkShowPricesForProduct")[0].checked = LoginContactAddress.IsPricingshown;

                        $("#chkHasWebAccess")[0].checked = LoginContactAddress.isWebAccess;
                        $("#imgContactPicture").attr('src', LoginContactAddress.image);

                        //$('.postentry img').attr('src', LoginContactAddress.image);
                        // $("#Select")[0].checked=LoginContactAddress;
                        // $("#News")[0].checked=LoginContactAddress;

                    }
                    function LoadDDTerritories(objTer, TerritoryID) {

                        ddTerritoriesDD.html('');
                        //ddTerritoriesDD.append($('<option></option>').val(0).html('Select Territory'));
                        $.each(objTer, function (id, option) {
                            ddTerritoriesDD.append($('<option></option>').val(option.TerritoryId).html(option.TerritoryName));
                        });
                        if (UpdateStatus == true) {
                            if (TerritoryID > 0) {

                                SetSelectedTerritory(objTer, TerritoryID);
                            }
                            else {
                                ddTerritoriesDD[0].selectedIndex = 0;
                            }
                        }
                    }
                    function SetSelectedTerritory(obj, TerritoryID) {
                        var index = 0;
                        $.each(obj, function (id, option) {
                            if (option.TerritoryId == TerritoryID) {

                                ddTerritoriesDD[0].selectedIndex = index;
                            }
                            index++;
                        });
                    }

                    function LoadDDQuestions(objQues, SelectedQuestionsID) {
                        ddSecretQuestionDD.html('');
                        //ddSecretQuestionDD.append($('<option></option>').val(0).html('Select Secret Question'));
                        $.each(objQues, function (id, option) {
                            ddSecretQuestionDD.append($('<option></option>').val(option.QuestionId).html(option.Question));
                        });
                        if (UpdateStatus == true) {
                            if (SelectedQuestionsID > 0) {
                                SetSelectedQuestion(objQues, SelectedQuestionsID);
                            }
                            else {
                                ddSecretQuestionDD[0].selectedIndex = 0;
                            }
                        }
                    }

                    function SetSelectedQuestion(obj, QuestionID) {
                        var index = 0;
                        $.each(obj, function (id, option) {
                            if (option.QuestionId == QuestionID) {

                                ddSecretQuestionDD[0].selectedIndex = index;
                            }
                            index++;
                        });
                    }
                    function loadDDBillingAddresses(objBill, BillingID) {
                        ddBillingAddress.html('');
                        //ddBillingAddress.append($('<option></option>').val(0).html('Select Billing Address'));
                        $.each(objBill, function (id, option) {

                            ddBillingAddress.append($('<option></option>').val(option.AddressId).html(option.AddressName));
                        });
                        if (UpdateStatus == true) {
                            if (BillingID > 0) {
                                SetSelectedBillingAddress(objBill, BillingID);
                            }
                            else {
                                ddBillingAddress[0].selectedIndex = 0;
                            }
                        }
                    }
                    function SetSelectedBillingAddress(obj, BillingID) {
                        var index = 0;
                        $.each(obj, function (id, option) {
                            if (option.AddressId == BillingID) {
                                ddBillingAddress[0].selectedIndex = index;
                            }
                            index++;
                        });
                    }

                    function loadDDShippingAddress(objShip, ShippingID) {
                        ddlShippingAddress.html('');
                        //ddlShippingAddress.append($('<option></option>').val(0).html('Select Shipping Address'));
                        $.each(objShip, function (id, option) {
                            ddlShippingAddress.append($('<option></option>').val(option.AddressId).html(option.AddressName));
                        });
                        if (UpdateStatus == true) {
                            if (ShippingID > 0) {
                                SetSelectedShippingAddress(objShip, ShippingID);
                            }
                            else {
                                ddlShippingAddress[0].selectedIndex = 0;
                            }
                        }
                    }
                    function SetSelectedShippingAddress(obj, ShippingID) {

                        var index = 0;
                        $.each(obj, function (id, option) {
                            if (option.AddressId == ShippingID) {

                                ddlShippingAddress[0].selectedIndex = index;
                            }
                            index++;
                        });
                    }

                    function loadDDRoles(objRoles, RoleID) {
                        ddRolesDD.html('');
                        //ddRolesDD.append($('<option></option>').val(0).html('Select  Role'));
                        $.each(objRoles, function (id, option) {

                            ddRolesDD.append($('<option></option>').val(option.ContactRoleId).html(option.ContactRoleName));
                        });
                        if (UpdateStatus == true) {
                            if (RoleID > 0) {

                                SetSelectedRole(objRoles, RoleID);
                            }
                            else {
                                ddRolesDD[0].selectedIndex = 0;
                            }
                        }
                    }
                    function SetSelectedRole(obj, RoleID) {
                        var index = 0;
                        $.each(obj, function (id, option) {
                            if (option.ContactRoleId == RoleID) {

                                ddRolesDD[0].selectedIndex = index;
                            }
                            index++;
                        });
                    }
                    function updateSystemUSerProfile() {

                        document.getElementById("layer").style.display = "block";
                        document.getElementById("innerLayer").style.display = "block";
                        document.getElementById("innerLayer").style.display = "block";
                        var FirstName = $("#tboxfirstname").val();
                        var txtLastName = $("#tboxLastName").val();
                        var Email = $("#tboxEmail").val();
                        var JobTitle = $("#txtJobTitle").val();

                        var HomeTel1 = $("#txtDirectLine").val();


                        var Mobile = $("#txtCellNumber").val();


                        var FAX = $("#txtFax").val();

                        var CreditLimit = $("#txtCreditLimit").val();

                        var ddSecretQuestion = $("#ddlSecretQuestions").val();

                        var SecretAnswer = $("#txtSecretAnswer").val();

                        var ddTerritory = $("#ddlTerritory").val();

                        var ddRoles = $("#ddlRole").val();

                        var ddbillingAddress = $("#ddlBillingAddress").val();

                        var ddShippingAddess = $("#ddlShippingAddress").val();

                        var BillAddressDetail = $("#txtAddress").val();

                        var ShipAddressDetail = $("#txtShippingAddress").val();

                        var Notes = $("#txtNotes").val();


                        var canOrder = $("#chkCanOrder")[0].checked;
                        var CanByCredit = $("#chkCanByCredit")[0].checked;
                        var ShowPricesForProduct = $("#chkShowPricesForProduct")[0].checked;

                        var HasWebAccess = $("#chkHasWebAccess")[0].checked;


                        var Image = $("#fuImageUpload").val();


                        var ConfirmPassword = $("#tboxPassword").val();
                        var CheckEmail=false;
                        var data = new FormData();

                        if ($("#fuImageUpload").val() != null) {
                            var files = $("#fuImageUpload").get(0).files;

                            if (files.length > 0) {
                                data.append("UploadedImage", files[0]);
                            }
                        }
                        $('.pass').css('display', 'none');
                        var IsSymoblicPhoneNumber = FAX.indexOf('+') != -1;
                        var IsSymobolicDirectLine = HomeTel1.indexOf('+') != -1;
                        var IsSymbolicMobile = Mobile.indexOf('+') != -1;
                        if (OldEmail != Email)
                        {
                            CheckEmail = true;
                        }
                        //  var Model = { FirstName: FirstName, LastName: txtLastName, CreditLimit: CreditLimit, ContactRoleId: ddRoles, Email: Email, Fax: FAX, FirstName: FirstName, HomeTel1: HomeTel1, isWebAccess: HasWebAccess, isPlaceOrder: canOrder, IsPayByPersonalCreditCard: CanByCredit, IsPricingshown: ShowPricesForProduct, JobTitle: JobTitle, Mobile: Mobile, Notes: Notes, QuestionId: ddSecretQuestion, SecretAnswer: SecretAnswer, TerritoryId: ddTerritory, AddressId: ddbillingAddress, ShippingAddressId: ddShippingAddess, Password: ConfirmPassword, ContactId: ContactID };
                        $.ajax({
                            type: "POST",
                            url: "/webstoreapi/ContactImageUploader/UpdateDataForSystemUser?CreditLimit=" + CreditLimit + "&ContactRoleId=" + ddRoles + "&Email=" + Email + "&Fax=" + FAX + "&FirstName=" + FirstName + "&HomeTel1=" + HomeTel1 + "&isWebAccess=" + HasWebAccess + "&isPlaceOrder=" + canOrder + "&IsPayByPersonalCreditCard=" + CanByCredit + "&IsPricingshown=" + ShowPricesForProduct + "&JobTitle=" + JobTitle + "&LastName=" + txtLastName + "&Mobile=" + Mobile + "&Notes=" + Notes + "&QuestionId=" + ddSecretQuestion + "&SecretAnswer=" + SecretAnswer + "&TerritoryId=" + ddTerritory + "&AddressId=" + ddbillingAddress + "&ShippingAddressId=" + ddShippingAddess + "&Password=" + ConfirmPassword + "&ContactId=" + ContactID + "&IsSymoblicPhoneNumber=" + IsSymoblicPhoneNumber + "&IsSymobolicDirectLine=" + IsSymobolicDirectLine + "&IsSymbolicMobile=" + IsSymbolicMobile + "&CheckEmail=" + CheckEmail + "",

                            contentType: false,
                            data: data,
                            async: true,
                            processData: false,
                            success: function (response) {
                                if (response == 'Ok') {

                                    HideLoader();
                                    RebindGrid();

                                }
                                else {

                                    // HideLoader();
                                    $(".SolidBorderCS").css("display", "block");
                                    $("#lblHeader").css("display", "block");
                                    $("#lblHeader").text('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlAlreadyreg", UserCookieManager.WBStoreId, "Sorry,this email is already registered!"))');
                                    //$("#popupBody").animate({
                                    //    scrollTop: $("#lblHeader").offset().top
                                    //}, 1500);
                                    $("#ErrorEmailMsg").css("display", "none");
                                     }

                                @*ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlContactUpdatedSucessffuly", UserCookieManager.WBStoreId, "Contact Updated Sucessfully!"))');*@
                            },
                            error: function (error) {

                            }
                        });
                    }

                    function AddNewContact() {

                        $('.pass').css('display', 'block');
                        if (UpdateStatus == true) {
                            //  var PHtml = $("#UpdateModelPopUp").html();
                            //  ShippingBillingDetails("", PHtml);
                            $("#modelTitle").text("");

                        }
                        else {
                            $("#modelTitle").text("Add New Contact");
                        }

                        document.getElementById("layer").style.display = "block";
                        document.getElementById("innerLayer").style.display = "block";
                        document.getElementById("innerLayer").style.display = "block";
                        var FirstName = $("#tboxfirstname").val();
                        var txtLastName = $("#tboxLastName").val();
                        var Email = $("#tboxEmail").val();
                        var JobTitle = $("#txtJobTitle").val();

                        var HomeTel1 = $("#txtDirectLine").val();

                        var Mobile = $("#txtCellNumber").val();

                        var FAX = $("#txtFax").val();

                        var CreditLimit = $("#txtCreditLimit").val();

                        var ddSecretQuestion = $("#ddlSecretQuestions").val();

                        var SecretAnswer = $("#txtSecretAnswer").val();

                        var ddTerritory = $("#ddlTerritory").val();

                        var ddRoles = $("#ddlRole").val();

                        var ddbillingAddress = $("#ddlBillingAddress").val();

                        var ddShippingAddess = $("#ddlShippingAddress").val();

                        var BillAddressDetail = $("#txtAddress").val();

                        var ShipAddressDetail = $("#txtShippingAddress").val();

                        var Notes = $("#txtNotes").val();


                        var canOrder = $("#chkCanOrder")[0].checked;
                        var CanByCredit = $("#chkCanByCredit")[0].checked;
                        var ShowPricesForProduct = $("#chkShowPricesForProduct")[0].checked;

                        var HasWebAccess = $("#chkHasWebAccess")[0].checked;

                        var Image = $("#fuImageUpload").val();

                        var ConfirmPassword = $("#tboxPassword").val();

                        var data = new FormData();

                        if ($("#fuImageUpload").val() != null) {
                            var files = $("#fuImageUpload").get(0).files;

                            if (files.length > 0) {
                                data.append("UploadedImage", files[0]);
                            }
                        }



                        var IsSymoblicPhoneNumber = FAX.indexOf('+') != -1;
                        var IsSymobolicDirectLine = HomeTel1.indexOf('+') != -1;
                        var IsSymbolicMobile = Mobile.indexOf('+') != -1;

                        $.ajax({
                            type: "POST",
                            url: "/webstoreapi/ContactImageUploader/AddDataForSystemUser?CreditLimit=" + CreditLimit + "&ContactRoleId=" + ddRoles + "&Email=" + Email + "&Fax=" + FAX.toString() + "&FirstName=" + FirstName + "&HomeTel1=" + HomeTel1 + "&isWebAccess=" + HasWebAccess + "&isPlaceOrder=" + canOrder + "&IsPayByPersonalCreditCard=" + CanByCredit + "&IsPricingshown=" + ShowPricesForProduct + "&JobTitle=" + JobTitle + "&LastName=" + txtLastName + "&Mobile=" + Mobile + "&Notes=" + Notes + "&QuestionId=" + ddSecretQuestion + "&SecretAnswer=" + SecretAnswer + "&TerritoryId=" + ddTerritory + "&AddressId=" + ddbillingAddress + "&ShippingAddressId=" + ddShippingAddess + "&Password=" + ConfirmPassword + "&ContactId=" + ContactID + "&IsSymoblicPhoneNumber=" + IsSymoblicPhoneNumber + "&IsSymobolicDirectLine=" + IsSymobolicDirectLine + "&IsSymbolicMobile=" + IsSymbolicMobile + "",

                            contentType: false,
                            data: data,
                            async: true,
                            processData: false,
                            success: function (response) {

                                if (response == 'Ok') {

                                    HideLoader();
                                    RebindGrid();

                                }
                                else {
                                    // HideLoader();
                                    $(".SolidBorderCS").css("display", "block");
                                    $("#lblHeader").css("display", "block");
                                    $("#lblHeader").text('Sorry,this email is already registered!');
                                    //$("#popupBody").animate({
                                    //    scrollTop: $("#lblHeader").offset().top
                                    //}, 1500);
                                    $("#ErrorEmailMsg").css("display", "none");
                                    @*ShowPopUp('@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlMessage", UserCookieManager.WBStoreId, "Message"))', '@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlExistsContact", UserCookieManager.WBStoreId, "Sorry, There is already Exits a contact with this Email!"))');*@
                                }
                            },
                            error: function (error) {

                            }
                        });
                    }

                    function DeleteReord(ContactId)
                    { }
                    function RebindGrid() {

                        window.location.href = "/UserManager";
                    }
</script>
