 
@using MPC.Models.Common;
@using MPC.Webstore.WebGridExtension;  
@using MPC.Webstore.Common;
@model MPC.Models.DomainModels.CompanyContact

@*@model IEnumerable<MPC.Models.DomainModels.CompanyContact>*@
@{
    long ContactRoleId =ViewBag.LoginContactRoleID;
    var grid = new WebGrid(source:ViewBag.aab, canSort: false, rowsPerPage: 15);
    grid.Pager(WebGridPagerModes.NextPrevious);
    string Result = ViewBag.res;
    //var Contacts = ViewBag.Contacts as MPC.Models.DomainModels.CompanyContact;
}
<div class="content_area container" style="margin-bottom: 40px">
    <div class="left_right_padding row">
        <div class="signin_heading_div float_left_simple dashboard_heading_signin">
            <label id="HistryBtn" class="sign_in_heading">User Manager</label>
        </div>
        <div class="dashBoardRetrunLink">
            <h1>
                <a href="/Dashboard" class="left_align" title="Back to my dashboard" onclick="ShowLoader();">
                    @Html.Raw(Html.GetKeyValueFromResourceFile("BackToDashboardlbl", UserCookieManager.WBStoreId, "Back to my dashboard"))
                </a>
            </h1>
        </div>
        <div class="clearBoth">

        </div>
        <div class="cursor_pointer" onclick="AddNewPostBackForUser();">
            <div class="float_left">
                @*<asp:ImageButton ID="imgAddNew" CssClass="add_new" ToolTip="Add New User" runat="server"
                                 ImageUrl="~/images/AddNew.png" OnClick="imgAddNew_Click" />*@

                <input type="button" id="btnCopyProduct" class="add-address-btn" onclick="ResetTextboxes()" value="@Html.Raw(Html.GetKeyValueFromResourceFile("AddAddress", UserCookieManager.WBStoreId, "Add new address"))">
            </div>
            <div class="new_caption">
                @*<asp:Literal ID="ltrlnew" runat="server" Text="New"></asp:Literal>*@
            </div>
            <div class="clearBoth">
            </div>
        </div>
        <div class="divSearchBar_corp normalTextStyle usermanager_padding_header rounded_corners "
             style="padding: 15px 15px 15px 15px;">
            <table style="width: auto; border-collapse: separate; border-spacing: 2px;">
                <tr>
                    <td>
                        <label ID="ltrlSearchrecords">Search Records</label>
                    </td>
                    <td style="padding-left: 10px;">
                        <input type="text" style="width:200px;" id="txtsearch"Class="text_box150 rounded_corners5"/>
                    </td>
                    <td style="padding-left: 10px;">
                        <button type="submit" id="btnsearch" value="Go" class="start_creating_btn rounded_corners5"
                                    OnClick="btnsearch_Click" ></button>
                    </td>
                    <td style="padding-left: 10px;">
                        <button type="button" id="btnReset" value="Reset" class="start_creating_btn rounded_corners5"
                                onclick="btnReset_Click"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="PadingTop white_background  rounded_corners">
            <div class="PadingTop textAlignLeft">
                <label id="lblmatchingrecord" class="matchingTxtclass">@ViewBag.TotalRecords</label>
            </div>
            <div ID="MainUSerProfileContainer">
                
                @grid.Table(displayHeader: Convert.ToBoolean(TempData["HeaderStatus"]),
    htmlAttributes: new { id = "OrderGrid" },
    tableStyle: "WebGridTableStyle",
    fillEmptyRows: false,
    headerStyle: "WebGridheader",
    rowStyle: "gridViewRowStyleForWebGrid",
    alternatingRowStyle: "gridViewRowStyleForWebGrid",
    columns: new[] {

    grid.Column("Name",format:@<p>@item.FirstName</p>),
    grid.Column("Email",format:@<p>@item.Email</p>,style:"hidden-xs"),
    grid.Column("Territory",format:@<p>
                @if(item.CompanyTerritory!=null)
                {
                    <p>@item.CompanyTerritory</p>
                
                }
                else{
                    <p>N/A</p>
                }</p>,style:"hidden-xs"),

    grid.Column("Order Limit",format:@<p>NA</p>,style:"hidden-xs"),
               
    grid.Column("Can Order",format:@<p>@if(Model.isPlaceOrder.HasValue||Model.isPlaceOrder.Value)
                                       {
                                           <p>yes</p>
                                       }
                                       else
                                       {
                                          <p>No</p>
                                       }
                </p>,style:"hidden-xs "),
                
    grid.Column("can pay by credit card",format:@<p>@if(Model.IsPayByPersonalCreditCard.HasValue||Model.IsPayByPersonalCreditCard.Value){<p>yes</p>}else{<p>No</p>}</p>,style:"hidden-xs "),
                
    grid.Column("Role",format:@<p>@if(Model.ContactRoleId==1){<p>Admin</p>}else if(Model.ContactRoleId==2){<p>Manager</p>}else{<p>User</p>}</p>,style:"hidden-xs"),

                            
      grid.Column(header:Result, format:@<text>@if (ContactRoleId == 1)
      {
          if (item.ContactRoleID == 2)
          {
            <input type="button" value="Edit" style="height: 30px; width: 30px; background-image: url('Content/Images/download-icon.png');  border: none;
          background-color: transparent;" class="rounded_corners" onclick="updateSystemUSerProfile(@Model.ContactId)" />
          }

      }
        
      </text>),
     grid.Column( format:@<text>@if(Model.ContactRoleId != 1 ||Model.IsDefaultContact!=1){<input type="button" id="view" value="Delete" style="height: 23px; width: 23px;border:none; background: url('Content/Images/view-order.png');" class="rounded_corners" onclick="DeleteReord(@Model.ContactId)"/>
     }</text>)
       }
      )
                @if (Convert.ToInt32(ViewBag.totalcount) > 15)
                {
                    <div id="footerr" class="pagination pagination-small pagination-right">
                        @WebGridExt.PagerList(grid, mode: WebGridPagerModes.All)
                    </div>
                }
                    <div class="clearBoth">
                        &nbsp;
                    </div>

            <div class="clearBoth">
                &nbsp;
            </div>
            
            </div>
    </div>
    
    
    <div id="pnlUser" style="width:950px;" Class="FileUploaderPopup_corp LCLB rounded_corners"
               Style="display: none">
        <div class="white_background">
            
                    <div class="SolidBorderCS left_align pad20 mrginBtm">
                        <Label id="lblHeader"Class="FileUploadHeaderText"></Label>
                    </div>
                    <div class="pop_body_corp">

                        <div class="left_user_popup_area">
                            <div class="address_label_area1">
                                <label ID="ltrlfname" >First Name:</label>
                            </div>
                            <div class="address_contol_area1">
                                <input type="text" ID="txtFirstName" Class="text_box200 rounded_corners5"
                                             MaxLength="50" TabIndex="1"/>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrljobtitle">Job Title:</label>
                            </div>
                            <div class="user_contol_area2">
                                <input type="text" ID="txtJobTitle"Class="text_box200 rounded_corners5"
                                             MaxLength="50" TabIndex="14"/>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrllname">Last Name:</label>
                            </div>
                            <div class="address_contol_area1">
                                <input ID="txtLastName" Class="text_box200 rounded_corners5"
                                             MaxLength="50" TabIndex="2"/>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrldirectline">Direct Line</label>

                            </div>
                            <div class="user_contol_area2">
                                <input ID="txtDirectLine" Class="text_box200 rounded_corners5"
                                             MaxLength="30" TabIndex="4"/>

                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlcellnumber" >Cell Number:</label>
                            </div>
                            <div class="address_contol_area1">
                                <input type="text" ID="txtCellNumber" Class="text_box200 rounded_corners5"
                                             MaxLength="30" TabIndex="3"/>
                            </div>
                            <div class="user_label_area2 ">
                                <label ID="ltrlfax" >Fax:</label>

                            </div>
                            <div class="user_contol_area2">
                                <input id="txtFax" Class="text_box200 rounded_corners5" MaxLength="30"
                                             TabIndex="5"/>

                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlemaill">Email:</label>

                            </div>
                            <div class="address_contol_area1">
                                <input ID="txtEmail" Class="text_box200 rounded_corners5"
                                             MaxLength="30" TabIndex="6"/>

                            </div>

                            <div class="user_label_area2">
                                <label ID="ltrlcreditlimit" >Credit Limit</label>

                            </div>
                            <div class="user_contol_area2">
                                <input type="text" id="txtCreditLimit"  Class="text_box200 rounded_corners5 float_input"
                                             MaxLength="8" TabIndex="19"/>

                            </div>

                            <div class="address_label_area1">
                                <label ID="ltrlsecrquestion" >Secret Question:</label>

                            </div>
                            <div class="address_contol_area1">
                                <select style="width:210px;" ID="ddlSecretQuestions"  Class="rounded_corners5 dropdown"
                                                  TabIndex="7">
                                </select>

                            </div>

                            <div class="user_label_area2">
                                <label ID="ltrlSecretAnswer" >Secret Answer:</label>

                            </div>
                            <div class="user_contol_area2">
                                <input ID="txtSecretAnswer" Class="text_box200 rounded_corners5"
                                             MaxLength="200" TabIndex="8"/>

                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>




                            <div class="address_label_area1 height30px">
                                <label ID="ltrlteritory" >Territory:</label>
                            </div>
                            <div class="address_contol_area1 height30px">
                                <select ID="ddlTerritory"  style="width:210px;" Class="rounded_corners5 dropdown">
                                                  
                                </select>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrlrole" >Role:</label>
                            </div>
                            <div class="user_contol_area2">
                                <select ID="ddlRole" Class="rounded_corners5 dropdown"
                                                 style="width:210px;" TabIndex="10">
                                </select>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlbusinaddress" >Billing Address</label>
                            </div>
                            <div class="address_contol_area1 height30px">
                                <select ID="ddlBusinessAddress" Class="rounded_corners5 dropdown" style="width:210px;">
                                                  
                                </select>
                            </div>

                            <div class="user_label_area2">
                                <label ID="Literal1">Shipping Address</label>
                            </div>
                            <div class="user_contol_area2">
                                <select ID="ddlShippingAddress" style="width:210px;"  Class="rounded_corners5 dropdown">
                                                   
                                </select>
                            </div>

                            <div class="address_label_area1">
                                <label ID="ltrlBilladdress" >Address Detail</label>


                            </div>
                            <div class="address_contol_area1">
                                <textarea id="txtAddress" name="Text1" cols="40" rows="5" class="text_box200 rounded_corners5" maxlength="250" style="height:60px;"></textarea>
                            </div>
                            <div class="user_label_area2">
                                <label ID="ltrlShipAddrs" >Address Detail</label>
                            </div>
                            <div class="user_contol_area2">
                                <textarea id="txtShippingAddress" cols="40" rows="5" class="text_box200 rounded_corners5"
                                          style="height:60px;"></textarea>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                <label ID="ltrlnotes">Notes:</label>
                            </div>
                            <div class="left_multiline_text_box" style="padding-left: 0px;">
                                <textarea id="txtNotes" cols="40" rows="5" class="rounded_corners5 text_box"
                                          style="height:40px;width:550px;"></textarea>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                &nbsp;
                            </div>
                            <div class="left_multiline_text_box">
                                <input type="checkbox" id="chkCanOrder" value="&nbsp;&nbsp;&nbsp;Can Place Order" tabindex="12" />
                            </div>
                            <div class="right_multiline_text_box">
                                <input id="chkCanByCredit" type="checkbox" tabindex="13" value="&nbsp;&nbsp;&nbsp;Can Pay By Credit Card" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="address_label_area1">
                                &nbsp;
                            </div>
                            <div class="left_multiline_text_box">
                                <input type="checkbox" id="chkShowPricesForProduct" value="&nbsp;&nbsp;&nbsp;Show Prices on Products" tabindex="14" />
                            </div>
                            <div class="right_multiline_text_box">
                                <input id="chkHasWebAccess" type="checkbox" value="&nbsp;&nbsp;Has Web Access" tabindex="12" />
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div class="button_contol_area1_corp">
                                <div class="float_left" style="padding-left: 0px;">
                                    <button id="btnSaveUser" class="start_creating_btn rounded_corners5" onclick="btnSaveUser_Click" tabindex="23">Save</button> 
                                </div>
                                <div class="float_left">
                                    <button id="btnCancelUser" class="start_creating_btn rounded_corners5" tabindex="24"></button>
                                </div>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                        </div>
                        <div class="right_user_popup_area">
                            <div class="user_contact_popup_image_container">
                                <img ID="imgContactPicture" Class="user_image_container" />
                                <br />
                                <br />
                                <input type="file" style="width:200px;" id="fuImageUpload" name="fuImageUpload" class="file_upload_box rounded_corners5" tabindex="23" onchange="ShowPreview(this)" />
                                <br />
                                <br />
                            </div>
                            <button id="btnChangePassword" Class="start_creating_btn rounded_corners5"
                                         value="Change Password" 
                                        TabIndex="25" Style="width: 145px; float: right; margin-right: 25px;"></button>
                            <div id="divPass"  class="pass" style="text-align: left; margin-left: 5px;">
                                <label ID="ltrlPassword" >Password:</label>
                            </div>
                            <div id="divPassContr"  class="user_contol_area2 pass">
                                <input type="text" ID="txtPassword" Class="text_box200 rounded_corners5"
                                             MaxLength="200"  TabIndex="20"/>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>
                            <div id="divConfirmPass"  class="pass" style="text-align: left; margin-left: 5px;">
                                <label ID="ltrlconfirmpass">Confirm Password:</label>
                            </div>
                            <div id="divConfirmPassContr"  class="user_contol_area2 pass">
                                <input type="text" ID="txtConfirmPassword"  Class="text_box200 rounded_corners5"
                                             MaxLength="200" TabIndex="21"/>
                            </div>
                            <div class="clearBoth">
                                &nbsp;
                            </div>

                        </div>
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
</div>


        </div>
<script type="text/javascript">
    
    $(document).ready(function () {

         buidPopup();
        $("#popupBody").append($("#pnlUser"));
    });
    function buidPopup() {
        //popupBody
        //modelTitle
        var bws = getBrowserHeight();

        var shadow = document.getElementById("innerLayer");

        document.getElementById("layer").style.width = bws.width + "px";
        document.getElementById("layer").style.height = bws.height + "px";
        var left = 0;
        var container = "";
        if (bws.width < 700 && bws.width > 640) {
            //left = parseInt((bws.width) / 2);
            document.getElementById("innerLayer").style.width = (bws.width) + "px";
            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body"  id="popupBody" style="height:500px;overflow-y:scroll;"></div></div>';

        }
        else if (bws.width == 640) {
            //left = parseInt((bws.width) / 2);
            document.getElementById("innerLayer").style.width = (bws.width) + "px";
            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:500px;"></div></div>';

        }
        else if (bws.width < 640 && bws.width > 600) {
            //left = parseInt((bws.width) / 2);
            document.getElementById("innerLayer").style.width = (bws.width) + "px";
            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:550px;"></div></div>';

        }
        else if (bws.width < 600 && bws.width > 500) {
            //left = parseInt((bws.width) / 2);
            document.getElementById("innerLayer").style.width = (bws.width) + "px";
            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:350px;"></div></div>';

        } else if (bws.width < 500) {
            //left = parseInt((bws.width) / 2);
            document.getElementById("innerLayer").style.width = (bws.width) + "px";
            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="overflow-y:scroll;height:300px;"></div></div>';
        }
        else {

            left = parseInt((bws.width - 730) / 2);
            document.getElementById("innerLayer").style.width = "730px";
            container = '<div class="md-modal md-effect-7" id="modal-7"><div class="md-content"><div class="modal-header" ><button class="md-close close" onclick=HideMessagePopUpCustom(); >&times;</button><h4 class="modal-title"  id ="modelTitle"></h4></div><div class="modal-body" id="popupBody" style="height:500px;overflow-y:scroll;" ></div></div>';
        }



        // document.getElementById("innerLayer").style.width = (bws.width) + "px";
        document.getElementById("innerLayer").innerHTML = container;

        document.getElementById("innerLayer").style.left = left + "px";
        document.getElementById("innerLayer").style.top = "0px";

        document.getElementById("innerLayer").style.position = "fixed";
        document.getElementById("innerLayer").style.zIndex = "9999";


        document.getElementById("layer").style.display = "none";
        document.getElementById("innerLayer").style.display = "none";
    }
    function HideMessagePopUpCustom() {
        document.getElementById("layer").style.display = "none";
        document.getElementById("innerLayer").style.display = "none";
    }
    function ShowChangePassword() {
        $('.pass').css('display', 'block');
        $('#btnChangePassword').css('display', 'none');
        return false;
    }
    function LoadAllData()
    {
        $.getJSON("/UserManager/UserProfileData",
                      function (xdata) {
                          document.getElementById("layer").style.display = "block";
                          document.getElementById("innerLayer").style.display = "block";
        });
    }

    function LoadDDTerritories(objTer,SelectedTerritory)
    {

    }
    function LoadDDQuestions(objQues,SelectedQuestions)
    {
    }
    function loadDDBillingAddresses(objBill,SelectedBillingAddress)
    {

    }
    function loadDDShippingAddress(objShip,SelectedShippingAddress)
    {

    }
    function updateSystemUSerProfile(ContactID)
    {
        var FirstName = $("#txtFirstName").val();
        var txtLastName=$("#txtLastName").val();
        var Email = $("#txtUserEmaile").val();
        var JobTitle = $("#txtJobTitle").val();

        var HomeTel1 = $("#txtDirectLine").val();


        var Mobile = $("#txtCellNumber").val();


        var FAX = $("#txtFax").val();

        var CreditLimit= $("#txtCreditLimit").val();

        var ddSecretQuestion=$("#ddlSecretQuestions").val();

        var SecretAnswer = $("#txtSecretAnswer").val();

        var ddTerritory = $("#ddlTerritory").val();

        var ddRoles=$("#ddlRole").val();

        var ddbillingAddress = $("#ddlBusinessAddress").val();

        var ddShippingAddess = $("#ddlShippingAddress").val();

        var BillAddressDetail = $("#txtAddress").val();

        var ShipAddressDetail = $("#txtShippingAddress").val();

        var Notes = $("#txtNotes").val();

        
        var canOrder = $("#chkCanOrder")[0].checked;
        var CanByCredit = $("#chkCanByCredit")[0].checked;
        var ShowPricesForProduct = $("#chkShowPricesForProduct")[0].checked;

        var HasWebAccess = $("#chkHasWebAccess")[0].checked;

        
        var Image = $("#fuImageUpload").val();

        var IsEmailSubscription = $("#Select")[0].checked;
        var IsNewsLetterSubscription = $("#News")[0].checked;
        var ConfirmPassword = $("#txtConfirmPassword").val();
        var ContactID = ContactID;
        var data = new FormData();
                
        if($("#fuImageUpload").val()!=null)
        {
            var files = $("#fuImageUpload").get(0).files;

            if (files.length > 0) {
                data.append("UploadedImage", files[0]);
            }
        }
     
        var Model = { FirstName: FirstName, LastName: txtLastName, CreditLimit: CreditLimit, ContactRoleId: ddRoles, Email: Email, Fax: FAX, FirstName: FirstName, HomeTel1: HomeTel1, isWebAccess: HasWebAccess, isPlaceOrder: canOrder, IsPayByPersonalCreditCard: CanByCredit, IsPricingshown: ShowPricesForProduct, JobTitle: JobTitle, Mobile: Mobile, Notes: Notes, QuestionId: ddSecretQuestion, SecretAnswer: SecretAnswer, TerritoryId: ddTerritory, AddressId: ddbillingAddress, ShippingAddressId: ddShippingAddess, Password: ConfirmPassword, ContactId: ContactId };

        $.ajax({
            type: "POST",
            url: "/webstoreapi/ContactImageUploader/AddDataForSystemUser?FirstName=" + FirstName + "&LastName=" + LastName + "&Email=" + Email + "&JobTitle=" + JobTitle + "&HomeTel1=" + HomeTel1 + "&Mobile=" + Mobile + "&FAX=" + FAX + "&CompanyName= " + CompanyName + "" + "&quickWebsite=" + quickWebsite + "&POBoxAddress=" + POBoxAddress + "&CorporateUnit=" + CorporateUnit + "&OfficeTradingName=" + OfficeTradingName + "&ContractorName=" + ContractorName + "&BPayCRN=" + BPayCRN + "&ABN=" + ABN + "&ACN=" + ACN + "&AdditionalField1=" + AdditionalField1 + "&AdditionalField2=" + AdditionalField2 + "&AdditionalField3=" + AdditionalField3 + "&AdditionalField4=" + AdditionalField4 + "&AdditionalField5=" + AdditionalField5 + "&IsEmailSubscription=" + IsEmailSubscription + "&IsNewsLetterSubscription=" + IsNewsLetterSubscription + "",
            contentType: false,
            data: data,
            async: true,
            processData: false,
            success: function (response) {

                $("#messgetodisply").css('display', 'block');
                $("#messgetodisply").html('Profile Updated Sucessfuly!');

                
                HideLoader();
                
                $('html, body').animate({
                    scrollTop: $("#messgetodisply").offset().top
                }, 500);
            },
            error: function (error) {
                
            }
        });
    }
    function DeleteReord(ContactId)
    {}
</script>
