
<div class="blueWrapper">
    <div class="container">
        <h3>Why shop with us?</h3>

        <div class="usp">
            <img src="http://futurform.myprintcloud.com/mis/MPC_Content\Media\1579\35878\24770_Speech-Icon.png" />
            <h3>We are <strong>here to help</strong></h3>

            <p>Pop in and have a chat with our design team today!</p>
        </div>

        <div class="usp">
            <img src="http://futurform.myprintcloud.com/mis/MPC_Content\Media\1579\35878\24772_10-Icon.png" />
            <h3><strong>@ViewBag.OrderPercentage off</strong> your first order</h3>

            <p>Spend over @ViewBag.OrderPercentageTotal and receive @ViewBag.OrderPercentage off!</p>
        </div>

        <div class="usp">
            <img src="http://futurform.myprintcloud.com/mis/MPC_Content\Media\1579\35878\24771_Deliver-Icon.png" />
            <h3><strong>Free delivery</strong> over @ViewBag.OrderTotal</h3>

            <p>Spend @ViewBag.OrderTotal for free @ViewBag.Country delivery.</p>
        </div>

        <div class="clear">&nbsp;</div>
    </div>
</div>
