@model MPC.Webstore.ViewModels.PaypalViewModel

@{
   
    ViewBag.Title = "WorldPay";
}

<form action="https://secure-test.worldpay.com/wcc/purchase" name="BuyForm" method="POST">
    <input type="hidden" name="testMode" value="100">
    <!-- These first four elements are mandatory. -->
    <input type="hidden" name="instId" value="1234">
    <input type="hidden" name="cartId" value="abc123">
    <input type="hidden" name="currency" value="GBP">
    <input type="hidden" name="amount" value="0">
    <!-- These elements below are optional. -->
    <input type="hidden" name="desc" value="Blue T-Shirt, Medium">
    <input type="hidden" name="name" value="CAPTURED">
    <!-- End of order details submission form elements. -->
    <!-- JavaScript is used to give functionality to some of the pages elements. -->
    <!-- This function defines the price of each product. To add the product edit further down
    the page. -->
    <script language=JavaScript>
        function calc(productNo) {
            if (productNo == 1) {
                document.BuyForm.amount.value = 5.00;
                document.BuyForm.desc.value = "Product 1";
            }
            else if (productNo == 2) {
                document.BuyForm.amount.value = 10.00;
                document.BuyForm.desc.value = "Product 2";
            }
                // To add a new product price, copy from here
            else if (productNo == 3) {
                document.BuyForm.amount.value = 15.00;
                document.BuyForm.desc.value = "Product 3";
            }
            //...to here, and paste directly below.
            // You will need to alter the 'productNo' and its price value.
        }
    </script>
    <h1>One-Stop Shop</h1>
    <!-- This table provides layout for the products listed on the webpage. -->
    <table align="center" cellpadding="3" border="2">
        <tr>
            <td>Product 1</td>
            HTML Redirect Integration Guide > 4  A complete HTML page 27
            <td> Price: &pound;5.00</td>
            <td><input type="submit" value="Buy button" onclick="calc(1)"></td>
        </tr>
        <tr>
            <td>Product 2</td>
            <td>Price: &pound;10.00</td>
            <td><input type="submit" value="Buy button" onclick="calc(2)"></td>
        </tr>
        <!-- To add a new product, copy from here... -->
        <tr>
            <td>Product 3</td>
            <td>Price: &pound;15.00</td>
            <td><input type="submit" value="Buy button" onclick="calc(3)"></td>
        </tr>
        <!-- ...to here, and paste directly below. You will need to alter three things: product
        number, price, and calc (put product number here) -->
    </table>


    @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = @Model.URL, id = "payForm" }))
    {
        @*@Html.AntiForgeryToken()*@
        @Html.HiddenFor(model => model.cmd)
        @Html.HiddenFor(model => model.business)
        @Html.HiddenFor(model => model.upload)
        @Html.HiddenFor(model => model.custom)
        @Html.HiddenFor(model => model.no_shipping)
        <input type="hidden" name="return" value="@Model.return_url" />

        @Html.HiddenFor(model => model.rm)
        @Html.HiddenFor(model => model.notify_url)
        <input type="hidden" name="cancel_return" value="@Model.cancel_url" />
        @Html.HiddenFor(model => model.currency_code)
        @Html.HiddenFor(model => model.handling_cart)
        @Html.HiddenFor(model => model.discount_amount_cart)
        @Html.HiddenFor(model => model.tax_cart)
        @Html.HiddenFor(model => model.txtJason, new { id = "txtJason" })




        <div style="text-align:center; height:600px; margin-top:300px; font:arial; font-size:16px;">Please wait while we redirect you to PayPal.</div>
    }

    @Scripts.Render("~/bundles/jquery")
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {

            var jasonData = jQuery.parseJSON($('#txtJason').val());
            var objData = null;
            $(jasonData).each(function (indx) {

                objData = jasonData[indx];

                var priceValue = (objData.UnitPrice).toString();
                var prodName = (objData.ProductName).toString();
                var prodQuantity = (objData.TotalQuantity).toString();

                var ctr0 = $('<input/>').attr({ type: 'hidden', name: 'quantity_' + (indx + 1).toString(), value: prodQuantity.toString() });
                $("#payForm").append(ctr0);

                var ctrl = $('<input/>').attr({ type: 'hidden', name: 'item_name_' + (indx + 1).toString(), value: prodName.toString() });
                $("#payForm").append(ctrl);


                var ctrl2 = $('<input/>').attr({ type: 'hidden', name: 'amount_' + (indx + 1).toString(), value: priceValue.toString() });
                $("#payForm").append(ctrl2);

            });

            document.forms["payForm"].submit();
        });

    </script>
