@{
    ViewBag.Title = "Delivery Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section leftmenue {
}
<script src="~/Content/themes/Centaurus/js/jquery.js"></script>
<script>
    $(document).ready(function () {

        $(".edit-pertial").hide();
        $(".patial-edit").click(function () {

            $("#main-body").hide();
            $(".edit-pertial").show();


        });
        $("#closeBtn").click(function () {

            $("#main-body").show();
            $(".edit-pertial").hide();

        });
    });
</script>

<div class="row" id="dNotesBinding">
    <div class="row" data-bind="visible:!$root.isEditorVisible()">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12" id="topArea" style="padding-left:16px;">
                    <div class="clearfix">
                        <h1 class="pull-left" style="padding-left:0px;margin-top:35px;">Delivery Notes</h1>
                    </div>

                    <div class="col-lg-12" id="filter" style="height:50px;margin-bottom:7px;">
                        <div class="pull-left">
                            <p class="group-header-description">Create shipping (delivery) notes for completed jobs.</p>
                        </div>
                        <div class="col-lg-6 pull-right" style="padding-right: 4px; ">
                            <div class="pull-right" data-bind="visible:$root.currentTab()===19">
                                <button class="btn btn-primary" data-bind="click: $root.openReport" style="margin-right:5px">
                                    Reports
                                </button>
                                <a class="btn btn-primary" data-bind="click:$root.addDeliveryNotes">
                                    Add New Delivery Note
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="main-body" data-bind="visible:!$root.isEditorVisible()">
        <div class="col-lg-12" style="padding-left:18px;padding-right:19px;">
            @*Write Your Logic Here , Ko Scripting Template with name "deliverynotesFilterTemplate" is Following*@
            @*Remove Start from here for Login*@
            <div class="filter-body">
                <form data-bind="submit:$root.searchData">
                    <div class="filter-block pull-right">

                        <div class="form-group pull-left" style="margin-top: -6px;">
                            <input type="text" class="form-control" placeholder="Search..." data-bind="value:$root. searchFilter">
                            <i class="fa fa-search search-icon" data-bind="click:$root.searchData"></i>
                        </div>

                    </div>
                </form>
                <div class="clearfix">
                </div>
            </div>
            @*Remove End from here for Login*@

            <div class="clearfix">
            </div>
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-DeliveryAwaiting" data-toggle="tab" data-bind="click: function(){$root.getDeliveryNotesOnTabChange(19);}">Awaiting</a></li>
                        <li><a href="#tab-DeliveryPosted" data-toggle="tab" data-bind="click: function(){$root.getDeliveryNotesOnTabChange(20);}">Delivered</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab-DeliveryAwaiting">
                        <div class="tabsdescriptions">
                            <p class="group-header-description">View Orders that are awaiting dispatch, add contact information and print delivery dockets.</p>
                        </div>
                        <div class="table-responsive" style="padding-left:10px;padding-right:10px;">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-lg-4"><span>Customer</span></th>
                                        <th class="col-lg-2"><span>Delivery Code</span></th>
                                        <th class="col-lg-2" style="width: 10%;"><span>Delivery Date</span></th>
                                        <th class="col-lg-1" style=" padding-left: 4%; padding-right: 6px"><span style="float:right">Flag</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko template: { name: 'deliveryNotesListViewTemplate', foreach: $root.deliverNoteListView } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="tab-pane" id="tab-DeliveryPosted">
                        <div style="margin-top:15px;margin-left:15px;margin-bottom:10px;">
                            <div class="tabsdescriptions">
                                <p class="group-header-description">View Past Delivery Dockets and Review Con Note Information or Re-Print Delivery Dockets.</p>
                            </div>
                        </div>
                        <div class="table-responsive" style="padding-left:10px;padding-right:10px;">
                            <table class="table user-list table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-lg-4"><span>Customer</span></th>
                                        <th class="col-lg-2"><span>Delivery Code</span></th>
                                        <th class="col-lg-2" style="width: 10%;"><span>Delivery Date</span></th>
                                        <th class="col-lg-1" style=" padding-left: 4%; padding-right: 6px"><span style="float:right">Flag</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko template: { name: 'deliveryNotesListViewTemplate', foreach: $root.deliverNoteListView } -->
                                    <!-- /ko -->
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div id="pagerDiv" class="pull-right" style="padding-right: 2%;">
                        <!-- ko with: pager -->
                        @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/DeliveryNotes/Views/Home/_partialDeliveryNote.cshtml")

</div>

@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_CompanySelector.cshtml")

<script id="deliverynotesFilterTemplate" type="text/html">
    <div class="filter-body">
        <form>
            <div class="filter-block pull-right">
                <div class="form-group pull-left">
                    <select class="form-control col-lg-4"></select>
                </div>
                <div class="form-group pull-left">
                    <select class="form-control"></select>
                </div>
                <div class="form-group pull-left" >
                    <input type="text" class="form-control" placeholder="Search..." data-bind="value: filterText">
                    <i class="fa fa-search search-icon"></i>
                </div>

            </div>
        </form>
        <div class="clearfix">
        </div>
    </div>
</script>


<script id="deliveryNotesListViewTemplate" type="text/html">
    <tr data-bind="click:$root.onEditDeliverNote" style="cursor: pointer">
        <td>
            <a href="#" class="user-link patial-edit" data-bind="text:companyName"></a> <br />
            <span class="user-subhead" data-bind="text:orderReff"></span>
        </td>
        <td>
            <span data-bind="text:code"></span>
        </td>
        <td>
            <span data-bind="dateString: creationDateTime, datePattern: 'DD/MM/YYYY'"></span>
        </td>
        <td class="" style=" padding-left: 4%; padding-right: 13px;">
            <span style="float:right" class="label label-success" data-bind="style: { background: flagColor }"><i class="fa fa-flag"></i></span>
        </td>
      
    </tr>

</script>



@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")

@section Scripts{
    <script>
        require(["deliveryNotes/deliveryNotes.view", "common/companySelector.view", , "common/confirmation.view", "common/reportManager.view"]);
        $(document).ready(function () {
            $('#lishipping').addClass('active');
        });
    </script>
}





