<div class="container content_area">
    <div class="row left_right_padding">
        <div class="padding_top_bottom_topheader">
            <div class="company_logo col-md-3 col-lg-3 col-xs-12 col-sm-4">
                <a href='/Home/Index'>
                    <img src="http://pinkcards.com//StoredImages/CompanyLogo/1_WebSiteLogo.png" class="pink_company_top_logo LOgo_ImgeP" />
                </a>
                <a class="MLF top_header" target="_blank" href="http://www.myprintcloud.com/">Powered by&nbsp; MyPrintCloud</a>

            </div>
            <div style="float: right; padding-right: 0px; padding-left: 0px;" class="col-md-9 col-lg-9 col-xs-12 col-sm-8 cntrightMenu">

                <div id="divTopHeaderMenu" class="TopHeaderMenu float_left_simple">

                    <asp:hyperlink id="lnkAllProducts" navigateurl="~/Allproducts.aspx" cssclass="iconHover">All Products</asp:hyperlink><a id="A1" class="piplineClr">&nbsp;|&nbsp;</a>
                    <a id="lnkRequestQuote" style="cursor: pointer;" class="iconHover">Request a Quote</a><a id="rfqPipeline" class="piplineClr">&nbsp;|&nbsp;</a>

                    <asp:hyperlink id="lnkContactUs" navigateurl="~/ContactUs.aspx" cssclass="iconHover">Contact Us</asp:hyperlink>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div class="phone_number_sec ">
                    <div class="TeleImg" id="telephoneIcon">
                    </div>
                    <div id="CompanyName" visible="false" class="HeaderCompnyNameCs">
                        <asp:label id="ltrlCompanyName" cssclass="BrokerCompanyNameCs"></asp:label>
                        <asp:label id="ltrlCity" cssclass="BrokerCompanyCityCs"></asp:label>
                    </div>
                    <div id="lblPoneNumber" class="lblPhoneNo">
                    </div>

                </div>
                <div id="cntresponsiveMenu">


                    <div id="CollapseBtn" class="float_right">
                        <a class="icon-align-justify">

                        </a>
                    </div>
                    <div class="clearBoth">
                    </div>

                </div>
            </div>
            <div class="clearBoth">
            </div>
            <div id="collapsedMenu" style="display: none;" class="containerCollapsedMenu col-md-12 col-lg-12 col-xs-12 col-sm-12">
                <ul id="ulCollapseMenu" style="">
                    <li>
                        <asp:hyperlink id="pullDownMenuAllPro" navigateurl="~/Allproducts.aspx">All Products</asp:hyperlink>
                    </li>
                    <li>
                        <a id="pullDownMenuRFQ" style="cursor: pointer;">Request a Quote</a>
                    </li>
                    <li>
                        <asp:hyperlink id="pullDownMenuCU" navigateurl="~/ContactUs.aspx">Contact Us</asp:hyperlink>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
@model  MPC.Webstore.Models.AccountModel
<div class="white-container-lightgrey-border  rounded_corners">
    <div class="sign_up_page_box NoPadding">
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div id="lblSignWithSM" class="mainHeadingAveniorCheckout">Sign in using</div>
            <div class="clearBoth">&nbsp;</div>
            <div id="cntSocialLink" class="cntSignInWithSocialinks">
                <em id="emfacebook" class="emfb"></em>
                <input id="facebookbtn" type="button" value="Sign in with Facebook" class="connectWithfb" onclick="OpenNewWindow()" /><br />
                <script>
                    function OpenNewWindow() {
                        var w = 620;
                        var h = 360;
                        var left = (screen.width / 2) - (w / 2);
                        var top = (screen.height / 2) - (h / 2);
                        window.open("/Home/About?", "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, width=" + w + ", height=" + h + ", top=" + top + ", left=" + left);
                        return false;
                    }
                </script>
                <em id="emtwtter" class="emTw"></em>
                <input id="twitterBtn" type="button" value="Sign in with Twitter" class="connectWithtwitter " />
                <br />
                <br />
                <div id="cntOrBottom">
                    -OR-
                </div>
            </div>
            <div id="cntOrRight" class="visible-lg visible-md hidden-sm hidden-xs">
                -OR-
            </div>
            <div class="clear">
                &nbsp;
            </div>
            <div class="mainHeadingAveniorCheckout">
                Sign in to CompanyName
            </div>


           @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new{@id = "formm"}))
           {

            @Html.AntiForgeryToken()
            <div class="errorMesgLoginPage">
                @ViewBag.Message
                @Html.ValidationMessageFor(u => u.Email)
            </div>

            @Html.TextBoxFor(model => model.Email, new { id = "txtEmail", @class = "txtBoxLoginPage txtEmailBox", @Value = "Email" })

            @Html.TextBoxFor(model => model.Password, new { id = "txtPassword", @class = "txtBoxLoginPage txtPassBox", @Value = "Password" }) <br />

            <br />
            <div id="cntStaySignedin">
                @Html.CheckBoxFor(model => model.KeepMeLoggedIn, new { id = "rememberMe" })
                <label for="rememberMe">Keep me logged in</label>
            </div>
            <div id="divBtnContainer" style="margin-top: 20px;">
                <div class="divwidth">
                    <a class="forgetPassLink" id="lnkForgotPassword" href="/ForgotPassword">Forgot your Password?</a>
                </div>
                <div class="divwidthset">
                    <input id="cmdLogin" type="submit" class="start_creating_btn_Login rounded_corners5" value="Login" /><br />

                </div>
                <div class="clear">
                    &nbsp;
                </div>

            </div>
           }

            </div>
         
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
            <div class="containerRegisternow">
                <input type="button" class="SignUpButton rounded_corners5" />
            </div>
            <div class="divDontHaveAccont rounded_corners5">
                <p id="lblRegistering" class="mainHeadingAveniorCheckout" style="font-size: 19px !important; margin-bottom: 0px !important;">By registering you are able to:</p>
                <div class="registering_item">
                    <div class="tickImge">
                        &nbsp;
                    </div>
                    <p id="ltrlsaveurdesign" class="smallAveniorLogin">Save your designs</p>
                </div>
                <div class="registering_item">
                    <div class="tickImge">
                        &nbsp;
                    </div>
                    <p id="ltrlviewtoh" class="smallAveniorLogin">View and track order history</p>
                </div>
                <div class="registering_item">
                    <div class="tickImge">
                        &nbsp;
                    </div>
                    <p id="ltrlroq" class="smallAveniorLogin">Re-order quickly</p>
                </div>
                <div class="registering_item">
                    <div class="tickImge">
                        &nbsp;
                    </div>
                    <p id="ltrlsubscribe2Nwzl" class="smallAveniorLogin">Subscribe to our Newsletters on new marketing products and services</p>
                </div>
                <div class="registering_item">
                    <div class="tickImge">
                        &nbsp;
                    </div>
                    <p id="lblTitleRequestQuote" class="smallAveniorLogin">Request a quote</p>
                </div>
                <div class="registering_item">
                    <div class="tickImge">
                        &nbsp;
                    </div>
                    <p id="ltrlNewVoucherPromo" class="smallAveniorLogin">Get latest Voucher promotions</p>
                </div>
                <div class="clearBoth"></div>
            </div>
        </div>
        <div class="clearBoth">
            &nbsp;
        </div>
    </div>
</div>

