@model List<MPC.Models.DomainModels.CmsSkinPageWidget>

@section metatags
{
    
    @if (TempData["MetaTitle"] != null)
    {
        <meta name="title" content="@TempData["MetaTitle"]" />
    }
    @if (TempData["MetaDescription"] != null)
    {
        <meta name="description" content="@TempData["MetaDescription"]" />
    }
    @if (TempData["MetaKeywords"] != null)
    {
        <meta name="keywords" content="@TempData["MetaKeywords"]"/>

    }
   
   
   
    @if (ViewBag.WebAnalyticCode != null)
    {
        @Html.Raw(ViewBag.WebAnalyticCode)
    }
    @if (ViewBag.WebMasterTag != null)
    {
 
        @Html.Raw(ViewBag.WebMasterTag)
    }
}
@if (Model != null && Model.Count > 0)
{
    foreach (var widget in Model)
    {
        if (widget.WidgetId == 14)
        {
                @Html.Raw(widget.CmsSkinPageWidgetParams.FirstOrDefault().ParamValue)
               <!--0111111-->
        }
        else
        {
        <div>
            @if (widget.Widget != null)
                {
                    string widgetname = widget.Widget.WidgetName;
                    if (widgetname == "ProductOptionsAndDetails")
                    {
                        Html.RenderAction("Index", "ProductOptions", new { ViewToFire = @widgetname});
                    }
                    else
                    {
                        try
                        {

                            
                            Html.RenderAction("Index", widgetname);

                        }
                        catch (Exception e)
                        {
                            throw new Exception("Widget \""+ widgetname +"\" not available  or path or widget is incorrect ",e);
                        }
                    }

                }
            <!--0000000000000000000 @widget.Widget.WidgetName -->
        </div>
        }

    }
}

