
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @{
        string currentController = ViewContext.RouteData.Values["controller"].ToString();
    }
    @if (currentController != "Designer" || currentController != "ProductPendingOrders" || currentController != "BillingShippingAddressManager")
    {
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    }



    <title>@ViewBag.Title </title>

   

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/ListingPropertiesCarousel.css")
    @Styles.Render("~/Content/js-image-slider.css")
    @Styles.Render("~/Content/CSS")
    <link href="@ViewBag.StyleSheet" rel="stylesheet" />
    @RenderSection("headerScripts", required: false)
    @RenderSection("metatags", false)

</head>
<body class="bodycolor">
    <div class="body-content">
        @RenderBody()
    </div>
    <div id="layer" class="opaqueLayer"></div>
    <div id="innerLayer">
    </div>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
   
    @*@Scripts.Render("~/pageSpecific")*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Slider")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/modalEffects")
    @Scripts.Render("~/bundles/PopUps")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {

            //dirty check, this should be moved into slider Script rendering.
            if (typeof bxSlider == 'function') {
                $('.bxslider').bxSlider({
                    auto: true
                }

                );
            }
        });

    </script>

</body>
</html>
