@{
    ViewBag.Title = "Lookup Methods";
}
@section leftmenue {

}
<script src="http://mpc/Scripts/jquery.min.js"></script>
<script src="http://mpc/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/themes/Centaurus/js/jquery.magnific-popup.min.js"></script>



<script>
    $(document).ready(function () {

        $("ol#treeviewSpeedWeight").hide();
        $("ol#treeviewPerHour").hide();
        $("ol#treeviewClickChargeZone").hide();
        $("ol#treeviewMeterCharge").hide();
        $("ol#treeviewGuillotine").hide();
        $('.bs-example-tooltips a').popover();
    });
</script>
<style>
    .treeviewSub {
        list-style-type: none;
    }

    li {
        cursor: pointer;
    }
</style>
<div class="row" id="divlookupMethodBinding">
    <div class="col-lg-12" >
       
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb" style="padding-left:0px;">
                    <li><a href="~/Dashboard/Index">Settings</a></li>
                    <li>Home</li>

                    <li class="active"><span>Lookup Methods</span></li>
                </ol>
                <div class="clearfix">
                    <h1 class="pull-left" style="padding-left:0px;">Machine Lookup Methods</h1>
                    <div>
                        <table id="table">
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="prefixesdata" style="float:right;">
            <div class="input-group" style="margin-right: 8px;margin-bottom:10px;">
                <a href="~/Settings" class="btn btn-default" style="float: right;margin-bottom: 10px;">Close</a>
                <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" data-bind="click: $root.saveLookup, css: { 'btn-warning': hasChanges }, enable: $root.hasChanges" id="saveBtn">Save</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add Lookup <span class="caret"></span></button>
               
                <ul class="dropdown-menu">
                    

                    <li><a data-bind="click: function(){ AddLookup('1');}">Click Charge</a></li>
                    <li><a data-bind="click: function(){ AddLookup('3');}">Speed Weight</a></li>
                    <li><a data-bind="click: function(){ AddLookup('4');}">Per Hour</a></li>
                    <li><a data-bind="click: function(){ AddLookup('5');}">Click Charge Zones</a></li>
                    <li><a data-bind="click: function(){ AddLookup('6');}">Guillotine Click Charge</a></li>
                    <li><a data-bind="click: function(){ AddLookup('8');}">Meter Per Hour Meter Charge</a></li>
                </ul>
                &nbsp;&nbsp;&nbsp;
                <button class="btn  btn-info btn-primary" style="float: right;margin-bottom: 10px;margin-right: 15px;display:inline;" data-bind="click: $root.DeleteLookup, enable: IsSelected">Delete Lookup</button>
            </div>
        </div>
        <div class="col-lg-12 main-box clearfix col-padding">
            <div class="main-box-body">
                <div class=" form-horizontal col-padding" style="padding-top:12px;padding-bottom:40px; ">
                    <div class="row">
                        <span>Configure press calculations used when estimating based on speed, paper weights and color units.</span>
                    </div>

                   
                    <br />
                    <div class="col-md-3" style="width:auto;">
                       
                        @*Div For TreeView*@
                        <div style="display:inline;position:relative;">
                            @*<ol class="dd-list">
                                <li class="dd-item dd-item-list" id="treeviewClickCharge">
                                    <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
                                    <div class="dd-handle" data-bind="text:lookupClickCharge">
                                    </div>
                                    <!-- ko template: { name: 'lookupTemplate' , foreach: lookupClickChargeList } -->
                                    <!-- /ko -->

                                </li>
                            </ol>

                            <ol class="dd-list">
                                <li class="dd-item dd-item-list" id="treeviewSpeedWeight">
                                    <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
                                    <div class="dd-handle" data-bind="text:lookupSpeedWeight"></div>
                                    <!-- ko template: { name: 'lookupTemplate' , foreach: lookupSpeedWeightList } -->
                                    <!-- /ko -->

                                </li>
                            </ol>

                            <ol class="dd-list">
                                <li class="dd-item dd-item-list" id="treeviewPerHour">
                                    <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
                                    <div class="dd-handle" data-bind="text:lookupPerHour"></div>
                                    <!-- ko template: { name: 'lookupTemplate' , foreach: lookupPerHourList } -->
                                    <!-- /ko -->
                                </li>
                            </ol>*@


                            <ol class="dd-list">
                                <li class="dd-item dd-item-list" id="treeviewClickChargeZone">
                                    <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
                                    <div class="dd-handle" data-bind="text:lookupClickChargeZones"></div>
                                    <!-- ko template: { name: 'lookupTemplate' , foreach: lookupClickChargeZonesList } -->
                                    <!-- /ko -->
                                </li>
                            </ol>


                            <ol class="dd-list">
                                <li class="dd-item dd-item-list" id="treeviewGuillotine">
                                    <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
                                    <div class="dd-handle" data-bind="text:lookupGuillotineClickCharge"></div>
                                    <!-- ko template: { name: 'lookupTemplate' , foreach: lookupGuillotineClickChargeList } -->
                                    <!-- /ko -->
                                </li>
                            </ol>

                            <ol class="dd-list">
                                <li class="dd-item dd-item-list" id="treeviewMeterCharge">
                                    <div class="dd-handle-list"><i class="fa fa-minus-square"></i></div>
                                    <div class="dd-handle" data-bind="text:lookupMeterPerHourClickCharge"></div>
                                    <!-- ko template: { name: 'lookupTemplate' , foreach: lookupMeterPerHourClickChargeList } -->
                                    <!-- /ko -->
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div style="display:inline;width:60% !important;" class="col-md-8">
                        <div class="treeviewClickCharge-partial">
                            @Html.Partial("_ClickChargeLookUp")
                        </div>
                        <div class="treeviewSpeedWeight-partial">
                            @Html.Partial("_SpeedWeight")
                        </div>
                        <div class="treeviewPerHour-partial">
                            @Html.Partial("_PerHour")
                        </div>
                        <div class="treeviewMeterCharge-partial">
                            @Html.Partial("_MeterPerHour")
                        </div>
                        <div class="treeviewGuillotine-partial">
                            @Html.Partial("_GuillotineClickCharge")
                        </div>
                        <div class="treeviewClickChargeZone-partial">
                            @Html.Partial("_ClickChargeZone")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
    
    <!-- /ko -->
</div>
<script id="lookupTemplate" type="text/html">
    <ol class="dd-list my-navigator" id="treeviewClickCharge">
        <li class="dd-item dd-item-list my-navigator">
            <div class="dd-handle-list my-navigator"><i class="fa fa-minus-square"></i></div>
            <a class="my-navigator"> <div class="dd-handle" data-bind="text:Name, click:$root.GetMachineLookupById"></div></a>
        </li>
    </ol>

</script>

@section Scripts{
    <script src="~/Scripts/jquery.form.js"></script>

    <script>
        require(["lookupMethods/lookupMethods.view", "common/confirmation.view"]);

        $(function () {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');
            $('#liLookup').addClass('active');

        });


    </script>
}

