@{
    ViewBag.Title = "Machines List";
}
@section leftmenue {

}

<div class="row" id="divMachineListBinding">
    <div class="col-lg-12" data-bind="visible: !isEditorVisible()">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                  
                    <li class="active"><span>&nbsp;</span></li>
                </ol>
                <h1 style="padding-left:0px;">Machines</h1>
                <div class="pull-right top-page-ui">
                    <a href="~/Settings" class="btn  btn-default" style="float: right;margin-bottom: 10px;margin-left:5px;margin-bottom:0px;">Close</a>
                    <a class="btn btn-primary" data-bind="click: $root.createNewMachine, visible: !$root.isGuillotineList()">
                        <i class="fa  fa-lg"></i>&nbsp;
                        <span id="btnCreateNewMachine"></span>
                    </a>
                      
                        <div id="addMachine">
                            &nbsp;
                        </div>
</div>
            </div>
        </div>
        <div class="row">
                        <div class="col-lg-12 col-md-8 col-sm-8">
                            <div class="main-box clearfix machineDetailsHeader">
                                <div class="tabs-wrapper profile-tabs">
                                    <ul class="nav nav-tabs">
                                        <li id="liPress" class="active"><a id="pressClick" href="#tab-presses" data-bind="click: $root.GetMachineListForAll" data-toggle="tab">Presses</a></li>
                                        <li id="liGuillotine"><a id="guillotineClick" href="#tab-Guillotine" data-bind="click: $root.GetMachineListForGuillotine" data-toggle="tab">Guillotine</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active" id="tab-presses">
                                            <div class="col-lg-12">
                                                <div class="no-header clearfix">
                                                    <div class="main-box-body clearfix">
                                                        <div class="table-responsive">
                                                            <span>Configure sheet (or roll) fed Digital and Litho presses and plotters.</span>
                                                            <div style="height:20px;">
                                                                &nbsp;
                                                            </div>
                                                            <br />
                                                            <table class="table user-list table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="col-lg-1"></th>
                                                                        <th><span>Machine Name</span></th>
                                                                        <th><span>Max Sheet Size</span></th>
                                                                        <th><span>Min Sheet Size</span></th>
                                                                        
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!-- ko template: { name: 'itemMachineTemplate' , foreach: $root.machineList } -->
                                                                    <!-- /ko -->
                                                                </tbody>
                                                            </table>

                                                        </div>

                                                    </div>
                                                </div>
                                                <div id="pagerDiv" class="pull-right">
                                                    <!-- ko with: pager -->
                                                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                                    <!-- /ko -->
                                                </div>

                                            </div>

                                        </div>
                                        <div class="tab-pane fade " id="tab-Guillotine">
                                            <div class="col-lg-12">
                                                <div class="no-header clearfix">
                                                    <div class="main-box-body clearfix">
                                                        <div class="table-responsive">
                                                            <span>Set guillotines throat intake and cutting speeds.</span>
                                                            <div style="height:20px;">
                                                                &nbsp;
                                                            </div>
                                                            <br />
                                                            <table class="table user-list table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th><span>Machine Name</span></th>
                                                                        <th><span>Max Sheet Size</span></th>
                                                                        <th><span>Min Sheet Size</span></th>
                                                                       
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!-- ko template: { name: 'itemMachineTemplate' , foreach: $root.machineList } -->
                                                                    <!-- /ko -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="pagerDiv" class="pull-right">
                                                    <!-- ko with: pager -->
                                                    @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                                    <!-- /ko -->
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Areas/Settings/Views/Home/MachinesDetail.cshtml")

    <!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
    @Html.Partial("~/Areas/Common/Views/Shared/_StockDialog.cshtml")
    <!-- /ko -->
</div>
<script id="itemMachineTemplate" type="text/html">
    @*<tr data-bind="click: $root.selectItem, css: { selectedRow: $data === $root.selectedMachine}">*@
    <tr data-bind=" click: $root.onEditItem" style="cursor: pointer">

        <!-- ko ifnot: MachineCatId()=== 4 -->
        <!-- ko if: isSpotColor() -->
        <td><img src="@Url.Content("~/Content/Images/Section_spotColor.jpeg")" style="  width: 100%; float: left;" /></td>
        <!-- /ko -->
        <!-- ko ifnot: isSpotColor() -->
        <td><img src="@Url.Content("~/Content/Images/Order_Section_CMYK_circle.jpeg")" style="  width: 100%; float: left;" /></td>
        <!-- /ko -->
        <!-- /ko -->
        <td>
            <a href="#" data-bind="text:MachineName, click: $root.onEditItem" class="user-link"></a>
            <span style="margin-left:0px;" data-bind="text:Description" class="user-subhead machine-list-margin"></span>
        </td>
        <td><span data-bind="text: maximumsheetwidth"> </span><span> x </span> <span data-bind="text: maximumsheetheight"> </span>  </td>
        <td><span data-bind="text: minimumsheetwidth"> </span><span> x </span> <span data-bind="text: minimumsheetheight"> </span>  </td>

        @*<td id="actionColumn">
                <!-- ko template: { name: "MachineActionsTemplate",templateEngine: new ko.nativeTemplateEngine() } -->
                <!-- /ko -->

            </td>*@
    </tr>
</script>

<script id="MachineActionsTemplate" type="text/html">
    @*<a href="#" class="table-link danger" data-bind="click : $root.onArchiveMachine" style="float: right">
        <span class="fa-stack ">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a class="table-link" data-bind="click : $root.onEditItem" style="float: right">
        <span class="fa-stack">
            <i class="fa fa-square fa-stack-2x "></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>*@
</script>
@section Scripts{
    <script src="~/Scripts/jquery.form.js"></script>
<script src="~/Content/themes/Centaurus/js/CSJSRequestObject.js"></script>

    <script>
        require(["machine/machine.view", "common/confirmation.view", "common/stockItem.view", "lookupMethods/lookupMethods.view"]);
        $(function () {
            $('#lisettings').addClass('active');
            $('#limissettings').addClass('active');
            $('#liMachineList').addClass('active');
           
        });
        
        $(document).ready(function () {
            page = Request.QueryString("type").toString();

            if (page != null)
            {
                if (page == 'press')
                {
                    $("#tab-Guillotine").removeClass("in active");
                    $("#tab-presses").addClass("in active");
                    $("#tab-presses").css("display", "block");
                    $("#tab-Guillotine").css("display", "none");
                    $("#liGuillotine").css("display", "none");
                    $("#liPress").css("display", "block");
                    $('#pressClick').click();

                    $("#clickChargeZoneSection").css("display", "block");
                    $("#GuillotineSection").css("display", "none");
                       
                    $("#btnCreateNewMachine").html("Add New Press");
                   
                }
                else if(page == 'guillotine')
                {

                    $("#tab-presses").removeClass("in active");
                    $("#tab-Guillotine").addClass("in active");
                    $("#tab-Guillotine").css("display", "block");
                    $("#tab-presses").css("display", "none");
                    $("#liGuillotine").css("display", "block");
                    $("#liPress").css("display", "none");
                    //$('#guillotineClick').click();
                    $('#guillotineClick').trigger('click');

                    $("#GuillotineSection").css("display", "block");
                    $("#clickChargeZoneSection").css("display", "none");

                    $("#btnCreateNewMachine").html("Add New Guillotine");
                }
            
            }

        });

    </script>
}