@{
    ViewBag.Title = "My Organization";
}
@section leftmenue {

}
<div class="row" id="myOrganizationBinding">
    <div data-bind="with:selectedMyOrganization">
        <form method="post" enctype="multipart/form-data" id="fileUploadForm">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li><a href="#">&nbsp;</a></li>
                        </ol>
                        <h1 style="padding-left:0px;" data-bind="text: $root.HeadingName"></h1>
                        
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="user-profile">
                    <div style="margin-top:-8px;">
                        <a href="~/Settings" class="btn btn-default" style="float: right;margin-bottom: 10px;margin-right:7px;">Close</a>
                        <button class="btn  btn-info" style="float: right;margin-bottom: 10px;margin-right: 5px;" id="saveBtn" data-bind="click: $root.onSaveMyOrganization, enable: hasChanges, css: { 'btn-warning': hasChanges }">Save</button>
                    </div>
                    <div class="col-lg-12 col-md-8 col-sm-8">
                        <div class="main-box clearfix" style="margin-top:20px;">
                            


                            @Html.Partial("_RegionalSettings")
                            @Html.Partial("_OrganisationDetail")
                            @Html.Partial("_LanguageEditor")
                            @Html.Partial("_Markups")
                            @Html.Partial("_AgileApiDetail")
                            @Html.Partial("_UnleashedXero")
                            @*<div class="tab-pane fade" id="tab-RegionalSettings">
                                    <div class="col-md-12 form-horizontal">
                                        <h3>Regional Settings</h3>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>
                                                    <label for="txtCompanyName" class="control-label text-right tooltip-float">
                                                        Currency Symbol
                                                    </label>

                                                </div>

                                                <div class="col-lg-6">
                                                    <select id="currency" class="form-control" data-bind="options: $root.currencySymbols, optionsText: 'CurrencyName', optionsValue: 'CurrencyId' ,value:currencyId,validationtooltip:currencyId"></select>
                                                    <span class="help-block text-right"></span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>
                                                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Language pack</label>

                                                </div>

                                                <div class="col-lg-6">
                                                    <select id="language" class="form-control" data-bind="options: $root.languagePacks, optionsText: 'FriendlyName', optionsValue: 'LanguageId' ,value:languageId,validationtooltip:languageId, event: { change : $root.getLanguageEditorDataByLanguageId}"></select>
                                                    <span class="help-block text-right"></span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>
                                                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Defaults of Unit Lengths</label>

                                                </div>

                                                <div class="col-lg-6">
                                                    <select id="lengthUnit" class="form-control" data-bind="options: $root.unitLengths, optionsText: 'UnitName', optionsValue: 'Id' ,value:lengthUnitId,validationtooltip:lengthUnitId"></select>
                                                    <span class="help-block text-right"></span>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-5 text-right">

                                                    <div class="bs-example-tooltips tooltip-float-width">

                                                        <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" border 0" data-container="body" data-toggle="popover" data-placement="right" data-content="Name of the company or organization." data-original-title="" title="">
                                                            <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                        </a>

                                                    </div>
                                                    <label for="txtCompanyName" class="control-label text-right tooltip-float">Defaults of Unit Weights</label>

                                                </div>

                                                <div class="col-lg-6">
                                                    <select id="currency" class="form-control" data-bind="options: $root.unitWeights, optionsText: 'UnitName', optionsValue: 'Id' ,value:weightUnitId,validationtooltip:weightUnitId"></select>
                                                    <span class="help-block text-right"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h3>Markups</h3>
                                        <div class="col-md-6">
                                            <div class="main-box clearfix">
                                                <header class="main-box-header clearfix">
                                                    <h2>Markups</h2>
                                                    <div class="filter-block pull-right">
                                                        <div class="form-group pull-left">
                                                            <input type="text" class="form-control" placeholder="Search..." data-bind="value:$root.markupSearchString">
                                                            <i class="fa fa-search search-icon" data-bind="click:$root.searchMarkup"></i>
                                                        </div>
                                                        <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateNewMarkup">
                                                            Add Markup
                                                        </a>
                                                    </div>
                                                </header>
                                                <div class="clearfix">
                                                    <div class="table-responsive">
                                                        <table id="markupTablle" class="table table-striped table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th> <span>Markup Code<span></span></span></th>
                                                                    <th> <span>% Rate<span></span></span></th>
                                                                    <th>&nbsp;</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <!-- ko template: { name: $root.templateToUseMarkup , foreach: $root.filteredMarkups } -->
                                                                <!-- /ko -->
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Enter in the default MARKUP to apply on all new estimates</label>
                                                <select id="language" class="form-control" data-bind="options: $root.markupsForDropDown,optionsCaption:'Select Markup', optionsText: 'MarkUpName', optionsValue: 'MarkUpId' ,value:markupId,validationtooltip:markupId, validationOnElement:markupId"></select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-NominalCodes">
                                    <div class="clearfix">
                                        <div class="col-md-12">
                                            <h3>Nominal Codes</h3>
                                            <div class="col-md-6">
                                                <div class="main-box clearfix">
                                                    <header class="main-box-header clearfix">
                                                        <h2>Nominal Codes</h2>
                                                        <div class="filter-block pull-right">
                                                            <div class="form-group pull-left">
                                                                <input type="text" class="form-control" placeholder="Search..." data-bind="value:$root.nominalCodeSearchString">
                                                                <i class="fa fa-search search-icon" data-bind="click:$root.searchNominalCode"></i>
                                                            </div>
                                                            <a href="#" class="btn btn-primary pull-right" data-bind="click: $root.onCreateChartOfAccounts">
                                                                Add Nominal Code
                                                            </a>
                                                        </div>
                                                    </header>
                                                    <div class="main-box-body clearfix">
                                                        <div class="table-responsive">
                                                            <table id="chartOfAccountTablle" class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th> <span>Name<span></span></span></th>
                                                                        <th> <span>Account No<span></span></span></th>
                                                                        <th>&nbsp;</th>
                                                                        <th>&nbsp;</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!-- ko template: { name: $root.templateToUseChartOfAccounts , foreach: $root.filteredNominalCodes } -->
                                                                    <!-- /ko -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane clearfix fade" id="tab-languageeditor">
                                    <h3 class="group-header">Edit Regional Languages</h3>
                                    <div class="form-group">
                                        <div class="col-lg-3 text-right">
                                            <label for="txtCompanyName" style="color:green;" class="control-label text-right">Modifying Language File for : en-US</label>
                                        </div>
                                    </div>
                                    <div class="main-box-body clearfix">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th><a href="#"><span>Caption</span></a></th>
                                                        <th><span>Details</span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- ko template: { name: 'languageEditorItemTemplate' , foreach: languageEditors } -->
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>*@

                            @*  </div>*@
                            @* </div> *@
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

   


    <!-- ko stopBinding: true -->
    @Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
    <!-- /ko -->
    @*Markup*@
    <script id="editActionMarkupTemplate" type="text/html">
        <a href="#" class="table-link" data-bind="click: $root.selectMarkup, css: { selectedRow: $data === $root.selectedMarkup() }">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </script>
    <script id="deleteActionMarkupTemplate" type="text/html">
        <a href="#" class="table-link danger" data-bind="click: $root.onDeleteMarkup" title="Delete">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </script>
    <script id="editMarkupTemplate" type="text/html">
        <tr data-bind="css: { selectedRow: $data === $root.selectedMarkup() }">
            <td></td>
            <td>
                <input class="form-control" type="text" name="Name" data-bind="value: name, validationTooltip: name, attr: { id: 'markupName' + $index() }, validationOnElement:name" />
            </td>
            <td>
                <input class="form-control" style="width: 70px;" name="Rate" type="text" data-bind="value: rateUi, validationTooltip: rate, validationDependsOn: rate, validationOnElement:rate" />
            </td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td style="text-align:right;">
                <!-- ko template: { name: 'editActionMarkupTemplate' } -->
                <!-- /ko -->
                <!-- ko template: { name: 'deleteActionMarkupTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    <script id="itemMarkupTemplate" type="text/html">
        <tr>
            <td></td>
            <td data-bind="text: name, attr: { id: 'markupName' + $index() }"></td>
            <td data-bind="text: rate"></td>
            <td></td>
            <td></td>
            <td style="text-align:right;">
                <!-- ko template: { name: 'editActionMarkupTemplate' } -->
                <!-- /ko -->
                <!-- ko template: { name: 'deleteActionMarkupTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @*Chart Of Accounts*@
    <script id="editActionChartOfAccountsTemplate" type="text/html">
        <a href="#" class="table-link" data-bind="click: $root.selectChartOfAccounts, css: { selectedRow: $data === $root.selectedChartOfAccounts() }">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </script>
    <script id="deleteActionChartOfAccountsTemplate" type="text/html">
        <a href="#" class="table-link danger" data-bind="click: $root.onDeleteChartOfAccounts" title="Delete">
            <span class="fa-stack">
                <i class="fa fa-square fa-stack-2x"></i>
                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </script>
    <script id="editChartOfAccountsTemplate" type="text/html">
        <tr data-bind="css: { selectedRow: $data === $root.selectedChartOfAccounts() }">
            <td>
                <input type="text" data-bind="value: name, validationTooltip: name, validationOnElement:name, validationOnElement:name" />
            </td>
            <td>
                <input style="width: 70px;" type="text" data-bind="value: accountNo, validationTooltip: accountNo, validationOnElement:accountNo, validationOnElement:accountNo" />
            </td>
            <td>
                <!-- ko template: { name: 'editActionChartOfAccountsTemplate' } -->
                <!-- /ko -->
                <!-- ko template: { name: 'deleteActionChartOfAccountsTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    <script id="itemChartOfAccountsTemplate" type="text/html">
        <tr>
            <td style="width: 50%" data-bind="text: name, attr: { id: 'nominalCodeName' + $index() }"></td>
            <td style="width: 30%" data-bind="text: accountNo"></td>
            <td style="width: 20%">
                <!-- ko template: { name: 'editActionChartOfAccountsTemplate' } -->
                <!-- /ko -->
                <!-- ko template: { name: 'deleteActionChartOfAccountsTemplate' } -->
                <!-- /ko -->
            </td>
        </tr>
    </script>
    @**Error Template*@
    <script id="itemErrorTemplate" type="text/html">
        <tr>
            <!-- ko if: tabId === 1 -->
            <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
            <!-- /ko -->
        </tr>
        <tr>
            <!-- ko if: tabId === 2 -->
            <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
            <!-- /ko -->
        </tr>
        <tr>
            <!-- ko if: tabId === 3 -->
            <td><a data-bind="text: name,click: $root.selectTab" class="errorMsgText"></a></td>
            <!-- /ko -->
        </tr>
    </script>

    <script id="languageEditorItemTemplate" type="text/html">
        <tr>
            <td>
                <input type="text" class="form-control" id="txtCaption" data-bind="value:value" />
            </td>
            <td style="width: 442px;" data-bind="text:key"></td>
        </tr>
    </script>
</div>





@section Scripts{

    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Content/themes/Centaurus/js/CSJSRequestObject.js"></script>
    <script>
        require(["myOrganization/myOrganization.view", "common/confirmation.view"]);
        var page = "";
        $(function () {
            $('#lisettings').addClass('active');
            $('#ligeneralsettings').addClass('active');
            $('#limyorganization').addClass('active');

            $('.bs-example-tooltips a').popover();
        });
    </script>
   

    <script>
        $(document).ready(function()
        {
            page = Request.QueryString("status").toString();

            //if (page != null)
            //{
            //    if (page == 'regional')
            //    {
            //        $("#organization-details").removeClass("in active");
            //        $("#tab-ORGDetail").removeClass("in active");

            //        $("#regional-settings").addClass("in active");
            //        $("#tab-RegionalSettings").addClass("in active");

            //        $("#language-editor").removeClass("in active");
            //        $("#tab-languageeditor").removeClass("in active");
            //    }
            //    else if(page == 'language')
            //    {

            //        $("#organization-details").removeClass("in active");
            //        $("#tab-ORGDetail").removeClass("in active");

            //        $("#regional-settings").removeClass("in active");
            //        $("#tab-RegionalSettings").removeClass("in active");

            //        $("#language-editor").addClass("in active");
            //        $("#tab-languageeditor").addClass("in active");

            //    }
            //    else 
            //    {
            //        $("#organization-details").addClass("in active");
            //        $("#tab-ORGDetail").addClass("in active");

            //        $("#regional-settings").removeClass("in active");
            //        $("#tab-RegionalSettings").removeClass("in active");

            //        $("#language-editor").removeClass("in active");
            //        $("#tab-languageeditor").removeClass("in active");
            //    }
            //}
        
        });
    </script>
}