@{
    ViewBag.Title = "ReceiptPlan";
    Layout = null;
}
@model MPC.Models.Common.OrderDetail
@using MPC.Webstore.Common;
@using MPC.Models.Common;
@{
    double _vatTotal = 0;
    double _itemTotal = 0;
    double DeliveryTaxValue = 0;
    string ImageSource = string.Empty;
    var ThumnbString = "Thumb.png";
    DateTime EstimatedDispatchDatee = Model.DeliveryDate ?? DateTime.Now;
    var EstimatedDispatchDate = EstimatedDispatchDatee.ToString("MMMM dd, yyyy");
    DateTime OrderDateTime = Model.OrderDate ?? DateTime.Now;
    var OrderDate = OrderDateTime.ToString("MMMM dd, yyyy");
    long CookieStoreId = Convert.ToInt64(ViewBag.StoreId);
    double _DiscountAmountTotal = 0;
    string itemAddsOn = string.Empty;
}
<div style="font-family:'Open Sans Condensed', sans-serif; width: 1000px !important; margin: auto; border: 0px solid orange; margin-top: 20px;">
    <div>
        <div style="  width: 100%;">
            <div style="font-family: 'Open Sans Condensed', sans-serif; font-style: normal; text-align: left; font-weight: normal; -moz-border-radius: 10px; -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; font-size: large;">
                <div>
                    <label id="lbl_Receipt">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlreceipt", CookieStoreId, "Order Receipt"))</label>
                    &nbsp;<label id="lblReceiptNumber" />
                </div>
                <div style="clear:both;">
                    &nbsp;
                </div>
            </div>
        </div>
        <div style=" background-color: White;   padding: 10px;    text-align: left;    padding-left: 0px;padding-right: 0px;    -moz-border-radius: 10px;    -webkit-border-radius: 10px;    -khtml-border-radius: 10px;    border-radius: 10px;     ">
            <div style="width: 100%; display: none; text-align: center; font-size: 16px; font-weight: bold; color: #C72965;">
                <label id="lbl_ThankYou">@Html.Raw(Html.GetKeyValueFromResourceFile("lblThankYou", CookieStoreId, "Thank you"))</label>
            </div>
            <div style="width: 100%; display: none; text-align: center; font-size: 16px; font-weight: bold; color: #C72965;">
                <label id="lbl_DelivaryConformationMessage">@Html.Raw(Html.GetKeyValueFromResourceFile("lblDelivaryConformationMessage", CookieStoreId, ""))</label>
            </div>
            @if (ViewBag.oStoreDefaultAddress != null)
            {
                <div style="width: 66.66666666666666%;float:left;">
                    <label style="visibility:hidden;">specialNotes</label>
                </div>
                <div style="width: 33.33333333333333%; float:right;">

                    <img id="Companyimg" style="height: 70px;max-width: 235px;margin-bottom: 10px;" src="/@ViewBag.OrganisationLogo" /><br />
                    <label style="font-size: 18px; font-weight: bold;">@ViewBag.OrganisationName</label><br />

                    <label style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.oStoreDefaultAddress.Address1</label>
                    <label style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.oStoreDefaultAddress.Address2</label><br />
                    <label style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.oStoreDefaultAddress.City</label>
                    <label style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.oStoreDefaultAddress.State</label>
                    <label style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.oStoreDefaultAddress.ZipCode</label><br />
                    <label style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 16px;">@ViewBag.oStoreDefaultAddress.Country</label><br />
                    <label id="ImagePhne" style="    width: 19px;    height: 23px; float: left;  margin-top: 5px; font-weight:bold; ">
                        Tel:
                    </label>
                    <label id="lblTel" style="color: black; font-family: 'Open Sans Condensed', sans-serif; font-weight: bold; font-style: normal; font-weight: bold; font-size: 18px; line-height: 16px; float: left; margin-top: 6px; margin-left: 10px;">@ViewBag.oStoreDefaultAddress.Tel</label>
                    <div style="clear:both;">
                        &nbsp;
                    </div>
                </div>
                <div style="clear:both;">
                    &nbsp;
                </div>
                <div style="width: 66.66666666666666%;float:left;">
                    &nbsp;
                </div>
                <div id="trVatNumb" style="width: 33.33333333333333%;height: 30px;float:left;">
                    <label style="font-weight: bold;">@Html.Raw(Html.GetKeyValueFromResourceFile("VatResgNo", CookieStoreId, "ABN: "))</label>
                    <label style="font-weight: bold;">@ViewBag.OrgVATRegNumber</label>
                </div>
                <div style="clear:both;border-top: 2px solid #f3f3f3;">
                </div>
            }
            <div style="width: 33.33333333333333%; float:left;">

                <div style="height:257px;">
                    <div style="width: 100px;  text-align: right !important;  float: left;  clear: both;">
                        <span id="lbl_OrderDate" style=" color: #333333;    font-family: 'Open Sans Condensed', sans-serif;    font-style: normal;    font-weight: bold;    font-size: 13px;    line-height: 2.4;    text-align: right;">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("spnorderdate", CookieStoreId, "Order Date:"))
                        </span>
                    </div>
                    <label id="lblOrderDate" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@OrderDate</label>
                    <div style="clear:both;">
                        &nbsp;
                    </div>
                    <div style="width: 100px;         text-align: right !important;              float: left;                    clear: both;                    ">
                        <span id="lbl_OrderCode" style=" color: #333333;            font-family: 'Open Sans Condensed', sans-serif;
                        font-style: normal;   font-weight: bold;         font-size: 13px;  line-height: 2.4;  text-align: right;">
                            @Html.Raw(Html.GetKeyValueFromResourceFile("spnordernum", CookieStoreId, "Order Number:"))
                        </span>
                    </div>
                    <label id="lblOrderCode" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.OrderCode</label>
                    <div style="clear:both;">
                        &nbsp;
                    </div>
                    <div style="width: 100px;
                      text-align: right !important;
                      float: left;
                      clear: both;
                    ">
                        <span id="lbl_InvoiceDate" style=" color: #333333;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 2.4;
                        text-align: right;">@Html.Raw(Html.GetKeyValueFromResourceFile("spninvoicedate", CookieStoreId, "Invoice date:"))</span>
                    </div>
                    <label id="lblInvoiceDate" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@OrderDate</label>
                    <div style="clear:both;">
                        &nbsp;
                    </div>
                    <div style="width: 100px;
                      text-align: right !important;
                      float: left;
                      clear: both;
                    ">
                        <span id="lbl_PlacedBy" style=" color: #333333;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 2.4;
                        text-align: right;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnplacedby", CookieStoreId, "Placed by:"))</span>
                    </div>
                    <label id="lblPlacedBy" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.PlacedBy</label>
                    <div style="clear:both;">
                        &nbsp;
                    </div>
                    <div style="width: 100px;
                      text-align: right !important;
                      float: left;
                      clear: both;
                    ">
                        <span id="lbl_YourRer" style=" color: #333333;
                        font-family: 'Open Sans Condensed', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 2.4;
                        text-align: right;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltlReference", CookieStoreId, "Reference:"))</span>
                    </div>
                    <label id="lblYourRefNum" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px; line-height: 34px; margin-left: 5px;">@Model.YourRef</label>
                </div>
                <div style=" background: #f3f3f3;
                  padding-top: 20px;
              padding-bottom: 20px;
                height: 35px;   width: 100%; line-height:30px;">
                    <span id="lbl_SpecialInstructions" style="color: #333333;  font-style: normal; font-weight: normal; font-size: 12px; margin-left: 22px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnspeacilinstruction", CookieStoreId, "Additional information:"))</span><br />
                    &nbsp;
                    <label id="lblSpecialInstructions" style="color: #333333;  font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; margin-left: 22px;">@Model.SpecialInstNotes</label>
                </div>
            </div>
            <div style="width: 33.33333333333333%;line-height: 30px; float:left;">
                @if (Model.BillingAdress != null)
                {
                    <div style="height:257px;">
                        <span id="lbl_ReceiptbillTo" style="line-height: 33px;
          color: #333333;
          font-family: 'Open Sans Condensed', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 13px !important;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnbilledto", CookieStoreId, "Billed To:"))</span><br />
        <label id="lblBAddressLine1" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.Address1</label><br />
        @if (!string.IsNullOrEmpty(Model.BillingAdress.Address2))
        {
            <div><label id="lblAddressLine2" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.Address2</label></div>
        }
        <label id="lblBcity" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.City</label>
        @if (Model.BillingAdress.State != null)
        {
            <label id="lblBState" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.State.StateName</label>
        }
        @if (Model.BillingAdress.Country != null)
        {
            <label id="lblBCountry" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.Country.CountryName</label>
        }
        <br />
        <label id="lblBZipCode" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.BillingAdress.PostCode</label><br />
        @if (!string.IsNullOrEmpty(Model.BillingAdress.Tel1))
        {
            <span>
                <label id="lbl_Tel">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTelTxt", CookieStoreId, "Tel:"))</label>
            </span>
            <label id="lblBTel" style="color: #A8A8A8;  font-style: normal; font-weight: normal; font-size: 12px;">@Model.BillingAdress.Tel1</label>
        }

    </div>
                }
                else
                {
                    <div style="height:257px;">
                        &nbsp;
                    </div>
                }

                <div style="clear:both;">

                </div>
                <div style=" background: #f3f3f3;
             padding-top: 20px;
          padding-bottom: 20px;
            height: 35px;   width: 100%;">
                    @if (ViewBag.IsDigitalDownloadOrder != true)
                    {
                        <span id="lbl_EstimatedDate" style="color: #333333;  font-style: normal; font-weight: bold; font-size: 12px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnestimateddispatchdate", CookieStoreId, "Estimated dispatch date:"))</span><br />
                        <label id="lblEstimatedDispatchDate" style="color: #333333;  font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; margin-left: 0px;">@EstimatedDispatchDate</label>
                    }

                </div>
            </div>
            <div style="width: 33.33333333333333%; line-height: 30px; float:left;">
                @if (Model.ShippingAddress != null)
                {
                    <div style="height:257px;">
                        <span id="lbl_ShippedTo" style="line-height: 33px;
          color: #333333;
          font-family: 'Open Sans Condensed', sans-serif;
          font-style: normal;
          font-weight: bold;
          font-size: 13px !important;">@Html.Raw(Html.GetKeyValueFromResourceFile("spnshippedto", CookieStoreId, "Shipped To:"))</span><br />
        <label id="lblSAddLine1" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Address1</label><br />
        @if (!string.IsNullOrEmpty(Model.ShippingAddress.Address2))
        {
            <div><label id="lblSAddreLine2" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Address2</label></div>
        }
        <label id="lblSCity" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.City</label>
        @if (Model.ShippingAddress.State != null)
        {
            <label id="lblSState" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.State.StateName</label>
        }
        @if (Model.ShippingAddress.Country != null)
        {
            <label id="lblSCountry" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Country.CountryName</label>
        }
        <br />

        <label id="lblSZipCode" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.PostCode</label><br />
        @if (!string.IsNullOrEmpty(Model.ShippingAddress.Tel1))
        {
            <label id="lbl_Tel">@Html.Raw(Html.GetKeyValueFromResourceFile("lblTelTxt", CookieStoreId, "Tel:"))</label>
            <label id="lblSTel" style="color: #A8A8A8;  font-style: normal; font-weight: bold; font-size: 12px;">@Model.ShippingAddress.Tel1</label>
        }

    </div>
                }
                else
                {
                    <div style="height:257px;">
                        &nbsp;
                    </div>
                }

                <div style="clear:both;">
                </div>
                <div style=" background: #f3f3f3;
             padding-top: 20px;
          padding-bottom: 20px;
            height: 35px;     width: 100%;">
                    @if (ViewBag.IsDigitalDownloadOrder != true)
                    {
                        <span id="lbl_DelivaryMethod" style="color: #333333;  font-style: normal; font-weight: bold; font-size: 12px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spndilevry", CookieStoreId))</span><br />
                        <label id="lblEstimatedDeliveryMethod" style="color: #333333;  font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px;">@Model.DeliveryMethod</label>
                    }

                </div>
            </div>
            <div style="clear:both;">
            </div>
            <div style="height: 35px; padding: 3px; margin-top: 5px; font-size: 15px; font-weight: bold" class="col-md-12 col-lg-12 col-xs-12">
                <span id="lbl_itemsOrdered">@Html.Raw(Html.GetKeyValueFromResourceFile("lblitemsOrdered", CookieStoreId, "Ordered items:"))</span>
            </div>
            <div style="padding-bottom: 20px;" class="col-md-12 col-lg-12 col-xs-12">


                <table cellspacing="0" cellpadding="5" id="MainContent_grdViewShopCart" style="width:100%;border-collapse:collapse;">
                    <tbody>
                        <tr class="gridViewWithoutHeaderStyle" style=" display: none;">
                            <th align="right" scope="col">&nbsp;</th>
                            <th align="left" scope="col">&nbsp;</th>
                            <th align="left" scope="col">&nbsp;</th>
                        </tr>
                        @foreach (var item in Model.ProductsList as List<MPC.Models.Common.ProductItem>)
                        {
                            double ItemActulVal = 0;
                            _vatTotal = _vatTotal + item.Qty1Tax1Value ?? 0;
                            _itemTotal = _itemTotal + item.Qty1BaseCharge1 ?? 0;
                            _DiscountAmountTotal += item.DiscountedAmount ?? 0;

                            if (item.DiscountedAmount != null)
                            {
                                ItemActulVal = item.Qty1BaseCharge1 + item.DiscountedAmount ?? 0;
                            }
                            <tr style="  font-style: normal;
            font-weight: normal !important;
            font-size: 15px;
            border-left: 0px;
            border-right: 0px;
            color: Black;
            border-bottom: 2px solid #f3f3f3;" align="top">
                                <td align="left" style="width:34%; border-left: 0px;
                border-right: 0px;" valign="top">
                                    @if (item.ProductType == (int)ProductType.AssetProduct)
                                    {
                                        ImageSource = "/" + item.ThumbnailPath;
                                    }
                                    else if (item.Attatchment != null)
                                    {
                                        if (!string.IsNullOrWhiteSpace(item.Attatchment.FileName))
                                        {
                                            string ext = System.IO.Path.GetExtension(item.Attatchment.FileName);
                                            if (ext == ".xlsx" || ext == ".xls" || ext == ".csv")
                                            {
                                                string completeImgPath = Html.GetAppBasePath() + item.Attatchment.FolderPath + item.Attatchment.FileName + ThumnbString;
                                                ImageSource = completeImgPath;
                                            }
                                            else
                                            {
                                                string FolderPathOfAttachment = item.Attatchment.FolderPath;
                                                if (FolderPathOfAttachment.Contains("Production") == true)
                                                {
                                                    FolderPathOfAttachment = FolderPathOfAttachment.Replace("Production", "Attachments");
                                                }

                                                if (FolderPathOfAttachment.Contains("Artwork") == true)
                                                {
                                                    FolderPathOfAttachment = "mpc_content/Attachments/" + @ViewBag.OrganisationId + "/" + @CookieStoreId + "/Products/" + item.ItemID + "";
                                                }
                                                if (FolderPathOfAttachment[0] == '/')
                                                {
                                                    ImageSource = FolderPathOfAttachment + "/" + item.Attatchment.FileName + ThumnbString;

                                                }
                                                else
                                                {
                                                    ImageSource = "/" + FolderPathOfAttachment + "/" + item.Attatchment.FileName + ThumnbString;

                                                }


                                            }
                                        }
                                        else
                                        {
                                            if (item.ProductType == (int)ProductType.NonPrintProduct)
                                            {
                                                string completeImgPath = "";
                                                if (!string.IsNullOrEmpty(item.Attatchment.FolderPath) && !string.IsNullOrEmpty(item.Attatchment.FileName))
                                                {
                                                    completeImgPath = "/" + item.Attatchment.FolderPath + item.Attatchment.FileName + ThumnbString;
                                                }
                                                else
                                                {
                                                    completeImgPath = "/" + item.ThumbnailPath;
                                                }

                                                ImageSource = completeImgPath;
                                            }

                                        }
                                    }

                                    <img src="@ImageSource" style="width: 40%;">
                                </td>
                                <td style="width:35%; border-left: 0px;
                border-right: 0px;">
                                    <div>
                                        <span style="font-weight: bold;font-family:'Open Sans Condensed', sans-serif;">
                                            Quantity :
                                            @item.Qty1
                                        </span>
                                        <br>
                                        <br>
                                        <span style="font-size:12px;font-weight:bold;font-family:'Open Sans Condensed', sans-serif;">
                                            @if (!string.IsNullOrEmpty(item.ProductFriendlyName))
                                            {
                                                @item.ProductFriendlyName
                                            }
                                            else
                                            {
                                                @item.ProductName
                                            }
                                        </span><br>
                                        @if (item.PaperType != null && item.PaperType != string.Empty && ViewBag.IsDigitalDownloadOrder != true)
                                        {
                                            <div class="">
                                                <span style="font-size:12px;font-family:'Open Sans Condensed', sans-serif;">Stock: @item.PaperType</span>
                                            </div>
                                        }
                                        @{
                            if (Model.ItemsSelectedAddonsList != null)
                            {
                                List<AddOnCostsCenter> costcenters = Model.ItemsSelectedAddonsList as List<AddOnCostsCenter>;
                                foreach (AddOnCostsCenter cost in costcenters.Where(addon => addon.ItemID == item.ItemID))
                                {
                                    itemAddsOn = itemAddsOn + cost.AddOnName + "<br />" + cost.CostCentreDescription.Replace("---", "<br />");

                                }
                            }
                                        }
                                        <div>
                                            <span style="font-size:12px;font-family:'Open Sans Condensed', sans-serif;">@Html.Raw(itemAddsOn)</span>

                                        </div>
                                        <div class=" spacer5pxbottom">
                                            <span style="font-size:12px;font-family:'Open Sans Condensed', sans-serif;">@Html.Raw(item.ProductWebDescription)</span>
                                        </div>
                                        <br>
                                    </div>
                                </td>
                                <td align="left" valign="top" style="border-left: 0px;
                border-right: 0px;">
                                    @if (ViewBag.IsShowPrices)
                                    {
                                        if (item.DiscountedVoucherId != null)
                                        {
                                            <span id="spnItemActualPrice" style="text-decoration: line-through;  color: red;font-weight:bold;text-align: right !important;">@Utils.FormatDecimalValueToTwoDecimal((ItemActulVal).ToString(), ViewBag.Currency)</span>

                                            <span id="MainContent_grdViewShopCart_lblItemPrice_0">@Utils.FormatDecimalValueToTwoDecimal(item.Qty1BaseCharge1.ToString(), ViewBag.Currency)</span>
                                        }
                                        else
                                        {
                                            <span id="MainContent_grdViewShopCart_lblItemPrice_0">@Utils.FormatDecimalValueToTwoDecimal(item.Qty1BaseCharge1.ToString(), ViewBag.Currency)</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="clear:both;">
            </div>
            @if (ViewBag.IsShowPrices)
            {
                <div id="PnalTotalBox" style="width:99.5%;color: #333333; font-style: normal; font-weight: normal; font-size: 12px; line-height: 16px; padding: 10px; background-color: #f3f3f3; border: 1px solid #f4f4f4;">
                    <table border="0" cellpadding="3" cellspacing="0" width="100%">
                        <tr>
                            <td style="width: 26%;"></td>
                            <td style="width: 29%;"></td>
                            <td style="width: 14%;" align="left">
                                <span id="lbl_SubTotal" style="font-weight: bold; font-size: 13px; color: Black;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlsubtotal", CookieStoreId, "Sub Total")):</span>
                            </td>
                            <td style="width: 40%;">
                                <span id="lblSubTotal" style="font-weight: bold; font-size: 14px; color: Black;">@Utils.FormatDecimalValueToTwoDecimal(_itemTotal.ToString(), ViewBag.Currency)</span>
                            </td>
                        </tr>
                        @if (_DiscountAmountTotal > 0)
                        {
                            <tr>
                                <td style="width: 26%;"></td>
                                <td style="width: 29%;"></td>
                                <td style="width: 14%;" align="left">
                                    <span id="lbl_Delivery" style="font-weight: bold; font-size: 13px; color: red;">Discount:</span>
                                </td>
                                <td style="width: 40%;">
                                    <span id="lblDiscountV" style="font-weight: bold; font-size: 13px; color: red;">@Utils.FormatDecimalValueToTwoDecimal((_DiscountAmountTotal).ToString(), ViewBag.Currency)</span>
                                </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td align="left"></td>
                            <td align="left">
                                @if (Model.IsDownloadOrder != true)
                                {
                                    <span id="lbl_Delivery" style="font-weight: bold; font-size: 13px; color: Black;">@Html.Raw(Html.GetKeyValueFromResourceFile("ltrlDelivery", CookieStoreId, "Delivery")):</span>
                                }
                                
                            </td>
                            <td>
                                @if (Model.IsDownloadOrder != true)
                                {
                                    if (Model.DeliveryDiscountVoucherId == null)
                                    {
                                        if (Model.DeliveryCost > 0)
                                        {
                                            <span id="lblDeliveryCostCenter" style="font-weight: bold; font-size: 14px; color: Black;">@Utils.FormatDecimalValueToTwoDecimal(Model.DeliveryCost.ToString(), ViewBag.Currency)</span>
                                        }
                                        else
                                        {
                                            <span id="lblDeliveryCostCenter" style="font-weight: bold; font-size: 14px; color: Black;">@Utils.FormatDecimalValueToTwoDecimal("0", ViewBag.Currency)</span>
                                        }
                                    }
                                    else
                                    {
                                        <span id="lblCalculatedDelivery" style="color: red !important;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   font-size: 14px;">Free Shipping</span>

                                        <span class="Fsize13 colorBlack displayClear" style="color:red;">&nbsp;</span>
                                    }
                                }
                               
                            </td>
                        </tr>
                        <tr id="rowVat">
                            <td></td>
                            <td align="left"></td>
                            <td align="left">
                                <label id="lblTaxLabelTotal" style="font-weight: bold; font-size: 13px; color: Black;">@ViewBag.TaxLabel:</label>
                            </td>
                            <td width="20%">
                                @if (Model.DeliveryCost > 0)
                                {
                                    double total = _vatTotal + Model.DeliveryCostTaxValue;
                                    <span id="lblVatTotal" style="font-weight: bold; font-size: 14px; color: Black;">@Utils.FormatDecimalValueToTwoDecimal(total.ToString(), ViewBag.Currency)</span>
                                }
                                else
                                {

                                    <span id="lblVatTotal" style="font-weight: bold; font-size: 14px; color: Black;">@Utils.FormatDecimalValueToTwoDecimal(_vatTotal.ToString(), ViewBag.Currency)</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td align="left">
                                <span id="lbl_Total" style="font-weight: bold; color: Black; font-size: 13px;">@Html.Raw(Html.GetKeyValueFromResourceFile("spngrandtotal", CookieStoreId, "Total:"))</span>
                            </td>
                            <td>
                                @if (Model.DeliveryCost > 0)
                                {
                                    double grossTotal = _itemTotal + (Model.DeliveryCostTaxValue + _vatTotal) + Model.DeliveryCost;
                                    <span style="font-weight: bold; font-size: 14px; color: Black;" id="lblGrandTotal">@Utils.FormatDecimalValueToTwoDecimal(grossTotal.ToString(), ViewBag.Currency)</span>
                                }
                                else
                                {
                                    double grossTotal = _itemTotal + _vatTotal;
                                    <span style="font-weight: bold; font-size: 14px; color: Black;" id="lblGrandTotal">@Utils.FormatDecimalValueToTwoDecimal(grossTotal.ToString(), ViewBag.Currency)</span>
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            }
            <div class="clearBoth">
            </div>
        </div>
        <br />
    </div>
    <br />
    <br />
    <br />
</div>
<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/jquery-ui.min.js"></script>
@Html.Raw(ViewBag.Print)
