<div class="row" data-bind="visible: isDisplayInquiryDetailScreen() && !isItemDetailVisible()" style="display: none">
    <div class="row">
        <div class="col-lg-12 PaddingZero">
            <div class="col-lg-12 PaddingZero">
                <div class="col-lg-3">
                    <div class="btn-group" style="float:left;margin-bottom: 3px; margin-left:14px">
                        <button type="button" class="btn btn-primary">Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Copy</a></li>
                        </ul>
                    </div>
                </div>
                <div data-bind="with: selectedInquiry" style="text-align: right; padding-right: 16px">
                    <button class="btn btn-danger" id="delButton" data-bind="click: $root.deleteOrderButtonHandler">Delete</button>
                    <button class="btn btn-primary" id="saveBtn" data-bind="click: $root.onSaveOrder, css: { 'btn-warning': hasChanges }, enable: hasChanges">Save</button>
                    <button class="btn btn-default" id="cancelBtn" data-bind="click: $root.onCloseOrderEditor">Cancel</button>
                </div>
            </div>

            <div class="col-lg-12 PaddingZero PaddingStatuses">
                <div class="col-xs-7">
                    <!-- here -->
                </div>
                <div class="col-xs-3">

                </div>
                <div class="col-xs-2">

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row" data-bind="with: selectedInquiry">
                <div class="col-lg-12">
                    <div class="clearfix">
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                            @* ReSharper disable UnknownCssClass *@
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                @* ReSharper restore UnknownCssClass *@
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="user-profile">
        <div class="col-lg-12 col-md-8 col-sm-8">
            <div class="main-box clearfix my-tabsHeader">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-EstimateHeader" data-toggle="tab">Inquiry Header</a></li>
                    </ul>
                    <div class="tab-content" style="padding-top:10px;">
                        <div class="tab-pane fade in active" id="tab-EstimateHeader" data-bind="with: selectedInquiry">
                            <div>
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                            </div>
                                            <div class="col-lg-6">
                                                <div>
                                                    <input type="text" style="height: 60px;" data-bind="value: companyName" readonly placeholder="Select Customer" class="form-control font24px" id="txtCompany" />

                                                </div>
                                            </div>
                                            <div class="col-lg-1" style="padding-top:10px;">
                                                <button data-bind="click: $root.openCompanyDialog, enable: ($root.selectedInquiry().inquiryId() <= 0) || ($root.selectedInquiry().inquiryId()===undefined) " href="#" class="btn btn-primary pull-right">
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                            </div>
                                            <div class="col-lg-6" > @*data-bind="if: $root.isCompanyBaseDataLoaded"*@
                                                <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a contact', value: contactId"></select>
                                                <span class="help-block text-right"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                            </div>
                                            @*<div class="col-lg-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                            <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select an address', value: addressId"></select>
                                            <span class="help-block text-right"></span>
                                            </div>
                                            <div class="col-lg-1" data-bind="if: $root.isCompanyBaseDataLoaded">
                                            <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                                                <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                                            </a>
                                        </div>*@
                                        </div>
                                       
                                        <div class="form-group" style="margin-top: -20px;">
                                            <div class="col-lg-4 text-right">
                                                <label class="control-label tooltip-float">&nbsp;</label>
                                            </div>
                                            <div class="col-lg-6" data-bind="with: $root.selectedCompanyContact">
                                                <div>
                                                    <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                               
                                            </div>
                                            <div class="col-lg-6">
                                                <div>
                                                    @*<input type="text" style="height: 60px;" data-bind="value: name, validationTooltip: name, validationOnElement: name" placeholder="Enter Estimate Title" class="form-control font24px" id="EstimateTitle" />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right" style="padding-top:10px;">
                                                @*<label class="control-label" id="orderType">Inquiry Title</label>*@  @*data-bind="text: isDirectSaleUi"*@
                                            </div> 
                                            <div class="col-lg-6">
                                                <input type="text" style="height: 60px;" data-bind="value: title"  class="form-control font24px" id="code" placeholder="Enter Inquiry Title"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                            </div>
                                            <div class="col-lg-6">
                                                <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag', value: flagId"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">

                                            </div>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="orderDate" data-bind="datepicker: requireByDate">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-7 text-right">
                                                <div class="col-lg-7">
                                                </div>
                                                <div class="col-lg-5 text-left">
                                                    <label class="control-label" style="border:none" id="code" data-bind="text: title"></label>
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="col-lg-8 text-left">
                                                    <div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-2 text-right">
                                            </div>
                                            <div class="col-lg-9">
                                                <div>
                                                    @* <textarea class="form-control" placeholder="Enter estimate opening paragraph as it would appear on reports" id="EstimateHeader" rows="3" data-bind="value: headNotes"></textarea>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-2">
                                                &nbsp;
                                            </div>
                                            <div class="col-lg-9">
                                                <div style="background-color:gainsboro; border-radius:3px">
                                                    <header class="main-box-header clearfix">
                                                        <div style="float:left;"><span class="font24px">Items in this Inquiry</span></div>
                                                    </header>
                                                    <div class="main-box-body clearfix">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="col-lg-8"><span></span></th>
                                                                        <th class="col-lg-2"><span>Qty</span></th>
                                                                        <th class="col-lg-2 text-right"><span>Price inc. Tax</span></th>
                                                                    </tr>
                                                                </thead>
                                                                @*<tbody>
                                                                    <!-- ko template: { name: 'itemTemplate', foreach: items } -->
                                                                    <!-- /ko -->
                                                                </tbody>*@
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="btn-group" style="float: left; margin-top: 10px;">
                                                        <button type="button" class="btn btn-primary" data-bind="click : $root.onCreateNewProductFromRetailStore">Add New Item</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-2">
                                                &nbsp;
                                            </div>
                                            <div class="col-lg-9">
                                                <div style="background-color:gainsboro; border-radius:3px">
                                                    <div class="col-lg-12 form-group">
                                                        <div class="col-lg-11 text-right" >
                                                            <label class="control-label text-right tooltip-float">Gross Total:</label>
                                                        </div>
                                                        <div class="col-lg-1">
                                                            <span data-bind="text: $root.currencySymbol() + $root.grossTotal()" style="font-weight: bold; font-size:20px;"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                                <div class="bs-example-tooltips tooltip-float-width">
                                                    <a class="input-group-addon" tabindex="-1" href="#" data-bind="click: function(){}" data-trigger="focus" style="text-decoration: none; border: 0; cursor: pointer;" data-container="body" data-toggle="popover" data-placement="right" data-content="" data-original-title="" title="">
                                                        <span class="label label-circle-question">&nbsp;&nbsp;?&nbsp;&nbsp;</span>
                                                    </a>
                                                </div>
                                                <label for="txtCompanyName" class="control-label text-right tooltip-float">Upload Attachment files</label>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="col-lg-1">
                                                    <div class="fileUpload btn btn-primary">
                                                        <span>....</span>
                                                        <input type="file" class="upload" id="image_files" multiple data-bind="files: { onLoaded: $root.itemAttachmentFileLoadedCallback, fileFilter: 'image.*'}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-box-body">
                                            <div id="gallery-photos-lightbox">
                                                <ul class="clearfix gallery-photos">
                                                    <!-- ko template: { name: 'inquiryAttachmentsTemplate' , foreach: inquiryAttachments  } -->
                                                    <!-- /ko -->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 form-horizontal">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <div class="col-lg-2 text-right">
                                            </div>
                                            <div class="col-lg-9">
                                                <div>
                                                    @*<textarea class="form-control" placeholder="Enter estimate closing paragraph as it would appear on reports" id="EstimateHeader" rows="3" data-bind="value: footNotes"></textarea>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-2 text-right">
                                                <label class="control-label tooltip-float">
                                                    Source
                                                </label>
                                            </div>
                                            <div class="col-lg-3">
                                                <select class="form-control" data-bind="options: $root.pipelineSources, optionsText: 'name', optionsId: 'id', optionsCaption: 'Select Source', value: sourceId"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-2 text-right">
                                                <label class="control-label tooltip-float">
                                                    Assigned Sales Person
                                                </label>
                                            </div>
                                            <div class="col-lg-3">
                                                <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsId: 'id', optionsCaption: 'Select a system user', value: systemUserId"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* Item Template *@
                                <script id="itemTemplate" type="text/html">
                                    <tr data-bind=" click:  $root.editItem" style="cursor: pointer">
                                        <td>
                                            <a href="#" data-bind="text: productName, click: $root.editItem"><span></span></a>
                                        </td>
                                        <td>
                                            <span style="font-size:20px;" data-bind="text: qty1"></span>
                                        </td>
                                        <td style=" text-align: right;">
                                            <span style="font-size:20px;" data-bind="text: $root.currencySymbol()"></span>
                                            <span style="font-size:20px;" data-bind="numberInput: qty1GrossTotal()"></span>
                                        </td>
                                    </tr>
                                </script>
                                <script id="deliveryItemTemplate" type="text/html">
                                    <tr>
                                        <td>
                                            <span style="font-size:20px;" data-bind="text: productName"></span>
                                        </td>
                                        <td></td>
                                        <td>
                                            <span style="font-size:20px;" data-bind="text: $root.currencySymbol() + qty1GrossTotal()"></span>
                                        </td>
                                    </tr>
                                </script>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="inquiryAttachmentsTemplate" type="text/html">
    <li class="col-md-2 col-sm-3 col-xs-6">
            <div class="photo-box image-link" style="padding-top: 0; ">
                <img class="photo-box image-link" style="padding-top: 0;width: 169px !important;height:127px !important" data-bind="visible:attachmentPath()===undefined" alt="" />   @*,attr: { src: '@Url.Content("~/")' + folderPath() }*@
                <img class="photo-box image-link" style="padding-top: 0;width: 169px !important;height:127px !important" data-bind="visible:attachmentPath()!==undefined,attr: { src: attachmentPath }" />
            </div>
            <span class="thumb-meta-time"><i class="fa fa-clock-o"></i></span>
        </li>
</script>

@Html.Partial("~/Areas/Orders/Views/Home/_AddEditPrePayment.cshtml")
@Html.Partial("~/Areas/Orders/Views/Shared/_OrderCostCenterQuantity.cshtml")
@Html.Partial("~/Areas/Orders/Views/Shared/_OrderStatusProgressToJob.cshtml")
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ItemDetail.cshtml")
<!--/ko-->

