<div class="row" data-bind="visible: isOrderDetailsVisible() && !isItemDetailVisible()" style="display: none">
    <div class="row">
        <div class="col-lg-12 PaddingZero">
            <div>
                <div class="col-lg-12 PaddingZero">
                    <div class="col-xs-6">

                        <button type="button" class="btn btn-success">
                            <span class="fa fa-download"></span> Download Artwork
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="fa  fa-print"></span>
                            Print Order

                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="fa  fa-print"></span>
                            Print Invoice

                        </button>
                    </div>
                    <div class="col-xs-2">

                    </div>

                    <div class="col-xs-4" data-bind="with: selectedOrder" style="text-align:right;">
                        <button class="btn btn-primary" id="saveBtn" data-bind="click: $root.onSaveOrder, css: { 'btn-warning': hasChanges }, enable: hasChanges">Save</button>
                        <button class="btn btn-default" id="cancelBtn" data-bind="click: $root.onCloseOrderEditor">Cancel</button>
                    </div>
                </div>


                <div class="col-lg-12 PaddingZero PaddingStatuses">
                    <div class="col-xs-7">

                        @*<div class="col-lg-12">*@
                        @*<div class="col-xs-4">*@
                        <button type="button" class="btn btn-success">
                            <span class="fa fa-arrow-left"></span> Revert to Pending
                        </button>
                        @*</div>*@
                        @* <div class="col-xs-3">*@
                        <span style="font-weight:bold;font-size:15px;color:red;padding: 5px;">Confirmed Starts </span>
                        @* </div>
                            <div class="col-xs-5">*@
                        <button type="button" class="btn btn-success">
                            Progress to In Production  <span class="fa fa-arrow-right"></span>
                        </button>
                        @* </div>*@

                        @*</div>*@

                    </div>
                    <div class="col-xs-3">


                    </div>
                    <div class="col-xs-2">



                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row" data-bind="with: selectedOrder">
                <div class="col-lg-12">
                    <div class="clearfix">
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Validation Errors</a>
                            @* ReSharper disable UnknownCssClass *@
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                @* ReSharper restore UnknownCssClass *@
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="user-profile">
        <div class="col-lg-12 col-md-8 col-sm-8">
            <div class="main-box clearfix my-tabsHeader">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-EstimateHeader" data-toggle="tab">Order Header</a></li>
                        <li><a href="#tab-schedule" data-toggle="tab">Order Schedule</a></li>
                        <li><a href="#tab-creditApproval" data-toggle="tab">Credit Approval</a></li>
                        <li><a href="#tab-prePayments" data-toggle="tab">Pre Payments</a></li>
                        <li><a href="#tab-delivery" data-toggle="tab">Delivery Schedule</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-EstimateHeader" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderHeader")
                        </div>
                        <div class="tab-pane fade" id="tab-schedule" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderSchedule")
                        </div>
                        <div class="tab-pane fade" id="tab-creditApproval" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderCreditApproval")
                        </div>
                        <div class="tab-pane fade" id="tab-prePayments" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderPrePayments")
                        </div>
                        <div class="tab-pane fade" id="tab-delivery" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderDeliverySchedule")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_OrderItemDetail")
@Html.Partial("_OrderSectionDetail")
@Html.Partial("Company/_SelectCompany")



