<div class="row" data-bind="visible: isOrderDetailsVisible() && !isItemDetailVisible()" style="display: none">
    <div class="row">
        <div class="col-sm-12 PaddingZero">
            <div class="col-sm-12 PaddingZero">
                <div class="col-sm-5">
                    <div style="float:left;margin-bottom: 3px; margin-left:14px;margin-top:-10px;" data-bind="visible: ($root.selectedOrder().id() > 0)">
                        <button type="button" class="btn btn-primary" data-bind="enable: $root.selectedOrder().id() > 0, click:$root.openExternalReportsOrder">Print</button>
                        <button type="button" class="btn btn-primary" data-bind="enable: $root.selectedOrder().id() > 0, click:$root.openExternalEmailOrderReport">Email</button>
                        <button type="button" class="btn btn-primary" data-bind="enable: $root.selectedOrder().id() > 0, click:$root.copyOrder">Copy Order</button>
                        <button type="button" class="btn btn-primary" data-bind="enable: $root.selectedOrder().id() > 0, click: $root.downloadArtwork">Download Artwork</button>
                        @*<button type="button" class="btn btn-primary">Actions</button>
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" data-bind="click:$root.openExternalReportsOrder">Print Order</a></li>
                                <li><a href="#" data-bind="click:$root.openExternalEmailOrderReport">Email Order</a></li>

                                <li><a href="#" data-bind="click: $root.downloadArtwork">Download Artwork</a></li>
                            </ul>*@
                    </div>
                </div>
                <div data-bind="with: selectedOrder" style="text-align: right; padding-right:24px;margin-top:-10px;">

                    @*<button class="btn btn-danger" id="delButton" data-bind="click: $root.deleteOrderButtonHandler">Delete</button>*@
                    <button class="btn btn-primary" id="saveBtn" data-bind="click: $root.onSaveOrder, css: { 'btn-warning': $root.orderHasChanges }, enable: ($root.orderHasChanges() && !($root.selectedOrder().invoiceStatus() === 20))">Save</button>
                    <button class="btn btn-default" id="cancelBtn" data-bind="click: $root.onCloseOrderEditor">Cancel</button>
                </div>
            </div>


            <div class="col-sm-12 PaddingZero PaddingStatuses">
                <div class="col-xs-7">

                    <!-- here -->

                </div>
                <div class="col-xs-3">


                </div>
                <div class="col-xs-2">



                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="row" data-bind="with: selectedOrder">
                <div class="col-sm-12">
                    <div class="clearfix">
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                            @* ReSharper disable UnknownCssClass *@
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                @* ReSharper restore UnknownCssClass *@
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="user-profile">
        <div class="col-sm-12" style="padding-left: 24px; padding-right: 24px;">
            <div class="main-box clearfix">
                <div class="tabs-wrapper profile-tabs">
                    <ul class="nav nav-tabs" id="orderDetailTabs">
                        <li class="active"><a href="#tab-EstimateHeader" data-toggle="tab">Order Header</a></li>
                        <li><a href="#tab-schedule" data-toggle="tab">Order Schedule</a></li>
                        <li><a href="#tab-creditApproval" data-toggle="tab">Credit Approval</a></li>
                        <li><a href="#tab-prePayments" data-toggle="tab">Pre Payments</a></li>
                        <li><a href="#tab-delivery" data-toggle="tab">Delivery Schedule</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-EstimateHeader" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderHeader")
                        </div>
                        <div class="tab-pane fade" id="tab-schedule" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderSchedule")
                        </div>
                        <div class="tab-pane fade" id="tab-creditApproval" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderCreditApproval")
                        </div>
                        <div class="tab-pane fade" id="tab-prePayments" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderPrePayments")
                        </div>
                        <div class="tab-pane fade" id="tab-delivery" data-bind="with: selectedOrder">
                            @Html.Partial("_OrderDeliverySchedule")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Orders/Views/Home/_AddEditPrePayment.cshtml")
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ItemDetail.cshtml")
<!--/ko-->