@{
    ViewBag.Title = "Estimates";
}
@section leftmenue {
}
<div class="row" id="estimateBinding">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" name="CallingMethod" id="CallingMethod" value="@ViewBag.CallingMethod" />
                    <input type="hidden" name="OrderId" id="OrderId" value="@ViewBag.OrderId" />
                    <ol class="breadcrumb">
                        <li><a href="~/Dashboard/Index" class="my-navigator" data-bind="text:$root.orderCodeHeader()!=='' ? 'HOME' :''"></a></li>
                        <li data-bind="css: $root.orderCodeHeader() != '' ?  ''  :   'active' , click:$root.onCloseOrderEditor, visible :$root.orderCodeHeader()!==''" style="cursor:pointer"><span data-bind="text:'Estimates'"></span></li>
                        <li data-bind="css: $root.orderCodeHeader() != '' &&  $root.itemCodeHeader() == '' ?  'active' :   '' , click:$root.closeItemDetail, visible:$root.orderCodeHeader() !== '' " style="display: none; cursor:pointer"><span data-bind="text:$root.orderCodeHeader"></span></li>
                        <li data-bind="css: $root.itemCodeHeader() != '' ?  'active'   :   '', visible:$root.itemCodeHeader() !== ''" style="display: none; cursor:pointer"><span data-bind="text:$root.itemCodeHeader()+'  '+$root.selectedOrder().companyName() + ' '+ $root.orderCodeHeader()"></span></li>
                    </ol>
                    <div class="clearfix">
                        <h1 style="padding-left:7px !important;" data-bind=" visible:  $root.currentScreen() != 8">Estimating</h1>
                        
                        <div style="display: none" data-bind=" visible:  $root.currentScreen() == 8">
                            <h1 style="padding-left:7px !important;">Inquiry</h1>
                        </div>
                        @*<h1 class="pull-left" data-bind="text: ($root.itemCodeHeader())=='' ? pageHeader : ( $root.sectionHeader()==='' ? $root.selectedProduct().productName: ($root.selectedSection()!=undefined ? $root.selectedProduct().productName : ''))">Estimates</h1>*@
                    </div>
                    <div class="row" data-bind="visible: (!isOrderDetailsVisible() && !isDisplayInquiryDetailScreen())">
                        <div class="col-sm-12">
                            <div class="pull-left">
                                <h5 style="padding-left: 7px;">Create Estimates for direct Inquiries and progress Estimates to Orders.</h5>
                            </div>
                            <div class="pull-right" style="margin-right:10px;">
                                <button id="open-wizard" data-bind="click: createOrder, visible:  $root.currentScreen() != 8" class="btn btn-primary pull-right">
                                    Add New Estimate
                                </button>
                                <button id="open-wizard" data-bind="click: createInquiry, visible: $root.currentScreen() == 8" class="btn btn-primary pull-right" style="display: none">
                                    Add New Inquiry
                                </button>
                            </div>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <div class="col-sm-12" style="padding-right: 17px;padding-left:15px;">
                                <!-- ko template: { name: 'orderFilterTemplate' } -->
                                <!-- /ko -->
                                <div class=" clearfix">
                                </div>
                                <div class="main-box-body main-box clearfix">
                                    <div class="tabs-wrapper profile-tabs">
                                        <ul class="nav nav-tabs" id="estimateListTabs">
                                            <li id="pending-orders" class="active"><a href="#tab-PendingOrders" data-toggle="tab" data-bind="click: function(){$root.getOrdersOnTabChange(1);}">Live Estimates(Pipeline)</a></li>
                                            <li><a href="#tab-Invoiced" data-toggle="tab" data-bind="click: function(){$root.inqiriesTabClick();}">Inquiries</a></li>
                                            <li id="all-orders"><a href="#tab-All" data-toggle="tab" data-bind="click: function(){$root.getOrdersOnTabChange(0);}">All Estimates</a></li>

                                            @*<li><a href="#tab-ConfirmedStarts" data-toggle="tab" data-bind="click: function(){$root.getOrdersOnTabChange(39);}">Progressed to Orders</a></li>
                                            <li><a href="#tab-InProduction" data-toggle="tab" data-bind="click: function(){$root.getOrdersOnTabChange(40);}">In Production</a></li>
                                            <li><a href="#tab-ReadyForShipping" data-toggle="tab" data-bind="click: function(){$root.getOrdersOnTabChange(41);}">Invoiced</a></li>*@

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade in" id="tab-All">
                                                <!-- ko template: { name: 'tabItemsList' } -->
                                                <!-- /ko -->
                                            </div>
                                            <div class="tab-pane fade in active" id="tab-PendingOrders">
                                                <!-- ko template: { name: 'tabItemsList' } -->
                                                <!-- /ko -->
                                            </div>
                                            <div class="tab-pane fade in" id="tab-ConfirmedStarts">
                                                <!-- ko template: { name: 'tabItemsList' } -->
                                                <!-- /ko -->
                                            </div>
                                            <div class="tab-pane fade in" id="tab-InProduction">
                                                <!-- ko template: { name: 'tabItemsList' } -->
                                                <!-- /ko -->
                                            </div>
                                            <div class="tab-pane fade in" id="tab-ReadyForShipping">
                                                <!-- ko template: { name: 'tabItemsList' } -->
                                                <!-- /ko -->
                                            </div>
                                            <div class="tab-pane fade in" id="tab-Invoiced">
                                                <!-- ko template: { name: 'inquiryItemsList' } -->
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        @* Filter Template *@
                        <script id="orderFilterTemplate" type="text/html">
                            <div class="filter-body">
                                <form data-bind="submit: $root.getOrdersOfCurrentScreen">
                                    <div class="filter-block pull-right">
                                        <div class="form-group pull-left">
                                            <!--ko if: currentScreen() != 8 -->

                                            @*<select style="width: 258px !important;" id="flag" data-bind="select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: selectedFilterFlag, foreach: $root.sectionFlags">
                                                <option style="width: 258px !important;" data-bind="text: name, attr: { 'data-color': color, value: id }"></option>
                                            </select>*@
                                            <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select Flag...', value: $root.selectedFilterFlag"></select>
                                            <!--/ko-->
                                            <!--ko if: currentScreen() == 8 -->
                                            @*<select style="width: 258px !important;" id="flag" data-bind="select2: { formatResult: $root.formatResult,formatSelection: $root.formatSelection }, value: selectedFilterFlag, foreach: $root.inquiriesSectionFlags">
                                                <option style="width: 258px !important;" data-bind="text: name, attr: { 'data-color': color, value: id }"></option>
                                            </select>*@
                                            <select class="form-control" data-bind="options: $root.inquiriesSectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select Flag...', value: $root.selectedFilterFlag"></select>
                                            <!--/ko-->
                                        </div>
                                        <div class="form-group pull-left">
                                            <input type="text" class="form-control" placeholder="Search..." data-bind="value: filterText">
                                            <i class="fa fa-search search-icon" data-bind="click: $root.getOrdersOfCurrentScreen"></i>
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix">
                                </div>
                            </div>
                        </script>
                        @* Action Template *@
                        <script id="orderActionTemplate" type="text/html">
                            @*<a href="#" class="table-link">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a class="table-link" data-bind="click: $root.editOrder">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                                <a href="#" class="table-link danger">
                                    <span class="fa-stack">
                                        <i class="fa fa-square fa-stack-2x"></i>
                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>*@
                        </script>
                        @* List View Template *@
                        <script id="orderListViewTemplate" type="text/html">
                            <tr data-bind=" click: $root.editOrder" style="cursor:pointer;">
                                <td>
                                    <a data-bind="text: companyName" style="cursor:pointer;" class="user-link"></a>
                                    <span class="user-subhead">
                                        <span data-bind="text: name"></span>
                                        <span data-bind="text: ' '"></span>
                                        <span data-bind="text: noOfItemsUi"></span>
                                    </span>
                                </td>
                                <td>
                                    <span data-bind="dateString: creationDate, datePattern: 'DD/MM/YYYY'"></span>
                                </td>
                                <td>
                                    <span class="label label-success" data-bind="style: { background: flagColor }"><i class="fa fa-flag"></i></span>
                                </td>
                                <!--ko if:  $root.currentScreen() == 0 || $root.currentScreen() == undefined-->
                                <td>
                                    <span data-bind="text: status()"></span>@*statusId() == 1 ? 'UnProcessed Inquiry':*@
                                </td>
                                <!--/ko-->
                                <td>
                                    <!--ko if: $root.currentScreen() != 8-->
                                    <span data-bind="text: code"></span>
                                    <!--/ko-->
                                </td>
                            </tr>
                        </script>
                        @* inquiries List View Template *@
                        <script id="inquiriesListViewTemplate" type="text/html">
                            <tr data-bind="click: $root.editInquiry" style="cursor:pointer;">
                                <td>
                                    <a data-bind="text: companyName" style="cursor:pointer;" class="user-link"></a>
                                    <span class="user-subhead">
                                        <span data-bind="text: title"></span>
                                    </span>
                                </td>
                                <td>
                                    <span data-bind="dateString: requireByDate, datePattern: 'DD/MM/YYYY'"></span>
                                </td>
                                <td>
                                    <span class="label label-success" data-bind="style: { background: flagColor }"><i class="fa fa-flag"></i></span>
                                </td>
                                <td>
                                    <span data-bind="text: status() == 26? 'Progressed To Estimate': 'UnProcessed Inquiry'"></span>
                                    @*<span data-bind="text: ' '"></span>
                                    <span data-bind="text: noOfInquiryItems"></span>*@
                                </td>

                            </tr>
                        </script>
                        @* Tab Items Lists*@
                        <script id="tabItemsList" type="text/html">
                            <div>
                                <div class="table-responsive">
                                    <table id="OrderListtbl" class="table user-list table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-4"><span>Customer</span></th>
                                                <th class="col-sm-2"><span>Creation Date</span></th>
                                                <th class="col-sm-2"><span>Flag</span></th>
                                                <!--ko if: $root.currentScreen() == 0|| $root.currentScreen() == undefined-->
                                                <th class="col-sm-2"><span>Status</span></th>
                                                <!--/ko-->
                                                <th class="col-sm-2">
                                                    <!--ko if: $root.currentScreen() != 8-->
                                                    <span>Estimate Code</span>
                                                    <!--/ko-->
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- ko template: { name: 'orderListViewTemplate', foreach: orders } -->
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="pagerDiv" class="pull-right">
                                <!-- ko with: pager -->
                                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                <!-- /ko -->
                            </div>
                        </script>
                        @* Inquiry Items List*@
                        <script id="inquiryItemsList" type="text/html">
                            <div>
                                <div class="table-responsive">
                                    <table id="OrderListtbl" class="table user-list table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-3"><span>Customer</span></th>
                                                <th class="col-sm-3"><span>Require By Date</span></th>
                                                <th class="col-sm-2"><span>Flag</span></th>
                                                <th class="col-sm-3">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- ko template: { name: 'inquiriesListViewTemplate', foreach: inquiries } -->
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="pagerDiv" class="pull-right">
                                <!-- ko with: pager -->
                                @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                                <!-- /ko -->
                            </div>
                        </script>
                    </div>
                    @Html.Partial("EstimateDetail")
                    @Html.Partial("~/Areas/Orders/Views/Home/_InquiryDetail.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_CompanySelector.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_phraseLibraryDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_StockDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_AddCostCenters.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ProductFromRetailStore.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")
@section Scripts{
    <script src="~/Content/themes/Centaurus/js/CSJSRequestObject.js"></script>
    <script>

        require(["order/estimate.view", "common/confirmation.view", "common/companySelector.view", "common/phraseLibrary.view", "common/stockItem.view",
        "common/reportManager.view", "common/addCostCenter.view", "common/addProduct.view", "common/itemDetail.view"]);
        $(function () {
            $('#liestimating').addClass('active');
            $('.bs-example-tooltips a').popover();
        });

        $(document).ready(function () {
            var page = Request.QueryString("to");
            if (page != null) {
                if (page == 'est') {
                    $("#all-orders").removeClass("active");
                    $("#tab-All").removeClass("active");

                    $("#pending-orders").addClass("active");
                    $("#tab-PendingOrders").addClass("active");
                }
            }
        });
    </script>
}             