<div class="row" data-bind="visible: isOrderDetailsVisible() && !isItemDetailVisible()" style="display: none">
    <div class="row">
        <div class="col-sm-12 PaddingZero">
            <div class="col-sm-12 PaddingZero">
                <div class="col-sm-3">
                    <div class="btn-group" style="float:left;margin-bottom: 3px; margin-left:14px">
                        <button type="button" class="btn btn-primary" data-bind="enable: $root.selectedOrder().id() > 0">Actions</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-bind="enable: $root.selectedOrder().id() > 0">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Copy</a></li>
                        </ul>
                    </div>
                </div>
                <div data-bind="with: selectedOrder" style="text-align: right; padding-right: 24px">
                    <button class="btn btn-success" id="progressToOrderButton" data-bind="click: $root.progressToOrderHandler, enable: statusId() != 39 && id() > 0">Progress To Order</button>
                    <button class="btn btn-danger" id="delButton" data-bind="click: $root.deleteOrderButtonHandler, enable: id() > 0">Delete</button>
                    <button class="btn btn-primary" id="saveBtn" data-bind="click: $root.onSaveOrder, css: { 'btn-warning': hasChanges }, enable: hasChanges">Save</button>
                    <button class="btn btn-default" id="cancelBtn" data-bind="click: $root.onCloseOrderEditor">Cancel</button>
                </div>
            </div>

            <div class="col-sm-12 PaddingZero PaddingStatuses">
                <div class="col-sm-7">
                    <!-- here -->
                </div>
                <div class="col-sm-3">

                </div>
                <div class="col-sm-2">

                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row" data-bind="with: selectedOrder">
                <div class="col-sm-12">
                    <div class="clearfix">
                        <div class="pull-left validationSummaryContainer">
                            <a class="validationSummaryLink" data-bind="visible: $root.errorList().length > 0, bootstrapPopover: { html: true, title: 'Please fix following errors', elementNode: 'validationSummaryPopup', popoverId: 'validationSummaryPopoverBody' }" style="display: none">Invalid data: Click here to see details.</a>
                            @* ReSharper disable UnknownCssClass *@
                            <div class="well well-small validationSummaryModal" id="validationSummaryPopup" style="display: none">
                                @* ReSharper restore UnknownCssClass *@
                                <div id="validationSummaryPopoverBody">
                                    <ul data-bind="foreach: $root.errorList">
                                        <li>
                                            <a data-bind="click: $root.gotoElement.bind($data.element)"><span data-bind="text: name"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="user-profile">
        <div class="col-sm-12 " style="padding-left: 22px; padding-right: 24px; ">
            <div class="main-box clearfix my-tabsHeader ">
                <div class="tabs-wrapper profile-tabs">

                    <ul class="nav nav-tabs" style="margin-top: -1px">
                        <li class="active"><a href="#tab-EstimateHeader" data-toggle="tab">Estimate Header</a></li>
                    </ul>
                    <div class="tab-content" style="padding-top:10px;" data-bind="with: selectedOrder">

                        <div class="tab-pane fade in active" id="tab-EstimateHeader">
                            <div class="col-sm-12" id="estimateSection">
                                <div class="col-sm-12 form-horizontal">
                                    <div class="col-sm-6">

                                        <div class="form-group">
                                            <div class="col-sm-4 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-6">
                                                <div>
                                                    <input type="text" style="height: 60px;" data-bind="value: companyName, validationOnElement: companyId, click: !$root.selectedOrder().id() ? $root.openCompanyDialog : undefined" readonly placeholder="Select Customer" class="form-control font24px" id="txtCompany" />
                                                </div>
                                            </div>
                                            <div class="col-sm-1" style="padding-top:10px;">
                                                <button data-bind="click: $root.openCompanyDialog, enable: ($root.selectedOrder().id() <= 0) || ($root.selectedOrder().id()===undefined)" class="btn btn-primary pull-right">
                                                    <i class="fa fa-user"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                                <select class="form-control" data-bind="options: $root.companyContacts, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a contact', value: contactId"></select>
                                                <span class="help-block text-right"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-6" data-bind="if: $root.isCompanyBaseDataLoaded">
                                                <select class="form-control" data-bind="options: $root.companyAddresses, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select an address', value: addressId"></select>
                                                <span class="help-block text-right"></span>
                                            </div>
                                            <div class="col-sm-1" data-bind="if: $root.isCompanyBaseDataLoaded">
                                                <a class="btn btn-primary pull-right" id="addresspull" onclick="addAddress()">
                                                    <i id="addresspullicon" class="fa fa-chevron-circle-right drop-icon"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div id="popoveraddress" style="display:none;">
                                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().address1!=='' && $root.selectedAddress().address1!== undefined-->
                                            <div class="form-group">
                                                <div class="col-sm-4 text-right">
                                                    <label class="control-label tooltip-float">&nbsp;</label>
                                                </div>
                                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                                    <div>
                                                        <label id="address1" data-bind="text: address1" class="form-control" style="border:none"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/ko-->
                                            <!-- ko if: $root.selectedAddress()!==undefined && $root.selectedAddress().telephone1!=='' && $root.selectedAddress().telephone1!== undefined-->
                                            <div class="form-group" style="margin-top: -20px;">
                                                <div class="col-sm-4 text-right">
                                                    <label class="control-label tooltip-float">&nbsp;</label>
                                                </div>
                                                <div class="col-sm-6" data-bind="with: $root.selectedAddress">
                                                    <div>
                                                        <label id="telephone" data-bind="text: telephone1" class="form-control" style="border:none"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/ko-->
                                            <!-- ko if: $root.selectedCompanyContact()!==undefined && $root.selectedCompanyContact().email !=='' && $root.selectedCompanyContact().email !== undefined -->
                                            <div class="form-group" style="margin-top: -20px;">
                                                <div class="col-sm-4 text-right">
                                                    <label class="control-label tooltip-float">&nbsp;</label>
                                                </div>
                                                <div class="col-sm-6" data-bind="with: $root.selectedCompanyContact">
                                                    <div>
                                                        <label id="email" data-bind="text: email" class="form-control" style="border:none"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/ko-->
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-7">
                                                <div>
                                                    <input type="text" style="height: 60px;" data-bind="value: name, validationTooltip: name, validationOnElement: name" placeholder="Enter Estimate Title" class="form-control font24px" id="EstimateTitle" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-4 text-right" style="padding-top:10px;">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-6">
                                                <div style="height: 60px;">
                                                    <input type="text" style="height: 100%" readonly class="form-control font24px" id="code" data-bind="value: code, visible: $root.selectedOrder().id() > 0" />
                                                </div>
                                                
                                                <button class=" btn btn-warning" id="notes-Button" onclick="showLeftPanel();" data-bind="click: $root.getInquiryItems, visible: enquiryId() != undefined" style="margin-top: -47px;">Notes</button>
                                                <div id="left-panel" class="this that the other thing"  style="overflow-x: hidden">
                                                    <button type="button" class="close" onclick="showLeftPanel();"><span>×</span></button>
                                                    <h1>Inquiry Notes</h1>
                                                    <!-- ko if: $root.selectedOrder().inquiryItems().length > 0-->
                                                    <div data-bind="foreach: $root.selectedOrder().inquiryItems">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading" id="panel-heading">
                                                                <h3 class="panel-title" id="panel-title"><b data-bind="text: title"></b></h3>
                                                            </div>
                                                            <div class="panel-body">
                                                                <b>Delivery Date </b><b data-bind="dateString: deliveryDate"></b><br />
                                                                <b data-bind="text: notes"></b>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!--/ko-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-4 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-6">
                                                <select class="form-control" data-bind="options: $root.sectionFlags, optionsText: 'name', optionsValue: 'id', optionsCaption: 'Select a flag', value: sectionFlagId, validationOnElement: sectionFlagId"></select>
                                                <span class="help-block text-right"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-4 text-right">
                                            </div>
                                            <div class="col-lg-6">
                                                
                                                @*<span data-bind="text: status()"></span>*@
                                                <!--ko if: statusId() == 39-->
                                                <br> <a class="store-user-link" data-bind=" attr: {href:'/mis/orders/home?id='+refEstimateId() },click: function() { return true;}, clickBubble: false" target="_blank">View Order</a>
                                                <!--/ko-->
                                            </div>
                                        </div>
                                        @*<div>
                                            <div class="row" style="margin-top: -15px;">
                                                <div class=" col-sm-4 text-right">
                                                    <label class="control-label text-right tooltip-float">&nbsp;</label>
                                                </div>
                                                <div class="col-sm-6 text-left" style="margin-bottom: -8px;">
                                                    <ul style="list-style: none; border:none" class="form-control">
                                                        <li class="product-has-nofeature" style="display: none">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 text-right" style="margin-top:0px">
                                                    <label class="control-label text-right tooltip-float">&nbsp;</label>
                                                </div>
                                                <div class="col-sm-6 text-left">
                                                    <ul style="list-style: none; border:none" class="form-control">
                                                        <li class="product-has-nofeature" style="display: none">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>*@
                                        <div class="form-group" style="margin-top:6.5%">

                                        </div>
                                        <div class="form-group" style="margin-top:0">
                                            <div class="col-sm-4 text-right" style="padding-top: 10px;">
                                                <label class="control-label text-right">Estimate Date</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <input type="text" style="height: 60px;" class="form-control font24px" id="orderDate" data-bind="datepicker: orderDate">
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-sm-12 form-horizontal">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-2 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-9">
                                                <div>
                                                    <textarea class="form-control" placeholder="Enter estimate opening paragraph as it would appear on reports" id="EstimateHeader" rows="3" data-bind="value: headNotes, click: $root.selectEstimatePhraseContainer"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <a id="estimateHeaderPhraseLibraryBtn" data-bind="visible: $root.selectedEstimatePhraseContainer() === 'EstimateHeader', click: $root.openPhraseLibrary" style="display:none;padding: 4px 8px;" class="btn btn-primary">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-horizontal">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-9">
                                                <div style="background-color:gainsboro; border-radius:3px">
                                                    <header class="main-box-header clearfix">
                                                        <div id="orderProducts" style="float: left; margin-top: 8px;" data-bind="validationOnElement: items"><span style="font-size:16px">Products in this Estimate</span></div>
                                                    </header>
                                                    <div class="main-box-body clearfix">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="col-sm-8"><span></span></th>
                                                                        <th class="col-sm-2"><span>Qty</span></th>
                                                                        <th class="col-sm-2 text-right"><span>Price inc. Tax</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!--ko if: nonDeliveryItems().length==0-->
                                                                    <tr>
                                                                        <td>
                                                                            <span data-bind="text: 'No Items found!'"></span>
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <!-- /ko -->
                                                                    <!-- ko template: { name: 'itemTemplate', foreach: nonDeliveryItems } -->
                                                                    <!-- /ko -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="btn-group" style="float: left; margin-top: 10px;">
                                                        <button type="button" class="btn btn-primary" data-bind="click : $root.onCreateNewProductFromRetailStore">Add Product from Store</button>
                                                    </div>
                                                    <div class="btn-group" style="float: left; margin-top: 10px; margin-left: 5px;">
                                                        <button type="button" class="btn btn-primary" data-bind="click : $root.onCreateNewBlankPrintProduct">Add Blank Print Product</button>
                                                    </div>
                                                    <div class="btn-group" style="float: left; margin-top: 10px; margin-left: 5px;">
                                                        <button type="button" class="btn btn-primary" data-bind="click: $root.openStockItemDialogForAddingProduct">Add Inventory Item</button>
                                                    </div>
                                                    <div class="btn-group" style="float: left; margin-top: 10px; margin-left: 5px;">
                                                        <button type="button" class="btn btn-primary" data-bind="click: $root.onCostCenterClick">Add a Cost Center</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-horizontal" style="margin-top: 20px;">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-9">
                                                <div style="background-color:gainsboro; border-radius:3px">
                                                    <header class="main-box-header clearfix">
                                                        <div style="float:left;"><span style="font-size: 16px;margin-top: 8px;">Shipping Charge</span></div>
                                                    </header>
                                                    <div class="main-box-body clearfix">
                                                        <div class="table-responsive">
                                                            <table class="table table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="col-sm-5"><span></span></th>
                                                                        <th class="col-sm-3"><span></span></th>
                                                                        <th class="col-sm-3 text-right"><span>Price inc. Tax</span></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <!--ko if: deliveryItems().length==0-->
                                                                    <tr>
                                                                        <td>
                                                                            <span data-bind="text: 'No Items found!'"></span>
                                                                        </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                    <!-- /ko -->
                                                                    <!-- ko template: { name: 'deliveryItemTemplate', foreach: deliveryItems } -->
                                                                    <!-- /ko -->
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 btn-group" style="float: left; margin-top: 10px; margin-left: -8px;">
                                                    <button type="button" class="btn btn-primary" data-bind="click: $root.onShippingChargesClick">Add Shipping Charge</button>
                                                </div>
                                                <div class="col-sm-6" style="margin-top:10px">
                                                    <div class="col-sm-8 text-right">
                                                        <label class="control-label text-right tooltip-float">Gross Total:</label>
                                                    </div>
                                                    <div class="col-sm-4 text-right" style="margin-top:5px">
                                                        <span data-bind="text: $root.currencySymbol() " style="font-weight: bold; font-size:20px;"></span>
                                                        <span data-bind="numberInput: $root.grossTotal" style="font-weight: bold; font-size:20px;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-horizontal">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="col-sm-2 text-right">
                                                &nbsp;
                                            </div>
                                            <div class="col-sm-9">
                                                <div>
                                                    <textarea class="form-control" placeholder="Enter estimate closing paragraph as it would appear on reports" id="EstimateFootNotesTextBox" rows="3" data-bind="value: footNotes, click: $root.selectEstimatePhraseContainer"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-1">
                                                <a id="estimateFooterPhraseLibraryBtn" data-bind="visible: $root.selectedEstimatePhraseContainer() === 'EstimateFootNotesTextBox', click: $root.openPhraseLibrary" style="display:none;padding: 4px 8px;" class="btn btn-primary">
                                                    <i class="fa fa-lg"></i>&nbsp;....
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-2 text-right">
                                                <label class="control-label">
                                                    Signed By
                                                </label>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" data-bind="options: $root.systemUsers, optionsText: 'fullName', optionsCaption: 'Select a system user', optionsValue: 'id', value: orderReportSignedBy"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @* Item Template *@
                                <script id="itemTemplate" type="text/html">
                                    <tr data-bind=" click:  $root.editItem" style="cursor: pointer">
                                        <td style=" padding-top: 10px;">
                                            <a href="#" style="font-size: 24px" data-bind="text: productName, click: $root.editItem"><span></span></a>
                                        </td>
                                        <td>
                                            <span style="font-size:20px;" data-bind="text: qty1"></span>
                                        </td>
                                        <td class="text-right">
                                            <span style="font-size:20px;" data-bind="text: $root.currencySymbol()"></span>
                                            <span style="font-size:20px;" data-bind="numberInput: qty1GrossTotal()"></span>
                                        </td>
                                    </tr>
                                </script>
                                @* Item Template *@
                                <script id="inquiryItemsTemplate" type="text/html">
                                    <tr style="cursor: pointer">

                                </script>
                                <script id="deliveryItemTemplate" type="text/html">
                                    <tr>
                                        <td style=" padding-top: 10px;">
                                            <span style="font-size:24px;" data-bind="text: productName"></span>
                                        </td>
                                        <td></td>
                                        <td class="text-right">
                                            <span style="font-size:20px;" data-bind="text: $root.currencySymbol() + qty1GrossTotal()"></span>
                                        </td>
                                    </tr>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Areas/Orders/Views/Home/_AddEditPrePayment.cshtml")
@Html.Partial("~/Areas/Orders/Views/Shared/_OrderCostCenterQuantity.cshtml")
@Html.Partial("~/Areas/Orders/Views/Shared/_OrderStatusProgressToJob.cshtml")
@Html.Partial("~/Areas/Orders/Views/Home/_ProgressToOrderDialog.cshtml")
<!-- ko stopBinding: true -->
@Html.Partial("~/Areas/Common/Views/Shared/_ItemDetail.cshtml")
<!--/ko-->
<script type="text/javascript">
    function addAddress() {
        var e = document.getElementById("popoveraddress");
        var p = document.getElementById("addresspullicon");

        if (e.style.display == "none") {
            p.className = "fa fa-chevron-circle-down drop-icon";
            e.style.display = "block";
        } else if (e.style.display == "block") {
            p.className = "fa fa-chevron-circle-right drop-icon";
            e.style.display = "none";
        }

    }

    function showLeftPanel() {
        var elem = document.getElementById("left-panel");
        elem.classList.toggle("show");
    }

</script>
