@{
    ViewBag.Title = "Purchase Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section leftmenue {
}
<script src="~/Content/themes/Centaurus/js/jquery.js"></script>
<script>
    //$(document).ready(function () {

    //    $(".edit-pertial").hide();

    //    $(".partial-GRN").hide();


    //    $(".patial-edit").click(function () {
    //        $("#main-body").hide();
    //        $(".edit-pertial").show();
    //    });
    //    $("#closeBtn").click(function () {
    //        $("#main-body").show();
    //        $(".edit-pertial").hide();
    //    });
    //});
</script>

<script>
    //$(document).ready(function () {
    //    setTimeout(function () {
    //        var spinner = $("div#spinner");
    //        spinner.stop();
    //        spinner.fadeOut("fast");
    //        $.unblockUI(spinner);
    //    }, 1000);
    //});
</script>



<div class="row" id="purchaseOrderBinding">
    <div class="col-sm-12" data-bind="visible:(!$root.isEditorVisible() && !$root.isGRNEditorVisible())">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="clearfix">
                            <h1 class="pull-left" style="padding-left:0px;margin-top:35px;">Purchase Orders</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" id="main-body" data-bind="visible:!$root.isEditorVisible()">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <h5 style="margin-left: 10px;">Create and track Purchase order to Suppliers.</h5>
                    </div>
                    <div class="pull-right" style="margin-right: 3%;">
                        <button class="btn btn-primary" data-bind="click: $root.openReport" style=" margin-left: 0px">
                            Reports
                        </button>
                        <a class="btn btn-primary patial-edit" data-bind="click:$root.CreatePurchaseOrder">

                            Create New Purchase Order
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="padding-left:10px;padding-right:12px;">
                <br />
                @*Write Your Logic Here , Ko Scripting Template with name "purchaseordersFilterTemplate" is Following*@
                @*Remove Start from here for Login*@
                <div class="filter-body">
                    <form data-bind="submit:$root.searchData">
                        <div class="filter-block pull-right">
                            <div class="form-group pull-left">
                                <select class="form-control col-sm-4" data-bind="options:$root.purchaseOrderTypes,optionsText:'name',optionsValue:'id', value: $root.purchaseOrderTypeFilter, event:{ change: $root.changePurchaseTypeFilter}"></select>
                            </div>
                            <div class="form-group pull-left">
                                <input type="text" class="form-control" placeholder="Search..." data-bind="value:$root. searchFilter">
                                <i class="fa fa-search search-icon" data-bind="click:$root.searchData"></i>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix">
                    </div>
                </div>
                <div class="main-box clearfix">
                    <div class="tabs-wrapper profile-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab-ShowAll" data-toggle="tab" data-bind="click: function(){$root.getPurchaseOrdersOnTabChange(0);}">Show All</a></li>
                            <li><a href="#tab-Open" data-toggle="tab" data-bind="click: function(){$root.getPurchaseOrdersOnTabChange(31);}">Open</a></li>
                            <li><a href="#tab-Posted" data-toggle="tab" data-bind="click: function(){$root.getPurchaseOrdersOnTabChange(32);}">Posted</a></li>
                            <li><a href="#tab-Cancelled" data-toggle="tab" data-bind="visible:$root.purchaseOrderTypeFilter() === 1,click: function(){$root.getPurchaseOrdersOnTabChange(33);}">Cancelled</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-Open">
                            <!-- ko template: { name: 'tabTemplate' } -->
                            <!-- /ko -->
                        </div>
                        <div class="tab-pane" id="tab-Posted">
                            <!-- ko template: { name: 'tabTemplate' } -->
                            <!-- /ko -->
                        </div>
                        <div class="tab-pane" id="tab-ShowAll">
                            <!-- ko template: { name: 'tabTemplate' } -->
                            <!-- /ko -->
                        </div>
                        <div class="tab-pane" id="tab-Cancelled">
                            <!-- ko template: { name: 'tabTemplate' } -->
                            <!-- /ko -->
                        </div>
                        <div id="pagerDiv" class="pull-right" style="padding-right: 2%;">
                            <!-- ko with: pager -->
                            @Html.Partial("~/Areas/Common/Views/Shared/_Pager.cshtml")
                            <!-- /ko -->
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    @Html.Partial("_partialpurchaseOrders")
    @Html.Partial("_partialPurchaseorderGRN")
    @Html.Partial("~/Areas/Orders/Views/Home/_PurchaseDetailDialog.cshtml")
    @Html.Partial("~/Areas/Orders/Views/Home/_GRNDetailDialog.cshtml")
</div>


@Html.Partial("~/Areas/Common/Views/Shared/_ConfirmationDialog.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_CompanySelector.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_ReportManager.cshtml")
@Html.Partial("~/Areas/Common/Views/Shared/_StockDialog.cshtml")


@section Scripts{
    <script>
        require(["purchaseOrders/purchaseOrders.view", "common/companySelector.view", , "common/confirmation.view", "common/reportManager.view", "common/stockItem.view"]);
        $(document).ready(function () {
            $('#lipurchases').addClass('active');
        });

    </script>
}

<script id="tabTemplate" type="text/html">
    <div class="table-responsive" style="padding-left:10px;padding-right:10px;">
        <table class="table user-list">
            <thead>
                <tr>
                    <th class="col-sm-4"><span>Company / Title</span></th>
                    <th class="col-sm-2"><span>Purchase Date</span></th>
                    <th class="col-sm-2 text-center"><span>Flag</span></th>
                    <th class="col-sm-2 "><span>Status</span></th>
                    <th class="col-sm-2"><span>Code</span></th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko template: { name: 'purchaseListViewTemplate', foreach: $root.purchaseOrders } -->
                <!-- /ko -->
            </tbody>
        </table>
    </div>

</script>
<script id="purchaseListViewTemplate" type="text/html">
    <tr style="cursor: pointer" data-bind="click:$root.onEditPurchaseOrder">
        <td>
            <a href="#" class="user-link patial-edit" data-bind="text:companyName"></a>
            <span class="user-subhead" data-bind="text:refNo"></span>
        </td>
        <td>
            <span data-bind="dateString: purchaseOrderDate, datePattern: 'DD/MM/YYYY'"></span>
        </td>
        <td class="text-center">
            <span class="label label-success" data-bind="style: { background: flagColor }"><i class="fa fa-flag"></i></span>
        </td>
        <td>
            <span data-bind="text:statusName"></span>
        </td>
        <td>
            <span data-bind="text:code"></span>
        </td>
        <td style="width: 20%;"></td>
    </tr>

</script>