@model MPC.Webstore.ViewModels.PaypalViewModel

@{
   
    ViewBag.Title = "PayPal";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @action = @Model.URL, id = "payForm" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(model => model.cmd)
    @Html.HiddenFor(model => model.business)
    @Html.HiddenFor(model => model.upload)
    @Html.HiddenFor(model => model.custom)
    @Html.HiddenFor(model => model.no_shipping)
    <input type="hidden" name="return" value="@Model.return_url" />
   
    @Html.HiddenFor(model => model.rm)
    @Html.HiddenFor(model => model.notify_url)
    <input type="hidden" name="cancel_return" value="@Model.cancel_url" />
    @Html.HiddenFor(model => model.currency_code)
    @Html.HiddenFor(model => model.handling_cart)
    @Html.HiddenFor(model => model.discount_amount_cart)
    @Html.HiddenFor(model => model.txtJason, new { id = "txtJason" })

  
 

    <div style="text-align:center; height:600px; margin-top:300px; font:arial; font-size:16px;">Please wait while we redirect you to PayPal.</div>
}

@Scripts.Render("~/bundles/jquery")
<script language="javascript" type="text/javascript">

    $(document).ready(function () {
        
        var jasonData = jQuery.parseJSON($('#txtJason').val());
            var objData = null;
            $(jasonData).each(function (indx) {

                objData = jasonData[indx];

                var priceValue = (objData.UnitPrice).toString();
                var prodName = (objData.ProductName).toString();
                var prodQuantity = (objData.TotalQuantity).toString();

                var ctr0 = $('<input/>').attr({ type: 'hidden', name: 'quantity_' + (indx + 1).toString(), value: prodQuantity.toString() });
                $("#payForm").append(ctr0);

                var ctrl = $('<input/>').attr({ type: 'hidden', name: 'item_name_' + (indx + 1).toString(), value: prodName.toString() });
                $("#payForm").append(ctrl);


                var ctrl2 = $('<input/>').attr({ type: 'hidden', name: 'amount_' + (indx + 1).toString(), value: priceValue.toString() });
                $("#payForm").append(ctrl2);

            });

            document.forms["payForm"].submit();
        });

</script>
